.mat-mdc-dialog-title {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

app-notice {
  max-width: 25em;
  margin: 1em 0;
}
