.mat-mdc-dialog-title {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
}

app-notice {
  width: 25em;
  min-width: 100%;
  margin: 1em 0;
}
