.record-upload-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: center;

  button {
    span {
      margin-inline-start: 4px;
    }
    .mat-icon {
      vertical-align: text-top;
      font-size: 18px;
    }
  }

  .upload-audio-file {
    padding: 0 8px;
  }

  &.recorder-active,
  &.uploader-active {
    app-checking-audio-player {
      flex: 1;
    }
  }
}
