<div
  class="record-upload-container"
  [ngClass]="{
    'recorder-active': isRecorderActive,
    'uploader-active': isUploaderActive
  }"
>
  <ng-container *ngIf="!isUploaderActive">
    <app-checking-audio-recorder (status)="recorderStatus($event)"></app-checking-audio-recorder>
  </ng-container>
  <ng-container class="audio-uploader" *ngIf="!isRecorderActive">
    <button
      *ngIf="!source"
      mdc-button
      ngfSelect
      [(file)]="uploadAudioFile"
      (fileChange)="prepareAudioFileUpload()"
      accept="audio/*"
      class="upload-audio-file"
    >
      <mdc-icon>cloud_upload</mdc-icon>
      Upload Audio File
    </button>
    <button *ngIf="source" fxHide.xs mdc-button (click)="resetAudioAttachment()" class="remove-audio-file">
      <mdc-icon>delete</mdc-icon>
      Remove Audio File
    </button>
    <button
      *ngIf="source"
      mdc-icon-button
      fxHide.gt-xs
      (click)="resetAudioAttachment()"
      icon="delete"
      class="remove-audio-file"
    ></button>
    <app-checking-audio-player [source]="source"></app-checking-audio-player>
  </ng-container>
</div>
