<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Confirm your name</mdc-dialog-title>
      <mdc-dialog-content>
        <p>Confirm the name that other people on this project will see when you post answers and comments</p>
        <mdc-form-field fluid>
          <mdc-text-field [formControl]="name" id="name-input" label="Your name"></mdc-text-field>
        </mdc-form-field>
      </mdc-dialog-content>
      <mdc-dialog-actions> <button mdcDialogButton (click)="closeDialog()">Confirm</button> </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
