<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab *ngFor="let check of qualityChecks" [label]="getCheckName(check)">
    <div *ngFor="let book of books" class="book">
      <span class="book-name">{{ getBookId(book) }}</span>
      <div class="row-wrapper">
        <a
          class="heatmap"
          *ngFor="let chapter of getChapters(book)"
          [style.background-color]="getColor(check, book, chapter)"
          [matTooltip]="tooltip(book, chapter)"
          [href]="getLink(book, chapter)"
        ></a>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
