@page
@model IndexModel
@section scripts {
    <script type="text/javascript">
        webAuth.checkSession({}, function(err, authResult) {
            if (err) {
                window.location.href = '/home';
            } else {
                var options = { state: JSON.stringify({}) };
                webAuth.authorize(options);
            }
        });
    </script>
}
<div style="margin: 50px 8px; font-family: sans-serif; line-height: 1.5; text-align:center; width: 100%">
    Loading...
</div>
