@page

<section class="inside">
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <h1>Privacy Policy</h1>
                <p>The actual SIL International Language Software Privacy Policy is available <a href="https://software.sil.org/language-software-privacy-policy/" rel="noopener noreferrer" target="_blank">here</a>. It is copied below for your convenience.</p>

                <blockquote>
                    <p>When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information.</p>
                    <p>This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can update, manage, export, and delete your information.</p>
                </blockquote>

                <p><strong>Summer Institute of Linguistics, Inc.</strong> (<em>dba SIL International</em>) produces and publishes apps in many languages of the world. The SIL International Language Software Privacy Policy is to help you understand what, if any, data we collect as a result of you using the app and what we do with that data.</p>
                <p>We build a range of software and services that help manage a variety of data. Examples of our lexicography software include FieldWorks, Language Forge, Language Depot, Dictionary App Builder and Webonary. Our software and services are described at <a href="http://software.sil.org/products/" rel="noopener noreferrer" target="_blank">https://software.sil.org/products/</a></p>

                <h2>Two kinds of information</h2>
                <p>The law makes a distinction between personally identifiable information and other data. There are also different legal requirements regarding the treatment of personally identifiable information and other information.  SIL treats all the data that is associated with your accounts (i.e. your profile information) as<br> Personally Identifiable Information (PII). Data that you submit to our services is considered as “Content” and is not treated in the same way as PII. For this reason you should avoid adding any personally identifiable information as part of your content.</p>
                <p><strong>Personally Identifiable Information</strong><br> This is data associated with you. It is usually provided when you create an account on one of our services. Personally identifiable information includes things like your username and email address and the languages you speak.  We aim to ask for the minimum amount of personally identifiable data necessary in order to provide you with our service. We restrict access to that data so that it is accessible only by those who require access in order to provide our service to you. Examples of services that require an account are: the help community at <a href="https://community.software.sil.org" rel="noopener noreferrer" target="_blank">community.software.sil.org</a> or Language Forge at <a href="https://languageforge.org" rel="noopener noreferrer" target="_blank">languageforge.org</a></p>
                <p><strong>Content</strong><br> This is data that you submit to a service that we provide. Very often you provide content to our service expressly for the purpose that we share that data with others. For example, you enter data into Language Forge so that we can share it with other members of your team. Please refer to the SIL Language Software <a href="~/terms/">Terms of Use</a> for more detailed information.</p>

                <h2>Information we collect</h2>
                <p>We collect information to provide better services to our users. This includes information such as; which email address to use to contact you and which languages you speak. It also includes aggregated data such as which features are most and least used. The information we collect depends upon several factors, including which services you use, how you use them and which options you select for the collection of analytic data.</p>
                <p>We also collect and store the content you create, upload, or receive from others when using our services. This includes things like the data you send and receive, Bloom Books and Templates on the Bloom Library and the questions or answers that you post in a forum.</p>

                <h2>Your apps, browsers &amp; devices</h2>
                <p>We collect information about the apps, browsers, and devices you use to access our services. The information we collect may include browser type and settings, device type, operating system, and application version number. We may also collect information about the interaction of your apps, browsers, and devices with our services, including IP address, crash reports and the date and time and referrer URL of your request.</p>
                <p>We collect this information when your device contacts one of our servers for example, when you send/receive data, submit a crash report or communicate on a forum.</p>

                <h2>We use data to build better services</h2>
                <p>We use the information we collect from all our services for the following purposes:</p>
                <p><strong>Provide our services to you</strong><br> We use your information to deliver our services, like sharing your data with others in your team or sharing your question with others on the forum.</p>
                <p><strong>Maintain &amp; improve our services</strong><br> We use data for analytics and measurement to understand how our services are used. We also use your information to ensure our services are working as intended, such as tracking errors and downtime and troubleshooting issues that you report to us. And we use your information to make improvements to our services. For example, understanding which features are used the most and which are used the least.</p>
                <p><strong>Develop new services</strong><br> We use the information we collect in existing services to help us develop new ones. We may combine the information we collect from different users and different services for the purposes described above. For example word lists may enable us to create predictive text tools or better spell checking tools.</p>
                <p>We’ll ask for your consent before using your information for a purpose that isn’t covered in this Privacy Policy.</p>

                <h2>When SIL International shares your information</h2>
                <p>We do not share your personal information with companies, organizations, or individuals outside of SIL except in the following cases:</p>
                <p><strong>With your consent</strong><br> We’ll share personal information outside of SIL when we have your consent. For example, if you include your email address as a point of contact on a Webonary site, or if you post on a help forum and include personal information in a question or response that information will be shared with others on the forum.</p>
                <p><strong>With administrators</strong><br> Administrators of our services are trusted to maintain the confidentiality of your personal information. However they have access to your account data and may be able to:</p>
                <ul>
                    <li>Access and retain information stored in your account, like your email address.</li>
                    <li>View statistics regarding your account.</li>
                    <li>Change your account password.</li>
                    <li>Suspend or terminate your account access.</li>
                    <li>Receive your account information in order to satisfy applicable law, regulation, or legal process.</li>
                </ul>
                <p><strong>With service providers</strong><br> We use service providers to enable us to provide certain services to you. For example some of our services are hosted by Amazon and Google provide us with statistics about our services. Service providers are contractually bound to process all data in accordance with our agreement with them.</p>
                <p><strong>For legal reasons</strong><br> We will share personal information outside of SIL if we have a good-faith belief that access, use, preservation, or disclosure of the information is reasonably necessary to:</p>
                <ul>
                    <li>Meet any applicable law, regulation, legal process, or enforceable governmental request.</li>
                    <li>Enforce applicable Terms of Service, including investigation of potential violations.</li>
                    <li>Detect, prevent, or otherwise address fraud, security, or technical issues.</li>
                    <li>Protect against harm to the rights, property or safety of SIL International, our users, or the public as required or permitted by law.</li>
                </ul>
                <p><strong>We build security into our services to protect your information</strong><br>
                SIL International services are built with security features that continuously protect your information. The insights we gain from maintaining our services help us detect and automatically block security threats from ever reaching you. And if we do detect something risky that we think you should know about, we’ll notify you and help guide you through steps to stay better protected. We work hard to protect you and SIL from unauthorized access, alteration, disclosure, or destruction of information we hold, including:</p>
                <ul>
                    <li>We use encryption to keep your data private while in transit.</li>
                    <li>We review our information collection, storage, and processing practices, including physical security measures, to prevent unauthorized access to our systems.</li><li>We restrict access to personal information to employees, contractors, and agents who need that information in order to process it. Anyone with this access is subject to confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.</li></ul><p><strong>When we’re pursuing legitimate interests</strong><br> We process your information for our legitimate interests while applying appropriate safeguards that protect your privacy. This means that we process your information for things like:</p>
                <ul>
                    <li>Providing, maintaining, and improving our services to meet the needs of our users.</li>
                    <li>Developing new products and features that are useful for our users.</li>
                    <li>Understanding how people use our services to ensure and improve the performance of our services.</li>
                    <li>Customizing our services to provide you with a better user experience.</li>
                    <li>Marketing to inform users about our services.</li>
                    <li>Detecting, preventing, or otherwise address fraud, abuse, security, or technical issues with our services.</li>
                    <li>Protecting against harm to the rights, property or safety of SIL, our users, or the public as required or permitted by law, including disclosing information to government authorities.</li>
                    <li>Performing research that improves our services for our users and benefits the public.</li>
                    <li>Fulfilling obligations to our partners like developers and rights holders.</li>
                    <li>Enforcing legal claims, including investigation of potential violations of applicable Terms of Service.</li>
                </ul>

                <h2>How you can update, manage, export, and delete your information.</h2>
                <p><strong>Personal data</strong><br>
                You can manage your personal information by logging in to each service and modifying your account data.</p>
                <p><strong>Manage and export content</strong><br>
                Some of our services allow you to manage and export your content through our software. E.g Manage data in FieldWorks and export from Language Depot using Send/Receive.</p>
                <p><strong>Delete content</strong><br>
                Methods of deleting data that you have provided depend upon the service or software used. When you post a question or answer on a forum it is shared with many people and no longer solely within our control. You may delete the post from the forum but no one can control any copies that other users may have made.</p>
                <p>Data on Language Depot is usually used by a team and team members cannot delete that data. One of the services that Language Depot provides is a backup of your data. We work hard to ensure that your data is never lost.  If it is necessary to delete the data held in Language Depot a team manager can email <a href="mailto:admin@languagedepot.org" rel="noopener noreferrer" target="_blank">admin@languagedepot.org</a> to request that the data is deleted. If you wish all backups of the data to be deleted that should be made explicit in the request.</p>

                <h2>About this policy</h2>
                <p><strong>When this policy applies</strong><br>
                This Privacy Policy applies to the software and services offered by the Language Technology Department of SIL International and its affiliates, including services when offered on third-party sites. This Privacy Policy doesn’t apply to software or services that have separate privacy policies that do not incorporate this Privacy Policy.</p>
                <p><strong>This Privacy Policy does not apply to:</strong><br>
                The information practices of other companies and organizations.<br>
                Services offered by other companies or individuals, including products or sites that may include SIL services, or be linked from our services.</p>

                <h2>Your Consent</h2>
                <p>By using SIL International apps, you consent to our privacy policy.</p>

                <h2>Changes to this policy</h2>
                <p>We change this Privacy Policy from time to time. We always indicate the date the last changes were published and we offer access to archived versions for your review. We will not reduce your rights under this Privacy Policy without your explicit consent. If changes are significant, we’ll provide a more prominent notice (including, for certain services, email notification of Privacy Policy changes).</p>
                <p><em>This policy was last updated on <b>September 30, 2019</b>.</em></p>
            </div>
        </div>
    </div>
</section>
