@page

<section class="inside">
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <h1>Terms of Use</h1>
                <p>The actual SIL International Language Software Terms of Use is available <a href="https://software.sil.org/language-software-terms-of-use/" rel="noopener noreferrer" target="_blank">here</a>. It is copied below for your convenience.</p>

                <p><strong>Summer Institute of Linguistics, Inc.</strong> (<em>dba SIL International</em>) produces and publishes apps in many languages of the world. The SIL International Language Software Terms of Use is to help you understand what, if any, data we collect as a result of you using our software and services, and what we do with that data.</p>

                <h2>Using our software</h2>
                <p>Using SIL Software does not give you any legal interest or intellectual property rights to the software nor to SIL-owned content, or to the User-created content you can access through the software.</p>
                <p>SIL software or services may allow you to view and download content that is not SIL’s. Such User-created content is the sole responsibility of the individual or organization that created it. SIL does not review all content created by users of our software and services and is not responsible for the quality, accuracy, selection, or appropriateness of any user-created content. SIL may remove or refuse to display content we determine to be illegal, offensive, inaccurate, or which violates SIL’s ethical standards.</p>

                <h2>Privacy and Copyright Protection</h2>
                <p>SIL does not send unsolicited or “spam” email and does not sell, rent, or trade its email lists to third parties. If you supply us with your postal or email address, you will receive the information for which you provided us your address. Details about the data that we collect and how we treat that data can be found in our <a href="~/privacy/">privacy policy</a>.</p>
                <p>SIL investigates all reports of alleged copyright infringement and will terminate accounts of any repeat infringer, following the process set out in the <a href="https://www.copyright.gov/legislation/dmca.pdf">U.S. Digital Millennium Copyright Act</a>.</p>
                <p>SIL will attempt to provide information and assistance to help content developers to manage their intellectual property online. If you think someone is misusing our services or content obtained through our software or services please send an inquiry using the <a href="https://software.sil.org/language-software-terms-of-use/#contact" rel="noopener noreferrer" target="_blank">Contact Us</a> form.</p>

                <h2>Your Content</h2>
                <p>Some of our services allow you to share data. Sharing data using our services does not alter the intellectual property rights that you or others hold for that data.</p>
                <p>If you are the owner of the intellectual property rights to the data you are permitted to upload the data using our software and services. If you are not the owner of the intellectual property rights of the data you are not permitted to upload the data unless you have the owner’s permission to do so; in that case you are responsible for ensuring that the owners of the intellectual property rights of the data understand and agree to these terms and conditions prior to uploading the data.</p>
                <p>By uploading data to our service you give SIL a non-exclusive worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from linguistic analysis, translations, or other changes we make), communicate, publish, publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of improving our support for language(s), promoting, and improving our Services, and to develop new ones. This license continues as long as you have content hosted on the service.</p>
                <p>SIL invites your feedback and suggestions about our software and services but the implementation of any changes is at the sole discretion of SIL, and SIL will not necessarily notify you of any changes which may be made as a result of ideas you submit.</p>

                <h2>Your accounts</h2>
                <p>You will need one or more accounts in order to upload data. The treatment of your personally identifiable information associated with any accounts is described in our <a href="~/privacy/">Language Software Privacy Policy</a>.</p>
                <p><strong>About open source software</strong><br> Most of the software we produce is offered under an <a href="https://opensource.org/licenses/MIT" rel="noopener noreferrer" target="_blank">MIT open source license</a>. Source code for open source projects is stored at <a href="https://github.com/sillsdev/" rel="noopener noreferrer" target="_blank">https://github.com/sillsdev/</a>.</p>

                <h2>Modifying and Terminating software and services</h2>
                <p>We are constantly changing and improving the software and services we offer. We may add or remove functionalities or features, and we may suspend or stop any given software or service altogether. We may replicate data on another site or service and change the name of the service or software. SIL may also stop providing a given software or service or may add or create new limits at any time. We believe that preserving your access to your data is very important. If we discontinue any software or service we will give you reasonable advance notice, and instructions for preserving your data. You can stop using any or all of our software and services at any time.</p>

                <h2>Our Warranties and Disclaimers</h2>
                <blockquote>
                    <p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OF SERVICE OR ADDITIONAL TERMS, SIL MAKES NO SPECIFIC PROMISES ABOUT OUR SOFTWARE OR SERVICES. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE DATA WITHIN A SERVICE THE SPECIFIC FUNCTION OF ANY SOFTWARE, OR ITS RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE OUR SOFTWARE AND SERVICE “AS IS”.</p>
                    <p>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.</p>
                </blockquote>

                <h2>Liability for Our Services</h2>
                <blockquote>
                    <p>WHEN PERMITTED BY LAW, SIL WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.</p>
                    <p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF SIL FOR ANY CLAIM UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID SIL TO USE OUR SERVICES.</p>
                    <p>IN ALL CASES, SIL WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>
                </blockquote>

                <h2>Business use of SIL Software and Services</h2>
                <p>If you are using SIL software or services on behalf of a business or organization, that business or organization accepts these terms. It will hold harmless and indemnify SIL and its affiliates, officers, agents, and employees from any claim, suit or action arising from or related to the use of SIL software or services or violation of these terms, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs and attorneys’ fees.</p>

                <h2>About these Terms of Service</h2>
                <p>SIL may modify these Terms of Service or any additional terms of use that apply to our software and services to reflect changes to the law or changes to software and services we offer. SIL will post notice of modifications to these Terms and Conditions on the Terms and Conditions page. We will attempt to notify Service Account Holders by email before such a change.</p>
                <p>If at any time you do not agree to the current Terms and Conditions you should discontinue your use of the Software and Services to which the Terms and Conditions apply.</p>
                <p>Changes to these Terms and Conditions that are addressing new functions, software or services or changes made for legal reasons will be effective immediately.<br> If there is a difference between these general Terms of Service and more specific Terms and Conditions between you and SIL, the more specific Terms and Conditions will apply. These Terms and Conditions define and guide the relationship between you and SIL. They do not create any rights for, or involve, any third party. If you do not comply with these Terms and Conditions, SIL retains all of its legal rights, including the right to seek relief and damages.</p>
                <p>The laws of Texas, U.S.A., excluding Texas’ conflict of laws rules, will apply to any disputes arising out of or relating to these terms. All claims arising out of or relating to these Terms and Conditions will be litigated exclusively in the federal or state courts of Dallas County, Texas, USA, and you and SIL consent to personal jurisdiction in those courts.</p>

                <p><em>This policy was last updated on <b>September 30, 2019</b>.</em></p>
            </div>
        </div>
    </div>
</section>
