@use 'src/variables';
@use 'bootstrap/scss/mixins/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  text-align: center;
}
form {
  padding-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  @include breakpoints.media-breakpoint-only(xs, variables.$grid-breakpoints) {
    flex-direction: column;
    align-items: normal;
  }

  mat-form-field {
    width: 300px;
  }

  button {
    margin-bottom: 1.34375em;
  }
}
a {
  margin-bottom: 70px;

  ::ng-deep u {
    cursor: pointer;
    &:hover {
      color: variables.$theme-secondary;
    }
  }
}
