<ng-container *transloco="let t; read: 'join'">
  @if (!isLoading) {
    <h1>{{ t("join_a_project") }}</h1>
    <p [innerHTML]="inviteText"></p>
    @if (!isOnline) {
      <app-notice type="error" icon="cloud_off">{{ t("please_connect_to_use_link") }}</app-notice>
    }
    <form>
      <mat-form-field appearance="fill">
        <mat-label>{{ t("your_name") }}</mat-label>
        <input matInput [formControl]="name" />
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" (click)="joinProject()" [disabled]="!isFormEnabled">
        {{ t("join") }}
      </button>
    </form>
    <a (click)="logIn()" [innerHtml]="i18nService.translateAndInsertTags('join.login_existing_account')"></a>
    <mat-spinner diameter="50" color="#fff" [fxHide]="!isJoining"></mat-spinner>
  }
</ng-container>
