@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  text-align: center;
}
form {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  @include media-breakpoint-only(xs) {
    flex-direction: column;
    gap: 0;
    align-items: normal;
  }

  mat-form-field {
    width: 300px;
  }

  button {
    margin-bottom: 1.34375em;
  }
}
a {
  cursor: pointer;
  margin-bottom: 70px;
}
