<ng-container *transloco="let t; read: 'join'">
  @if (!isLoadingData) {
    <h1 [innerHTML]="inviteText"></h1>
    @if (!isOnline) {
      <app-notice type="error" icon="cloud_off">{{ t("please_connect_to_use_link") }}</app-notice>
    } @else {
      <span>{{ t("explain_your_name") }}</span>
    }
    <form>
      <mat-form-field appearance="fill">
        <mat-label>{{ t("your_name") }}</mat-label>
        <input matInput [formControl]="name" />
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" (click)="joinProject()" [disabled]="!isFormEnabled">
        {{ t("join") }}
      </button>
    </form>
    <a (click)="logIn()" [innerHtml]="i18nService.translateAndInsertTags('join.login_existing_account')"></a>
    @if (isJoining) {
      <mat-spinner diameter="50" color="#fff"></mat-spinner>
    }
  }
</ng-container>
