@use 'src/variables';
@use 'bootstrap/scss/mixins/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 20px;
  line-height: 1.25;
  font-weight: normal;
  margin-bottom: 40px;
  ::ng-deep strong {
    font-size: 32px;
    font-weight: bold;
    display: block;
  }
}
form {
  padding-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  @include breakpoints.media-breakpoint-only(xs, variables.$grid-breakpoints) {
    flex-direction: column;
    align-items: normal;
  }

  mat-form-field {
    width: 300px;
  }

  button {
    margin-bottom: 1.34375em;
  }
}
a {
  margin-bottom: 70px;

  ::ng-deep u {
    cursor: pointer;
    &:hover {
      color: variables.$theme-secondary;
    }
  }
}

mat-spinner {
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
}
