@use 'src/_variables' as variables;

:host {
  width: 50em;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

h1,
h2 {
  font-weight: 500;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.pt-content {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

mat-card {
  padding: 1em;
  gap: 0.5em;
  grid-template-columns: 1fr auto;
}

[data-project-type^='user-connected-'] {
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;

  &:nth-child(odd) {
    background-color: #f8f8f8;
    &:hover {
      background-color: #ebe9ed;
    }
  }
  &:nth-child(even) {
    background-color: #fcfcfc;
    &:hover {
      background-color: #ebebeb;
    }
  }

  a {
    display: none;
  }
}

[data-project-type='user-connected-project'] {
  display: grid;
  grid-template-areas:
    'project-name project-name'
    'description button';
}

[data-project-type='user-connected-resource'] {
  display: grid;
  grid-template-areas:
    'project-name project-name'
    'description button';
}

[data-project-type='user-unconnected-project'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .mdc-button {
    margin-inline-start: auto;
  }
}

[data-project-type='user-unconnected-project'].cannot-connect {
  display: flex;
  flex-direction: column;
}

.loading-card {
  display: grid;
  grid-template-areas:
    'project-name project-name'
    'description button';
}

.project-name {
  font-size: 1.25em;
  b {
    font-weight: 500;
  }
}

.project-name,
.loading-project-name {
  grid-area: project-name;
  word-break: break-word;
}

.project-description,
.loading-project-description {
  color: variables.$lighterTextColor;
  grid-area: description;
  align-self: center;
}

mat-card a,
.loading-action {
  grid-area: button;
  justify-self: end;
}

.active-project {
  background-color: #e2efdc;
}

.loading-card > * {
  animation: loading-card-animation 1s ease-in-out 0s infinite alternate;
  background-color: variables.$greyLight;
}

.loading-project-name {
  height: 1.25em;
  width: 15em;
}

.loading-project-description {
  height: 1em;
  width: 8em;
}

.loading-action {
  height: 36px;
  width: 102px;
}

@keyframes loading-card-animation {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

#message-looking-for-another-project {
  box-shadow: none;

  p {
    font-size: initial;
  }
}

.cannot-connect {
  opacity: 0.5;
  background-color: #eee;
}
