@use 'src/_variables' as variables;
@use '@angular/material' as mat;

.content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding-bottom: 2em;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  margin: 0;
}
h2 {
  font-weight: 500;
  margin: 1.5em 0 0.25em;
}

.pt-content-container {
  background: #f4f4f4;
  margin-top: 30px;
  padding: 20px 0;
  .pt-content {
    display: flex;
    flex-direction: column;

    margin: 0 -20px;
    max-width: 600px;
    margin: 0 auto;
    > *:nth-child(even) {
      background: #e6e6e657;
    }
  }
}
mat-card {
  padding: 1em;
  gap: 0.5em;
  grid-template-columns: 1fr auto;
  cursor: pointer;
  transition: all 0.1s;
}

mat-card:hover {
  filter: brightness(90%);
}

mat-card:active {
  @include mat.elevation(1);
}

[data-project-type='user-connected-project'] {
  display: grid;
  grid-template-areas:
    'project-name project-name'
    'description button';
}

[data-project-type='user-connected-resource'] {
  display: grid;
  grid-template-areas:
    'project-name project-name'
    'description button';
}

[data-project-type='user-unconnected-project'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5em 1em;
  gap: 0.5em;

  .mdc-button {
    margin-inline-start: auto;
    margin-block: 4px;
  }
}

[data-project-type='user-unconnected-project'].cannot-connect {
  display: flex;
  flex-direction: column;
}

.loading-card {
  display: grid;
  grid-template-areas:
    'project-name project-name'
    'description button';
  margin: 1em;
}

.project-name {
  font-size: 1.25em;
  margin: auto 0;
  b {
    font-weight: 500;
  }
}

.project-name,
.loading-project-name {
  grid-area: project-name;
  word-break: break-word;
}

.project-description,
.loading-project-description {
  color: variables.$lighterTextColor;
  grid-area: description;
  align-self: center;
}

mat-card a,
.loading-action {
  grid-area: button;
  justify-self: end;
}

.active-project {
  background-color: #e2efdc;
}

.loading-card > * {
  animation: loading-card-animation 1s ease-in-out 0s infinite alternate;
  background-color: variables.$greyLight;
}

.loading-project-name {
  height: 1.25em;
  width: 15em;
}

.loading-project-description {
  height: 1em;
  width: 8em;
  align-self: end;
}

.loading-action {
  height: 36px;
  width: 102px;
}

@keyframes loading-card-animation {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

#message-looking-for-another-project {
  box-shadow: none;

  p {
    font-size: initial;
  }
}

.cannot-connect {
  opacity: 0.5;
  background-color: #eee;
}
