<ng-container *transloco="let t; read: 'my_projects'">
  <div class="content">
    <h1>{{ t("my_projects") }}</h1>
    @if (!userHasProjects && !initialLoadingSFProjects && !loadingPTProjects) {
      <app-notice id="message-no-pt-or-sf-projects" icon="warning" type="warning">
        {{ t("no_projects") }} {{ t("access_another_project") }}
      </app-notice>
    }
    @if (userUpdateParatextProjects.length > 0) {
      <h2 id="header-update-projects">
        {{ t("updates") }}
      </h2>
      @if ((isOnline | async) === false) {
        <app-notice id="message-offline" icon="cloud_off" [type]="userHasProjects ? 'info' : 'error'">
          {{ t("offline_update") }}
        </app-notice>
      }
    }
    @for (ptProject of userUpdateParatextProjects; track ptProject) {
      <mat-card
        id="user-update-project-card-{{ ptProject.projectId }}"
        [attr.data-pt-project-id]="ptProject.projectId"
        class="user-update-project"
      >
        <span class="project-name">
          <b>{{ ptProject.shortName }}</b> - {{ ptProject.name }}
        </span>
        <span class="project-description">
          {{ t("update_paratext_role") }}
        </span>
        <button
          class="user-update-project-btn"
          mat-flat-button
          [disabled]="(isOnline | async) === false"
          (click)="syncUserRole(ptProject.projectId!)"
        >
          {{ t("update") }}
        </button>
      </mat-card>
    }
    @if (userConnectedProjects.length > 0 || initialLoadingSFProjects) {
      <h2 id="header-connected-projects">
        {{ t("connected") }}
      </h2>
    }
    @for (projectDoc of userConnectedProjects; track projectDoc) {
      <mat-card
        [class.active-project]="isLastSelectedProject(projectDoc)"
        id="user-connected-project-card-{{ projectDoc.data?.paratextId }}"
        [attr.data-pt-project-id]="projectDoc.data?.paratextId"
        class="user-connected-project mat-elevation-z4"
        appRouterLink="/projects/{{ projectDoc.id }}"
        matRipple
      >
        <span class="project-name">
          <b>{{ projectDoc.data?.shortName }}</b> - {{ projectDoc.data?.name }}
        </span>
        <span class="project-description">
          {{ projectTypeDescription(projectDoc) }}
        </span>
      </mat-card>
    }
    @if (initialLoadingSFProjects) {
      <mat-card id="sf-loading-card" class="loading-card">
        <div class="loading-project-name"></div>
        <div class="loading-project-description"></div>
        <div class="loading-action"></div>
      </mat-card>
      <mat-card class="loading-card">
        <div class="loading-project-name"></div>
        <div class="loading-project-description"></div>
        <div class="loading-action"></div>
      </mat-card>
    }
    @if (userHasProjects && !userIsPTUser) {
      <mat-expansion-panel id="message-looking-for-another-project" hideToggle>
        <mat-expansion-panel-header>{{ t("looking_for_another_project") }}</mat-expansion-panel-header>
        <p>
          {{ t("access_another_project") }}
        </p>
      </mat-expansion-panel>
    }

    @if (userConnectedResources.length > 0) {
      <h2>{{ t("dbl_resources") }}</h2>
    }
    @for (projectDoc of userConnectedResources; track projectDoc) {
      <mat-card
        [class.active-project]="isLastSelectedProject(projectDoc)"
        [attr.data-pt-project-id]="projectDoc.data?.paratextId"
        appRouterLink="/projects/{{ projectDoc.id }}"
        class="user-connected-resource mat-elevation-z4"
      >
        <span class="project-name">
          <b>{{ projectDoc.data?.shortName }}</b> - {{ projectDoc.data?.name }}
        </span>
        <span class="project-description">{{ t("dbl_resource") }}</span>
      </mat-card>
    }
  </div>
  @if (userIsPTUser) {
    <div class="pt-content-container">
      <div class="pt-content">
        @if (
          userUnconnectedParatextProjects.length > 0 ||
          loadingPTProjects ||
          problemGettingPTProjects ||
          (isOnline | async) === false
        ) {
          <h2 id="header-not-connected-projects">
            {{
              loadingPTProjects
                ? t("loading_more_pt_projects")
                : userConnectedProjects.length === 0
                  ? t("connect_a_project_to_get_started")
                  : t("not_connected")
            }}
          </h2>
        }
        @if (problemGettingPTProjects) {
          <app-notice id="message-trouble-getting-pt-project-list" icon="error" type="error">
            {{ t(errorMessage) }}
          </app-notice>
        }
        @if ((isOnline | async) === false) {
          <app-notice id="message-offline" icon="cloud_off" [type]="userHasProjects ? 'info' : 'error'">
            {{ t("offline") }}
          </app-notice>
        }
        @for (ptProject of userUnconnectedParatextProjects; track ptProject) {
          <div
            [attr.data-pt-project-id]="ptProject.paratextId"
            class="user-unconnected-project"
            [class.cannot-connect]="!ptProject.isConnectable"
          >
            <span class="project-name">
              <b>{{ ptProject.shortName }}</b> - {{ ptProject.name }}
            </span>
            @if (!ptProject.isConnectable) {
              <span class="project-description">
                {{ t("not_admin_cannot_connect_project") }}
              </span>
            }
            @if (ptProject.isConnectable && ptProject.projectId == null) {
              <a
                appRouterLink="/connect-project"
                [state]="{
                  paratextId: ptProject.paratextId,
                  name: ptProject.name,
                  shortName: ptProject.shortName
                }"
                mat-flat-button
                color="primary"
              >
                {{ "connect_project.connect" | transloco }}
              </a>
            }
            @if (ptProject.isConnectable && ptProject.projectId != null) {
              <button
                mat-flat-button
                color="primary"
                (click)="joinProject(ptProject.projectId)"
                [disabled]="(isOnline | async) === false || joiningProjects.includes(ptProject.projectId)"
              >
                {{ t("join") }}
              </button>
            }
          </div>
        }
        @if (loadingPTProjects) {
          <div id="pt-loading-card" class="loading-card">
            <div class="loading-project-name"></div>
            <div class="loading-project-description"></div>
            <div class="loading-action"></div>
          </div>
          <div class="loading-card">
            <div class="loading-project-name"></div>
            <div class="loading-project-description"></div>
            <div class="loading-action"></div>
          </div>
        }
      </div>
    </div>
  }
</ng-container>
