<ng-container *transloco="let t; read: 'my_projects'">
  <div class="wrapper">
    <app-notice
      id="message-no-pt-or-sf-projects"
      icon="warning"
      type="warning"
      *ngIf="!userHasProjects && !initialLoadingSFProjects && !loadingPTProjects"
      >{{ t("no_projects") }} {{ t("access_another_project") }}</app-notice
    >
    <h3 id="header-connected-projects" *ngIf="userConnectedProjects.length > 0 || initialLoadingSFProjects">
      {{ t("connected_projects") }}
    </h3>
    <mat-card
      *ngFor="let projectDoc of userConnectedProjects"
      [class.active-project]="isLastSelectedProject(projectDoc)"
      id="user-connected-project-card-{{ projectDoc.data?.paratextId }}"
    >
      <div>
        <span class="project-name">
          <span>{{ projectDoc.data?.shortName }}</span> - <span>{{ projectDoc.data?.name }}</span>
        </span>
        <span class="helper-text"
          >{{ t("drafting")
          }}{{ projectDoc.data?.checkingConfig?.checkingEnabled ? " • " + ("app.community_checking" | transloco) : "" }}
        </span>
      </div>
      <a appRouterLink="/projects/{{ projectDoc.id }}" mat-flat-button color="primary">{{ t("open") }}</a>
    </mat-card>
    <mat-card id="sf-loading-card" *ngIf="initialLoadingSFProjects" class="loading-card">
      <div>
        <span class="project-name">&nbsp;</span>
        <span class="helper-text">&nbsp;</span>
      </div>
    </mat-card>
    <mat-expansion-panel
      id="message-looking-for-another-project"
      hideToggle
      *ngIf="userHasProjects && (!loggedIntoPT || !isOnline)"
    >
      <mat-expansion-panel-header>Looking for another project?</mat-expansion-panel-header>
      <p>
        {{ t("access_another_project") }}
      </p>
    </mat-expansion-panel>

    <h3 *ngIf="userConnectedResources.length > 0">{{ t("dbl_resources") }}</h3>
    <mat-card
      *ngFor="let projectDoc of userConnectedResources"
      [class.active-project]="isLastSelectedProject(projectDoc)"
      id="user-connected-resource-card-{{ projectDoc.data?.paratextId }}"
    >
      <div>
        <span class="project-name">
          <span>{{ projectDoc.data?.shortName }}</span> - <span>{{ projectDoc.data?.name }}</span>
        </span>
        <span class="helper-text">{{ t("dbl_resource") }}</span>
      </div>
      <a appRouterLink="/projects/{{ projectDoc.id }}" mat-flat-button color="primary">{{ t("open") }}</a>
    </mat-card>

    <h3
      id="header-not-connected-projects"
      *ngIf="userUnconnectedUserParatextProjects.length > 0 || loadingPTProjects || problemGettingPTProjects"
    >
      {{
        loadingPTProjects
          ? t("loading_more_pt_projects")
          : userConnectedProjects.length === 0
          ? t("connect_a_project_to_get_started")
          : t("not_connected")
      }}
    </h3>
    <app-notice
      id="message-trouble-getting-pt-project-list"
      icon="error"
      type="error"
      *ngIf="problemGettingPTProjects"
      >{{ t("problem_getting_pt_list") }}</app-notice
    >

    <mat-card
      *ngFor="let ptProject of userUnconnectedUserParatextProjects"
      id="user-unconnected-project-card-{{ ptProject.paratextId }}"
    >
      <div>
        <span class="project-name">
          <span>{{ ptProject.shortName }}</span> - <span>{{ ptProject.name }}</span>
        </span>
        <span *ngIf="!ptProject.isConnectable" class="helper-text"
          >{{ t("project_cannot_be_connected") }}
          {{ "connect_project.only_paratext_admins_can_start" | transloco }}</span
        >
      </div>
      <a
        *ngIf="ptProject.isConnectable"
        appRouterLink="/connect-project"
        [state]="{ ptProjectId: ptProject.paratextId }"
        mat-flat-button
        color="primary"
      >
        {{ paratextService.isParatextProjectInSF(ptProject) ? t("join") : ("connect_project.connect" | transloco) }}
      </a>
    </mat-card>
    <mat-card id="pt-loading-card" *ngIf="loadingPTProjects" class="loading-card">
      <div>
        <span class="project-name">&nbsp;</span>
        <span class="helper-text">&nbsp;</span>
      </div>
    </mat-card>
  </div>
</ng-container>
