<ng-container *transloco="let t; read: 'biblical_term_dialog'">
  <h1 mat-dialog-title>{{ t(canEdit() ? "edit_renderings" : "view_renderings") }}</h1>
  <mat-dialog-content>
    <div id="definition">{{ definition }}</div>
    <mat-form-field [formGroup]="form" appearance="outline">
      <mat-label>{{ t("renderings") }}</mat-label>
      <textarea
        appAutofocus
        matInput
        cdkTextareaAutosize
        id="renderings"
        formControlName="renderings"
        [readonly]="!canEdit()"
      ></textarea>
      <mat-hint>{{ t("renderings_hint") }}</mat-hint>
      @if (renderings.hasError("unbalancedParentheses")) {
        <mat-error>
          {{ t("renderings_error") }}
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field [formGroup]="form" appearance="outline">
      <mat-label>{{ t("description") }}</mat-label>
      <textarea
        appAutofocus
        matInput
        cdkTextareaAutosize
        id="description"
        formControlName="description"
        [readonly]="!canEdit()"
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ t(canEdit() ? "cancel" : "close") }}</button>
    @if (canEdit()) {
      <button mat-flat-button class="save-button" color="primary" (click)="submit()">
        {{ t("save") }}
      </button>
    }
  </mat-dialog-actions>
</ng-container>
