/* Some terms are exceptionally long */
.mat-column-term {
  overflow: hidden;
}

/* Fix the menu appearing below the table header */
.mat-header-cell {
  z-index: inherit !important;
}

/* Stretch the table across the page */
.mat-table {
  width: 100%;
}

/* Fix the height of the biblical terms table */
.table-container {
  height: 150px;
  overflow-y: auto;
  margin-top: 10px;
}
