@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

/* We have two mat-icon actions buttons */
.actions {
  width: 110px;
}

/* Space out the cells a little bit */
.mat-mdc-cell {
  padding: 5px;
}

/* Some terms are exceptionally long */
.mat-column-term {
  overflow: hidden;
}

/* Fix the menu appearing below the table header */
.mat-mdc-header-cell {
  padding: 5px;
  z-index: 2 !important;
}

/* Stretch the table across the page */
.mat-mdc-table {
  width: 100%;
}

/* Show the actions button in the center (there is no sort header on this cell) */
.mat-column-id {
  text-align: center;
}

/* Hide the category on XS, SM, MD, and LG devices */
.mat-column-category {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

/* Show the category on SM, MD, and LG devices if there is no source visible */
:host-context(.text-area-full-width) .mat-column-category {
  @include media-breakpoint-between(sm, lg) {
    display: table-cell;
  }
}

/* Hide the gloss on XS, SM, and MD devices */
.mat-column-gloss {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

/* Show the gloss on SM and MD devices if there is no source visible */
:host-context(.text-area-full-width) .mat-column-gloss {
  @include media-breakpoint-between(sm, md) {
    display: table-cell;
  }
}

/* Disable hover effects for disabled buttons */
.mat-mdc-icon-button:disabled {
  pointer-events: none;
}

/* The table heading */
.mat-mdc-table caption {
  font-size: 0.9em;
  font-weight: bold;
  padding: 5px 0 5px 20px;
  text-align: left;
}

/* RTL support for the table heading */
.mat-mdc-table caption[dir='rtl'] {
  text-align: right;
}
