<ng-container *transloco="let t; read: 'biblical_terms'">
  <div class="table-container">
    <table
      #biblicalTerms
      mat-table
      [dataSource]="rows"
      matSort
      (matSortChange)="sortData($event)"
      matSortActive="term"
      matSortDirection="asc"
      matSortDisableClear
    >
      @for (column of columnsToDisplay | slice: 0 : columnsToDisplay.length - 1; track column) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t(column) }}</th>
          <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
        </ng-container>
      }

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="actions">{{ t("actions") }}</th>
        <td mat-cell *matCellDef="let row" class="actions">
          <button
            mat-icon-button
            (click)="editNoteThread(row)"
            [disabled]="row.disableNotesIcon"
            [matTooltip]="t('notes')"
          >
            <mat-icon [style.transform]="row.transformNotesIcon">{{ row.notesIcon }}</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="editRendering(row.id)"
            [matTooltip]="t(row.canEdit ? 'edit_renderings' : 'view_renderings')"
          >
            <mat-icon>{{ row.editIcon }}</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="toolbar-row">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="columnsToDisplay.length">
          <div class="toolbar">
            <mat-form-field class="biblical-terms-select" appearance="outline" subscriptSizing="dynamic">
              <mat-label>{{ t("show") }}</mat-label>
              <mat-select panelWidth="''" [(ngModel)]="selectedRangeFilter">
                <mat-option *ngFor="let rangeFilter of rangeFilters" [value]="rangeFilter">
                  {{ t(rangeFilter) }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="biblical-terms-select" appearance="outline" subscriptSizing="dynamic">
              <mat-label>{{ t("category") }}</mat-label>
              <mat-select panelWidth="''" [(ngModel)]="selectedCategory">
                <mat-option value="show_all">{{ t("all") }}</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category">{{
                  category === "" ? t("blank") : category
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              class="mat-menu-popup-button"
              [matTooltip]="t('settings')"
            >
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="transliterateBiblicalTerms = !transliterateBiblicalTerms">
                <mat-icon class="material-icons-outlined">{{
                  transliterateBiblicalTerms ? "check_box" : "check_box_outline_blank"
                }}</mat-icon>
                <span>{{ t("transliterate_terms") }}</span>
              </button>
            </mat-menu>
          </div>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['toolbar-row']"></tr>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="columnsToDisplay.length">
          @if (isLoaded && appOnline && biblicalTermsLoaded) {
            <span class="not-found">{{ t("not_found") }}</span>
          } @else if (appOnline && !biblicalTermsLoaded) {
            <span>{{ t("loading") }}</span>
          } @else if (isLoaded && !biblicalTermsLoaded) {
            <span class="offline-message">{{ t("offline") }}</span>
          }
        </td>
      </tr>
    </table>
  </div>
</ng-container>
