/* Space out the cells a little bit */
.mat-cell {
  padding: 5px;
}

/* Some terms are exceptionally long */
.mat-column-term {
  overflow: hidden;
}

/* Fix the menu appearing below the table header */
.mat-header-cell {
  padding: 5px;
  z-index: inherit !important;
}

/* Stretch the table across the page */
.mat-table {
  width: 100%;
}
