@use 'src/styles';

/* We have two mat-icon actions buttons */
.actions {
  width: 110px;
}

/* Space out the cells a little bit */
.mat-mdc-cell {
  padding: 5px;
}

/* Some terms are exceptionally long */
.mat-column-term {
  overflow: hidden;
}

/* Fix the menu appearing below the table header */
.mat-mdc-header-cell {
  padding: 5px;
  z-index: 2 !important;
}

/* Stretch the table across the page */
.mat-mdc-table {
  width: 100%;
}

/* Show the actions button in the center (there is no sort header on this cell) */
.mat-column-id {
  text-align: center;
}

/* Hide the category when the view is constrained */
.mat-column-category {
  @extend .hide-lt-xl;
}

/* Hide the gloss when the view is constrained */
.mat-column-gloss {
  @extend .hide-lt-md;
  overflow: hidden;
}

/* Disable hover effects for disabled buttons */
.mat-mdc-icon-button:disabled {
  pointer-events: none;
}

/* Style the toolbar and its dropdowns */
.mat-mdc-table-sticky {
  bottom: -1px !important;
}

/* Pad the left hand side of the table */
.mat-mdc-header-cell:first-child,
.mat-mdc-cell:first-child {
  padding-inline-start: 1.25em;
}

/* Format the no data row */
.mat-mdc-no-data-row td {
  padding: 1em;
  text-align: center;
}

/* Keep the toolbar and cell headings at the top of the viewport when scrolling */
::ng-deep thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 0.5em 0.75em 0.5em;
  background: #fff;
}

.biblical-terms-select {
  @include styles.dense_mat_select();
  width: 200px;
}
