@use 'sass:map';
@use 'sass:list';
@use 'src/variables' as vars;

$bubbleColor: vars.$blueMedium;
$animationDuration: 0.7s;

// Bubble types
// 1: Large solid bubble
// 2: Large outlined bubble
// 3: Small solid bubble
$bubbleTypes: (
  1: radial-gradient(circle, $bubbleColor 20%, transparent 20%),
  2: radial-gradient(circle, transparent 20%, $bubbleColor 20%, transparent 30%),
  3: radial-gradient(circle, transparent 10%, $bubbleColor 15%, transparent 20%)
);

// prettier-ignore
$bubbles: (
  // Top bubbles
  (location: 'top', type: 1, size:(10% 10%), pos0:( 5% 90%), pos50:( 0% 80%), pos100:( 0%  70%)),
  (location: 'top', type: 2, size:(20% 20%), pos0:(10% 90%), pos50:( 0% 20%), pos100:( 0%  10%)),
  (location: 'top', type: 1, size:(15% 15%), pos0:(10% 90%), pos50:(10% 40%), pos100:(10%  30%)),
  (location: 'top', type: 1, size:(20% 20%), pos0:(15% 90%), pos50:(20%  0%), pos100:(20% -10%)),
  (location: 'top', type: 3, size:(18% 18%), pos0:(25% 90%), pos50:(30% 30%), pos100:(30%  20%)),
  (location: 'top', type: 1, size:(10% 10%), pos0:(25% 90%), pos50:(22% 50%), pos100:(22%  40%)),
  (location: 'top', type: 1, size:(15% 15%), pos0:(40% 90%), pos50:(50% 50%), pos100:(50%  40%)),
  (location: 'top', type: 1, size:(10% 10%), pos0:(55% 90%), pos50:(65% 20%), pos100:(65%  10%)),
  (location: 'top', type: 1, size:(18% 18%), pos0:(70% 90%), pos50:(90% 30%), pos100:(90%  20%)),
  // Bottom bubbles
  (location: 'bottom', type: 1, size:(15% 15%), pos0:(10% -10%), pos50:(  0%  80%), pos100:(  0%  90%)),
  (location: 'bottom', type: 1, size:(20% 20%), pos0:(30%  10%), pos50:( 20%  80%), pos100:( 20%  90%)),
  (location: 'bottom', type: 3, size:(18% 18%), pos0:(55% -10%), pos50:( 45%  60%), pos100:( 45%  70%)),
  (location: 'bottom', type: 1, size:(20% 20%), pos0:(70% -10%), pos50:( 60% 100%), pos100:( 60% 110%)),
  (location: 'bottom', type: 1, size:(15% 15%), pos0:(85% -10%), pos50:( 75%  70%), pos100:( 75%  80%)),
  (location: 'bottom', type: 1, size:(10% 10%), pos0:(70% -10%), pos50:( 95%  60%), pos100:( 95%  70%)),
  (location: 'bottom', type: 1, size:(20% 20%), pos0:(70%   0%), pos50:(105%   0%), pos100:(110%  10%))
);

// Initialize empty lists
$topBubblesImages: ();
$topBubblesSizes: ();
$topBubblesPos0s: ();
$topBubblesPos50s: ();
$topBubblesPos100s: ();
$bottomBubblesImages: ();
$bottomBubblesSizes: ();
$bottomBubblesPos0s: ();
$bottomBubblesPos50s: ();
$bottomBubblesPos100s: ();

@each $bubble in $bubbles {
  $location: map.get($bubble, location);
  $type: map.get($bubble, type);
  $size: map.get($bubble, size);
  $pos0: map.get($bubble, pos0);
  $pos50: map.get($bubble, pos50);
  $pos100: map.get($bubble, pos100);

  @if $location == 'top' {
    $topBubblesImages: list.append($topBubblesImages, map.get($bubbleTypes, $type), comma);
    $topBubblesSizes: list.append($topBubblesSizes, $size, comma);
    $topBubblesPos0s: list.append($topBubblesPos0s, $pos0, comma);
    $topBubblesPos50s: list.append($topBubblesPos50s, $pos50, comma);
    $topBubblesPos100s: list.append($topBubblesPos100s, $pos100, comma);
  } @else if $location == 'bottom' {
    $bottomBubblesImages: list.append($bottomBubblesImages, map.get($bubbleTypes, $type), comma);
    $bottomBubblesSizes: list.append($bottomBubblesSizes, $size, comma);
    $bottomBubblesPos0s: list.append($bottomBubblesPos0s, $pos0, comma);
    $bottomBubblesPos50s: list.append($bottomBubblesPos50s, $pos50, comma);
    $bottomBubblesPos100s: list.append($bottomBubblesPos100s, $pos100, comma);
  }
}

.sf-bubble-button {
  position: relative;
  transition: transform linear 0.02s;

  &:active {
    transform: scale(0.95);
    box-shadow: 0 2px 12px -5px $bubbleColor;
  }

  // Inner span
  .sf-bubble-button-elements {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &:before,
    &:after {
      position: absolute;
      content: '';
      display: block;
      height: 100%;
      left: -20%;
      right: -20%;

      // Needed to make the padding increase the height as the width increases.
      // Long buttons need more height for the animation so the circles don't get cut off.
      box-sizing: content-box;
      padding-top: 30%; // Percentage of width of containing element

      z-index: -1;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }

    &:before {
      display: none;
      bottom: 65%;
      background-image: $topBubblesImages;
      background-size: $topBubblesSizes;
    }

    &:after {
      display: none;
      top: 65%;
      background-image: $bottomBubblesImages;
      background-size: $bottomBubblesSizes;
    }

    &.sf-bubble-animate {
      &:before {
        display: block;
        animation: emit-bubbles-top ease-in-out $animationDuration forwards;
      }
      &:after {
        display: block;
        animation: emit-bubbles-bottom ease-in-out $animationDuration forwards;
      }
    }
  }
}

@keyframes emit-bubbles-top {
  0% {
    background-position: $topBubblesPos0s;
  }
  50% {
    background-position: $topBubblesPos50s;
  }
  100% {
    background-position: $topBubblesPos100s;
    background-size: 0% 0%;
  }
}

@keyframes emit-bubbles-bottom {
  0% {
    background-position: $bottomBubblesPos0s;
  }
  50% {
    background-position: $bottomBubblesPos50s;
  }
  100% {
    background-position: $bottomBubblesPos100s;
    background-size: 0% 0%;
  }
}
