/**
 * Based on https://material.angular.io/guide/theming-your-components
 */
@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $accent-palette: mat.get-theme-color($theme, 'accent', 500);

  :root {
    --sf-tab-header-active-tab-accent-color: #{$accent-palette};
  }
}

@mixin theme($theme) {
  $color-config: mat.get-theme-color($theme, 'primary');

  @if $color-config != null {
    @include color($theme);
  }
}
