<app-tab-group-header
  [tabs]="tabs"
  [selectedIndex]="selectedIndex"
  [groupId]="groupId"
  (tabClick)="onTabHeaderClick($event)"
  (closeClick)="removeTab($event)"
  (tabAddRequest)="addTab($event)"
></app-tab-group-header>

<!-- TODO: Determine if there is any benefit to using mat-tab-group  -->
<mat-tab-group [selectedIndex]="selectedIndex" animationDuration="0">
  <mat-tab *ngFor="let tab of tabs">
    <ng-container *ngTemplateOutlet="tab.contentTemplate"></ng-container>
  </mat-tab>
</mat-tab-group>
