::ng-deep {
  :root {
    --sf-tab-header-border-radius: 4px;

    --sf-tab-group-border-color: rgba(0, 0, 0, 0.12); // Same as editor border
    --sf-tab-group-background-color: #fff;
    --sf-tab-group-border-width: 1px;

    --sf-tab-header-border-width: 1px;
    --sf-tab-header-top-offset: 1px;
    --sf-tab-header-inactive-background-color: #f5f5f5;
    --sf-tab-header-inactive-hover-background-color: #e0e0e0;
    --sf-tab-header-inactive-button-hover-background-color: #c0c0c0;
    --sf-tab-header-button-hover-background-color: #e0e0e0;
    --sf-tab-header-group-scroll-button-background-color: #f7f7f7;

    --sf-tab-toolbar-height: 57px;
  }
}

:host {
  display: flex;
  flex-direction: column;
  position: relative;
}
