<app-tab-group-header
  [tabs]="tabs"
  [selectedIndex]="selectedIndex"
  [groupId]="groupId"
  [allowDragDrop]="allowDragDrop"
  [connectedTo]="connectedTo"
  (tabPress)="onTabHeaderPress($event)"
  (tabClick)="onTabHeaderClick($event)"
  (closeClick)="removeTab($event)"
  (tabAddRequest)="onTabAddRequest($event)"
  (tabMove)="moveTab($event)"
></app-tab-group-header>

@for (tab of tabs; track tab.id; let i = $index) {
  <app-tab-body [active]="selectedIndex === i">
    <ng-container *ngTemplateOutlet="tab.contentTemplate"></ng-container>
  </app-tab-body>
}
