<ng-container *transloco="let t; read: 'question_dialog'">
  <mdc-dialog>
    <mdc-dialog-container>
      <mdc-dialog-surface class="dialog-size">
        <mdc-dialog-title fxLayoutAlign="start center">
          <i class="material-icons">live_help</i> {{ modeLabel }}
        </mdc-dialog-title>
        <mdc-dialog-content class="content-padding">
          <form [formGroup]="questionForm" autocomplete="off" id="question-form">
            <div fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap.gt-xs="1em">
              <mdc-form-field>
                <!-- appAutofocus is needed because MdcDialog would focus the mdc-icon, since it is first in the dom -->
                <mdc-text-field
                  appAutofocus
                  label="{{ t('scripture_reference') }}"
                  type="text"
                  formControlName="scriptureStart"
                  [outlined]="true"
                  id="scripture-start"
                  (input)="updateScriptureEndEnabled()"
                >
                  <mdc-icon
                    mdcTextFieldIcon
                    [trailing]="true"
                    [clickable]="true"
                    (click)="openScriptureChooser(scriptureStart)"
                    >expand_more</mdc-icon
                  >
                </mdc-text-field>
                <mdc-helper-text
                  [validation]="true"
                  id="question-scripture-start-helper-text"
                  class="scripture-helper-text"
                >
                  {{ scriptureInputErrorMessages.startError }}
                </mdc-helper-text>
              </mdc-form-field>
              <mdc-form-field>
                <mdc-text-field
                  label="{{ t('end_reference') }}"
                  type="text"
                  formControlName="scriptureEnd"
                  [outlined]="true"
                  [errorStateMatcher]="parentAndStartMatcher"
                  id="scripture-end"
                >
                  <mdc-icon
                    mdcTextFieldIcon
                    [trailing]="true"
                    [clickable]="true"
                    (click)="openScriptureChooser(scriptureEnd)"
                    >expand_more</mdc-icon
                  >
                </mdc-text-field>
                <mdc-helper-text id="question-scripture-end-helper-text" [validation]="true">
                  {{ scriptureInputErrorMessages.endError }}
                  <span
                    *ngIf="questionForm.hasError('verseBeforeStart')"
                    [innerHTML]="i18n.translateAndInsertTags('question_dialog.must_be_after_scripture_reference')"
                  ></span>
                </mdc-helper-text>
              </mdc-form-field>
            </div>
            <div class="text-container">
              <app-checking-text
                [id]="textDocId"
                placeholder="{{ t('enter_a_reference_to_load_text') }}"
                [activeVerse]="selection"
                [isRightToLeft]="isTextRightToLeft"
              ></app-checking-text>
            </div>
            <mdc-form-field>
              <mdc-textarea
                label="{{ t('question') }}"
                type="text"
                formControlName="questionText"
                [rows]="2"
                [fullwidth]="true"
                [helperText]="questionHelper"
                id="question-text"
              ></mdc-textarea>
              <mdc-helper-text #questionHelper [validation]="true">{{ t("required_with_asterisk") }}</mdc-helper-text>
            </mdc-form-field>
            <app-checking-audio-combined
              [source]="audioSource"
              (update)="processAudio($event)"
            ></app-checking-audio-combined>
          </form>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button mdcDialogButton mdcDialogAction="close" type="button" id="question-cancel-btn">
            {{ t("cancel") }}
          </button>
          <button
            mdcDialogButton
            [unelevated]="true"
            form="question-form"
            type="submit"
            id="question-save-btn"
            (click)="submit()"
          >
            {{ t("save") }}
          </button>
        </mdc-dialog-actions>
      </mdc-dialog-surface>
    </mdc-dialog-container>
  </mdc-dialog>
</ng-container>
