.content-padding {
  padding-top: 0.5em;
}

mdc-form-field {
  margin-bottom: 1em;
}

mdc-text-field {
  max-width: 248px;
}

mdc-dialog-actions {
  text-align: end;
}

.split-container {
  height: 8em;
  margin-bottom: 2.5em;
}
