.mat-dialog-content.content-padding {
  padding-top: 0.5em;
}

mat-form-field {
  margin-bottom: 1em;
  .scripture-helper-text .scripture-reference {
    max-width: 248px;
    .mat-form-field-suffix {
      top: 0.5em;
    }
  }
  &.question-container {
    width: 100%;
  }
}

.dialog-container {
  max-width: 560px;
}

.text-container {
  height: 10em;
  margin-bottom: 1em;
  app-checking-text {
    position: relative;
  }
}
