@use 'src/variables';
@use 'src/xforge-common/media-breakpoints/breakpoints' as *;

.mat-mdc-dialog-content.content-padding {
  padding-top: 0.5em;
}

.dialog-title {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.references {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1em;
  justify-content: center;
}

mat-form-field {
  margin-bottom: 2px;
  @include media-breakpoint('>', sm) {
    flex: 1;
  }
}

.mat-mdc-dialog-content {
  max-height: 70vh;
}

.dialog-container {
  max-width: 560px;
}

.text-container {
  height: 10em;
  margin-bottom: 3em;
  app-checking-text {
    position: relative;
  }
}

.attachments {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  min-height: 40px;
}
