<ng-container *transloco="let t; read: 'editor'">
  <div class="content" mdcMenuSurfaceAnchor #trainingProgressAnchor fxLayout="column">
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex fxLayout="row wrap">
        <app-chapter-nav [bookNum]="bookNum" [(chapter)]="chapter" [chapters]="chapters"></app-chapter-nav>
        <ng-container *ngIf="showSource">
          <div class="toolbar-separator" [fxHide.xs]="!translationSuggestionsProjectEnabled">&nbsp;</div>
          <button
            mat-icon-button
            appBlurOnClick
            type="button"
            (click)="isTargetTextRight = !isTargetTextRight"
            title="{{ t('swap_source_and_target') }}"
            fxHide.xs
          >
            <mat-icon>swap_horiz</mat-icon>
          </button>
          <button
            *ngIf="translationSuggestionsProjectEnabled"
            mat-icon-button
            appBlurOnClick
            type="button"
            id="settings-btn"
            (click)="openSuggestionsSettings()"
            title="{{ t('configure_translation_suggestions') }}"
          >
            <mat-icon>settings</mat-icon>
          </button>
        </ng-container>
        <button
          *ngIf="canInsertNote"
          mat-icon-button
          type="button"
          id="create-note-btn"
          (click)="insertNote()"
          title="{{ t('insert_note') }}"
        >
          <mat-icon>add_comment</mat-icon>
        </button>
        <ng-container *ngIf="canShare">
          <div class="toolbar-separator">&nbsp;</div>
          <app-share [defaultRole]="defaultShareRole"></app-share>
        </ng-container>
      </div>
      <ng-container *ngIf="showMultiViewers">
        <div fxFlexAlign="end" class="avatar-padding">
          <app-multi-viewer [viewers]="multiCursorViewers" (onViewerClick)="viewerClicked($event)"></app-multi-viewer>
        </div>
      </ng-container>
    </div>
    <div [fxLayout]="isTargetTextRight ? 'row' : 'row-reverse'" class="both-editors-wrapper">
      <div id="source-text-area" [fxShow.gt-xs]="showSource" fxHide.xs class="text-area">
        <div class="language-label" mdcSubtitle1>{{ sourceLabel }}</div>
        <div #sourceContainer class="text-container" [style.height]="textHeight">
          <app-text
            #source
            [isReadOnly]="true"
            [highlightSegment]="targetFocused"
            (loaded)="onTextLoaded('source')"
            (updated)="onSourceUpdated($event.delta != null)"
            [isRightToLeft]="isSourceRightToLeft"
            [fontSize]="sourceFontSize"
          ></app-text>
        </div>
      </div>
      <div
        id="target-text-area"
        class="text-area"
        [ngClass.gt-xs]="{ 'text-area-full-width': !showSource }"
        ngClass.xs="text-area-full-width"
      >
        <div class="language-label" [fxShow.gt-xs]="showSource" fxHide.xs mdcSubtitle1>{{ targetLabel }}</div>
        <div *ngIf="!isUsfmValid && hasEditRight" class="formatting-invalid-warning">
          <mat-icon>warning</mat-icon> {{ t("cannot_edit_chapter_formatting_invalid") }}
        </div>
        <div *ngIf="!dataInSync && hasEditRight" class="out-of-sync-warning">
          <mat-icon>warning</mat-icon> {{ t("project_data_out_of_sync") }}
        </div>
        <div *ngIf="target.areOpsCorrupted && hasEditRight" class="doc-corrupted-warning">
          <mat-icon>error</mat-icon> {{ t("text_doc_corrupted") }}
          <span [innerHTML]="t('to_report_issue_email', { issueEmailLink: issueEmailLink })"></span>
        </div>
        <div *ngIf="projectTextNotEditable && hasEditRight" class="project-text-not-editable">
          <mat-icon>info</mat-icon> {{ t("project_text_not_editable") }}
        </div>
        <div *ngIf="userHasGeneralEditRight && !hasChapterEditPermission" class="no-edit-permission-message">
          <mat-icon>info</mat-icon> {{ t("no_permission_edit_chapter", { userRole: userRoleStr }) }}
        </div>
        <div #targetContainer class="text-container" [style.height]="textHeight">
          <app-text
            #target
            [isReadOnly]="!canEdit"
            (updated)="
              onTargetUpdated(
                $event.segment,
                $event.delta,
                $event.prevSegment,
                $event.affectedEmbeds,
                $event.isLocalUpdate
              )
            "
            (loaded)="onTextLoaded('target')"
            (focused)="targetFocused = $event"
            (presenceChange)="onPresenceChange($event)"
            [highlightSegment]="targetFocused && canEdit"
            [enablePresence]="true"
            [markInvalid]="true"
            [isRightToLeft]="isTargetRightToLeft"
            [fontSize]="fontSize"
            [selectableVerses]="isReviewer"
          ></app-text>
          <app-suggestions
            [mdcElevation]="2"
            [show]="showSuggestions && translationSuggestionsEnabled"
            [suggestions]="suggestions"
            [text]="target"
            (selected)="insertSuggestion($event.suggestionIndex, $event.wordIndex, $event.event)"
            (showChange)="showSuggestions = $event"
          ></app-suggestions>
        </div>
      </div>
    </div>
    <div *ngIf="showTrainingProgress" class="training-progress">
      <div class="training-title" fxLayout="row" fxLayoutAlign="space-between center">
        <div>{{ t("training") }}</div>
        <button id="training-close-button" mat-icon-button type="button" (click)="closeTrainingProgress()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="training-content" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <div class="text-ellipsis">{{ trainingMessage }}</div>
        <div>
          <app-donut-chart
            id="training-progress-spinner"
            *ngIf="trainingPercentage < 100"
            [colors]="['#b8d332', 'transparent']"
            [data]="[trainingPercentage, 100 - trainingPercentage]"
            backgroundColor="#ececec"
            [innerThicknessDelta]="0"
            [thickness]="22"
          ></app-donut-chart>
          <mat-icon id="training-complete-icon" *ngIf="trainingPercentage === 100">check_circle_outline</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div #fabButton class="insert-note-fab">
    <button mat-mini-fab (click)="insertNote()"><mat-icon>add_comment</mat-icon></button>
  </div>
</ng-container>
