@import '~src/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@angular-mdc/theme/scss/icon-button/mixins';

:host {
  display: flex;
  flex-direction: column;
}

.content {
  @include media-breakpoint-only(xs) {
    margin: -10px;
  }
}

.language-label {
  height: 28px;
}

.toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  padding: 5px 10px;

  @include media-breakpoint-only(xs) {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-width: 0;
  }

  .mdc-icon-button {
    @include mdc-icon-button-size(24px, 24px, 8px);
  }
}

.toolbar-separator {
  border-left: 1px solid #e0e0e0;
  margin: 0px 4px;
  height: 36px;
  width: 0;
}

.mdc-icon-button.mdc-icon-button--activated::before {
  transition-duration: 12ms;
  opacity: mdc-states-opacity(black, activated);
}

.ql-suggestions {
  margin: 0 6px;
}

.text-area {
  width: 50%;

  &.text-area-full-width {
    width: 100%;
  }
}

.text-container {
  height: 0;
  position: relative;
}

app-text {
  height: 100%;
}

.suggestions-menu {
  width: 280px;
  padding: 15px;
}

.training-progress {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 15px;
  bottom: 10px;
  border-radius: 4px;
  width: 270px;
  background-color: white;
  overflow: hidden;

  > .training-title {
    padding: 2px 2px 2px 10px;
    > div {
      color: white;
    }
    > button {
      @include mdc-icon-button-ink-color(white);
      @include mdc-icon-button-size(24px, 24px, 8px);
    }
    background-color: $mdc-theme-primary;
  }

  > .training-content {
    padding: 10px;
    height: 44px;
  }
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.invalid-warning {
  color: #ff4118;
  margin-bottom: 3px;

  @include media-breakpoint-only(xs) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#training-progress-spinner {
  width: 24px;
  height: 24px;
}
