@use '@material/button/mixins' as button;

@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

:host {
  display: flex;
  flex-direction: column;
}

.content {
  @include media-breakpoint-only(xs) {
    margin: -10px;
  }
}

.avatar-padding {
  padding-bottom: 2px;
}

.language-label {
  height: 28px;
}

.toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
  padding: 5px 10px;

  @include media-breakpoint-only(xs) {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-width: 0;
  }
}

.toolbar-separator {
  border-left: 1px solid $border-color;
  margin: 0px 4px;
  height: 36px;
  width: 0;
}

.ql-suggestions {
  margin: 0 6px;
}

.text-area {
  width: 50%;

  &.text-area-full-width {
    width: 100%;
  }
}

.text-container {
  height: 0;
  position: relative;
}

app-text {
  height: 100%;
}

.suggestions-menu {
  width: 280px;
  padding: 15px;
}

.training-progress {
  position: fixed;
  display: flex;
  flex-direction: column;
  inset-inline-end: 15px;
  bottom: 10px;
  border-radius: 4px;
  width: 270px;
  background-color: white;
  overflow: hidden;

  > .training-title {
    padding: 2px;
    padding-inline-start: 10px;

    > div {
      color: white;
    }
    > button {
      @include button.ink-color(white);
    }
    background-color: $sf_grey;
  }

  > .training-content {
    padding: 10px;
    height: 44px;
  }
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.formatting-invalid-warning,
.out-of-sync-warning,
.doc-corrupted-warning,
.project-text-not-editable,
.no-edit-permission-message {
  color: #ff4118;
  border: 1px solid $border-color;
  padding: 5px 10px;
  margin-bottom: 10px;

  @include media-breakpoint-only(xs) {
    margin-left: 10px;
    margin-right: 10px;
  }

  mat-icon {
    vertical-align: bottom;
  }
}

.no-edit-permission-message,
.project-text-not-editable {
  color: $lighterTextColor;
}

#training-progress-spinner {
  width: 24px;
  height: 24px;
}

.both-editors-wrapper {
  column-gap: 5px;
}

.insert-note-fab {
  position: fixed;
  inset-inline-end: 5px;
  visibility: hidden;
}
