.slider-labels {
  margin-top: 15px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-between;
  align-items: stretch;
}

.switch {
  column-gap: 12px;
  margin-bottom: 15px;
}

.row {
  column-gap: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 25px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1e-9px;
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  box-sizing: border-box;
}

mat-dialog-content.content-padding {
  padding-top: 15px;
  overflow: visible; // prevent mdc-select menu from causing scroll bar
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

#num-suggestions-select ::ng-deep .mdc-select__anchor {
  width: 100%;
}

.suggestions-confidence-field {
  display: flex;
  flex-direction: column;
  overflow: hidden; // prevent slider from causing scrollbar when rtl

  .mat-slider {
    margin: 0 2px; // prevent slider thumb from being clipped by hiding of overflow
  }
}

mdc-list-item {
  height: 2.5em;
}

mat-dialog-actions {
  place-content: stretch flex-end;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}
