<ng-container *transloco="let t; read: 'suggestions_settings_dialog'">
  <mdc-dialog>
    <mdc-dialog-container>
      <mdc-dialog-surface>
        <mdc-dialog-title>{{ t("translation_suggestions_settings") }}</mdc-dialog-title>
        <mdc-dialog-content class="content-padding" fxLayout="column" fxLayoutGap="25px">
          <mdc-form-field>
            <mdc-switch
              id="suggestions-enabled-switch"
              *ngIf="open"
              [(ngModel)]="translationSuggestionsUserEnabled"
            ></mdc-switch>
            <label class="switch-label">{{ t("translation_suggestions") }}</label>
          </mdc-form-field>
          <mdc-select
            id="num-suggestions-select"
            [disabled]="!translationSuggestionsUserEnabled"
            [(ngModel)]="numSuggestions"
            placeholder="{{ t('number_of_suggestions') }}"
          >
            <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
          </mdc-select>
          <mdc-form-field>
            <label mdcSubtitle2>{{ t("suggestion_confidence") }}</label>
            <div class="slider-labels" fxLayout="row" fxLayoutAlign="space-between">
              <span mdcCaption>{{ t("more") }}</span> <span mdcCaption>{{ confidenceThreshold }}%</span>
              <span mdcCaption>{{ t("better") }}</span>
            </div>
            <mdc-slider
              #confidenceThresholdSlider
              [disabled]="!translationSuggestionsUserEnabled"
              [min]="0"
              [max]="100"
              [(ngModel)]="confidenceThreshold"
            ></mdc-slider>
          </mdc-form-field>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button mdcDialogButton default type="button" mdcDialogAction="close">{{ t("close") }}</button>
        </mdc-dialog-actions>
      </mdc-dialog-surface>
    </mdc-dialog-container>
  </mdc-dialog>
</ng-container>
