.slider-labels {
  margin-top: 15px;
}

mat-dialog-content.content-padding {
  padding-top: 15px;
  overflow: visible; // prevent mdc-select menu from causing scroll bar
}

#num-suggestions-select ::ng-deep .mdc-select__anchor {
  width: 100%;
}

.suggestions-confidence-field {
  display: flex;
  flex-direction: column;
  overflow: hidden; // prevent slider from causing scrollbar when rtl

  .mat-slider {
    margin: 0 2px; // prevent slider thumb from being clipped by hiding of overflow
  }
}

mat-option {
  height: 2.5em !important;
}

.minor-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
}

span {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
}
