.slider-labels {
  margin-top: 15px;
}

.switch-label {
  margin-left: 12px;
}

mat-dialog-content.content-padding {
  padding-top: 15px;
  overflow: visible; // prevent mdc-select menu from causing scroll bar
}

#num-suggestions-select ::ng-deep .mdc-select__anchor {
  width: 100%;
}
