:host {
  background-color: #faf9f7;
  color: #373a3c;
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  font-size: 14px;
  border-radius: 2px;
}

:host(.hidden) {
  visibility: hidden;
}

:host(.flip) {
  transform: translateY(-10px);
}

.loading-indicator {
  display: table;
  padding: 8px 7px 9px 7px;

  span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background-color: #9e9ea1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * 0.3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

mdc-list {
  padding: 0;

  > mdc-list-item {
    height: 30px;
    padding: 0 8px;

    > div {
      font-size: smaller;
      padding-left: 5px;
    }
  }
}
