mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 400px;
  max-width: 100%;
}

.slider-labels {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

.suggestions-confidence-field {
  display: flex;
  flex-direction: column;
}

.minor-header {
  font-size: 0.875rem;
  font-weight: 500;
}

#suggestions-enabled-switch {
  margin-block: 1em;
}
