<div class="loading-indicator" *ngIf="isLoading"><span></span> <span></span> <span></span></div>
<div *ngIf="!isLoading">
  <mat-selection-list #list dense [multiple]="false" (click)="selectAll($event)">
    <ng-container *ngFor="let suggestion of suggestions; let i = index">
      <mat-list-option [selected]="suggestion && i === 0">
        {{ suggestion.words.join(" ") }}
        <div matListItemMeta class="suggestion-confidence">{{ getPercentage(suggestion.confidence) }}%</div>
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</div>
