// This is based on the chapter-select SCSS
#history-select ::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0;
    .mat-form-field-flex {
      padding-top: 0;
    }
    .mat-form-field-flex:not(:hover) {
      background-color: transparent;
    }
  }
  .mat-form-field-underline {
    display: none;
  }
  .mat-select-arrow-wrapper {
    transform: unset;
  }
  .mat-form-field-infix {
    border-top-width: 0;
    padding-top: 10px;
    padding-bottom: 8px;
  }
}
