<ng-container *transloco="let t; read: 'history_chooser'">
  <button
    mat-icon-button
    (click)="showHideHistory()"
    [disabled]="!appOnline"
    title="{{ t(appOnline ? (showHistory ? 'hide' : 'show') : 'not_available_offline') }}"
  >
    <mat-icon>history</mat-icon>
  </button>
  <ng-container *ngIf="showHistory && appOnline">
    <mat-form-field appearance="outline" id="history-select">
      <mat-select id="history-select" [(value)]="historyRevision" [disabled]="isLoading">
        <mat-option *ngFor="let r of historyRevisions" [value]="r">{{ formatRevision(r) }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-icon-button
      appBlurOnClick
      type="button"
      (click)="showDiff = !showDiff"
      title="{{ !showDiff ? t('show_diff') : t('hide_diff') }}"
    >
      <mat-icon [ngClass]="{ 'material-icons-outlined': !showDiff }">difference</mat-icon>
    </button>
    <button mat-icon-button (click)="showHideHistory()" title="{{ t('hide') }}">
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>
</ng-container>
