@use '@angular/material' as mat;
@use 'src/material-styles' as mat-styles;
@use 'default' as default-theme;

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: default-theme.$primary,
      tertiary: default-theme.$tertiary
    )
  )
);

html.theme-dark {
  color-scheme: dark;
  @include mat.all-component-colors($dark-theme);
  @include mat-styles.theme($dark-theme);
}
