@use 'src/variables';

.base-container {
  align-items: center;
}

.sync-card {
  padding: 0;
  max-width: 37rem;
  min-width: 18rem;
}

.card-content {
  padding: 1rem;
  align-items: center;
}

app-sync-progress {
  width: 100%;
}

#btn-sync,
.progress-bar {
  margin-bottom: 1rem;
}

#btn-log-in {
  background-color: variables.$pt-button-green;
  color: white;
  height: 2.5rem;
}

.paratext-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

#sync-message {
  margin-bottom: 1rem;
}

.offline-text {
  padding-bottom: 1rem;
}

#sync-disabled-message {
  padding-bottom: 1rem;
  max-width: 40rem;
}

#sync-failure-support-message {
  padding: 1rem;
  color: variables.$lighterTextColor;
  max-width: 40rem;
}
