@use 'src/variables';
@use 'src/breakpoints';

h1 {
  text-align: center;
}

.base-container {
  padding: 32px;
  @include breakpoints.media-breakpoint-only(xs) {
    padding: 32px 16px;
  }
}

.base-container,
.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.sync-card {
  justify-content: center;
  text-align: center;
  padding: 0;
  min-height: 10rem;
  max-width: 37rem;
  min-width: 25rem;

  @include breakpoints.media-breakpoint-only(xs) {
    min-width: 100%;
  }
}

.sync-progress {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.sync-status,
.sync-header {
  display: flex;
  justify-content: center;
}

.card-content {
  padding: 1rem;
}

app-sync-progress {
  width: 100%;
}

#btn-log-in {
  background-color: variables.$pt-button-green;
  color: white;
  height: 2.5rem;
}

.paratext-logo {
  width: 100%;
}

#sync-disabled-message,
#sync-failure-support-message {
  max-width: 40rem;
  color: variables.$lighterTextColor;
}
