<ng-container *transloco="let t; read: 'sync'">
  <div fxLayout="column" class="base-container">
    <h2 id="title">{{ t("synchronize_project", { projectName: projectName }) }}</h2>
    <span *ngIf="!isAppOnline" class="offline-text"> {{ t("connect_network_to_synchronize") }} </span>
    <mdc-card outlined class="sync-card">
      <div fxLayout="column" class="card-content">
        <button
          *ngIf="!isLoggedIntoParatext && !isLoading && isAppOnline"
          class="action-button"
          mdc-button
          type="button"
          (click)="logInWithParatext()"
          id="btn-log-in"
        >
          <img src="/assets/paratext_logo.png" alt="Paratext Logo" class="paratext-logo" />{{ t("log_in_to_paratext") }}
        </button>
        <ng-container *ngIf="isLoggedIntoParatext || isLoading || !isAppOnline">
          <button
            *ngIf="!syncActive"
            class="action-button"
            mdc-button
            primary
            type="button"
            (click)="syncProject()"
            [disabled]="isLoading || !isAppOnline"
            id="btn-sync"
          >
            <mdc-icon>sync</mdc-icon>
            {{ t("synchronize") }}
          </button>
          <span *ngIf="syncActive" id="sync-message" class="sync-info">{{
            t("your_project_is_being_synchronized")
          }}</span>
          <mdc-linear-progress
            *ngIf="syncActive"
            class="progress-bar"
            [secondary]="true"
            [determinate]="isProgressDeterminate"
            [progress]="percentComplete"
          ></mdc-linear-progress>
          <span *ngIf="!syncActive" [title]="lastSyncDate" id="date-last-sync" class="sync-info">
            {{ lastSyncNotice }}
          </span>
        </ng-container>
      </div>
    </mdc-card>
  </div>
</ng-container>
