<ng-container *transloco="let t; read: 'sync'">
  <div class="base-container">
    <h1 id="title" class="h2">{{ t("synchronize_project", { projectName: projectName }) }}</h1>
    @if (!isAppOnline) {
      <span class="offline-text"> {{ t("connect_network_to_synchronize") }} </span>
    }
    @if (syncDisabled) {
      <span id="sync-disabled-message" [innerHTML]="syncDisabledMessage"> </span>
    }
    @if (showSyncUserPermissionsFailureMessage) {
      <app-notice id="sync-user-permission-failure-message" type="error" icon="error">
        {{ t("sync_user_permissions_failure_message") }}
      </app-notice>
    }
    @if (showSyncFailureSupportMessage) {
      <span id="sync-failure-support-message" [innerHTML]="syncFailureSupportMessage"></span>
    }
    <mat-card class="sync-card">
      <div class="card-content">
        @if (showParatextLogin && isAppOnline) {
          <button mat-flat-button type="button" (click)="logInWithParatext()" id="btn-log-in">
            <mat-icon><img src="/assets/images/logo-pt9.png" alt="Paratext Logo" class="paratext-logo" /></mat-icon>
            {{ t("log_in_to_paratext") }}
          </button>
        }
        @if (isLoggedIntoParatext || isLoadingData || !isAppOnline) {
          @if (!syncActive) {
            <button
              mat-flat-button
              color="primary"
              type="button"
              (click)="syncProject()"
              [disabled]="isLoadingData || !isAppOnline || syncDisabled"
              id="btn-sync"
            >
              <mat-icon>sync</mat-icon>
              {{ t("synchronize") }}
            </button>
          }
          @if (syncActive) {
            <app-sync-progress [projectDoc]="projectDoc" (inProgress)="syncActive = $event"></app-sync-progress>
            <button
              mat-button
              type="button"
              (click)="cancelSync()"
              [disabled]="isLoadingData || !isAppOnline || syncDisabled"
              id="btn-cancel-sync"
            >
              {{ t("cancel") }}
            </button>
          } @else {
            <mat-hint [title]="lastSyncDisplayDate" id="date-last-sync">
              {{ lastSyncNotice }}
            </mat-hint>
          }
        }
      </div>
    </mat-card>
  </div>
</ng-container>
