<ng-container *transloco="let t; read: 'sync'">
  <div fxLayout="column" class="base-container">
    <h2 id="title">{{ t("synchronize_project", { projectName: projectName }) }}</h2>
    <span *ngIf="!isAppOnline" class="offline-text"> {{ t("connect_network_to_synchronize") }} </span>
    <span *ngIf="syncDisabled" id="syncDisabled-message" class="syncDisabled-text" [innerHTML]="syncDisabledMessage">
    </span>
    <mat-card class="sync-card">
      <div fxLayout="column" class="card-content">
        <button
          *ngIf="showParatextLogin && isAppOnline"
          class="action-button"
          mat-flat-button
          type="button"
          (click)="logInWithParatext()"
          id="btn-log-in"
        >
          <img src="/assets/images/logo-pt9.png" alt="Paratext Logo" class="paratext-logo" />{{
            t("log_in_to_paratext")
          }}
        </button>
        <ng-container *ngIf="isLoggedIntoParatext || isLoading || !isAppOnline">
          <button
            *ngIf="!syncActive"
            class="action-button"
            mat-flat-button
            color="primary"
            type="button"
            (click)="syncProject()"
            [disabled]="isLoading || !isAppOnline || syncDisabled"
            id="btn-sync"
          >
            <mat-icon>sync</mat-icon>
            {{ t("synchronize") }}
          </button>
          <mat-hint *ngIf="syncActive" id="sync-message" class="sync-info">{{
            t("your_project_is_being_synchronized")
          }}</mat-hint>
          <app-sync-progress
            *ngIf="syncActive"
            [projectDoc]="projectDoc"
            (inProgress)="syncActive = $event"
          ></app-sync-progress>
          <button
            *ngIf="syncActive"
            class="action-button"
            mat-button
            type="button"
            (click)="cancelSync()"
            [disabled]="isLoading || !isAppOnline || syncDisabled"
            id="btn-cancel-sync"
          >
            {{ t("cancel") }}
          </button>
          <mat-hint *ngIf="!syncActive" [title]="lastSyncDisplayDate" id="date-last-sync" class="sync-info">
            {{ lastSyncNotice }}
          </mat-hint>
        </ng-container>
      </div>
    </mat-card>
  </div>
</ng-container>
