@use 'src/variables';

.base-container,
.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.sync-card {
  padding: 0;
  max-width: 37rem;
  min-width: 25rem;
}

.sync-status {
  display: flex;
  padding: 1rem;
  align-content: center;
  justify-content: center;
}

.card-content {
  padding: 1rem;
}

app-sync-progress {
  width: 100%;
}

#btn-log-in {
  background-color: variables.$pt-button-green;
  color: white;
  height: 2.5rem;
}

.paratext-logo {
  width: 100%;
}

#sync-disabled-message,
#sync-failure-support-message {
  max-width: 40rem;
  color: variables.$lighterTextColor;
}
