@use '@material/list/mixins' as list;

@import 'src/variables';

.title {
  margin-bottom: 20px;
}

mat-card {
  min-height: 278px;
  padding: 0;
  mat-card-actions {
    margin: 0;
  }
}

.books-card {
  width: 18rem;
  margin-right: 40px;
  margin-bottom: 20px;

  .books-card-title ::ng-deep {
    margin-top: 8px;
    > .mat-card-header-text {
      width: 100%;
      mat-card-title {
        margin-bottom: 8px;
      }
    }
  }

  mdc-list {
    @include list.item-graphic-ink-color(rgba(0, 0, 0, 0.6));
    overflow-y: auto;
    mdc-list-item {
      cursor: pointer;
      &:hover {
        background-color: lighten($sf_grey, 75%);
      }
    }
  }
}

.progress {
  width: 32px;
  height: 32px;
}

.engine-card {
  width: 16rem;
  overflow: hidden;

  .engine-card-title {
    margin-top: 8px;
  }

  .engine-card-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .engine-card-quality {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      background-color: $greenLight;
      padding: 26px 16px 15px 16px;

      .engine-card-quality-stars {
        align-self: center;
        mat-icon {
          font-size: 3.5em;
          height: unset;
          width: unset;
        }
      }

      .engine-card-quality-subtitle {
        align-self: flex-end;
        padding-right: 28px;
      }
    }

    .engine-card-segments {
      align-self: center;
      padding: 15px 16px;

      .engine-card-segments-count {
        font-size: 2.25em;
        margin-right: 8px;
      }
    }
  }
}
