<ng-container *transloco="let t; read: 'translate_overview'">
  <div class="title mat-display-1">{{ t("translate_overview") }}</div>
  <div class="card-wrapper">
    <mat-card class="books-card">
      <mat-card-header id="translate-overview-title" class="books-card-title">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between center"
          >{{ t("progress") }}
          <div class="progress" [title]="overallProgress.percentage + '%'">
            <app-donut-chart
              [colors]="['#b8d332', 'transparent']"
              [data]="[overallProgress.translated, overallProgress.blank]"
              backgroundColor="#ececec"
              [innerThicknessDelta]="0"
              [thickness]="22"
            ></app-donut-chart>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mdc-list *ngIf="texts != null" [twoLine]="true" [interactive]="false">
        <mdc-list-item
          *ngFor="let textProgress of texts; trackBy: trackTextByBookNum"
          [appRouterLink]="['./', getBookId(textProgress.text)]"
        >
          <mat-icon mdcListItemGraphic>book</mat-icon>
          <mdc-list-item-text
            [secondaryText]="
              t('translated_segments', { translatedSegments: textProgress.translated, total: textProgress.total })
            "
            >{{ getBookName(textProgress.text) }}</mdc-list-item-text
          >
          <div class="progress" mdcListItemMeta [title]="textProgress.percentage + '%'">
            <app-donut-chart
              [colors]="['#b8d332', 'transparent']"
              [data]="[textProgress.translated, textProgress.blank]"
              backgroundColor="#ececec"
              [innerThicknessDelta]="0"
              [thickness]="22"
            ></app-donut-chart>
          </div>
        </mdc-list-item>
      </mdc-list>
    </mat-card>

    <mat-card *ngIf="translationSuggestionsEnabled && canEditTexts" class="engine-card">
      <mat-progress-bar
        id="training-progress"
        [mode]="trainingPercentage > 0 ? 'determinate' : 'indeterminate'"
        [class.mat-progress-bar--closed]="!isTraining"
        [value]="trainingPercentage"
      ></mat-progress-bar>
      <mat-card-header>
        <mat-card-title class="engine-card-title">{{ t("suggestion_engine") }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="engine-card-content">
        <div class="engine-card-quality">
          <div class="engine-card-quality-stars" [class.rtl-stars]="i18n.isRtl" [title]="engineConfidence + ' BLEU'">
            <mat-icon *ngFor="let star of engineQualityStars">{{
              engineQuality >= star + 1 ? "star" : engineQuality === star + 0.5 ? "star_half" : "star_border"
            }}</mat-icon>
          </div>
          <div class="engine-card-quality-subtitle">{{ t("quality") }}</div>
        </div>
        <div class="engine-card-segments">
          <span class="engine-card-segments-count">{{ trainedSegmentCount }}</span
          ><span>{{ t("trained_segments") }}</span>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button id="retrain-button" mat-button [disabled]="isTraining" type="button" (click)="startTraining()">
          {{ isTraining ? t("training") : t("retrain") }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
