.progress-content {
  min-width: 240px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  min-height: 0;

  .progress-container {
    width: 100%;
    flex-direction: column;
    align-items: center;

    mat-progress-bar {
      margin-top: 1em;
    }
  }

  .result-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  .error-result {
    display: flex;
    flex-direction: column;
    min-height: 0;

    .mat-icon {
      flex-shrink: 0;
    }

    .failed-chapters {
      text-indent: 1em;
      margin-top: 0.5em;
      line-height: 1.2em;
    }

    .error-content {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }
  }

  .failed-message {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }
}

.hide-scroll {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mat-mdc-dialog-actions {
  justify-content: flex-end;
}
