.progress-content {
  min-width: 240px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;

  .progress-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-progress-bar {
      margin-top: 1em;
    }
  }

  .error-result {
    display: flex;
    flex-direction: column;

    .mat-icon {
      flex-shrink: 0;
    }

    .failed-chapters {
      text-indent: 1em;
      margin-top: 0.5em;
      line-height: 1em;
    }
  }

  .failed-message {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }
}

.mat-mdc-dialog-actions {
  justify-content: flex-end;
}
