.feedback-description {
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.project-field-hidden {
  display: none;
}

.project-select {
  width: 280px;
}

.permission-control {
  margin-bottom: 0;

  .permission-options {
    display: flex;
    flex-direction: column;
  }
}
