.mat-mdc-dialog-content {
  overflow: unset;
}

.feedback-description {
  font-size: 1rem;
  margin: 0.5rem 0 0.8rem;
}

#feedback-input {
  min-height: 3rem;
}

form {
  display: flex;
  flex-direction: column;
}

.project-select {
  width: 280px;
}

.permission-options {
  display: flex;
  flex-direction: column;
}
