@use 'src/variables';
@use 'src/breakpoints';

// Section: General dialog styles

.mat-mdc-dialog-title {
  margin-bottom: 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
}

.dialog-content-body {
  overflow-y: auto;
  padding: 2px; // otherwise the mat-card elements have part of their shadows hidden
}

.dialog-content-header {
  margin-bottom: 0.5em;
}

.dialog-content-footer {
  margin-top: 0.5em;
}

// Section: Initial import screen

.initial-import-screen {
  max-width: 60em;
}

.card-wrapper {
  display: flex;
  column-gap: 1em;

  @include breakpoints.media-breakpoint-only(xs) {
    flex-direction: column;
    row-gap: 1em;
  }
}

.mat-mdc-card {
  display: flex;
  flex-direction: column;

  mat-card-title {
    padding: 16px 16px 0 16px;
  }

  mat-card-content {
    flex-grow: 1;
    margin-block-end: 16px;
  }

  mat-card-actions {
    flex-wrap: wrap;
    row-gap: 8px;
  }

  ol {
    padding-left: 1.25em;
  }

  table {
    font-size: small;
    border-collapse: collapse;
    td,
    th {
      border: 1px solid lightgray;
      padding: 0 0.5em;
    }
  }

  mat-error {
    display: block;
  }
}

.support-message {
  margin-top: 1em;
}

// Section: Loading screen

.loading {
  margin: 5em;
}

// Section: Import errors screen

.mat-column-rowNumber {
  border-right: 1px solid variables.$border-color;
  padding-right: 1em;
  text-align: right;
  font-weight: 500;
}

.mat-column-reference {
  padding-left: 1em;
  padding-right: 1em;
}

// Section: Question list screen

.filter-text {
  padding: 0;

  // below is to make denser
  ::ng-deep div {
    display: flex;
    align-items: center;
    mat-form-field:not(.mdc-text-field--textarea) {
      height: 36px;
      flex: 1;
      max-width: 70%;
      @include breakpoints.media-breakpoint-up(sm) {
        max-width: unset;
      }
      // below is to make denser
      .mat-mdc-text-field-wrapper {
        div.mat-mdc-form-field-infix {
          padding: 10px 0;
        }
      }
    }
  }
}

// below is to make denser
:host ::ng-deep {
  mat-form-field.mat-mdc-form-field.mat-form-field-appearance-outline {
    .mat-mdc-form-field-infix {
      min-height: initial;
      padding: 10px 0 5px;
    }

    label.mat-mdc-floating-label:not(.mdc-floating-label--float-above) {
      transform: translateY(-100%);
    }
  }
}

.filter-references {
  margin-top: 0.4em;
  @include breakpoints.media-breakpoint-up(sm) {
    display: flex;
    ::ng-deep {
      mat-form-field:first-child .mdc-notched-outline__trailing,
      mat-form-field:last-child .mdc-notched-outline__leading {
        border-radius: 0;
      }
    }
  }
}

.row-question {
  white-space: initial;
}

:not(mat-form-field) > .mat-mdc-form-field-error {
  margin-top: 10px;
  font-size: 14px;
}

// Section: Importing screen

.canceling-import {
  margin-top: 1em;
}
