@use '@angular/material' as mat;

@mixin color($theme) {
  $is-dark: mat.get-theme-type($theme) == dark;
  .install-badge {
    color: #{mat.get-theme-color($theme, primary, 20)};
    background: #{mat.get-theme-color($theme, primary, 100)};
  }
  .name-and-edit-button {
    color: #{mat.get-theme-color($theme, primary, 40)};
  }
  --mat-icon-button-state-layer-color: #{mat.get-theme-color($theme, primary, 98)};
  --mat-icon-button-hover-state-layer-opacity: 0.2;
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
