@use 'src/variables';
@use 'src/breakpoints';

$toolbar-height: 56px;

// Set height of the app to 100% so that the app will fill the entire screen.
// Don't use 100vh because that will cause the app to be too tall on mobile devices when the browser's address bar is
// visible.
// Newer browsers support dvh (dynamic viewport height) units, but they are not supported in Safari 15.4 and Chrome 108.
// Setting the height to 100% seems to work just as well.
::ng-deep html,
::ng-deep body,
:host {
  height: 100%;
}

:host {
  display: flex;
  position: relative;

  > mat-progress-bar {
    position: absolute;
    z-index: 8;
  }

  > header {
    position: absolute;

    &.overlay-drawer {
      z-index: 6;
    }
  }

  .top-app-bar-adjust {
    margin-top: $toolbar-height;
  }

  .top-app-bar-adjust-double {
    margin-top: $toolbar-height * 2;
  }

  .app-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    > div {
      flex: 1;
      padding: 14px 20px;
      height: 100%;
      @include breakpoints.media-breakpoint-only(xs) {
        padding: 10px;
      }
      display: flex;
      flex-direction: column;
    }
  }
}

.checking-unavailable {
  text-align: center;
}

header {
  width: 100%;
  z-index: 7;

  .title {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 1em;
    img {
      @include breakpoints.media-breakpoint-up(sm) {
        margin-inline-start: 8px;
      }
    }
  }

  .update-banner {
    display: flex;
    gap: 8px;
  }

  .refresh-message {
    margin: auto;
    font-weight: initial;
    white-space: initial;
    line-height: initial;
    font-size: 1rem;
  }
}

::ng-deep .mat-mdc-menu-panel {
  // For menu items that should be mostly styled like the others, but cannot be clicked
  .pseudo-menu-item {
    padding: 0 16px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87);
  }

  &.help-menu {
    max-width: unset;
  }

  &.user-menu {
    min-width: 10em;
    .user-info {
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .name-and-edit-button {
      display: flex;
      flex-direction: row;
      column-gap: 5px;
      align-items: center;
      color: variables.$purpleLight;
    }
    #user-menu-name {
      line-height: 1.5rem;
      font-weight: bold;
    }
    .install-button {
      display: flex;
      column-gap: 16px;
      align-items: center;
      mat-icon {
        margin: unset;
      }
    }
  }

  &.locale-menu {
    .locale-disabled::after {
      content: ' *';
    }

    .active-locale {
      --mat-menu-item-label-text-weight: 700;
    }

    .mat-mdc-menu-item:not(.active-locale) mat-icon {
      visibility: hidden;
    }

    .mat-mdc-menu-item .mat-mdc-menu-item-text {
      font-family: variables.$languageFonts;
    }
  }
}

.mat-toolbar {
  min-height: initial;
}

.mat-toolbar-row {
  height: 56px;
  padding: 0 6px;
}

.mat-toolbar .toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar .mat-mdc-icon-button {
  margin-inline: 5px;

  &.user-menu-btn {
    padding: 0 !important;

    .install-badge {
      position: absolute;
      left: 3px;
      bottom: 3px;
      font-size: 12px;
      color: variables.$purpleLight;
      background: #fff;
      border-radius: 50%;
      height: 16px;
      width: 16px;
      line-height: 1.4;
    }
  }

  app-avatar {
    display: flex;
    justify-content: center;
  }
}

.offline-indicator {
  position: fixed !important;
  direction: inherit; // needed to override direction: rtl from .material-icons
  font-size: 12px;
  color: white;
  top: 30px;
  left: calc(100% - 35px);
}

.online-status {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.mat-drawer-container {
  width: 100%;
  background: initial;
}

.app-content {
  height: 100%;
}

.nav-spacer {
  flex-grow: 1;
}

.mat-drawer ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  width: 255px;
}

.site-admin {
  position: absolute;
  background: red;
  color: white;
  font-family: monospace;
  padding: 0.3em;
  margin: auto;
  left: 0;
  right: 0;
  width: 100px;
  text-align: center;
  z-index: 10;
}

#sf-logo-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-name-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1em;
  max-width: 20em;
  min-width: 0;
  margin-inline-start: 4px;

  .project-name {
    font-size: 0.8em;
  }

  .project-short-name {
    font-size: 0.6em;
  }

  > * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
