@import '~src/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@angular-mdc/theme/scss/icon-button/mixins';

:host {
  display: flex;
  height: 100vh;
  position: relative;

  > mdc-linear-progress {
    position: absolute;
    z-index: 10;
  }

  > mdc-drawer {
    > mdc-drawer-header {
      padding: 0;

      > .project-select {
        width: 100%;
      }
    }

    .mdc-list-item {
      cursor: pointer;
    }
  }

  > header {
    position: absolute;

    &.overlay-drawer {
      z-index: 7;
    }

    mdc-top-app-bar-title {
      cursor: pointer;
    }

    mdc-top-app-bar-section {
      mdc-menu {
        min-width: 200px;
        a {
          width: 100%;
          color: var(--mdc-theme-text-primary-on-background);
        }
      }
    }

    .mdc-top-app-bar--short-collapsed {
      width: 255px !important;
    }

    .mdc-top-app-bar__row {
      height: 56px;
    }

    .mdc-top-app-bar__section {
      padding: 4px;
    }
  }

  .app-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    > div {
      flex: 1;
      padding: 14px 20px;
      @include media-breakpoint-only(xs) {
        padding: 10px;
      }
      display: flex;
      flex-direction: column;
    }
  }
}

.user-menu-name {
  white-space: nowrap;
}

a {
  text-decoration: none;
}

.checking-unavailable {
  text-align: center;
}

.avatar-icon {
  @include mdc-icon-button-size(32px, 32px, 8px);
}

.locale-menu mdc-list-item {
  justify-content: space-between;
}

.locale-disabled {
  text-decoration: line-through;
  color: gray;
}

.locale-code {
  font-size: 0.9em;
  font-family: monospace;
}

.active-locale {
  font-weight: bold;
}
