<ng-container *transloco="let t; read: 'app'">
  <mdc-linear-progress [class.mdc-linear-progress--closed]="isAppLoading != true"></mdc-linear-progress>
  <header [class.overlay-drawer]="isDrawerPermanent">
    <mdc-top-app-bar #topAppBar [fixed]="true" [scrollTarget]="appContent">
      <mdc-top-app-bar-row>
        <mdc-top-app-bar-section align="start">
          <a *ngIf="!isDrawerPermanent && isProjectSelected" (click)="toggleDrawer()">
            <mdc-icon mdcTopAppBarNavIcon>menu</mdc-icon>
          </a>
          <a (click)="goHome()">
            <mdc-icon mdcTopAppBarNavIcon><img id="nav-logo" src="/assets/images/logo-sf.svg" height="30" /></mdc-icon>
          </a>
          <mdc-top-app-bar-title *ngIf="!topAppBar.isCollapsed()" (click)="goHome()" fxHide.xs>
            Scripture Forge
          </mdc-top-app-bar-title>
        </mdc-top-app-bar-section>
        <mdc-top-app-bar-section align="end" *ngIf="currentUser != null">
          <!-- not in MVP <mdc-icon mdcTopAppBarActionItem title="Notifications">notifications</mdc-icon> -->
          <div [hidden]="!isAppOnline">
            <div mdcMenuSurfaceAnchor #langMenuAnchor *ngIf="i18n.locales.length >= 2">
              <mdc-icon mdcTopAppBarActionItem title="{{ t('language') }}" (click)="langMenu.open = !langMenu.open">
                translate
              </mdc-icon>
              <mdc-menu
                #langMenu
                anchorCorner="bottomStart"
                [anchorElement]="langMenuAnchor"
                [anchorMargin]="{ right: media.isActive('xs') ? -88 : 0 }"
                class="locale-menu"
              >
                <mdc-list>
                  <mdc-list-item
                    *ngFor="let locale of i18n.locales"
                    [class.active-locale]="locale.canonicalTag === i18n.localeCode"
                    (click)="langMenu.open = false; i18n.setLocale(locale.canonicalTag)"
                  >
                    <!-- `langMenu.open = false` is workaround for menu not closing when click is on a span element -->
                    <mdc-icon>check</mdc-icon>
                    <span [class.locale-disabled]="!locale.production">{{ locale.localName }}</span>
                  </mdc-list-item>
                </mdc-list>
              </mdc-menu>
            </div>
          </div>
          <div mdcMenuSurfaceAnchor #helpMenuAnchor>
            <mdc-icon
              id="helpMenuIcon"
              mdcTopAppBarActionItem
              title="{{ t('help') }}"
              (click)="helpMenu.open = !helpMenu.open"
              >help</mdc-icon
            >
            <mdc-menu #helpMenu anchorCorner="bottomStart" [anchorElement]="helpMenuAnchor">
              <mdc-list-group>
                <mdc-list id="help-menu-list">
                  <a mdc-list-item target="_blank" [href]="helpsPage">{{ t("help") }}</a>
                  <a
                    mdc-list-item
                    target="_blank"
                    href="https://community.scripture.software.sil.org/t/scripture-forge-announcements/1776"
                    >{{ t("announcements") }}</a
                  >
                  <a
                    mdc-list-item
                    target="_blank"
                    href="https://community.scripture.software.sil.org/c/scripture-forge/19"
                    >{{ t("community_support") }}</a
                  >
                  <a mdc-list-item target="_blank" [href]="issueMailTo">
                    <mdc-list-item-text
                      >{{ t("report_issue") }}
                      <mdc-list-item-secondary
                        >{{ t("report_issue_email", { email: issueEmail }) }}
                      </mdc-list-item-secondary>
                    </mdc-list-item-text>
                  </a>
                  <a *ngIf="!isBeta && !isLive" mdc-list-item [href]="correspondingBetaUrl">Go to beta site</a>
                  <mdc-list-divider></mdc-list-divider>
                  <div mdcListGroupSubheader class="version">{{ t("product_version", { version: version }) }}</div>
                </mdc-list>
              </mdc-list-group>
            </mdc-menu>
          </div>
          <div mdcMenuSurfaceAnchor #userMenuAnchor>
            <mdc-icon
              class="avatar-icon"
              mdcTopAppBarActionItem
              [title]="currentUser?.displayName"
              (click)="userMenu.open = !userMenu.open"
            >
              <app-avatar id="avatarId" [user]="currentUser" [round]="true" [showOnlineStatus]="true"></app-avatar>
            </mdc-icon>
            <mdc-menu
              #userMenu
              anchorCorner="bottomStart"
              [anchorElement]="userMenuAnchor"
              [defaultFocusState]="defaultFocusState"
            >
              <mdc-list-group>
                <div class="mdc-list-group__subheader">
                  {{ t("logged_in_as") }}
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <strong class="user-menu-name">{{ currentUser?.displayName }}</strong>
                    <button id="edit-name-btn" mdcIconButton icon="edit" type="button" (click)="editName()"></button>
                  </div>
                </div>
                <div>
                  <mdc-list-divider></mdc-list-divider>
                  <mdc-list>
                    <mdc-list-item
                      *ngIf="isSystemAdmin"
                      appRouterLink="/system-administration"
                      [disabled]="!isAppOnline"
                    >
                      {{ t("system_administration") }}
                    </mdc-list-item>
                    <mdc-list-item appRouterLink="/projects">{{ t("project_home") }}</mdc-list-item>
                    <mdc-list-item *ngIf="canChangePassword" (click)="changePassword()" [disabled]="!isAppOnline">
                      {{ t("change_password") }}
                    </mdc-list-item>
                    <mdc-list-item name="logout" (click)="logOut()"> {{ t("log_out") }} </mdc-list-item>
                  </mdc-list>
                </div>
                <mdc-list-divider></mdc-list-divider>
                <div class="online-status">
                  <div *ngIf="isAppOnline" fxLayout="row" fxLayoutAlign="center center">
                    <mdc-icon>cloud</mdc-icon>
                    {{ t("online") }}
                  </div>
                  <div *ngIf="!isAppOnline" fxLayout="row" fxLayoutAlign="center center">
                    <mdc-icon mdcListItemGraphic>cloud_off</mdc-icon>
                    {{ t("offline") }}
                  </div>
                </div>
              </mdc-list-group>
            </mdc-menu>
          </div>
        </mdc-top-app-bar-section>
      </mdc-top-app-bar-row>
      <mdc-top-app-bar-row *ngIf="hasUpdate" class="update-banner">
        <mdc-top-app-bar-section align="start" class="display-behind">
          <span class="refresh-message">{{ t("update_is_available") }}</span>
          <div>
            <button mat-raised-button color="accent" (click)="reloadWithUpdates()">{{ t("refresh") }}</button>
          </div>
        </mdc-top-app-bar-section>
      </mdc-top-app-bar-row>
    </mdc-top-app-bar>
  </header>
  <mdc-drawer
    id="menu-drawer"
    *ngIf="isProjectSelected"
    [drawer]="isDrawerPermanent ? 'permanent' : 'modal'"
    [open]="isExpanded"
    [autoFocus]="false"
    (closed)="drawerCollapsed()"
  >
    <mdc-drawer-header>
      <div [class.mdc-top-app-bar-adjust]="isDrawerPermanent"></div>
      <mdc-select *ngIf="projectDocs != null" class="project-select" (valueChange)="projectChanged($event.value)">
        <mdc-menu>
          <mdc-list>
            <mdc-list-item *ngFor="let projectDoc of projectDocs" [value]="projectDoc.id">{{
              projectLabel(projectDoc.data)
            }}</mdc-list-item>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list-item value="*connect-project*" [class.list-item-disabled]="!isAppOnline">
              <mdc-icon mdcListItemGraphic>add</mdc-icon>
              {{ t("connect_project") }}
            </mdc-list-item>
          </mdc-list>
        </mdc-menu>
      </mdc-select>
    </mdc-drawer-header>
    <mdc-drawer-content>
      <mdc-list id="menu-list">
        <mdc-list-item
          class="translate-nav-item"
          *ngIf="isTranslateEnabled"
          (selectionChange)="translateVisible = !translateVisible"
        >
          <mdc-icon svgIcon="translate"></mdc-icon>
          {{ t("translate") }}
          <mdc-icon *ngIf="!hasSingleAppEnabled" mdcListItemMeta>
            keyboard_arrow_{{ translateVisible ? "down" : "right" }}
          </mdc-icon>
        </mdc-list-item>
        <div *ngIf="isTranslateEnabled && (translateVisible || hasSingleAppEnabled)">
          <mdc-list-item [appRouterLink]="getRouterLink('translate')" (selectionChange)="itemSelected()">
            <mdc-icon mdcListItemGraphic>apps</mdc-icon>
            {{ t("overview") }}
          </mdc-list-item>
          <mdc-list-item
            *ngFor="let text of texts"
            [appRouterLink]="getRouterLink('translate', getBookId(text))"
            (selectionChange)="itemSelected()"
          >
            <mdc-icon mdcListItemGraphic>book</mdc-icon>
            {{ getBookName(text) }}
          </mdc-list-item>
        </div>
        <mdc-list-divider *ngIf="isTranslateEnabled"></mdc-list-divider>
        <mdc-list-item
          class="community-checking-nav-item"
          *ngIf="isCheckingEnabled"
          (selectionChange)="checkingVisible = !checkingVisible"
        >
          <mdc-icon mdcListItemGraphic>question_answer</mdc-icon>
          {{ t("community_checking") }}
          <mdc-icon *ngIf="!hasSingleAppEnabled" mdcListItemMeta>
            keyboard_arrow_{{ checkingVisible ? "down" : "right" }}
          </mdc-icon>
        </mdc-list-item>
        <div *ngIf="isCheckingEnabled && (checkingVisible || hasSingleAppEnabled)">
          <mdc-list-item [appRouterLink]="getRouterLink('checking')" (selectionChange)="itemSelected()">
            <mdc-icon mdcListItemGraphic>apps</mdc-icon>
            {{ t("overview") }}
          </mdc-list-item>
          <mdc-list-item
            *ngIf="showAllQuestions"
            [appRouterLink]="getRouterLink('checking', 'ALL')"
            (selectionChange)="itemSelected()"
          >
            <mdc-icon mdcListItemGraphic>bookmarks</mdc-icon>
            {{ t("all_questions") }}
          </mdc-list-item>
          <ng-container *ngFor="let text of texts">
            <mdc-list-item
              *ngIf="hasQuestions(text)"
              [appRouterLink]="getRouterLink('checking', getBookId(text))"
              (selectionChange)="itemSelected()"
            >
              <mdc-icon mdcListItemGraphic>book</mdc-icon>
              {{ getBookName(text) }}
            </mdc-list-item>
          </ng-container>
        </div>
        <div *ngIf="canSync$ | async">
          <mdc-list-divider *ngIf="isCheckingEnabled"></mdc-list-divider>
          <mdc-list-item
            [appRouterLink]="getRouterLink('sync')"
            [class.list-item-disabled]="!isAppOnline"
            (selectionChange)="itemSelected()"
          >
            <mdc-icon mdcListItemGraphic>sync</mdc-icon>
            {{ t("synchronize") }}
          </mdc-list-item>
        </div>
        <div *ngIf="canSeeSettings$ | async">
          <mdc-list-item
            [appRouterLink]="getRouterLink('settings')"
            [class.list-item-disabled]="!isAppOnline"
            (selectionChange)="itemSelected()"
          >
            <mdc-icon mdcListItemGraphic>settings</mdc-icon>
            {{ t("settings") }}
          </mdc-list-item>
        </div>
        <div *ngIf="canSeeUsers$ | async">
          <mdc-list-item
            [appRouterLink]="getRouterLink('users')"
            [class.list-item-disabled]="!isAppOnline"
            (selectionChange)="itemSelected()"
          >
            <mdc-icon mdcListItemGraphic>people</mdc-icon>
            {{ t("users") }}
          </mdc-list-item>
        </div>
      </mdc-list>
    </mdc-drawer-content>
  </mdc-drawer>
  <!-- The cdkScrollable attribute is needed so the CDK can listen to scroll events within this container -->
  <div
    #appContent
    cdkScrollable
    class="app-content mdc-top-app-bar-adjust"
    [class.mdc-top-app-bar-adjust-double]="hasUpdate"
  >
    <div>
      <router-outlet></router-outlet>
      <p *ngIf="showCheckingDisabled" class="checking-unavailable">{{ t("scripture_checking_not_available") }}</p>
    </div>
  </div>
</ng-container>
