@use '@material/icon-button/mixins' as icon-button;
@use '@material/typography/mixins' as typography;
@use '@material/top-app-bar/variables' as top-app-bar;

@import 'bootstrap/scss/mixins/breakpoints';

@import 'src/variables';

:host {
  display: flex;
  height: 100vh;
  position: relative;

  > mat-progress-bar {
    position: absolute;
    z-index: 10;
  }

  > mdc-drawer {
    > mdc-drawer-header {
      padding: 0;

      > .project-select {
        ::ng-deep .mdc-select__anchor {
          width: 100%;
        }

        .mdc-list-item {
          // Fix overflow in Firefox when a project name uses the Khmer script. As of 2022-11-11, the DBL resource
          // KHSV05 is one example that will cause overflow, which looks particularly bad in RTL mode because it
          // overflows to the left in a menu that is layed out in LTR.
          overflow-wrap: anywhere;

          // Override styles spilling from mdc-drawer to mdc-select (both mdc-drawer and mdc-select can contain
          // mdc-list-item and it appears the styles applied for the drawer's list items are now styling the select menu).
          @include typography.typography(subtitle1);
          margin: 0;
          border-radius: 0;
          padding: 0 16px;
          height: unset;
          min-height: 48px;
        }
      }
    }
  }

  > header {
    position: absolute;

    &.overlay-drawer {
      z-index: 7;
    }

    mdc-top-app-bar-title {
      cursor: pointer;
    }

    mdc-top-app-bar-section {
      mdc-menu {
        min-width: 200px;
        text-align: start; // Needed for some menu items in Chrome but not Firefox
        a {
          width: 100%;
          color: var(--mdc-theme-text-primary-on-background);
        }
        .version {
          color: var(--mdc-theme-text-secondary-on-background);
        }
      }
      &.display-behind {
        z-index: 0;
      }
    }

    .mdc-top-app-bar--short-collapsed {
      width: 255px !important;
    }

    .mdc-top-app-bar__row {
      height: 56px;
    }

    .mdc-top-app-bar__section {
      padding: 4px;
      .refresh-message {
        margin: auto;
        padding: 0px 8px;
      }
      .mat-raised-button {
        margin-right: 8px;
      }
    }
  }

  .mdc-top-app-bar-adjust {
    margin-top: top-app-bar.$mobile-row-height;
  }

  .mdc-top-app-bar-adjust-double {
    margin-top: top-app-bar.$mobile-row-height * 2;
  }

  .app-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    > div {
      flex: 1;
      padding: 14px 20px;
      @include media-breakpoint-only(xs) {
        padding: 10px;
      }
      display: flex;
      flex-direction: column;
    }
  }
}

.user-menu-name {
  white-space: nowrap;
  color: $purpleLight;
}
#edit-name-btn {
  color: $purpleLight;
}

a {
  text-decoration: none;
}

.checking-unavailable {
  text-align: center;
}

.avatar-icon {
  @include icon-button.icon-size(32px, 32px, 8px);
}

.locale-disabled::after {
  content: ' *';
}

.active-locale {
  font-weight: bold;
}

.locale-menu {
  mdc-list-item:not(.active-locale) mdc-icon {
    visibility: hidden;
  }
}

.locale-menu .mdc-list-item {
  white-space: nowrap;
  font-family: $languageFonts;
  column-gap: 0.5em;
}

.online-status {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

:host,
.mdc-menu {
  .mdc-list-item.list-item-disabled {
    &,
    mdc-icon {
      color: var(--mdc-theme-text-disabled-on-background);
      fill: var(--mdc-theme-text-disabled-on-background);
    }
  }
}

.translate-icon {
  width: 24px;
  height: 24px;
}

mat-nav-list .mat-list-item {
  height: 48px;
  font-weight: 500;
  font-size: 14px;

  mat-icon,
  mdc-icon {
    color: $purpleMedium;
    fill: $purpleMedium;
    transition: color 0.15s;
    padding: 0;
  }
  &.activated-nav-item,
  &:hover {
    mat-icon,
    mdc-icon {
      color: $purpleLight;
      fill: $purpleLight;
    }
  }

  mat-icon:last-child {
    margin-left: auto;
  }

  ::ng-deep .mat-list-item-content {
    column-gap: 16px;
    padding-inline-end: 8px;
  }
  &.activated-nav-item mat-icon {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.mat-list-item.activated-nav-item {
  background-color: #e7e8e7;
}

mdc-drawer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tools-menu-list,
#admin-pages-menu-list {
  padding-top: 0;
}

#tools-menu-list {
  overflow-y: auto;
}

.sync-in-progress {
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

::ng-deep #sync-icon .mat-badge-content {
  font-family: 'Material Icons';
  background: transparent;
  color: var(--mdc-theme-error);
  font-weight: normal;
  font-size: 1.4rem;
}

.fix-rtl-arrow-placement {
  margin-left: initial !important;
  margin-right: auto;
}
