<ng-container *transloco="let t; read: 'app'">
  <mat-progress-bar
    [mode]="featureFlags.stillness.enabled ? 'determinate' : 'indeterminate'"
    color="accent"
    [class.mat-progress-bar--closed]="isAppLoading !== true"
  ></mat-progress-bar>
  <header [class.overlay-drawer]="!isDrawerPermanent" [dir]="i18n.direction">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button *ngIf="!isDrawerPermanent && isProjectSelected" (click)="toggleDrawer()">
          <mat-icon>menu</mat-icon>
        </button>
        <span (click)="goHome()" class="title">
          <button mat-icon-button>
            <img id="nav-logo" src="/assets/images/logo-sf.svg" height="24" />
          </button>
          <span fxHide.xs>{{ appName }}</span>
        </span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button title="{{ t('language') }}" [matMenuTriggerFor]="localeMenu" *ngIf="isAppOnline">
          <mat-icon>translate</mat-icon>
        </button>
        <mat-menu #localeMenu="matMenu" class="locale-menu">
          <button
            mat-menu-item
            *ngFor="let locale of i18n.locales"
            [class.active-locale]="locale.canonicalTag === i18n.localeCode"
            (click)="setLocale(locale.canonicalTag)"
          >
            <mat-icon>check</mat-icon>
            <span [class.locale-disabled]="!locale.production">{{ locale.localName }}</span>
          </button>
        </mat-menu>

        <button mat-icon-button title="{{ t('help') }}" [matMenuTriggerFor]="helpMenu">
          <mat-icon>help</mat-icon>
        </button>
        <mat-menu #helpMenu="matMenu" class="help-menu">
          <a mat-menu-item target="_blank" [href]="urls.helps">{{ t("help") }}</a>
          <a mat-menu-item target="_blank" [href]="urls.manual">{{ t("manual") }}</a>
          <a mat-menu-item target="_blank" [href]="urls.communityAnnouncementPage">{{ t("announcements") }}</a>
          <a mat-menu-item target="_blank" [href]="urls.communitySupport">{{ t("community_support") }}</a>
          <a mat-menu-item target="_blank" [href]="issueMailTo" class="report-issue">
            {{ t("report_issue") }}
            <span class="mat-hint">{{ t("report_issue_email", { email: issueEmail }) }}</span>
          </a>
          <a mat-menu-item target="_blank" href="/3rdpartylicenses.txt">{{ t("open_source_licenses") }}</a>
          <button
            *ngIf="versionNumberClickCount >= 7 || featureFlags.showFeatureFlags.enabled"
            mat-menu-item
            (click)="openFeatureFlagDialog()"
          >
            Feature flags
          </button>
          <mat-divider></mat-divider>
          <div
            mat-menu-item
            disabled="true"
            (click)="versionNumberClickCount = versionNumberClickCount + 1"
            id="version-number"
          >
            {{ t("product_version", { version: version + this.featureFlags.versionSuffix }) }}
          </div>
        </mat-menu>

        <button mat-icon-button title="{{ currentUser?.displayName }}" [matMenuTriggerFor]="userMenu">
          <app-avatar id="avatarId" [user]="currentUser" [round]="true" [showOnlineStatus]="true"></app-avatar>
        </button>
        <mat-menu #userMenu="matMenu" class="user-menu">
          <div class="pseudo-menu-item user-info">
            <div>{{ t("logged_in_as") }}</div>
            <div class="name-and-edit-button">
              <div id="user-menu-name">{{ currentUser?.displayName }}</div>
              <button mat-icon-button (click)="editName()" id="edit-name-btn">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item *ngIf="isSystemAdmin" [disabled]="!isAppOnline" appRouterLink="/system-administration">
            {{ t("system_administration") }}
          </button>
          <button mat-menu-item appRouterLink="/projects" id="project-home-link">{{ t("project_home") }}</button>
          <button mat-menu-item *ngIf="canChangePassword" (click)="changePassword()" [disabled]="!isAppOnline">
            {{ t("change_password") }}
          </button>
          <button mat-menu-item (click)="logOut()" id="log-out-link">{{ t("log_out") }}</button>
          <mat-divider></mat-divider>
          <div class="pseudo-menu-item online-status">
            <ng-container *ngIf="isAppOnline"><mat-icon>cloud</mat-icon> {{ t("online") }}</ng-container>
            <ng-container *ngIf="!isAppOnline"><mat-icon>cloud_off</mat-icon> {{ t("offline") }}</ng-container>
          </div>
        </mat-menu>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="hasUpdate" class="update-banner">
        <span class="refresh-message">{{ t("update_is_available") }}</span>
        <button mat-raised-button color="accent" (click)="reloadWithUpdates()">{{ t("refresh") }}</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <mat-drawer-container class="top-app-bar-adjust" [class.top-app-bar-adjust-double]="hasUpdate" [dir]="i18n.direction">
    <mat-drawer
      #drawer
      id="menu-drawer"
      [mode]="isDrawerPermanent ? 'side' : 'over'"
      *ngIf="isProjectSelected"
      [opened]="isExpanded || isDrawerPermanent"
      (closed)="drawerCollapsed()"
    >
      <app-navigation-project-selector
        [projectDocs]="projectDocs"
        [selected]="selectedProjectDoc"
        (changed)="projectChanged($event)"
      ></app-navigation-project-selector>
      <mat-nav-list id="tools-menu-list">
        <a
          mat-list-item
          class="translate-nav-item"
          *ngIf="isTranslateEnabled"
          (click)="translateVisible = !translateVisible"
        >
          <svg class="translate-icon">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 23.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 348.3 360.1"
              style="enable-background: new 0 0 348.3 360.1"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M332.7,155L332.7,155h-24.2L240,104.5V155h-41.6V15.7c0-8.7-7-15.7-15.7-15.7l0,0h-167C7,0,0,7,0,15.7v173.6
		C0,198,7,205,15.7,205h26l67.8,50v-50H150v139.3c0,8.7,7,15.7,15.7,15.7h167c8.7,0,15.7-7,15.7-15.7l0,0V170.7
		C348.4,162,341.4,155,332.7,155z M157.8,70.5h-19.4c0.1,7.1-2,26.6-25.1,48.8l-2.5,2.1l0.9,0.7c11.4,8.9,24,16.1,37.4,21.4
		l-8.5,11.2c-17.4-7.6-31.1-15.5-41.9-23.4c-10.8,7.8-24.5,15.8-42,23.4l-8.4-11.2c13.4-5.4,26-12.6,37.4-21.4l0.8-0.7
		c-1-0.9-1.8-1.6-2.3-2.2c-15.3-14.7-21.4-28.3-23.7-37.8h17.9c5.1,10.8,12,20.7,20.5,29.1c10.4-10.5,19.8-22.8,24.6-39.1H40.1v-15
		h53.3v-14h14v14h50.5v14.1H157.8z M289.3,311.3l-12.7-34.1H232l-13.7,34.1h-13.1l39.4-107.7H263l42,107.7H289.3z"
                />
                <polygon class="st1" points="236.2,265 270.7,265 254.1,220.3 	" />
              </g>
            </svg>
          </svg>
          {{ t("translate") }}
          <mat-icon *ngIf="!hasSingleAppEnabled" [class.fix-rtl-arrow-placement]="i18n.isRtl">
            keyboard_arrow_{{ translateVisible ? "down" : i18n.forwardDirectionWord }}
          </mat-icon>
        </a>
        <div *ngIf="isTranslateEnabled && (translateVisible || hasSingleAppEnabled)">
          <a mat-list-item [appRouterLink]="getRouterLink('translate')" (click)="itemSelected()">
            <mat-icon matListIcon>apps</mat-icon>
            {{ t("overview") }}
          </a>
          <a
            *ngIf="featureFlags.showNmtDrafting.enabled && (canSeeNmtDrafts$ | async)"
            mat-list-item
            [appRouterLink]="getRouterLink('draft-generation')"
            (click)="itemSelected()"
          >
            <mat-icon mat-list-icon>edit_note</mat-icon>
            Generate draft <span class="nav-label">beta</span>
          </a>
          <a
            mat-list-item
            *ngFor="let text of texts"
            [appRouterLink]="getRouterLink('translate', getBookId(text))"
            (click)="itemSelected()"
          >
            <mat-icon matListIcon class="mirror-rtl">book</mat-icon>
            {{ getBookName(text) }}
          </a>
        </div>
        <mat-divider *ngIf="isCheckingEnabled && isTranslateEnabled"></mat-divider>
        <a
          mat-list-item
          class="community-checking-nav-item"
          *ngIf="isCheckingEnabled"
          (click)="checkingVisible = !checkingVisible"
        >
          <mat-icon mat-list-icon class="mirror-rtl">question_answer</mat-icon>
          {{ t("community_checking") }}
          <mat-icon *ngIf="!hasSingleAppEnabled" [class.fix-rtl-arrow-placement]="i18n.isRtl">
            keyboard_arrow_{{ checkingVisible ? "down" : i18n.forwardDirectionWord }}
          </mat-icon>
        </a>
        <div *ngIf="isCheckingEnabled && (checkingVisible || hasSingleAppEnabled)">
          <a mat-list-item [appRouterLink]="getRouterLink('checking')" (click)="itemSelected()">
            <mat-icon mat-list-icon>apps</mat-icon>
            {{ t("overview") }}
          </a>
          <a
            mat-list-item
            *ngIf="showAllQuestions"
            [appRouterLink]="getRouterLink('checking', 'ALL')"
            (click)="itemSelected()"
          >
            <mat-icon mat-list-icon class="mirror-rtl">bookmarks</mat-icon>
            {{ t("all_questions") }}
          </a>
          <ng-container *ngFor="let text of texts">
            <a
              mat-list-item
              *ngIf="hasQuestions(text)"
              [appRouterLink]="getRouterLink('checking', getBookId(text))"
              (click)="itemSelected()"
            >
              <mat-icon mat-list-icon class="mirror-rtl">book</mat-icon>
              {{ getBookName(text) }}
            </a>
          </ng-container>
        </div>
      </mat-nav-list>
      <div class="nav-spacer"></div>
      <mat-nav-list id="admin-pages-menu-list" *ngIf="canSeeAdminPages$ | async">
        <mat-divider></mat-divider>
        <div *ngIf="canSync$ | async">
          <a
            mat-list-item
            [appRouterLink]="getRouterLink('sync')"
            [class.list-item-disabled]="!isAppOnline"
            (click)="itemSelected()"
          >
            <mat-icon
              mat-list-icon
              matBadge="error"
              [matBadgeHidden]="!lastSyncFailed"
              [class.sync-in-progress]="syncInProgress && !featureFlags.stillness.enabled"
              id="sync-icon"
              >sync</mat-icon
            >
            {{ t("synchronize") }}
          </a>
        </div>
        <div *ngIf="canSeeUsers$ | async">
          <a
            mat-list-item
            [appRouterLink]="getRouterLink('users')"
            [class.list-item-disabled]="!isAppOnline"
            (click)="itemSelected()"
          >
            <mat-icon mat-list-icon class="mirror-rtl">people</mat-icon>
            {{ t("users") }}
          </a>
        </div>
        <div *ngIf="canSeeSettings$ | async">
          <a
            mat-list-item
            [appRouterLink]="getRouterLink('settings')"
            [class.list-item-disabled]="!isAppOnline"
            (click)="itemSelected()"
          >
            <mat-icon mat-list-icon>settings</mat-icon>
            {{ t("settings") }}
          </a>
        </div>
      </mat-nav-list>
    </mat-drawer>
    <!-- The cdkScrollable attribute is needed so the CDK can listen to scroll events within this container -->
    <div #appContent cdkScrollable class="app-content" [dir]="i18n.direction">
      <div>
        <router-outlet></router-outlet>
        <p *ngIf="showCheckingDisabled" class="checking-unavailable">{{ t("scripture_checking_not_available") }}</p>
      </div>
    </div>
  </mat-drawer-container>
</ng-container>
