@import '~src/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@angular-mdc/theme/scss/icon-button/mixins';
@import '~@material/top-app-bar/_variables.scss';

:host {
  display: flex;
  height: 100vh;
  position: relative;

  > mdc-linear-progress {
    position: absolute;
    z-index: 10;
  }

  > mdc-drawer {
    > mdc-drawer-header {
      padding: 0;

      > .project-select {
        width: 100%;
      }
    }
  }

  .mdc-list-item {
    cursor: pointer;
    &:hover,
    &.mdc-list-item--activated {
      mdc-icon {
        color: $purpleLight;
        fill: $purpleLight;
      }
    }
    mdc-icon {
      color: $purpleMedium;
      fill: $purpleMedium;
      transition: color 0.15s;
    }
    mdc-icon:first-child {
      margin-right: 24px;
      &.ngx-mdc-icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  > header {
    position: absolute;

    &.overlay-drawer {
      z-index: 7;
    }

    mdc-top-app-bar-title {
      cursor: pointer;
    }

    mdc-top-app-bar-section {
      mdc-menu {
        min-width: 200px;
        a {
          width: 100%;
          color: var(--mdc-theme-text-primary-on-background);
        }
      }
    }

    .mdc-top-app-bar--short-collapsed {
      width: 255px !important;
    }

    .mdc-top-app-bar__row {
      height: 56px;
    }

    .mdc-top-app-bar__section {
      padding: 4px;
    }
  }

  .mdc-top-app-bar-adjust {
    margin-top: $mdc-top-app-bar-mobile-row-height;
  }

  .app-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    > div {
      flex: 1;
      padding: 14px 20px;
      @include media-breakpoint-only(xs) {
        padding: 10px;
      }
      display: flex;
      flex-direction: column;
    }
  }
}

.user-menu-name {
  white-space: nowrap;
  color: $purpleLight;
}
#edit-name-btn {
  color: $purpleLight;
}

a {
  text-decoration: none;
}

.checking-unavailable {
  text-align: center;
}

.avatar-icon {
  @include mdc-icon-button-size(32px, 32px, 8px);
}

.locale-disabled::after {
  content: ' *';
}

.active-locale {
  font-weight: bold;
}

.locale-menu {
  mdc-list-item:not(.active-locale) mdc-icon {
    visibility: hidden;
  }
  mdc-icon {
    margin-right: 0.5em;
  }
}

.locale-menu .mdc-list-item {
  white-space: nowrap;
  font-family: language_picker;
}

.online-status {
  padding-bottom: 8px;
  mdc-icon {
    margin-right: 10px;
  }
}

:host,
.mdc-menu {
  .mdc-list-item.list-item-disabled {
    &,
    mdc-icon {
      color: var(--mdc-theme-text-disabled-on-background);
      fill: var(--mdc-theme-text-disabled-on-background);
    }
  }
}
