<ng-container *transloco="let t; read: 'training_data_multi_select'">
  <mat-list class="training-data-multi-select" hideSingleSelectionIndicator>
    @for (trainingData of availableTrainingData; track trainingData.dataId) {
      <mat-list-item>
        <!-- Tooltip shows full name of file since longer titles will be truncated. This can probably be removed if/when
             we add the ability to click a file and open a dialog to see the data, along with the full title -->
        <span [matTooltip]="trainingData.title">{{ trainingData.title }}</span>
        @if (canDeleteTrainingData(trainingData)) {
          <button matListItemMeta mat-icon-button (click)="deleteTrainingData(trainingData)">
            <mat-icon [matTooltip]="t('delete')">cancel</mat-icon>
          </button>
        }
      </mat-list-item>
    }
  </mat-list>
  <button mat-flat-button (click)="openUploadDialog()" color="primary">
    <mat-icon>file_upload</mat-icon>
    {{ t("upload_spreadsheet") }}
  </button>
</ng-container>
