<ng-container *transloco="let t; read: 'training_data_multi_select'">
  <div class="flex-row">
    @for (trainingData of trainingDataOptions; track trainingData) {
      <mat-chip-listbox
        class="training-data-multi-select"
        hideSingleSelectionIndicator
        (change)="onChipListChange(trainingData)"
      >
        <mat-chip-option [value]="trainingData.value" [selected]="trainingData.selected">
          {{ trainingData.value.title }}
          @if (canDeleteTrainingData(trainingData.value)) {
            <button matChipRemove (click)="deleteTrainingData(trainingData.value)">
              <mat-icon>cancel</mat-icon>
            </button>
          }
        </mat-chip-option>
      </mat-chip-listbox>
    }
    <button mat-flat-button (click)="openUploadDialog()" color="primary">
      <mat-icon matChipAvatar>file_upload</mat-icon>
      {{ t("upload_spreadsheet") }}
    </button>
    <app-info [text]="t('file_information', { sourceLanguage, targetLanguage })"></app-info>
  </div>
</ng-container>
