<ng-container *transloco="let t; read: 'training_data_multi_select'">
  <mat-chip-listbox [multiple]="true" class="training-data-multi-select" (change)="onChipListChange($event)">
    <mat-chip-option
      *ngFor="let trainingData of trainingDataOptions"
      [value]="trainingData.value"
      [selected]="trainingData.selected"
    >
      {{ trainingData.value.title }}
      <button
        *ngIf="canDeleteTrainingData(trainingData.value)"
        matChipRemove
        (click)="deleteTrainingData(trainingData.value)"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-option>
    <button mat-flat-button (click)="openUploadDialog()" color="accent">
      <mat-icon matChipAvatar>file_upload</mat-icon>
      {{ t("upload_csv") }}
    </button>
  </mat-chip-listbox>
</ng-container>
