<h2 mat-dialog-title>{{ data.isEdit ? "Edit Help Video" : "Add Help Video" }}</h2>
<mat-dialog-content>
  <form [formGroup]="helpVideoForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>URL</mat-label>
      <input matInput formControlName="url" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="helpVideoForm.value" [disabled]="!helpVideoForm.valid">
    {{ data.isEdit ? "Save" : "Add" }}
  </button>
</mat-dialog-actions>
