@use '@material/icon-button/mixins' as icon-button;
@use '@material/select/mixins' as select;

:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mdc-icon-button {
  @include icon-button.icon-size(24px, 24px, 8px);
}

// Unfortunately, using Sass mixins to style the select was not successful at the current version of @angular-mdc/web
// (5.1.1) and @angular/material (9.2.4). Consider reviewing this after upgrading dependencies.
.chapter-select {
  ::ng-deep {
    &,
    .mdc-select__anchor,
    .mdc-select__selected-text {
      height: 40px;
    }

    .mdc-select__anchor {
      background-color: transparent;
    }

    .mdc-line-ripple {
      display: none;
    }

    .mdc-select__selected-text {
      min-width: 140px;
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      padding-inline-start: 8px !important;
      padding-inline-end: 2em !important;
    }

    .mdc-select__dropdown-icon {
      bottom: 8px;
    }
  }
}

mdc-select mdc-list-item {
  white-space: nowrap;
}
