<ng-container *transloco="let t; read: 'error'">
  <h2 mat-dialog-title>{{ t("error_occurred") }}</h2>
  <mat-dialog-content>
    <p>{{ data.message }}</p>
    <p [innerHTML]="t('to_report_issue_email', { issueEmailLink: issueEmailLink })"></p>
    @if (browserUnsupported) {
      <p class="unsupported-browser" [innerHTML]="t('unsupported_browser', browserLinks)"></p>
    }
    <p>
      @for (portion of i18n.interpolateVariables("error.error_id", { errorId: data.eventId }); track portion.text) {
        @if (portion.id == null) {
          {{ portion.text }}
        }
        @if (portion.id === "errorId") {
          <span class="error-id">{{ portion.text }}</span>
        }
      }
    </p>

    @if (data.stack) {
      <a (click)="showDetails = !showDetails">{{ showDetails ? t("hide_details") : t("show_details") }}</a>
      @if (showDetails) {
        <pre dir="ltr">{{ data.stack }}</pre>
      }
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="primary" cdkFocusRegionStart>{{ t("close") }}</button>
  </mat-dialog-actions>
</ng-container>
