.multi-viewer-container {
  display: flex;
}

.app-avatar-container {
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -8px;
  height: 36px;
  width: 36px;
}

.app-avatar-container > button {
  height: 32px;
  width: 32px;
}

.mat-mdc-mini-fab {
  background-color: #eaeaea;
}

app-avatar {
  cursor: pointer;
}

.other-viewer ::ng-deep span {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
