<div class="multi-viewer-container">
  @for (viewer of avatarViewers; track viewer) {
    <div class="app-avatar-container" [title]="viewer.displayName">
      <app-avatar
        [user]="viewer"
        [size]="32"
        [borderColor]="viewer.cursorColor"
        (click)="clickAvatar(viewer)"
      ></app-avatar>
    </div>
  }
  @if (viewers.length > maxAvatars) {
    <div class="app-avatar-container">
      <button
        mat-mini-fab
        [matMenuTriggerFor]="menu"
        class="mat-elevation-z"
        [title]="otherViewersLabel"
        (click)="toggleMenu()"
      >
        @if (!isMenuOpen) {
          <span>
            @if (maxAvatars > 1) {
              <span>+</span>
            }
            {{ viewers.length - maxAvatars + 1 }}</span
          >
        } @else {
          <mat-icon>arrow_drop_up</mat-icon>
        }
      </button>
      <mat-menu #menu="matMenu" (closed)="closeMenu()">
        <button mat-menu-item disabled>{{ otherViewersLabel }}</button>
        @for (viewer of viewers; track viewer) {
          <button mat-menu-item class="other-viewer" (click)="closeMenu(); clickAvatar(viewer)">
            <app-avatar [user]="viewer" [size]="32" [borderColor]="viewer.cursorColor"></app-avatar>
            <span>{{ viewer.displayName }}</span>
          </button>
        }
      </mat-menu>
    </div>
  }
</div>
