<ng-container *transloco="let t; read: 'chapter_audio_dialog'">
  <h2 mat-dialog-title>{{ bookName(book) }} {{ chapter }} {{ t("audio") }}</h2>
  <mat-dialog-content class="mat-typography">
    @if (allFieldsValid) {
      <div class="audio-player-manage-container">
        <div class="audio-player-manage">
          <app-checking-scripture-audio-player
            [canClose]="false"
            [source]="audio!.url"
            [timing]="timing_processed"
            [textDocId]="textDocId"
            [showSegment]="true"
          />
        </div>

        <button mat-button class="delete-audio" [matMenuTriggerFor]="menu">
          <mat-icon>delete</mat-icon> {{ t("delete") }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteAudioData()">{{ t("delete_audio") }}</button>
          <button mat-menu-item (click)="deleteTimingData()">{{ t("delete_timing") }}</button>
          <button mat-menu-item (click)="deleteAudioData(); deleteTimingData()">{{ t("delete_both") }}</button>
        </mat-menu>
      </div>
    } @else {
      <div class="dropzone" #dropzone>
        <input type="file" multiple #fileDropzone accept=".csv,.tsv,.txt,audio/*" (change)="uploadedFiles($event)" />
        <label>{{ t("drag_and_drop_files") }}<br />- {{ t("drag_and_drop_or_browse") }} -</label>
        <button mat-flat-button color="primary" type="submit">{{ t("browse_files") }}</button>
      </div>
      <div class="data-blocks">
        <div class="wrapper wrapper-audio" [ngClass]="{ valid: isAudioUploaded, invalid: isAudioInvalid }">
          @if (isAudioUploaded) {
            <app-single-button-audio-player
              #chapterAudio
              id="chapterAudio"
              [source]="audioBlob"
              (click)="chapterAudio.playing ? chapterAudio.stop() : chapterAudio.play()"
            >
              <mat-icon>{{ chapterAudio.playing ? "stop" : "play_arrow" }}</mat-icon>
            </app-single-button-audio-player>
            @if (isAudioUploaded && !hasAudioDataError) {
              <span>{{ audioFilename }}</span>
            }
            @if (isAudioUploaded) {
              <mat-icon (click)="deleteAudioData()" class="delete">delete</mat-icon>
            }
          } @else {
            <mat-icon>play_disabled</mat-icon>
            @if (!hasAudioDataError) {
              <span>{{ t("no_audio_file_uploaded") }}</span>
            } @else {
              <span>{{ t(audioErrorMessageKey) }}</span>
            }
          }
        </div>
        <div class="wrapper wrapper-timing" [ngClass]="{ valid: isTimingUploaded, invalid: hasTimingDataError }">
          <mat-icon class="material-icons-outlined">timer</mat-icon>
          @if (isTimingUploaded && !hasTimingDataError) {
            <span>
              {{ t("segments_found", { segments: numberOfTimingSegments }) }}
            </span>
          }
          @if (!isTimingUploaded && !hasTimingDataError) {
            <span>{{ t("no_timing_data_uploaded") }}</span>
          }
          @if (hasTimingDataError) {
            <span>{{ t(timingErrorMessageKey) }}</span>
          }
          @if (isTimingUploaded && !hasTimingDataError) {
            <mat-icon (click)="deleteTimingData()" class="delete">delete</mat-icon>
          }
        </div>
      </div>
    }

    @if (!isOnline) {
      <app-notice id="offline-error" type="error" icon="cloud_off">
        {{ t("not_upload_audio_offline") }}
      </app-notice>
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    <a mat-button [href]="externalUrlService.chapterAudioHelpPage" target="_blank">
      <mat-icon>help</mat-icon> {{ t("help") }}
    </a>
    <span class="flex-spacer"></span>
    @if (isLoadingAudio) {
      <div class="uploading">
        <span>{{ t("uploading") }}</span>
        <mat-spinner diameter="24"></mat-spinner>
      </div>
    }
    <button mat-button [mat-dialog-close]="'close'" type="button" id="audio-cancel-btn">
      {{ t("cancel") }}
    </button>
    <button mat-flat-button color="primary" type="submit" (click)="save()" id="audio-save-btn" [disabled]="!isOnline">
      {{ t("save") }}
    </button>
  </mat-dialog-actions>
</ng-container>
