<ng-container *transloco="let t; read: 'checking_audio_dialog'">
  <h2 mat-dialog-title>Chapter Audio</h2>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <app-book-chapter-chooser
        [books]="books"
        [(book)]="book"
        [(chapter)]="chapter"
        [chapters]="chapters"
      ></app-book-chapter-chooser>
      <app-info *ngIf="selectionHasAudioAlready" [text]="t('audio_already_exists')"></app-info>
    </div>
    <div>
      <app-checking-audio-combined
        [enableRecorder]="false"
        (update)="audioUpdate($event)"
      ></app-checking-audio-combined>
      <div class="auto-size-button">
        <button
          mat-button
          ngfSelect
          type="button"
          (fileChange)="prepareTimingFileUpload($event)"
          accept=".csv,.tsv,.txt"
        >
          <mat-icon>cloud_upload</mat-icon>
          <span fxShow fxHide.lt-sm>{{ t("upload_timing_file") }}</span> <span fxHide fxShow.xs>{{ t("upload") }}</span>
        </button>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="'close'" type="button" id="audio-cancel-btn">
      {{ t("cancel") }}
    </button>
    <button mat-flat-button color="primary" type="submit" (click)="save()" id="audio-save-btn">
      {{ t("save") }}
    </button>
  </mat-dialog-actions>
</ng-container>
