@use 'src/variables';

@mixin wrapperState($borderColor, $textColor) {
  border-color: $borderColor;
  color: $textColor;

  .divider {
    border-color: $borderColor;
  }

  mat-icon {
    color: $borderColor;
  }

  .delete {
    color: variables.$border-color;
    cursor: pointer;

    &:hover {
      color: $textColor;
    }
  }
}

.mat-mdc-dialog-content {
  .warning {
    font-size: 21px;
    margin-inline-end: unset;
    color: var(--sf-chapter-audio-dialog-content-warning);
    position: absolute;
    top: 0;
    right: 0;
  }

  .audio-player-manage {
    padding: 12px;
    background-color: var(--sf-chapter-audio-dialog-audio-player-manage-background-color);
    border-radius: 20px;
    align-self: stretch;
    margin-block-start: 20px;
  }
}

:host {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--sf-chapter-audio-dialog-overlay-background);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 500;
}

.browse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 20px 0;
  row-gap: 8px;

  label {
    font-size: 0.9em;
    line-height: 1.25em;
  }
}

.dashed-border-box {
  border: 2px dashed var(--sf-chapter-audio-dialog-dashed-border-color);
  border-radius: 4px;
  padding: 15px 10px;
  margin-bottom: 24px;
}

.browse-container {
  position: relative;
  display: flex;
  flex-direction: row;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  &:hover {
    button {
      background-color: var(--sf-chapter-audio-dialog-browse-button-hover-background-color);
      color: var(--sf-chapter-audio-dialog-browse-button-hover-color);
    }
  }
}

.mat-mdc-dialog-actions {
  justify-content: end;

  .uploading {
    flex-grow: 1;
    display: flex;
    column-gap: 8px;
    flex-direction: row;
  }
}
.data-blocks {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
    border: 1px solid var(--sf-chapter-audio-dialog-data-blocks-border-color);
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--sf-chapter-audio-dialog-data-blocks-color);
    flex-basis: 44px;

    mat-icon {
      color: var(--sf-chapter-audio-dialog-data-blocks-border-color);
    }

    app-info,
    mat-icon {
      flex: 0 0 30px;
      text-align: center;
      justify-content: center;
    }

    span {
      flex: 1;
      line-height: 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .divider {
      flex: 0 0 1px;
      border-left: 1px solid var(--sf-chapter-audio-dialog-data-blocks-divider-border-color);
      height: calc(100% + 10px);
    }

    &.valid {
      @include wrapperState(
        var(--sf-chapter-audio-dialog-data-blocks-border-valid),
        var(--sf-chapter-audio-dialog-data-blocks-text-color-valid)
      );
    }

    &.invalid {
      @include wrapperState(
        var(--sf-chapter-audio-dialog-data-blocks-border-invalid),
        var(--sf-chapter-audio-dialog-data-blocks-text-color-invalid)
      );
      span {
        white-space: unset;
      }
    }
  }
}

#offline-error {
  margin-top: 20px;
}

.flex-spacer {
  flex-grow: 1;
}

.white-spinner {
  --mat-progress-spinner-active-indicator-color: var(--sf-chapter-audio-dialog-spinner-color);
}
