<ng-container *transloco="let t; read: 'error'">
  <mdc-dialog>
    <mdc-dialog-container>
      <mdc-dialog-surface>
        <mdc-dialog-title>{{ t("error_occurred") }}</mdc-dialog-title>
        <mdc-dialog-content>
          <p>{{ data.message }}</p>
          <p [innerHTML]="t('to_report_issue_email', { issueEmailLink: issueEmailLink })"></p>
          <p *ngIf="browserUnsupported" [innerHTML]="t('unsupported_browser', browserLinks)"></p>
          <a (click)="this.showDetails = !this.showDetails" [fxShow]="data.stack">{{
            showDetails ? t("hide_details") : t("show_details")
          }}</a>
          <pre [fxShow]="showDetails">{{ data.stack }}</pre>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button mdcDialogButton type="button" mdcDialogAction="close">{{ t("close") }}</button>
        </mdc-dialog-actions>
      </mdc-dialog-surface>
    </mdc-dialog-container>
  </mdc-dialog>
</ng-container>
