<ng-container *transloco="let t; read: 'language_codes_confirmation'">
  @if (showSourceLanguagesDifferError) {
    <app-notice mode="fill-dark" type="error">
      <h3>{{ t("all_sources_must_be_same_language") }}</h3>
      Currently the source projects are in the following languages:
      <ul>
        @for (code of uniqueSourceSideLanguageCodes; track code) {
          <li>
            <strong>{{ code }}</strong> - {{ i18n.getLanguageDisplayName(code) }}
          </li>
        }
      </ul>
      <p>
        Please select different source or reference projects. If you're not sure how to fix this problem, please contact
        us at <a href="mailto:help@scriptureforge.org">{{ "help@scriptureforge.org" }}</a>
      </p>
    </app-notice>
  }

  @if (showSourceAndTargetLanguagesIdenticalWarning) {
    <app-notice mode="fill-dark" type="warning">
      <h3>
        {{ t("source_and_target_languages_same", { displayLanguage: i18n.getLanguageDisplayName(targetLanguageTag) }) }}
      </h3>
      <p>
        <transloco
          key="language_codes_confirmation.source_and_target_projects_all_have_language_code"
          [params]="{ languageCode: targetLanguageTag }"
        ></transloco>
      </p>
      <mat-checkbox [checked]="languageCodesConfirmed" (change)="checkboxChanged($event)">
        {{ t("i_understand_and_accept") }}
      </mat-checkbox>
    </app-notice>
  }

  @if (showStandardNotice) {
    <app-notice mode="fill-dark">
      <h3>{{ t("incorrect_language_codes_reduce_quality") }}</h3>
      <p>{{ t("please_make_sure_codes_correct") }}</p>
      <p>{{ t("how_to_change_language_codes") }}</p>
      <mat-checkbox [checked]="languageCodesConfirmed" (change)="checkboxChanged($event)">{{
        t("confirm_lang_codes_correct")
      }}</mat-checkbox>
    </app-notice>
  }
</ng-container>
