<ng-container *transloco="let t; read: 'editor_add_tab_resource_dialog'">
  <h1 mat-dialog-title>{{ t("dialog_title") }}</h1>
  <mat-dialog-content>
    <div>{{ isLoading ? t("loading_ellipsis") : t("select_project_or_resource") }}</div>
    <div [formGroup]="form">
      <app-project-select
        formControlName="sourceParatextId"
        [placeholder]="t('project_or_resource')"
        [projects]="projects"
        [resources]="resources"
        [hiddenParatextIds]="dialogData.excludedParatextIds"
        [isDisabled]="
          (onlineStatus.onlineStatus$ | async) === false ||
          isLoading ||
          isSyncActive ||
          (projectLoadingFailed && resourceLoadingFailed)
        "
        (projectSelect)="onProjectSelected($event)"
      ></app-project-select>
    </div>
    @if (isLoading && !isSyncActive) {
      <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    } @else if (isSyncActive) {
      <app-sync-progress [projectDoc]="selectedProjectDoc" (inProgress)="onSyncProgress($event)"></app-sync-progress>
    }

    @if (projectLoadingFailed && resourceLoadingFailed) {
      <mat-error id="project-resources-error">
        {{ t("error_fetching_projects_resources") }}
      </mat-error>
    } @else if (projectLoadingFailed && !resourceLoadingFailed) {
      <mat-error id="project-error">
        {{ t("error_fetching_projects") }}
      </mat-error>
    } @else if (resourceLoadingFailed && !projectLoadingFailed) {
      <mat-error id="resource-error">
        {{ t("error_fetching_resources") }}
      </mat-error>
    }
    @if (!appOnline) {
      <mat-error id="offline-error">
        {{ t("error_offline") }}
      </mat-error>
    }

    @if (projectFetchFailed || syncFailed) {
      <mat-error id="fetch-sync-error">
        {{ t("error_loading_resource") }}
      </mat-error>
    }
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{ t("cancel") }}</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!form.valid || isLoading || isSyncActive || !appOnline"
      (click)="confirmSelection()"
    >
      {{ t("select") }}
    </button>
  </mat-dialog-actions>
</ng-container>
