@use 'src/variables';

:host {
  display: block;
}

div {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
  column-gap: 16px;
  &.normal {
    --notice-color: #{variables.$purpleLight};
  }
  &.error {
    --notice-color: #{variables.$errorColor};
  }
  &.warning {
    --notice-color: #{variables.$orange};
  }
  &.outline {
    border: 1px solid var(--notice-color);
    color: var(--notice-color);
  }
  &:not(.outline) {
    background-color: var(--notice-color);
    color: #fff;
  }
  mat-icon {
    flex-shrink: 0;
  }
}

.notice-content {
  width: 100%;
}
