@use '@angular/material' as mat;

@mixin color($theme) {
  $is-dark: mat.get-theme-type($theme) == dark;

  --draft-history-entry-red-color: #{if($is-dark, red, darkRed)};
  --draft-history-entry-green-color: #{if($is-dark, lightGreen, darkGreen)};
  --draft-history-entry-grey-color: lightGrey;
  --draft-history-entry-subtitle-color: #{if($is-dark, lightGrey, #666)};
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
