<ng-container *transloco="let t; read: 'draft_history_entry'">
  @if (entry != null) {
    <div class="draft-entry-heading" (click)="headerClicked()" [class.expandable]="!forceDetailsOpen">
      <div class="entry-description">
        <span class="drafted-books">{{ i18n.enumerateList(bookNames) }}</span>
        <span class="date">{{ formatDate(entry.additionalInfo?.dateFinished) }}</span>
      </div>
      <span class="spacer"></span>
      <span class="status" [style.color]="getStatus(entry.state).color">
        <mat-icon class="status-icon">{{ getStatus(entry.state).icons }}</mat-icon>
        {{ getStatus(entry.state).text }}
      </span>
      @if (!forceDetailsOpen) {
        <mat-icon>expand_{{ detailsOpen ? "less" : "more" }}</mat-icon>
      }
    </div>
    @if (detailsOpen) {
      <div class="draft-entry-body">
        <ng-container *ngIf="canDownloadBuild">
          <p>{{ t("click_book_to_preview") }}</p>
          <p class="book-buttons">
            @for (bookId of bookIds; track bookId) {
              <a mat-stroked-button>{{ i18n.localizeBook(bookId) }}</a>
            }
          </p>
          <app-draft-download-button [build]="entry" [flat]="true" />
        </ng-container>
        <p>
          <a
            href="javascript:;"
            (click)="$event.preventDefault(); trainingDataOpen = !trainingDataOpen"
            class="training-data-link"
          >
            <mat-icon>expand_{{ trainingDataOpen ? "less" : "more" }}</mat-icon>
            {{ t(trainingDataOpen ? "hide_model_training_data" : "show_model_training_data") }}
          </a>
        </p>
        @if (trainingDataOpen) {
          <p class="training-data">
            <strong>{{ t("training_data_configuration") }}</strong>
            [TODO]
          </p>
        }
      </div>
    }
  }
</ng-container>
