<ng-container *transloco="let t">
  <div *ngIf="availableBooks.length > 0 && !readonly">
    <mat-card class="bulk-select">
      <div>
        <span>{{ t("book_select.select") }}:</span>
        <mat-button-toggle-group (change)="select($event.value)" [(ngModel)]="selection">
          <mat-button-toggle value="OT" [disabled]="!isOldTestamentAvailable()">
            {{ t("book_select.old_testament") }}
          </mat-button-toggle>
          <mat-button-toggle value="NT" [disabled]="!isNewTestamentAvailable()">
            {{ t("book_select.new_testament") }}
          </mat-button-toggle>
          <mat-button-toggle value="DC" *ngIf="isDeuterocanonAvailable()">
            {{ t("book_select.deuterocanon") }}
          </mat-button-toggle>
        </mat-button-toggle-group>
        <button mat-button *ngIf="selectedBooks.length > 0" (click)="clear()">{{ t("book_select.clear") }}</button>
      </div>
    </mat-card>
  </div>
  <mat-chip-listbox
    [multiple]="true"
    [selectable]="!readonly"
    class="book-multi-select"
    [disabled]="readonly"
    (change)="onChipListChange($event)"
  >
    <mat-chip-option *ngFor="let book of bookOptions" [value]="book" [selected]="book.selected">
      {{ t("canon.book_names." + book.bookId) }}
    </mat-chip-option>
  </mat-chip-listbox>
</ng-container>
