<ng-container *transloco="let t; read: 'book_select'">
  @if (availableBooks.length > 0 && !readonly) {
    <div>
      <mat-checkbox
        class="ot-checkbox"
        value="OT"
        [disabled]="!isOldTestamentAvailable()"
        [checked]="selectedAllOT"
        [indeterminate]="partialOT"
        (change)="select('OT', $event.checked)"
      >
        {{ t("old_testament") }}
      </mat-checkbox>
      <mat-checkbox
        class="nt-checkbox"
        value="NT"
        [disabled]="!isNewTestamentAvailable()"
        [checked]="selectedAllNT"
        [indeterminate]="partialNT"
        (change)="select('NT', $event.checked)"
      >
        {{ t("new_testament") }}
      </mat-checkbox>

      @if (isDeuterocanonAvailable()) {
        <mat-checkbox
          class="dc-checkbox"
          value="DC"
          [checked]="selectedAllDC"
          [indeterminate]="partialDC"
          (change)="select('DC', $event.checked)"
        >
          {{ t("deuterocanon") }}
        </mat-checkbox>
      }
    </div>
  }
  <div class="flex-row">
    @for (book of bookOptions; track book.bookId) {
      <mat-chip-listbox
        hideSingleSelectionIndicator
        [selectable]="!readonly"
        class="book-multi-select"
        [disabled]="readonly"
        (change)="onChipListChange(book)"
      >
        <mat-chip-option [value]="book" [selected]="book.selected">
          {{ "canon.book_names." + book.bookId | transloco }}
          <div class="border-fill" [style.width]="book.progressPercentage + '%'"></div>
        </mat-chip-option>
      </mat-chip-listbox>
    }
  </div>
  @if (!loaded) {
    <div class="loading-message">
      <mat-spinner [diameter]="15"></mat-spinner>
      {{ t("loading_message") }}
    </div>
  }
</ng-container>
