@if (title$ | async; as title) {
  <h2 mat-dialog-title>{{ title }}</h2>
}
@if (message$ | async; as message) {
  <div mat-dialog-content>{{ message }}</div>
}
<div mat-dialog-actions align="end">
  @for (option of options; track option.label) {
    @if (option.highlight) {
      <button mat-flat-button color="primary" [mat-dialog-close]="option.value">
        {{ option.label | async }}
      </button>
    } @else {
      <button mat-button [mat-dialog-close]="option.value">{{ option.label | async }}</button>
    }
  }
</div>
