.training-data {
  display: grid;
  grid-template-areas: '. . .' '. . .';
  row-gap: 1em;
}

.gap,
.arrow {
  padding-inline: 2em;
}

.training-data,
.translation-data {
  background: #f0f0f0;
  padding-block: 1em;
}

.sources,
.targets,
.arrow {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.source-description,
.sources,
.translation-data-description,
.translation-data {
  padding-inline-start: 1em;
}

.target-description,
.targets {
  padding-inline-end: 1em;
}

.source-description p,
.target-description p,
.translation-data-description {
  font-style: italic;
  font-size: 0.95em;
}

.training-data h3 {
  margin-block: 0;
}

.training-data p {
  margin: 0;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: 500;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.project {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}

.project-name {
  font-size: 1.1em;
}

.language-code {
  font-size: 0.9em;
}

app-notice {
  margin-top: 4em;
}
