<ng-container *transloco="let t; read: 'checking_comments'">
  @for (comment of getSortedComments(); track comment; let i = $index) {
    <div>
      @if (
        (activeComment == null || (commentFormVisible && activeComment.dataId !== comment.dataId)) &&
        (i + 1 < maxCommentsToShow || commentCount === maxCommentsToShow || showAllComments)
      ) {
        <div class="comment" [ngClass]="{ 'comment-unread': !hasUserReadComment(comment) }">
          @if (comment.audioUrl != null) {
            <app-single-button-audio-player
              #audio
              [source]="comment.audioUrl"
              class="comment-audio"
              (click)="audio.play()"
            >
              <mat-icon>{{ audio.playing ? "stop" : "play_arrow" }}</mat-icon>
            </app-single-button-audio-player>
          }
          <span class="comment-text">{{ comment.text ? comment.text : "- " + t("audio_comment") + " -" }}</span>
          <div class="flex-row">
            <span class="divider">-</span>
            <app-owner [ownerRef]="comment.ownerRef" [dateTime]="comment.dateCreated"></app-owner>
          </div>
          <div class="actions">
            @if (canEditComment(comment)) {
              <button mat-button type="button" (click)="editComment(comment)" class="comment-edit">
                {{ t("edit") }}
              </button>
            }
            @if (canDeleteComment(comment)) {
              <button mat-button type="button" (click)="deleteCommentClicked(comment)" class="comment-delete">
                {{ t("delete") }}
              </button>
            }
          </div>
        </div>
      }
      @if (commentFormVisible && activeComment?.dataId === comment.dataId) {
        <app-checking-comment-form
          [comment]="activeComment"
          (save)="submit($event)"
          (cancel)="hideCommentForm()"
        ></app-checking-comment-form>
      }
    </div>
  }
  @if (commentFormVisible && activeComment == null) {
    <app-checking-comment-form (save)="submit($event)" (cancel)="hideCommentForm()"></app-checking-comment-form>
  }
  @if (!commentFormVisible && commentCount > maxCommentsToShow && !showAllComments) {
    <button mat-button type="button" (click)="showComments()" class="show-all-comments">
      {{ showMoreCommentsLabel }}
    </button>
  }
  @if (!commentFormVisible && (commentCount <= maxCommentsToShow || showAllComments) && canAddComment) {
    <button mat-button type="button" (click)="showCommentForm()" class="add-comment">
      {{ t("add_a_comment") }}
    </button>
  }
</ng-container>
