@import '../../checking-global-vars';

.comment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 4px;
  column-gap: 8px;
  padding: 8px 4px;

  &.comment-unread {
    animation-name: comment-unread;
    animation-duration: 10s;
    animation-fill-mode: forwards;

    @keyframes comment-unread {
      from {
        background: $commentUnread;
      }
      to {
        background: #fff;
      }
    }
  }

  &.shaded {
    background-color: $shadedBackgroundColor;
  }

  .comment-text {
    display: flex;
    flex: 1 0 85%;
  }

  .comment-footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    .mat-icon {
      @include md-icon-size(20px);
    }
  }

  .owner {
    display: flex;
    align-items: center;
  }
}

#answer-comments ::ng-deep {
  textarea {
    height: 24px;
  }
}

.add-comment {
  margin-top: 4px;
}
