<div *ngFor="let comment of comments; index as i">
  <div
    class="comment"
    *ngIf="
      (!activeComment || (commentFormVisible && activeComment.id !== comment.id)) &&
      (i + 1 < maxCommentsToShow || comments.length == maxCommentsToShow || showAllComments)
    "
  >
    <span class="comment-text">{{ comment.text }}</span> <span class="divider">-</span>
    <app-checking-owner [ownerRef]="comment.ownerRef" [dateTime]="comment.dateCreated"></app-checking-owner>
    <div class="actions">
      <button *ngIf="hasPermission(comment, 'edit')" mdc-button (click)="editComment(comment)" class="comment-edit">
        Edit
      </button>
      <button
        *ngIf="hasPermission(comment, 'delete')"
        mdc-button
        (click)="deleteComment(comment)"
        class="comment-delete"
      >
        Delete
      </button>
    </div>
  </div>
  <app-checking-comment-form
    *ngIf="commentFormVisible && activeComment && activeComment.id === comment.id"
    (save)="submit($event)"
    (cancel)="hideCommentForm()"
    [text]="comment.text"
  ></app-checking-comment-form>
</div>
<app-checking-comment-form
  *ngIf="commentFormVisible && !activeComment"
  (save)="submit($event)"
  (cancel)="hideCommentForm()"
></app-checking-comment-form>
<button
  *ngIf="!commentFormVisible && comments.length > maxCommentsToShow && !showAllComments"
  mdc-button
  (click)="showComments()"
  class="show-all-comments"
>
  Show {{ comments.length - (maxCommentsToShow - 1) }} more comments
</button>
<button
  *ngIf="!commentFormVisible && (comments.length <= maxCommentsToShow || showAllComments)"
  mdc-button
  (click)="showCommentForm()"
  class="add-comment"
>
  Add a comment
</button>
