<ng-container *transloco="let t; read: 'checking'">
  <div id="checking-app-container">
    <div id="questions-panel" #questionsPanel [ngClass]="{ 'overlay-visible': isQuestionsOverlayVisible }">
      @if (hideChapterText && hasQuestionWithoutAudio && canCreateScriptureAudio) {
        <span class="audio-checking-warning">{{ t("questions_on_chapters_no_audio") }}</span>
      }
      <header [ngClass]="{ 'filter-applied': isQuestionFilterApplied }">
        <div class="header-main">
          <div class="title">
            {{ t("questions") }}
          </div>
          <h2>
            <span>({{ totalVisibleQuestionsString }})</span>
          </h2>
          <mat-menu #questionFilterMenu>
            <mat-selection-list [multiple]="true" class="menu-list">
              <h2 matSubheader>{{ t("questions_range") }}</h2>
              @for (scope of questionScopes | keyvalue; track scope) {
                <button
                  mat-menu-item
                  [class.selected]="scope.key === activeQuestionScope"
                  (click)="setQuestionScope(scope.key)"
                >
                  <mat-icon>check</mat-icon>
                  {{ t(scope.value) }}
                </button>
              }
              <h2 matSubheader>{{ t("filter_questions") }}</h2>
              @for (filter of questionFilters | keyvalue; track filter) {
                <button
                  mat-menu-item
                  [class.selected]="filter.key === activeQuestionFilter"
                  (click)="setQuestionFilter(filter.key)"
                >
                  <mat-icon>check</mat-icon>
                  {{ t(filter.value) }}
                </button>
              }
            </mat-selection-list>
          </mat-menu>
          <button mat-icon-button class="questions-overlay-close" (click)="setQuestionsOverlayVisibility(false)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <button mat-button [matMenuTriggerFor]="questionFilterMenu" class="active-question-scope-button">
          <mat-icon [ngClass]="{ 'material-icons-outlined': !isQuestionFilterApplied }">filter_alt</mat-icon>
          {{ t(questionScopes.get(activeQuestionScope ?? "all")!) }}
          <span class="divider">|</span>
          {{ t(appliedQuestionFilterKey ?? "question_filter_none") }}
        </button>
      </header>
      <div class="panel-content">
        <app-checking-questions
          #questionsList
          (update)="questionUpdated($event)"
          (changed)="questionChanged($event)"
          [visible]="isQuestionListPermanent || isQuestionsOverlayVisible"
          [projectUserConfigDoc]="projectUserConfigDoc"
          [projectProfileDoc]="projectDoc"
          [questionDocs]="visibleQuestions"
          [routeBookChapter]="routeBookChapter"
          [isFiltered]="isQuestionFilterApplied"
        ></app-checking-questions>
      </div>
    </div>
    <div id="text-panel">
      <div id="scripture-panel">
        <header>
          <div class="panel-nav">
            <app-book-chapter-chooser
              [books]="books"
              [book]="book"
              [chapters]="chapters"
              [chapter]="chapter"
              [bookSelectDisabled]="activeQuestionScope === 'all'"
              [chapterSelectDisabled]="activeQuestionScope !== 'chapter'"
              [prevNextHidden]="activeQuestionScope !== 'chapter' || isScreenSmall"
              (bookChange)="onBookSelect($event)"
              (chapterChange)="onChapterSelect($event)"
            >
            </app-book-chapter-chooser>

            <div class="action-icons">
              @if (canCreateQuestions) {
                <button
                  mat-icon-button
                  type="button"
                  [matTooltip]="t('add_question')"
                  (click)="questionDialog()"
                  class="add-question-button hide-gt-xl"
                >
                  <mat-icon class="mirror-rtl">post_add</mat-icon>
                </button>
                <button mat-button type="button" (click)="questionDialog()" class="add-question-button hide-lt-xl">
                  <mat-icon class="mirror-rtl">post_add</mat-icon>
                  <span>{{ t("add_question") }}</span>
                </button>
              }
              @if (canCreateScriptureAudio) {
                <button
                  type="button"
                  mat-icon-button
                  [matTooltip]="t('manage_audio')"
                  (click)="addAudioTimingData()"
                  class="add-audio-button"
                >
                  <mat-icon class="material-icons-outlined">audio_file</mat-icon>
                </button>
              }
              @if (chapterHasAudio) {
                <button
                  type="button"
                  mat-icon-button
                  [matTooltip]="t('play_chapter')"
                  [matTooltipDisabled]="isAudioPlaying()"
                  (click)="toggleAudio()"
                >
                  <mat-icon>{{ isAudioPlaying() ? "stop" : "play_circle_outline" }}</mat-icon>
                </button>
              }
              <app-font-size [class.hidden]="hideChapterText" (apply)="applyFontChange($event)"></app-font-size>
              @if (canShare) {
                <app-share-button [defaultRole]="defaultShareRole"></app-share-button>
              }
            </div>
          </div>
        </header>
        @if (!chapterHasAudio && hideChapterText) {
          <span class="no-audio-message">{{ t("question_does_not_have_audio") }}</span>
        }
        <div id="split-container" #splitContainer>
          <!-- dir must be set on as-split-area because as-split is always set with dir=ltr -->
          <as-split
            #splitter
            direction="vertical"
            unit="pixel"
            [disabled]="!questionsList.activeQuestionDoc"
            (dragEnd)="checkSliderPosition($event)"
            [useTransition]="true"
            [gutterSize]="showScriptureAudioPlayer ? 0 : 11"
          >
            <!-- Splitter area sizes are controlled programmatically. -->
            <as-split-area size="*" [dir]="i18n.direction" [visible]="!hideChapterText" [order]="1">
              <div class="panel-content" #scripturePanelContainer>
                <div class="scripture">
                  <app-checking-text
                    #textPanel
                    [id]="textDocId"
                    [fontSize]="scriptureFontSize"
                    [activeVerse]="activeQuestionVerseRef"
                    [questionVerses]="questionVerseRefs"
                    (questionVerseSelected)="verseRefClicked($event)"
                    [isRightToLeft]="isRightToLeft"
                    [class.hidden]="hideChapterText"
                    [projectDoc]="projectDoc"
                    [resizableContainer]="splitter"
                  ></app-checking-text>
                </div>
              </div>
            </as-split-area>
            <as-split-area
              [dir]="i18n.direction"
              [order]="2"
              [size]="hideChapterText ? '*' : 0"
              [visible]="!showScriptureAudioPlayer || hideChapterText"
            >
              @if (questionsList.activeQuestionDoc) {
                <div id="answer-panel" #answerPanelContainer>
                  <app-checking-answers
                    #answersPanel
                    [checkingTextComponent]="textPanel"
                    [projectProfileDoc]="projectDoc"
                    [textsByBookId]="textsByBookId"
                    [questionDoc]="questionsList.activeQuestionDoc"
                    [projectUserConfigDoc]="projectUserConfigDoc"
                    (action)="answerAction($event)"
                    (commentAction)="commentAction($event)"
                  ></app-checking-answers>
                </div>
              }
            </as-split-area>
            <as-split-area
              lockSize="true"
              [order]="hideChapterText ? 0 : 3"
              [size]="130"
              [visible]="showScriptureAudioPlayer"
            >
              <div class="scripture-audio-player-wrapper">
                @if (showScriptureAudioPlayer) {
                  <app-checking-scripture-audio-player
                    [source]="chapterAudioSource"
                    [timing]="chapterTextAudioTiming"
                    [textDocId]="textDocId"
                    [canClose]="!hideChapterText"
                    (currentVerseChanged)="highlightSegments($event)"
                    (closed)="hideChapterAudio()"
                  ></app-checking-scripture-audio-player>
                }
              </div>
            </as-split-area>
          </as-split>
        </div>
      </div>
      @if (projectDoc) {
        <div id="question-nav">
          @if (!this.isQuestionListPermanent) {
            <button mat-button type="button" (click)="setQuestionsOverlayVisibility(true)">
              {{ t("view_questions") }}
            </button>
          }
          <div class="question-nav-wrapper">
            <button
              mat-button
              type="button"
              (click)="activateQuestion(prevQuestion!)"
              [disabled]="prevQuestion == null"
              class="prev-question"
            >
              <mat-icon>chevron_{{ i18n.backwardDirectionWord }}</mat-icon
              >{{ t("previous") }}
            </button>
            <button
              mat-button
              type="button"
              (click)="activateQuestion(nextQuestion!)"
              [disabled]="nextQuestion == null"
              class="next-question"
            >
              {{ t("next") }}<mat-icon iconPositionEnd>chevron_{{ i18n.forwardDirectionWord }}</mat-icon>
            </button>
            <button
              mat-icon-button
              type="button"
              (click)="activateQuestion(prevQuestion!)"
              [disabled]="prevQuestion == null"
              class="prev-question"
            >
              <mat-icon>chevron_{{ i18n.backwardDirectionWord }}</mat-icon>
            </button>
            <button
              mat-icon-button
              type="button"
              (click)="activateQuestion(nextQuestion!)"
              [disabled]="nextQuestion == null"
              class="next-question"
            >
              <mat-icon>chevron_{{ i18n.forwardDirectionWord }}</mat-icon>
            </button>
            <a [appRouterLink]="routerLink" id="project-summary">
              <app-donut-chart
                [colors]="['#3a3a3a', '#fff', '#B8D332']"
                [data]="[summary.unread, summary.read, summary.answered]"
              ></app-donut-chart>
            </a>
          </div>
        </div>
      }
    </div>
  </div>
</ng-container>
