@import '~src/variables';

$questionUnread: $sf_grey;
$questionAnswered: $mdc-theme-secondary;
$questionAnswerBubbleColor: #fff;
$questionAnswerBubbleBackgroundColor: $sf_grey;
$answerUnread: lighten($mdc-theme-secondary, 20%);
$commentUnread: $answerUnread;
$borderColor: rgba(0, 0, 0, 0.1);
