@import 'src/variables';

$questionReadBGColor: #f9fcff;
$questionReadTextColor: #555;
$questionSelectedColor: #4c83d6;
$questionUnread: $sf_grey;
$questionAnswered: $mdc-theme-secondary;
$attention: lighten($mdc-theme-secondary, 20%);
$answerResolved: $greenLight;
$answerExportable: $purpleLight;
$commentUnread: $attention;
$borderColor: rgba(0, 0, 0, 0.1);
