@use '@material/icon-button/mixins' as icon-button;

@import 'checking-global-vars';

@import 'bootstrap/scss/mixins/breakpoints';

#projects-app {
  #checking-app-container {
    height: 100%;
  }
  #question-drawer {
    min-width: 300px;
    border: 0;
    @include media-breakpoint-up(md) {
      z-index: 1;
    }
    &.mdc-drawer--modal {
      top: 0;
    }
    .collapse-question-menu {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
  #questions-panel {
    .panel-heading {
      flex-wrap: wrap;
      &.filter-applied {
        height: 66px;
        margin-bottom: 6px;
      }
      h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 14px;
          opacity: 0.5;
        }
      }
    }
    .active-question-filter {
      flex: 1 0 100%;
      font-size: 0.7em;
      opacity: 0.5;
      margin-top: -5px;
    }
  }
  #text-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    // setting min width prevents the element from overflowing the flex parent
    min-width: 0;
    .chapter-select {
      cursor: pointer;
    }
    #split-container {
      display: flex;
      flex: 1;
      max-height: calc(100vh - 200px);
      @include media-breakpoint-down(sm) {
        max-height: calc(100vh - 180px);
      }
      > as-split {
        height: auto; /* fix for SF-754 */
      }
    }
    #scripture-panel {
      > .panel {
        .panel-heading {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .panel-content {
        height: 100%;
      }
      .panel-nav {
        display: flex;
        justify-content: space-between;
        flex: 1;
        > div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          h2 {
            flex: 0;
            display: flex;
            align-items: center;
            span {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              margin-right: 5px;
            }
            .chapter-dropdown {
              display: flex;
            }
            > div {
              display: flex;
              align-items: center;
            }
          }
          .chapter-menu-list mdc-list-item {
            white-space: nowrap;
          }
          &.action-icons {
            justify-content: flex-end;
            .add-question-button[mdc-icon-button] {
              @include icon-button.icon-size(24px, 24px, 8px);
            }
            .add-question-button mdc-icon {
              font-size: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    #answer-panel {
      height: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-inline-start: 15px;
      @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    #project-navigation {
      background-color: lighten($sf_grey, 70%);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 9px;
      @include media-breakpoint-down(sm) {
        margin: 0 -20px -14px;
        justify-content: space-between;
      }
      .next-question {
        margin-right: 8px;
        mdc-icon {
          margin-right: 0;
        }
      }
      @include media-breakpoint-down(xs) {
        margin: -10px;
        .next-question,
        .prev-question {
          @include icon-button.icon-size(24px, 24px, 8px);
        }
      }
    }
    #project-summary {
      width: 36px;
      height: 36px;
    }
  }
}

.heading-with-icon {
  display: flex;
  column-gap: 10px;
}
#question-filter-list {
  h2 {
    color: #000;
    font-weight: bold;
  }
}
