@import 'src/variables';

$questionReadBGColor: #fcfdff;
$questionReadTextColor: #555;
$questionSelectedColor: #726e77;
$questionUnread: $sf_grey;
$questionAnswered: $theme-secondary;
$questionsLoadingTextColor: #777;
$attention: lighten($theme-secondary, 20%);
$answerResolved: $greenLight;
$answerExportable: $purpleLight;
$commentUnread: $attention;
$borderColor: rgba(0, 0, 0, 0.1);
$notifyUser: $errorColor;
$shadedBackgroundColor: rgba(0, 0, 0, 0.05);

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}
