@import 'checking-global-vars';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@angular-mdc/theme/scss/icon-button/mixins';

#projects-app {
  #checking-app-container {
    height: 100%;
  }
  #question-drawer {
    min-width: 300px;
    border: 0;
    @include media-breakpoint-up(md) {
      z-index: 1;
    }
    &.mdc-drawer--modal {
      top: 0;
    }
    .collapse-question-menu {
      @include mdc-icon-button-size(24px, 24px, 8px);
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
  #text-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    // setting min width prevents the element from overflowing the flex parent
    min-width: 0;
    .chapter-select {
      cursor: pointer;
    }
    #split-container {
      display: flex;
      flex: 1;
      max-height: calc(100vh - 200px);
      @include media-breakpoint-down(sm) {
        max-height: calc(100vh - 180px);
      }
      > as-split {
        height: auto; /* fix for SF-754 */
      }
    }
    #scripture-panel {
      > .panel {
        .panel-heading {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .panel-content {
        height: 100%;
      }
      .panel-nav {
        display: flex;
        justify-content: space-between;
        flex: 1;
        > div {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          h2 {
            flex: 0;
            display: flex;
            align-items: center;
            @include media-breakpoint-down(sm) {
              width: calc(100vw - 150px);
            }
            span {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              margin-right: 5px;
            }
            .chapter-dropdown {
              display: flex;
            }
            > div {
              display: flex;
              align-items: center;
            }
          }
          .chapter-menu-list mdc-list-item {
            white-space: nowrap;
          }
          &.action-icons {
            justify-content: flex-end;
            .mdc-icon-button {
              @include mdc-icon-button-size(24px, 24px, 8px);
            }
          }
        }
      }
    }
    #answer-panel {
      height: 100%;
      padding: 12px 0 12px 15px;
      @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    #project-navigation {
      background-color: lighten($sf_grey, 70%);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 9px;
      @include media-breakpoint-down(sm) {
        margin: 0 -20px -14px;
        justify-content: space-between;
      }
      .next-question {
        margin-right: 8px;
        mdc-icon {
          margin-right: 0;
        }
      }
      @include media-breakpoint-down(xs) {
        margin: -10px;
        .next-question,
        .prev-question {
          @include mdc-icon-button-size(24px, 24px, 8px);
        }
      }
    }
    #project-summary {
      width: 36px;
      height: 36px;
    }
  }
}
