@import 'src/variables';

$questionReadBGColor: #fcfdff;
$questionReadTextColor: #555;
$questionSelectedColor: #726e77;
$questionUnread: $sf_grey;
$questionAnswered: $theme-secondary;
$questionsLoadingTextColor: #777;
$attention: lighten($theme-secondary, 20%);
$answerResolved: $greenLight;
$answerExportable: $purpleLight;
$commentUnread: $attention;
$borderColor: rgba(0, 0, 0, 0.1);
$notifyUser: $errorColor;
$shadedBackgroundColor: $borderColor;
