<mat-card *transloco="let t; read: 'draft_generation'">
  <h1 mat-card-title>{{ t("generate_back_translation_drafts") }}</h1>

  <mat-divider inset></mat-divider>

  <section>
    <p>{{ t("instructions_scripture_forge_assist") }}</p>
    <p><transloco key="draft_generation.instructions_keep_in_mind"></transloco></p>
    <p>{{ t("instructions_back_translation_process") }}</p>

    <!-- TODO Find better link to languages or include in-app table with link to "learn more" -->
    <h3 class="requirements-header">{{ t("requirements") }}</h3>
    <ul class="requirements">
      <li *ngIf="!isForwardTranslationEnabled || isBackTranslation">
        <mat-icon *ngIf="isBackTranslation" class="criteria-met">check</mat-icon>
        <mat-icon *ngIf="!isBackTranslation" class="criteria-not-met">clear</mat-icon>
        <p *ngIf="isBackTranslation">{{ t("criteria_project_type_back_translation") }}</p>
        <p *ngIf="!isBackTranslation">{{ t("criteria_project_type_not_back_translation") }}</p>
      </li>
      <li *ngIf="!isForwardTranslationEnabled || isTargetLanguageSupported">
        <mat-icon *ngIf="isTargetLanguageSupported" class="criteria-met">check</mat-icon>
        <mat-icon *ngIf="!isTargetLanguageSupported" class="criteria-not-met">clear</mat-icon>
        <p>
          <transloco
            *ngIf="!isTargetLanguageSupported && targetLanguageDisplayName"
            key="draft_generation.criteria_project_language_in_nllb_with_language"
            [params]="{ targetLanguageDisplayName, nllbUrl }"
          ></transloco>
          <transloco
            *ngIf="!isTargetLanguageSupported && !targetLanguageDisplayName"
            key="draft_generation.criteria_project_language_in_nllb"
            [params]="{ nllbUrl }"
          ></transloco>
          <transloco
            *ngIf="isTargetLanguageSupported && targetLanguageDisplayName"
            key="draft_generation.criteria_project_language_not_in_nllb_with_language"
            [params]="{ targetLanguageDisplayName, nllbUrl }"
          ></transloco>
          <transloco
            *ngIf="isTargetLanguageSupported && !targetLanguageDisplayName"
            key="draft_generation.criteria_project_language_not_in_nllb"
            [params]="{ nllbUrl }"
          ></transloco>
        </p>
      </li>
      <li>
        <mat-icon *ngIf="isSourceProjectSet" class="criteria-met">check</mat-icon>
        <mat-icon *ngIf="!isSourceProjectSet" class="criteria-not-met">clear</mat-icon>
        <p *ngIf="isSourceProjectSet">{{ t("criteria_project_type_has_source_text") }}</p>
        <p *ngIf="!isSourceProjectSet">{{ t("criteria_project_type_has_no_source_text") }}</p>
      </li>
      <li *ngIf="isForwardTranslationEnabled">
        <mat-icon class="criteria-met">check</mat-icon>
        <p>{{ t("criteria_forward_translation_drafting_enabled") }}</p>
      </li>
    </ul>
  </section>

  <mat-divider inset></mat-divider>

  <ng-container *ngIf="!isOnline">
    <section>
      <p class="offline-text">{{ t("offline_message") }}</p>
    </section>
  </ng-container>

  <ng-container *ngIf="isOnline">
    <mat-tab-group>
      <mat-tab>
        <div *ngIf="isDraftJobFetched">
          <section *ngIf="infoAlert === InfoAlert.NotBackTranslation">
            <h3>{{ t("info_alert_project_type_not_supported") }}</h3>
            <p>{{ t("info_alert_project_type_not_supported_detail") }}</p>
          </section>

          <section *ngIf="infoAlert === InfoAlert.NotSupportedLanguage">
            <h3>{{ t("info_alert_target_language_not_supported") }}</h3>
            <p>
              <transloco
                *ngIf="targetLanguageDisplayName"
                [key]="'draft_generation.criteria_project_language_not_in_nllb_with_language'"
                [params]="{targetLanguageDisplayName}"
              ></transloco>
              <transloco *ngIf="!targetLanguageDisplayName" [key]="'criteria_project_language_not_in_nllb'"></transloco>
            </p>
          </section>

          <section *ngIf="infoAlert === InfoAlert.NoSourceProjectSet">
            <h3>{{ t("info_alert_source_text_not_selected") }}</h3>
            <p>
              <transloco
                key="draft_generation.info_alert_source_text_not_selected_detail"
                [params]="{ projectSettingsUrl: { route: projectSettingsUrl } }"
              ></transloco>
            </p>
          </section>

          <section *ngIf="infoAlert === InfoAlert.SourceAndTargetLanguageIdentical">
            <h3>{{ t("info_alert_same_source_and_target_language") }}</h3>
            <p>{{ t("info_alert_same_source_and_target_language_detail") }}</p>
          </section>

          <ng-container *ngIf="isGenerationSupported">
            <ng-container *ngIf="isDraftFaulted(draftJob)">
              <section>
                <h3><mat-icon color="warn">warning</mat-icon>{{ t("warning_generation_faulted_header") }}</h3>
                <p>
                  <transloco
                    key="draft_generation.warning_generation_faulted_detail"
                    [params]="{
                      generateButtonText: hasAnyCompletedBuild
                        ? t('generate_new_draft_button')
                        : t('generate_draft_button')
                    }"
                  ></transloco>
                </p>
              </section>
              <mat-divider inset></mat-divider>
            </ng-container>

            <section *ngIf="!isDraftInProgress(draftJob) && !hasAnyCompletedBuild">
              <h3>{{ t("generate_draft_header") }}</h3>
              <p>
                <transloco key="draft_generation.generate_draft_detail"></transloco>
              </p>

              <button mat-flat-button color="primary" (click)="generateDraft()">
                <mat-icon>model_training</mat-icon>
                {{ t("generate_draft_button") }}
              </button>
            </section>

            <ng-container *ngIf="draftJob != null">
              <section *ngIf="!isDraftInProgress(draftJob)" class="view-or-create-options">
                <ng-container *ngIf="isDraftComplete(draftJob) || hasAnyCompletedBuild">
                  <div>
                    <ng-container *ngIf="isDraftComplete(draftJob)">
                      <h3>{{ t("draft_generation_complete") }}</h3>
                      <p>
                        <transloco
                          key="draft_generation.go_to_draft_viewer"
                          [params]="{ draftViewerUrl: { route: draftViewerUrl } }"
                        ></transloco>
                      </p>
                      <a mat-flat-button color="primary" [routerLink]="draftViewerUrl">
                        <mat-icon>edit_note</mat-icon>
                        {{ t("preview_draft_button") }}
                      </a>
                    </ng-container>

                    <ng-container *ngIf="!isDraftComplete(draftJob)">
                      <h3>{{ t("preview_last_draft_header") }}</h3>
                      <p>
                        <transloco
                          key="draft_generation.preview_last_draft_detail"
                          [params]="{ draftViewerUrl: { route: draftViewerUrl } }"
                        ></transloco>
                      </p>
                      <a mat-flat-button color="primary" [routerLink]="draftViewerUrl">
                        <mat-icon>edit_note</mat-icon>
                        {{ t("preview_last_draft_button") }}
                      </a>
                    </ng-container>
                  </div>

                  <mat-divider inset vertical data-text="or"></mat-divider>
                </ng-container>

                <div *ngIf="hasAnyCompletedBuild">
                  <h3>{{ t("generate_new_draft_header") }}</h3>
                  <p><transloco key="draft_generation.generate_new_draft_detail"></transloco></p>

                  <!-- TODO: (not needed yet) Add logic to not offer regeneration until some determined unit of work is complete -->
                  <p>{{ t("suggested_workflow") }}</p>

                  <button mat-flat-button color="primary" (click)="generateDraft({ withConfirm: true })">
                    <mat-icon>model_training</mat-icon>
                    {{ t("generate_new_draft_button") }}
                  </button>
                </div>
              </section>

              <section *ngIf="isDraftQueued(draftJob)">
                <h3>{{ t("draft_queued_header") }}</h3>

                <p *ngIf="draftJob?.queueDepth ?? 0 === 0">{{ t("draft_queued_detail") }}</p>
                <p *ngIf="draftJob?.queueDepth ?? 0 > 0">
                  The back translation draft is number {{ draftJob?.queueDepth }} in the queue. Please check back later.
                </p>
                <p *ngIf="hasAnyCompletedBuild">
                  {{ t("preview_last_draft_while_active_build") }}
                </p>
                <app-working-animated-indicator></app-working-animated-indicator>

                <div class="button-strip">
                  <button *ngIf="canCancel(draftJob)" mat-flat-button color="primary" (click)="cancel()">
                    <mat-icon>highlight_off</mat-icon>
                    {{ t("cancel_generation_button") }}
                  </button>
                  <a *ngIf="hasAnyCompletedBuild" mat-flat-button color="primary" [routerLink]="draftViewerUrl">
                    <mat-icon>edit_note</mat-icon>
                    {{ t("preview_last_draft_while_active_build_button") }}
                  </a>
                </div>
              </section>

              <section *ngIf="isDraftActive(draftJob)" class="progress-active">
                <h3>{{ t("draft_active_header") }}</h3>

                <div class="progress-text">
                  <p>{{ t("draft_active_detail") }}</p>
                  <p *ngIf="hasAnyCompletedBuild">
                    {{ t("preview_last_draft_while_active_build") }}
                  </p>
                </div>
                <circle-progress [percent]="draftJob!.percentCompleted * 100"></circle-progress>

                <div class="button-strip">
                  <button *ngIf="canCancel(draftJob)" mat-flat-button color="primary" (click)="cancel()">
                    <mat-icon>highlight_off</mat-icon>
                    {{ t("cancel_generation_button") }}
                  </button>
                  <a *ngIf="hasAnyCompletedBuild" mat-flat-button color="primary" [routerLink]="draftViewerUrl">
                    <mat-icon>edit_note</mat-icon>
                    {{ t("preview_last_draft_while_active_build_button") }}
                  </a>
                </div>
              </section>
            </ng-container>
          </ng-container>
        </div>
      </mat-tab>

      <mat-tab>
        <!-- Lazy load tab content -->
        <ng-template matTabContent>
          <button mat-stroked-button class="backout-button" (click)="navigateToTab('initial')">
            <mat-icon class="mirror-rtl">navigate_before</mat-icon>
            {{ t("back_from_stepper_button") }}
          </button>
          <app-draft-generation-steps (done)="onPreGenerationStepsComplete($event)"></app-draft-generation-steps>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</mat-card>
