@use 'src/variables';
@use 'src/xforge-common/media-breakpoints/breakpoints' as *;

:host {
  // Needed to style inside <transloco> element
  ::ng-deep {
    em {
      font-weight: 500;
    }
  }

  padding-block-end: 10px;
}

// Manually center over cancel button
app-working-animated-indicator {
  margin-inline-start: 24px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}

.requirements {
  p {
    margin: 0 0 8px;
  }

  ul {
    padding-inline-start: 10px;
    margin: 0;
  }

  li {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: 4px;

    p {
      margin: 0;
    }
  }

  mat-icon {
    flex-shrink: 0;

    &.criteria-met {
      color: green;
    }
    &.criteria-not-met {
      color: variables.$errorColor;
    }
  }
}

app-notice {
  margin-top: 20px;
}

// Hide the tab headers
mat-tab-group {
  ::ng-deep .mat-mdc-tab-header {
    display: none;
  }
}

mat-divider.mat-divider-inset {
  margin: 0;
}

.draft-complete {
  max-width: 500px;
  margin-inline-start: 1px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .preview-card {
    flex-shrink: 0;
  }

  app-draft-apply-progress {
    width: 100%;
  }

  h2 {
    font-weight: 500;
  }
}

.button-strip {
  display: flex;
  gap: 20px;
}

@include media-breakpoint('<', sm) {
  // Hide the button icons on side-by-side buttons to save space on mobile
  .button-strip mat-icon {
    display: none;
  }

  // Manually center over cancel button
  app-working-animated-indicator {
    margin-inline-start: 10px;
  }
}

.draft-generation-failed-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-text {
  color: variables.$errorColor;
}

section {
  padding: 10px 0;
}

.mat-mdc-card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.progress-active {
  display: grid;
  grid-template-areas:
    'header progress'
    'text progress'
    'button progress';
  grid-template-columns: minmax(208px, 380px) minmax(100px, 150px);
  place-items: center start;

  h3 {
    grid-area: header;
  }

  .progress-text {
    grid-area: text;
  }

  p:first-child {
    margin-top: 0;
  }

  .button-strip {
    grid-area: button;
  }

  circle-progress {
    grid-area: progress;
    margin: 20px 0 0 20px;
    animation: pulse 1s infinite alternate ease-out;
  }
}

@keyframes pulse {
  from {
    opacity: 0.7;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.03);
  }
}

.drafting-instructions b {
  font-weight: 500;
}

.action-button-strip {
  display: flex;
  gap: 0.5em;
}

mat-expansion-panel-header {
  color: var(--mat-expansion-header-text-color, var(--mat-app-on-surface)) !important;
}

mat-panel-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 0 1 auto;
}

mat-panel-description {
  font-weight: normal;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
