:host {
  // Needed to style inside <transloco> element
  ::ng-deep {
    em {
      font-weight: 500;
    }
  }
}

app-working-animated-indicator {
  display: block;
  margin: 10px 0;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}

.requirements-header {
  margin-bottom: 8px;
}

.requirements {
  padding-inline-start: 10px;
  margin-top: 0;

  li {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: 4px;

    p {
      margin: 0;
    }
  }

  mat-icon {
    flex-shrink: 0;

    &.criteria-met {
      color: green;
    }
    &.criteria-not-met {
      color: var(--mdc-theme-error);
    }
  }
}

.view-or-create-options {
  display: grid;
  grid-template-columns: minmax(0, 500px) 1px minmax(0, 500px);
  gap: 60px;

  mat-divider {
    position: relative;
    margin: 0;

    &::after {
      content: attr(data-text);
      position: absolute;
      top: 30%;
      left: -26px;
      background: #fff;
      padding: 10px;
      font-size: 24px;
      font-weight: 500;
      font-style: italic;
      text-transform: uppercase;
    }
  }
}

a[mat-flat-button],
button {
  margin-top: 8px;
}

section {
  padding: 10px 0;
}

.progress-active {
  display: grid;
  grid-template-areas:
    'header progress'
    'text progress'
    'button progress';
  grid-template-columns: minmax(220px, 320px) minmax(100px, 150px);
  place-items: center start;

  h3 {
    grid-area: header;

    + p {
      margin-top: 0;
    }
  }

  p {
    grid-area: text;
  }

  button {
    grid-area: button;
  }

  circle-progress {
    grid-area: progress;
    margin: 20px 0 0 20px;
    animation: pulse 1s infinite alternate ease-out;
  }
}

@keyframes pulse {
  from {
    opacity: 0.7;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.03);
  }
}
