mat-nav-list .mdc-list-item {
  font-weight: 500;
  font-size: 14px;
  padding-inline: 12px 0;
  --mat-list-active-indicator-shape: 0;

  mat-icon {
    transition: color 0.15s;
    padding: 4px;
    box-sizing: content-box;
  }

  ::ng-deep .mat-mdc-list-item-unscoped-content {
    height: 48px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: normal;
  }

  &.navigation-header ::ng-deep .mat-mdc-list-item-unscoped-content {
    font-size: 0.95em;
    color: #777;
    padding-inline-start: 6px;
  }

  &.activated-nav-item,
  &.active {
    background-color: var(--sf-navigation-list-item-active-background-color);
    --mdc-list-list-item-label-text-color: var(--sf-navigation-list-item-active);
    --mdc-list-list-item-hover-label-text-color: var(--sf-navigation-list-item-active);
    --mdc-list-list-item-focus-label-text-color: var(--sf-navigation-list-item-active);
    .nav-label {
      background-color: var(--sf-navigation-list-item-active);
      color: var(--sf-navigation-list-item-active-background-color);
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#tools-menu-list,
#admin-pages-menu-list {
  padding-block: 0;
}

#admin-pages-menu-list {
  background-color: rgba(0, 0, 0, 0.04);
}

#tools-menu-list {
  overflow-y: auto;
}

.sync-in-progress {
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

#sync-icon ::ng-deep .mat-badge-content {
  font-family: 'Material Icons';
  background: transparent;
  color: var(--sf-error-foreground);
  font-weight: normal;
  font-size: 1.4rem;
  top: 4px;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4rem;
}

.navigation-header {
  --mdc-list-list-item-hover-state-layer-opacity: 0;
  cursor: initial;
}
.navigation-header:not(:first-child) {
  margin-top: 2em;
}

.mat-mdc-nav-list.disabled-offline ::ng-deep .mat-mdc-list-item-unscoped-content {
  &,
  mat-icon {
    color: var(--sf-disabled-foreground) !important;
  }
}

.nav-label {
  padding: 2px 6px;
  line-height: 1rem;
  border-radius: 100px;
  font-size: 0.95em;
  margin-inline-start: auto;
  margin-inline-end: 12px;
  background-color: var(--sf-navigation-list-item-active-background-color);
  color: var(--sf-navigation-list-item-active);
}
