@use 'src/variables';

mat-nav-list .mdc-list-item {
  height: 48px;
  font-weight: 500;
  font-size: 14px;

  mat-icon {
    color: variables.$purpleMedium;
    fill: variables.$purpleMedium;
    transition: color 0.15s;
  }
  &:hover {
    mat-icon {
      color: variables.$purpleLight;
      fill: variables.$purpleLight;
    }
  }

  ::ng-deep .mat-mdc-list-item-unscoped-content {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: unset;
    font-weight: unset;
    letter-spacing: unset;
  }

  &.navigation-header ::ng-deep .mdc-list-item__content {
    font-size: 0.95em;
    --mdc-list-list-item-label-text-color: #777;
    padding-inline-start: 2px;
  }

  &.activated-nav-item,
  &.active {
    background-color: #e7e8e7;
  }
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#tools-menu-list,
#admin-pages-menu-list {
  padding-top: 0;
}

#tools-menu-list {
  overflow-y: auto;
}

.sync-in-progress {
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

::ng-deep #sync-icon .mat-badge-content {
  font-family: 'Material Icons';
  background: transparent;
  color: variables.$errorColor;
  font-weight: normal;
  font-size: 1.4rem;
  inset-inline-end: -7px;
  top: -7px;
}

.navigation-header {
  --mdc-list-list-item-hover-state-layer-opacity: 0;
  cursor: initial;
}
.navigation-header:not(:first-child) {
  margin-top: 2em;
}

.mat-nav-list.disabled-offline .mdc-list-item {
  &,
  mat-icon {
    color: variables.$disabled-text-color;
  }
}

.nav-label {
  color: white;
  padding: 0px 6px;
  border-radius: 100px;
  font-size: 0.95em;
  background: #4678d6;
  margin-inline-start: auto;
}
