<ng-container *transloco="let t; read: 'audio_recorder_dialog'">
  <mat-dialog-content>
    <div class="container">
      <div class="countdown" [ngClass]="{ animate: countdownTimer > 0 }">{{ countdownTimer }}</div>
      @if (!hasAudioAttachment && !showCountdown) {
        <div class="no-attachment" id="audioRecordContainer">
          @if (!isRecording) {
            <button mat-icon-button (click)="startRecording()" class="record">
              <mat-icon>mic</mat-icon>
            </button>
          } @else {
            <button
              mat-icon-button
              (click)="stopRecording()"
              class="stop"
              [matTooltip]="t('stop_recording')"
              matTooltipPosition="below"
            >
              <mat-icon>stop</mat-icon>
            </button>
          }
        </div>
        <div class="record-message" [class.visible]="!isRecording">
          <p>{{ tapToRecordText!.before }}<mat-icon>mic</mat-icon>{{ tapToRecordText!.after }}</p>
        </div>
      }
      @if (hasAudioAttachment) {
        <div class="has-attachment">
          <app-single-button-audio-player [source]="audio.url" (click)="toggleAudio()">
            <mat-icon>{{ audioPlayer?.playing ? "stop" : "play_arrow" }}</mat-icon>
          </app-single-button-audio-player>
        </div>
      }
    </div>
    <div class="dialog-footer">
      @if (showCanvas) {
        <canvas class="visualizer"></canvas>
      } @else if (hasAudioAttachment) {
        <div class="has-attachment">
          <button mat-button (click)="resetRecording()" class="remove-audio-file">
            <mat-icon>mic</mat-icon>
            {{ t("re_record") }}
          </button>
          <button mat-flat-button color="primary" (click)="saveRecording()" class="save-audio-file">
            <mat-icon>check</mat-icon> {{ t("save") }}
          </button>
        </div>
      }
    </div>
  </mat-dialog-content>
</ng-container>
