@use 'src/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;

  .countdown {
    line-height: 1;
    font-weight: bold;

    &.animate {
      animation: countdown 1s 3;
    }

    &:not(.animate) {
      opacity: 0;
      display: none;
    }
  }

  .record,
  .stop,
  .has-attachment {
    transform: scale(2);
  }

  .record,
  .stop {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .stop {
    animation: pulse 0.75s infinite;
    color: #fff;
    transition: color 0.3s;

    &:hover {
      color: #fff;
    }
  }

  .no-attachment {
    height: 100%;
    width: 100%;
    position: relative;

    // the div elements with the animate class are created dynamically and the
    // ng-deep was needed for these styles to apply
    ::ng-deep .animate {
      background-color: variables.$red;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      animation: growshrink 1s forwards;
    }
  }

  .record-message {
    position: absolute;
    bottom: 70px;
    opacity: 0%;
    &.visible {
      animation: fadein 0.5s;
      opacity: 100%;
    }

    p {
      display: flex;
      align-items: center;
    }
  }
}

.dialog-footer {
  height: 50px;
  min-width: 220px;
}

.visualizer {
  width: 100%;
  height: 100%;
}

.has-attachment {
  display: flex;
  justify-content: space-evenly;
  column-gap: 8px;
}

@keyframes countdown {
  0% {
    font-size: 100px;
    transform: scale(1.2);
  }
  100% {
    font-size: 90px;
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    background-color: variables.$red;
  }
  50% {
    background-color: lighten(variables.$red, 10%);
  }
  100% {
    background-color: variables.$red;
  }
}

@keyframes growshrink {
  0% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 120px;
    height: 120px;
    background-color: white;
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
