<div *transloco="let t; read: 'checking'">
  <form [formGroup]="form" autocomplete="off">
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>{{ textLabel }}</mat-label>
        <textarea appAutofocus matInput formControlName="text" id="textarea" (change)="trim($event)"></textarea>
      </mat-form-field>
      <div class="audio-container">
        <app-checking-audio-recorder
          (status)="updateFormValidity()"
          formControlName="audio"
          class="border-button"
          [ngClass]="{
            invalid: text.invalid,
            borderless: hasAudio(),
            halfHeight: uploadEnabled
          }"
        ></app-checking-audio-recorder>
        <button
          *ngIf="uploadEnabled && !hasAudio()"
          mat-button
          ngfSelect
          type="button"
          [(file)]="uploadAudioFile"
          (fileChange)="prepareAudioFileUpload()"
          accept="audio/*"
          class="border-button"
          [ngClass]="{ invalid: text.invalid, halfHeight: uploadEnabled }"
          [(lastInvalids)]="lastInvalids"
          [matTooltip]="t('upload_audio_file')"
          matTooltipPosition="before"
        >
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="form-helper-text" [ngClass]="{ visible: !suppressErrors && text.invalid }">
    {{ t("input_required_before_saving") }}
  </div>
</div>
