<div class="root" *transloco="let t; read: 'checking'">
  <form [formGroup]="form" autocomplete="off">
    <div class="form-container">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>{{ textLabel }}</mat-label>
        <textarea matInput formControlName="text" id="textarea" (change)="trim($event)"></textarea>
      </mat-form-field>
    </div>
  </form>

  <div class="form-helper-text" [ngClass]="{ visible: !suppressErrors && text.invalid }">
    {{ t("input_required_before_saving") }}
  </div>
</div>
