@use 'src/variables';

.root {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.form-container {
  display: flex;
  column-gap: 4px;
  align-items: stretch;
  textarea {
    max-height: 150px;
  }

  mat-form-field {
    width: 100%;
    mat-text-field {
      width: 100%;
    }
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
}

.form-helper-text {
  color: variables.$errorColor;
  font-size: 0.75em;
  padding-inline: 10px;
  font-weight: 400;
  text-align: center;
  &:not(.visible) {
    display: none;
  }
}
