// The select overlay container is positioned outside of the component
::ng-deep .app-navigation-project-selector-panel {
  // .project-option added to increase CSS rule specificity
  mat-option.project-option {
    .mdc-list-item__primary-text {
      // Fix overflow in Firefox when a project name uses the Khmer script. As of 2022-11-11, the DBL resource
      // KHSV05 is one example that will cause overflow, which looks particularly bad in RTL mode because it
      // overflows to the left in a menu that is laid out in LTR.
      overflow-wrap: anywhere;
      // Material wants to right-align everything when any parent element has dir="rtl". Prevent that.
      margin-left: 0;
    }
  }
}

:host ::ng-deep {
  .mat-mdc-text-field-wrapper {
    border-radius: 0;
  }

  // Hide the hint/error spacing as it isn't required
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

// :host is here only to increase CSS rule specificity
:host mat-form-field {
  display: block;
  text-align: left;
}
