:host ::ng-deep mat-form-field {
  .mat-form-field-flex {
    padding-top: 0;
    min-height: 48px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    bottom: 0;
  }

  .mat-select-arrow-wrapper {
    transform: unset;
  }
}

mat-form-field {
  width: 100%;
}

// A lot of these styles can be removed once we upgrade to Material v15+
.project-option {
  height: unset !important;
  ::ng-deep .mat-option-text {
    // Fix overflow in Firefox when a project name uses the Khmer script. As of 2022-11-11, the DBL resource
    // KHSV05 is one example that will cause overflow, which looks particularly bad in RTL mode because it
    // overflows to the left in a menu that is laid out in LTR.
    overflow-wrap: anywhere;
    min-height: 48px;
    white-space: normal;
    overflow: visible;
    max-width: 255px;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
  }
}
