@use '@angular/material' as mat;

// All mat-styles @include can be removed once the legacy versions are replaced in material-styles.scss
@use 'src/material-styles' as mat-styles;

// The select overlay container is positioned outside of the component
::ng-deep {
  @include mat.select-theme(mat-styles.$material-app-theme);
  @include mat.option-theme(mat-styles.$material-app-theme);
  .project-option {
    .mdc-list-item__primary-text {
      // Fix overflow in Firefox when a project name uses the Khmer script. As of 2022-11-11, the DBL resource
      // KHSV05 is one example that will cause overflow, which looks particularly bad in RTL mode because it
      // overflows to the left in a menu that is laid out in LTR.
      overflow-wrap: anywhere;
    }
  }
}

:host ::ng-deep {
  @include mat.form-field-theme(mat-styles.$material-theme-accent-error);
  .mat-mdc-text-field-wrapper {
    border-radius: 0;
  }

  // Hide the hint/error spacing as it isn't required
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

mat-form-field {
  display: block;
}
