<ng-container *transloco="let t; read: 'navigation-project_selector'">
  <mat-form-field appearance="fill" *ngIf="hasProjects" dir="ltr">
    <mat-select
      [value]="selectedProjectId"
      (valueChange)="changed.emit($event)"
      [hideSingleSelectionIndicator]="true"
      panelClass="app-navigation-project-selector-panel"
    >
      <mat-option class="project-option" *ngFor="let projectDoc of projectDocs" [value]="projectDoc.id">
        {{ projectLabel(projectDoc) }}
      </mat-option>
      <mat-divider></mat-divider>
      <mat-option [dir]="i18n.direction" value="*connect-project*" [class.list-item-disabled]="!isOnline">
        <mat-icon>add</mat-icon>
        {{ t("connect_project") }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
