$linksBreakpoint: 995px;

footer {
  background-color: $greyDark;
  color: $greyLight;
  padding: 108px 0 66px;
  @include media-breakpoint-down(md) {
    padding: 30px 0;
  }
  .flex {
    @media (max-width: $linksBreakpoint) {
      flex-wrap: wrap;
    }
  }

  a {
    color: $greyLight;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  #profile {
    flex: 1 1 100%;
    display: flex;

    @media (max-width: $linksBreakpoint) {
      order: 2;
      justify-content: center;
      flex-wrap: wrap;
    }

    @include media-breakpoint-only(xs) {
      flex-direction: column;
      align-items: center;
    }

    ul {
      list-style: none;
      display: flex;
      margin: 5px 0;
      padding: 0;

      &.links {
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 0 12px;
          @include media-breakpoint-only(xs) {
            margin: 10px 12px;
          }
        }
        a {
          white-space: nowrap;
          margin-bottom: 10px;
        }
      }

      &.app {
        li {
          &:not(:first-child) {
            margin-inline-start: 25px;
          }
        }
      }

      li {
        line-height: 1;
      }
    }

    .version {
      &:before {
        content: 'v';
      }
    }
  }

  #logos {
    flex: 1 0 298px;
    display: flex;
    justify-content: flex-end;

    @media (max-width: $linksBreakpoint) {
      order: 1;
      justify-content: space-around;
      display: flex;
      margin-bottom: 40px;
    }

    a:not(:first-child) {
      margin-inline-start: 82px;
      @media (max-width: $linksBreakpoint) {
        margin-left: 0;
      }
    }

    img {
      height: 50px;
      width: auto;
    }
  }
}
