body[dir='rtl'] {
  --sf-language-icon-alignment: right;
  --sf-language-icon-mobile: scaleX(-1);
}
header {
  position: absolute;
  width: 100%;
  padding-top: 8px;

  .top-bar {
    background-color: $greyDark;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    .mdl-grid {
      padding-bottom: 0;
      .login-buttons {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 1em;
        a {
          margin-bottom: 8px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      .mdl-cell {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  > .container {
    margin-top: 68px;
    @include media-breakpoint-down(md) {
      margin-top: 52px;
    }
  }

  img {
    width: 50px;
    height: auto;
    @include media-breakpoint-down(xs) {
      width: 35px;
    }
  }

  span {
    font-size: 25px;
  }

  a {
    color: $greyDark;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 1em;
  }
  #selectLanguage {
    .mdl-textfield {
      width: auto;
      padding: 0;
      @include media-breakpoint-up(sm) {
        /* Adds the translate icon to the left of the selection box */
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23343a31' d='M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z'/%3E%3C/svg%3E") !important;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        padding-inline-start: 35px;
        background-position: var(--sf-language-icon-alignment, left);
        transform: var(--sf-language-icon-mobile, none);
      }
      select {
        padding: 3px 6px;
        font-family: language_picker, language_picker_fallback, Arial, Helvetica, sans-serif;
        letter-spacing: 0px;
        line-height: 1.2rem;
        @include media-breakpoint-down(xs) {
          /* Adds the translate icon and a down arrow to replace the selected value of the selection box */
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 178.1 110'%3E%3Cpath fill='%23343a31' d='M59,69.1L47.3,57.6l0.1-0.1c8-8.9,13.7-19.1,17-29.9h13.4v-9.2H45.8V9.2h-9.2v9.2H4.6v9.1h51.2          c-3.1,8.8-7.9,17.2-14.5,24.6c-4.3-4.7-7.8-9.9-10.6-15.4h-9.2c3.3,7.5,7.9,14.5,13.7,20.9l-23.3,23l6.5,6.5l22.9-22.9l14.3,14.3          L59,69.1zM75.6,45.8l-20.6,55h9.2l5.1-13.8h21.8l5.2,13.8h9.2l-20.6-55H75.6z M72.8,77.9l7.4-19.8l7.4,19.8          H72.8zM172.8,45.3l-2.8-2.8c-0.4-0.4-0.8-0.6-1.3-0.6c-0.5,0-0.9,0.2-1.3,0.6l-21.7,21.7l-21.7-21.7          c-0.4-0.4-0.8-0.6-1.3-0.6c-0.5,0-0.9,0.2-1.3,0.6l-2.8,2.8c-0.4,0.4-0.6,0.8-0.6,1.3c0,0.5,0.2,0.9,0.6,1.3l25.7,25.7          c0.4,0.4,0.8,0.6,1.3,0.6c0.5,0,0.9-0.2,1.3-0.6l25.7-25.7c0.4-0.4,0.6-0.8,0.6-1.3C173.3,46.1,173.1,45.7,172.8,45.3z'/%3E%3C/svg%3E") !important;
          background-size: 34px 24px !important;
          padding: 0 24px !important;
          border: 0;
          width: 35px;
        }
      }
    }
  }
}
