#hero {
  background-color: $greenLight;
  background-image: linear-gradient($greenLight, #98b132);
  padding: 198px 0 100px;
  @include media-breakpoint-down(md) {
    padding: 152px 0 40px;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 30px;
  }

  h1 {
    margin: 57px auto;
    max-width: 900px;
    line-height: 1.2;
    letter-spacing: 0;
  }
}

#engage {
  background-image: url('/images/engage-banner.jpg');
  background-size: cover;
  background-position: bottom;
  color: $white;
  position: relative;
  padding: 180px 0;
  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }

  &:before {
    position: absolute;
    content: '';
    top: -1px;
    width: 100%;
    height: 35px;
    background: url('/images/banner-book-curve.svg') no-repeat center;
  }

  .title {
    max-width: 780px;
    margin: auto;
  }

  .engage-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    .engage-feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 66px;
      @include media-breakpoint-down(sm) {
        margin-top: 40px;
      }

      img {
        width: 110px;
        height: 110px;
        @include media-breakpoint-down(md) {
          width: 85px;
          height: 85px;
        }
      }

      span {
        font-size: 22px;
        margin-top: 51px;
        @include media-breakpoint-down(md) {
          font-size: 18px;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 20px;
        }
      }
    }
  }
}

#about {
  .about-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    .about-feature {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 66px;
      @include media-breakpoint-down(md) {
        margin-top: 0;
      }

      img {
        width: 80px;
        height: 80px;
        @include media-breakpoint-down(md) {
          width: 65px;
          height: 65px;
        }
      }
      i {
        font-size: 80px;
        @include media-breakpoint-down(md) {
          font-size: 65px;
        }
      }

      > span {
        font-size: 30px;
        margin: 38px 0;
        @include media-breakpoint-down(md) {
          font-size: 22px;
        }
        @include media-breakpoint-down(sm) {
          margin: 20px 0;
        }
      }

      p {
        &::first-letter {
          font-size: 3em;
          float: left;
          line-height: 1;
          padding-right: 5px;
        }
      }
    }
  }
}

.quote {
  background: $purpleDark;
  display: flex;
  justify-content: center;
  .quote-container {
    max-width: 1600px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    @include media-breakpoint-down(md) {
      display: block;
    }

    img {
      height: auto;
      margin-left: 30px;
      @include media-breakpoint-down(md) {
        margin: auto;
        display: block;
      }
    }

    .quote-text {
      max-width: 630px;
      padding: 50px 50px 40px 20px;
      display: flex;
      align-items: flex-start;
      @include media-breakpoint-down(md) {
        margin: auto;
      }
      @include media-breakpoint-only(xs) {
        padding: 30px 30px 10px 20px;
      }

      i {
        color: $white;
        font-size: 107px;
        margin-top: -23px;
        @include media-breakpoint-only(xs) {
          font-size: 50px;
          margin-top: -8px;
        }
      }

      p {
        color: $white;
        font-size: 22px;
        line-height: 1.5;
        @include media-breakpoint-only(xs) {
          font-size: 18px;
        }

        span {
          text-align: right;
          display: block;
          &.quoter-role {
            font-style: italic;
            font-size: smaller;
          }
        }
      }
    }
  }
}

body[dir='ltr'] .quote-text i {
  transform: rotate(180deg);
}

.statement {
  padding-bottom: 55px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 7vw;
  }
  @include media-breakpoint-down(xs) {
    padding-bottom: 40px;
  }
  .statement-text {
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
    padding: 75px 0;
    @include media-breakpoint-down(lg) {
      font-size: 4vw;
      padding: 7vw 0;
    }
    @include media-breakpoint-down(xs) {
      font-size: 22px;
      padding: 50px 0;
    }
  }
  .statement-buttons {
    flex-wrap: wrap;
    a {
      margin: 0 20px 20px;
      @include media-breakpoint-down(xs) {
        margin: 0 10px 10px;
      }
    }
  }
}
