#hero {
  background-color: $greenLight;
  background-image: linear-gradient($greenLight, #98b132);
  padding: 198px 0 100px;
  @include media-breakpoint-down(md) {
    padding: 152px 0 40px;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 30px;
  }

  h1 {
    margin: 57px auto;
    max-width: 900px;
    line-height: 1.2;
    letter-spacing: 0;
  }
}

#engage {
  background-image: url('/images/engage-banner.jpg');
  background-size: cover;
  background-position: bottom;
  color: $white;
  position: relative;
  padding: 180px 0;
  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }

  &:before {
    position: absolute;
    content: '';
    top: -1px;
    width: 100%;
    height: 35px;
    background: url('/images/banner-book-curve.svg') no-repeat center;
  }

  .title {
    max-width: 780px;
    margin: auto;
  }

  .engage-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    .engage-feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 66px;
      @include media-breakpoint-down(sm) {
        margin-top: 40px;
      }

      img {
        width: 110px;
        height: 110px;
        @include media-breakpoint-down(md) {
          width: 85px;
          height: 85px;
        }
      }

      span {
        font-size: 22px;
        margin-top: 51px;
        @include media-breakpoint-down(md) {
          font-size: 18px;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 20px;
        }
      }
    }
  }
}

#about {
  .about-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    .about-feature {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 66px;
      @include media-breakpoint-down(md) {
        margin-top: 0;
      }

      img {
        width: 80px;
        height: 80px;
        @include media-breakpoint-down(md) {
          width: 65px;
          height: 65px;
        }
      }
      i {
        font-size: 80px;
        @include media-breakpoint-down(md) {
          font-size: 65px;
        }
      }

      > span {
        font-size: 30px;
        margin: 38px 0;
        @include media-breakpoint-down(md) {
          font-size: 22px;
        }
        @include media-breakpoint-down(sm) {
          margin: 20px 0;
        }
      }

      p {
        &::first-letter {
          font-size: 3em;
          float: left;
          line-height: 1;
          padding-right: 5px;
        }
      }
    }
  }
}

.quote {
  background: $purpleDark;
  .quote-container {
    max-width: 1600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    img {
      height: auto;
      @include media-breakpoint-only(xl) {
        max-width: 50vw;
      }
    }

    .quote-text {
      max-width: 630px;
      padding: 50px 50px 40px 20px;
      margin: auto;
      display: flex;
      align-items: flex-start;
      @include media-breakpoint-only(xs) {
        padding: 30px 30px 10px 20px;
      }

      i {
        color: $white;
        transform: rotate(180deg);
        font-size: 107px;
        margin-top: -23px;
        @include media-breakpoint-only(xs) {
          font-size: 50px;
          margin-top: -8px;
        }
      }

      p {
        color: $white;
        font-size: 22px;
        line-height: 1.5;
        @include media-breakpoint-only(xs) {
          font-size: 18px;
        }

        span {
          text-align: right;
          display: block;
          &.quoter-role {
            font-style: italic;
            font-size: smaller;
          }
        }
      }
    }
  }
}

#learn-more {
  .features-container {
    .features {
      position: relative;
      padding: 0 80px;
      margin-top: 120px;
      box-sizing: border-box;
      width: 100%;

      @media (max-width: 767px) {
        padding: 0 70px;
        margin-top: 70px;
      }

      @include media-breakpoint-down(xs) {
        padding: 0 30px;
      }

      &:nth-child(1) {
        margin-top: 80px;
        @media (max-width: 767px) {
          margin-top: 0px;
        }
      }
      .tns-controls {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        @media (max-width: 767px) {
          align-items: flex-start;
          top: -10px;
        }
        @include media-breakpoint-down(xs) {
          top: -5px;
        }

        &:active {
          outline: none;
        }

        button {
          position: absolute;
          z-index: 1;
          border: 0;
          background: none;
          padding: 0;
          i {
            font-size: 50px;
            @include media-breakpoint-down(xs) {
              font-size: 40px;
            }
          }
          &:focus {
            outline: none;
          }

          &[data-controls='prev'] {
            left: 0;
            @include media-breakpoint-down(xs) {
              left: -8px;
            }
          }
          &[data-controls='next'] {
            right: 0;
            @include media-breakpoint-down(xs) {
              right: -8px;
            }
          }
        }
      }
      .tns-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;

        [aria-controls] {
          z-index: 1;
          width: 9px;
          height: 9px;
          padding: 0;
          margin: 0 5px;
          border-radius: 50%;
          background: #ddd;
          border: 0;
        }
        .tns-nav-active {
          background: #999;
        }
      }
      .slider > div {
        .feature {
          display: flex;
          align-items: flex-start;

          @media (max-width: 767px) {
            flex-direction: column;
          }

          &.right {
            .text {
              order: 2;
              padding: 0 0 0 35px;
            }
            img,
            iframe {
              order: 1;
              @media (max-width: 767px) {
                order: 3;
              }
            }
          }
        }

        .text {
          padding: 0 35px 0 0;
          flex: 1;
          @media (max-width: 767px) {
            padding: 0 0 5px !important;
          }
          h3 {
            margin: 0 0 16px;
          }

          i.material-icons {
            font-size: 3em;
            float: left;
            line-height: 1;
            padding-right: 5px;
          }
        }

        img {
          height: auto;
        }
        iframe {
          height: 400px;
          @include media-breakpoint-down(md) {
            height: 194px;
          }
          @media (max-width: 767px) {
            height: 315px;
          }
        }
        img,
        iframe {
          max-width: 100%;
          width: 60%;
          @include media-breakpoint-down(md) {
            width: 45%;
          }
          @media (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.statement {
  background: $purpleDark;
  .statement-text {
    text-align: center;
    color: $white;
    font-size: 50px;
    line-height: 1.2;
    padding: 200px 0;
    @include media-breakpoint-down(lg) {
      font-size: 4vw;
      padding: 16vw 0;
    }
    @include media-breakpoint-down(xs) {
      font-size: 22px;
      padding: 50px 0;
    }
  }
}
