.flex {
  display: flex;
}
.align-center {
  text-align: center;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.direction-column {
  flex-direction: column;
}
.container {
  max-width: 1122px;
  margin: 0 auto;
}
section.inside {
  padding: 200px 0 30px;
  @include media-breakpoint-only(sm) {
    padding-top: 160px;
  }
  @include media-breakpoint-only(xs) {
    padding-top: 140px;
  }
}
section.panel {
  padding: 76px 0 125px;
  @include media-breakpoint-down(md) {
    padding: 46px 0 70px;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }
}
.mdl-cell.intro {
  @include media-breakpoint-up(md) {
    padding-top: 48px;
  }
}
.section-title {
  padding-left: 110px;
  @include media-breakpoint-down(md) {
    padding-left: 70px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 30px;
  }

  h2 {
    margin: 0;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 1.2;
    }
  }

  .title {
    position: relative;
    @include media-breakpoint-down(sm) {
      font-size: 26px;
    }

    &:before {
      content: '';
      position: absolute;
      left: -110px;
      top: 0;
      height: 40px;
      width: 70px;
      background-color: $greenLight;
      @include media-breakpoint-down(md) {
        width: 40px;
        left: -85px;
      }
      @include media-breakpoint-down(sm) {
        width: 20px;
        height: 24px;
        left: -46px;
      }
    }

    &:after {
      position: absolute;
      content: '';
      left: -40px;
      top: 0;
      border-style: solid;
      border-width: 20px 0 20px 20px;
      border-color: transparent transparent transparent $greenLight;
      @include media-breakpoint-down(md) {
        left: -46px;
      }
      @include media-breakpoint-down(sm) {
        left: -26px;
        border-width: 12px 0 12px 12px;
      }
    }

    &.dark {
      &:before {
        background-color: $purpleDark;
      }
      &:after {
        border-color: transparent transparent transparent $purpleDark;
      }
    }
  }
}
