.flex {
  display: flex;
}
.align-center {
  text-align: center;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.direction-column {
  flex-direction: column;
}
.container {
  max-width: 1122px;
  margin: 0 auto;
}
section.inside {
  padding: 80px 0 30px;
}
