body,
p {
  color: $greyDark;
  font-weight: 300;
  font-family: $fontFamily;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h1 {
  font-size: 50px;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
  }
}
h2 {
  font-size: 25px;
  margin: 0.75em 0 0.15em;
  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}
h3 {
  font-size: 34px;
  line-height: 1.2;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }
}
.title {
  font-size: 40px;
  line-height: 1.1;
  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

.intro {
  p {
    font-size: 22px;
    line-height: 1.5;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 5px solid $greenLight;
  padding: 0 15px;
  margin: 0 15px;
  p {
    font-size: 1.3rem;
    line-height: 1.75rem;
  }

  &:before,
  &:after {
    display: none;
  }
}
