/* Header and footer colors */
$greyLight: #a3a3a3;
$greyDark: #343a31;

/* Body accent colors */
$greenLight: #b8d432;
$highlight: #ffff00;

/* Brand colors */
$primaryWhite: #ffffff;
$secondaryGreen: #becc63;
$secondaryDarkGreen: #9ba26d;
$secondaryMidYellow: #f3d479;
$neutralDarkGray: #434343;

$fontFamily: Roboto, Arial, Helvetica, sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 840px,
  lg: 960px,
  xl: 1140px
);
