.layout {
  display: flex;
  align-items: center;
  &.layout-inline {
    > div {
      display: flex;
      flex-direction: column;
      img {
        width: 1em;
        height: 1em;
      }
      .name {
        margin-inline-end: 5px;
      }
    }
  }
}
.avatar {
  margin-inline-end: 5px;
  img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}
.owner-text {
  line-height: 1.14em;
  font-size: 0.85em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date-time {
  opacity: 0.5;
  .time {
    text-transform: lowercase;
    white-space: nowrap;
  }
}
