<ng-container *transloco="let t; read: 'diagnostic-overlay'">
  <div class="diagnostic-overlay" [class.collapsed]="!isExpanded">
    <button class="toggle-button" [class.collapsed]="!isExpanded" (click)="onToggle()">
      @if (isExpanded) {
        <mat-icon>chevron_right</mat-icon>
      } @else {
        <mat-icon>chevron_left</mat-icon>
      }
    </button>
    @if (isExpanded) {
      <h1>Developer Info:</h1>
      <h3>{{ totalDocsCount }} total docs.</h3>
      <table class="diagnostic-overlay-table">
        <thead>
          <tr>
            <th>Collection</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          @for (docType of docs | keyvalue; track docType.key) {
            @if (docType) {
              <tr>
                <td>{{ docType.key }}</td>
                <td>{{ docType.value }}</td>
              </tr>
            }
          }
        </tbody>
      </table>
    }
  </div>
</ng-container>
