<ng-container *transloco="let t; read: 'checking_questions'">
  <div>
    @if (scriptureAudioUrl != null) {
      <div class="scripture-audio" [class]="focusedText">
        <span class="spacer"></span>
        <app-single-button-audio-player
          #scriptureAudio
          id="scriptureAudio"
          [class]="focusedText"
          [source]="scriptureAudioUrl"
          [start]="scriptureAudioStart"
          [end]="scriptureAudioEnd"
          (click)="playScripture()"
        >
          <mat-icon>{{ scriptureAudio.playing ? "stop" : "play_arrow" }}</mat-icon>
        </app-single-button-audio-player>
        <p (click)="selectScripture()">
          {{ t("scripture_audio_label", { referenceForDisplay: referenceForDisplay }) }}
        </p>
      </div>
    }

    <div class="question-text" [class]="focusedText">
      <span class="spacer"></span>
      @if (!questionAudioUrl) {
        <div id="noQuestionAudio" [class]="focusedText">
          <mat-icon class="mirror-rtl">question_answer</mat-icon>
        </div>
      } @else {
        <app-single-button-audio-player
          #questionAudio
          id="questionAudio"
          [class]="focusedText"
          [source]="questionAudioUrl"
          (click)="playQuestion()"
        >
          <mat-icon>{{ questionAudio.playing ? "stop" : "play_arrow" }}</mat-icon>
        </app-single-button-audio-player>
      }
      <p (click)="selectQuestion()">
        {{ questionText }}
      </p>
    </div>
  </div>
</ng-container>
