@import 'src/variables';

:host {
  padding-inline: 12px;
}

.two-rows {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.scripture-audio,
.question-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  color: $greyLight;
  min-height: 30px;
  p {
    margin: 0px;
    transition: color 0.3s;
  }
}

#scriptureAudio,
#questionAudio {
  align-self: start;
}

#scriptureAudio.question-audio-label,
#questionAudio.scripture-audio-label,
#noQuestionAudio.scripture-audio-label {
  display: none;
}

.spacer {
  min-width: 30px; //width of the audio player button
}

.scripture-audio.scripture-audio-label,
.question-text.question-audio-label {
  font-weight: bold;
  color: black;
  span {
    display: none;
  }
}

.scripture-audio.question-audio-label,
.question-text.scripture-audio-label {
  p {
    cursor: pointer;
  }
}

#noQuestionAudio {
  min-height: 30px;
  min-width: 30px;
  padding: 3px 0;
  display: flex;
  align-self: start;
  justify-content: center;
}
