<form [formGroup]="commentForm" (ngSubmit)="submit()" autocomplete="off" id="comment-form">
  <mdc-form-field fluid>
    <mdc-text-field
      appAutofocus
      label="Your Comment"
      type="text"
      formControlName="commentText"
      outlined
      [value]="text"
    ></mdc-text-field>
    <mdc-helper-text validation>You need to enter your comment before saving</mdc-helper-text>
  </mdc-form-field>
  <div class="form-actions">
    <button mdc-button (click)="submitCancel()" class="cancel-comment">Cancel</button>
    <button mdc-button primary form="comment-form" class="save-comment">Save Comment</button>
  </div>
</form>
