@use '@angular/material' as mat;

@mixin color($theme) {
  $is-dark: mat.get-theme-type($theme) == dark;

  --sf-drafting-signup-requests-table-row-background-color: #{mat.get-theme-color(
      $theme,
      neutral,
      if($is-dark, 10, 100)
    )};
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
