<app-mobile-not-supported></app-mobile-not-supported>

@if (showProjectTitle) {
  <h1>{{ projectName }}</h1>
}

<h2>Pre-Translation Configuration</h2>
<div class="admin-tool">
  <div class="admin-tool-control">
    <mat-checkbox [checked]="preTranslate" (change)="onUpdatePreTranslate($event.checked)" [disabled]="!isOnline">
      Pre-Translation Drafting Enabled
    </mat-checkbox>
  </div>
  <div class="admin-tool-control">
    <button
      id="run-webhook"
      mat-flat-button
      color="primary"
      (click)="retrievePreTranslationStatus()"
      [disabled]="!isOnline"
    >
      Run webhook to update draft status
    </button>
    <app-info
      text="This will check Serval for any draft pre-translations for this project and update the project's chapters."
    ></app-info>
  </div>
  <div class="admin-tool-control">
    <a id="view-event-log" mat-flat-button color="primary" [appRouterLink]="eventLogLink" [disabled]="!isOnline"
      >View Event Log</a
    >
  </div>
  <div class="admin-tool-control">
    <button
      (click)="downloadDraft()"
      mat-flat-button
      color="primary"
      [disabled]="!isOnline || lastCompletedBuild == null || downloadBooksTotal > 0"
      id="download-draft"
    >
      <mat-icon>download</mat-icon>
      Download draft
    </button>
    <app-info text="A zip file containing the latest generated draft."></app-info>
    @if (downloadBooksTotal > 0) {
      <div class="zip-progress">Zipping file {{ downloadBooksProgress }} of {{ downloadBooksTotal }}...</div>
    }
  </div>
</div>

<h2>Downloads</h2>
<app-notice icon="info" mode="fill-dark">
  The Zip archives contain the Paratext files for the project at the time of last sync. Any edits in Paratext that have
  not been synced to Scripture Forge will not be included, and
  <em>any edits made in Scripture Forge</em> since the last sync will not be included
</app-notice>
<div class="table-container">
  <table mat-table [dataSource]="rows">
    @for (column of columnsToDisplay | slice: 0 : columnsToDisplay.length - 1; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ headingsToDisplay[column] }}</th>
        <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
      </ng-container>
    }

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-flat-button
          color="primary"
          (click)="downloadProject(row['id'], row['fileName'])"
          [disabled]="!isOnline"
        >
          <mat-icon>download</mat-icon>
          Download
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>

<h2>Last Draft Settings</h2>
<h3>Training books</h3>
@for (book of trainingBooksByProject; track book.source) {
  <div class="training">
    <p>{{ book.source }}</p>
    <p class="training-source-range">{{ book.scriptureRange }}</p>
  </div>
} @empty {
  <p class="training">None</p>
}
<h3>Training data files</h3>
<p>{{ trainingFiles.join(", ") || "None" }}</p>
<h3>Translation books</h3>
<p class="translation-range">{{ translationBooks.join(", ") || "None" }}</p>

@if (draftJob$ | async; as draftJob) {
  <h3>Diagnostic Information</h3>
  <app-draft-information [draftJob]="draftJob"></app-draft-information>
}

<h2>Raw Draft Configuration</h2>
<pre class="raw-draft-config">
@for (key of keys(draftConfig ?? {}); track key) {{{ key }}: <strong>{{
    key === 'servalConfig' ? draftConfig![key] : stringify(draftConfig![key])
  }}</strong>
}
</pre>
