.admin-tool {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  > .admin-tool-control {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    .serval-config-field {
      width: 100%;
    }
  }
}

.zip-progress {
  display: flex;
  align-items: center;
}

.data-table-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
}
