<div class="projects-controls">
  <mat-form-field appearance="fill">
    <mat-label>Filter projects...</mat-label>
    <input matInput (keyup)="updateSearchTerm($event.target)" id="project-filter" />
  </mat-form-field>
</div>
@if (!isLoading) {
  @if (length > 0) {
    <table mat-table id="projects-table" [dataSource]="rows">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">
          <a [appRouterLink]="['/serval-administration', row.id]">{{ row.name }}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="preTranslate">
        <th mat-header-cell *matHeaderCellDef>Pre-Translation</th>
        <td mat-cell *matCellDef="let row">
          @if (row.preTranslate) {
            <strong>Enabled</strong>
          } @else {
            <span>Disabled</span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef>Source</th>
        <td mat-cell *matCellDef="let row">
          @if (row.sourceId != null) {
            <a [appRouterLink]="['/serval-administration', row.sourceId]">{{ row.source }}</a>
          } @else {
            <span>{{ row.source }}</span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="draftingSource">
        <th mat-header-cell *matHeaderCellDef>Drafting Source</th>
        <td mat-cell *matCellDef="let row">
          @for (source of row.draftingSources; track source.id) {
            <p>
              <a [appRouterLink]="['/serval-administration', source.id]">{{ source.label }}</a>
            </p>
          } @empty {
            <span>None</span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="trainingSource">
        <th mat-header-cell *matHeaderCellDef>Training Source</th>
        <td mat-cell *matCellDef="let row">
          @for (source of row.trainingSources; track source.id) {
            <p>
              <a [appRouterLink]="['/serval-administration', source.id]">{{ source.label }}</a>
            </p>
          } @empty {
            <span>None</span>
          }
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator
      [pageIndex]="pageIndex"
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      (page)="updatePage($event.pageIndex, $event.pageSize)"
    >
    </mat-paginator>
  }
  @if (length === 0) {
    <div class="no-projects-label">No projects found</div>
  }
}
