.admin-tool {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  > .admin-tool-control {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
}

.raw-draft-config {
  font-family: monospace;
}
