<app-mobile-not-supported></app-mobile-not-supported>
<div class="body-content">
  <h1>Serval Administration</h1>

  <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Projects">
      <ng-template matTabContent>
        <app-serval-projects></app-serval-projects>
      </ng-template>
    </mat-tab>
    <mat-tab label="Draft Jobs">
      <ng-template matTabContent>
        <app-draft-jobs></app-draft-jobs>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
