<div fxLayout="column" fxLayoutAlign="center start" class="body-content">
  <h1>{{ projectName }}</h1>
  <div>
    <a mat-raised-button color="primary" [appRouterLink]="'/serval-administration'">Back to Projects</a>
  </div>
  <h2>Pre-Translation Configuration</h2>
  <div>
    <mat-checkbox [checked]="preTranslate" (change)="onUpdatePreTranslate($event.checked)">
      Pre-Translation Drafting Enabled
    </mat-checkbox>
  </div>
  <h2>Downloads</h2>
  <app-notice icon="info">
    The Zip archives contain the Paratext files for the project at the time of last sync.
  </app-notice>
  <div class="table-container">
    <table mat-table [dataSource]="rows">
      <ng-container
        *ngFor="let column of columnsToDisplay | slice : 0 : columnsToDisplay.length - 1"
        [matColumnDef]="column"
      >
        <th mat-header-cell *matHeaderCellDef>{{ headingsToDisplay[column] }}</th>
        <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" (click)="downloadProject(row['id'], row['fileName'])">
            Download
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </div>
</div>
