<ng-container *transloco="let t; read: 'connect_project'">
  <h1>{{ t("connect_paratext_project") }}</h1>
  @if (!isAppOnline) {
    <span class="offline-text"> {{ t("connect_network_to_connect_project") }} </span>
  }
  <div class="content">
    @switch (state) {
      @case ("connecting") {
        <mat-card class="progress-container card-outline">
          <mat-card-content>
            <div class="progress-label">{{ t("connecting_to_project", { projectName: projectTitle }) }}</div>
            <app-sync-progress [projectDoc]="projectDoc" (inProgress)="updateStatus($event)"></app-sync-progress>
          </mat-card-content>
        </mat-card>
      }
      @default {
        <div class="project-title">
          <img src="/assets/images/logo-pt9.png" alt="Paratext Logo" class="paratext-logo" />
          {{ projectTitle }}
        </div>
        <form [formGroup]="connectProjectForm" (ngSubmit)="submit()">
          @if (showSettings) {
            <mat-card id="settings-card" class="card-outline" formGroupName="settings">
              <mat-card-title>{{ t("project_settings") }}</mat-card-title>
              <mat-card-subtitle>{{ t("you_can_change_later") }}</mat-card-subtitle>
              <mat-card-content class="card-content">
                <p>{{ t("select_project_or_resource") }}</p>
                <app-project-select
                  formControlName="sourceParatextId"
                  [placeholder]="t('source_text_placeholder')"
                  [projects]="projects"
                  [resources]="resources"
                  [hiddenParatextIds]="[ptProjectId]"
                  [isDisabled]="projects.length === 0"
                ></app-project-select>
                @if (showResourcesLoadingFailedMessage) {
                  <mat-error>{{ t("error_fetching_resources") }}</mat-error>
                }
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-content class="card-content">
                <div>
                  <mat-checkbox formControlName="checking" id="checking-checkbox">
                    {{ t("enable_community_checking") }}
                  </mat-checkbox>
                </div>
                <p class="helper-text">{{ t("engage_the_wider_community_to_check_scripture") }}</p>
              </mat-card-content>
            </mat-card>
          }
          <button mat-flat-button type="submit" id="connect-submit-button" [disabled]="submitDisabled">
            {{ t("connect") }}
          </button>
        </form>
      }
    }
  </div>
</ng-container>
