@import '~src/global';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 512px;
  width: 100%;

  .paratext-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > button {
      margin-top: 19px;
      background-color: $pt-button-green;
      color: white;
      height: 40px;

      > .paratext-logo {
        width: 32px;
        height: 32px;
        margin-right: 8px;
      }
    }
  }

  .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    > .progress-label {
      margin-bottom: 19px;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    #project-select {
      width: 100%;
      margin-right: 32px;
    }

    #no-projects-msg {
      align-self: center;
    }

    mdc-card {
      margin-top: 32px;

      .card-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 8px 16px 0 16px;
      }

      .card-content {
        padding: 16px;
      }

      mdc-select {
        width: 100%;
        margin-bottom: 4px;
      }

      mdc-list-divider {
        margin-left: 22px;
      }
    }

    #connect-submit-button {
      align-self: center;
      margin-top: 32px;
      @include mdc-button-filled-accessible($pt-button-green);
    }

    p.helper-select,
    .indented-field-row {
      margin-top: 16px;
    }

    .helper-text {
      color: var(--mdc-theme-text-hint-on-background);
      margin: 0;
      font-size: 14px;
    }

    .invalid-feedback {
      color: var(--mdc-theme-error);
      font-size: 12px;
      margin-left: 32px;
    }
  }
}
