<ng-container *transloco="let t; read: 'connect_project'">
  <div class="title mat-display-1">{{ t("connect_paratext_project") }}</div>
  <span *ngIf="!isAppOnline" class="offline-text"> {{ t("connect_network_to_connect_project") }} </span>
  <div class="content" [ngSwitch]="state">
    <div *ngSwitchCase="'login'" class="paratext-login-container">
      <div>{{ t("you_must_be_logged_in_to_paratext") }}</div>
      <button mat-flat-button id="paratext-login-button" type="button" (click)="logInWithParatext()">
        <img src="/assets/images/logo-pt9.png" alt="Paratext Logo" class="paratext-logo" />{{
          t("log_in_with_paratext")
        }}
      </button>
    </div>
    <mat-card *ngSwitchCase="'connecting'" class="progress-container card-outline">
      <div class="progress-label">{{ t("connecting_to_project", { projectName: connectProjectName }) }}</div>
      <app-sync-progress [projectDoc]="projectDoc" (inProgress)="updateStatus($event)"></app-sync-progress>
    </mat-card>
    <form *ngSwitchDefault [formGroup]="connectProjectForm" (ngSubmit)="submit()">
      <ng-container *ngIf="projects.length > 0 || state === 'offline'; else noProjectMsg">
        <p *ngIf="hasNonAdministratorProject && !showSettings && isAppOnline" id="connect-non-admin-msg">
          {{ t("only_paratext_admins_can_start") }}
        </p>
        <mdc-form-field>
          <mdc-select
            #projectSelect
            id="project-select"
            placeholder="{{ t('paratext_project') }}"
            formControlName="paratextId"
            [outlined]="true"
          >
            <mdc-menu id="projects-menu">
              <mdc-list>
                <mdc-list-item
                  *ngFor="let project of projects"
                  [value]="project.paratextId"
                  [disabled]="!project.isConnectable"
                >
                  {{ projectLabel(project) }}
                  <ng-container *ngIf="!project.isConnectable && project.isConnected">
                    &nbsp;{{ t("already_connected") }}
                  </ng-container>
                  <ng-container *ngIf="!project.isConnectable && !project.isConnected">&nbsp;**</ng-container>
                </mdc-list-item>
              </mdc-list>
            </mdc-menu>
          </mdc-select>
        </mdc-form-field>
      </ng-container>
      <ng-template #noProjectMsg>
        <p
          *ngIf="state !== 'loading'"
          id="no-projects-msg"
          [innerHtml]="i18n.translateAndInsertTags('connect_project.no_connectable_projects')"
        ></p>
      </ng-template>
      <mat-card id="settings-card" *ngIf="showSettings" class="card-outline" formGroupName="settings">
        <mat-card-header class="card-title">
          <mat-card-title>{{ t("additional_settings") }}</mat-card-title>
          <mat-card-subtitle>{{ t("you_can_change_later") }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
          <mat-checkbox [disabled]="true" [checked]="true" class="checkbox-placeholder">
            {{ translateFromSettings("translate") }}
          </mat-checkbox>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="24px" class="indent"></div>
            <div fxLayout="column" fxFlex="grow">
              <mat-hint class="helper-text checkbox-helper-text">
                {{ translateFromSettings("translate_tool_is_always_available") }}
              </mat-hint>
              <mat-hint
                class="indented-field-row"
                [innerHTML]="i18n.translateAndInsertTags('settings.translation_based_on')"
              ></mat-hint>
              <app-project-select
                formControlName="sourceParatextId"
                placeholder="{{ t('based_on') }}"
                [projects]="projects"
                [resources]="resources"
                [hideProjectId]="paratextIdControl.value"
              ></app-project-select>
              <mat-error *ngIf="showResourcesLoadingFailedMessage">{{ t("error_fetching_resources") }}</mat-error>
            </div>
          </div>
          <ng-container *ngIf="isBasedOnProjectSet">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="24px" class="indent"></div>
              <div fxLayout="column" fxFlex="grow">
                <div class="indented-field-row">
                  <mat-checkbox formControlName="translationSuggestions" id="translation-suggestions-checkbox">
                    {{ translateFromSettings("translation_suggestions") }}
                  </mat-checkbox>
                </div>
                <div>
                  <div fxFlex="24px" class="indent"></div>
                  <mat-hint
                    fxFlex
                    class="helper-text"
                    [innerHTML]="i18n.translateAndInsertTags('settings.translations_will_be_suggested')"
                  ></mat-hint>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content class="card-content">
          <div>
            <mat-checkbox formControlName="checking" id="checking-checkbox">
              {{ t("community_checking") }}
            </mat-checkbox>
          </div>
          <div>
            <div fxFlex="24px" class="indent"></div>
            <mat-hint fxFlex class="helper-text">{{ t("engage_the_wider_community_to_check_scripture") }}</mat-hint>
          </div>
        </mat-card-content>
      </mat-card>
      <button mat-flat-button type="submit" id="connect-submit-button" [disabled]="submitDisabled">
        {{ t("connect") }}
      </button>
    </form>
  </div>
</ng-container>
