@use '@material/button/mixins' as button;

@import 'src/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 32px;
}

.offline-text {
  padding-bottom: 16px;
}

.content {
  max-width: 512px;
  width: 100%;

  .paratext-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > button {
      margin-top: 19px;
      background-color: $pt-button-green;
      color: white;
      height: 40px;

      > .paratext-logo {
        width: 32px;
        height: 32px;
        margin-right: 8px;
      }
    }
  }

  .progress-container {
    display: flex;
    flex-direction: column;
    padding: 32px;

    > .progress-label {
      margin-bottom: 19px;
      align-self: center;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    #project-select {
      width: 100%;
    }

    #no-projects-msg {
      align-self: center;
    }

    mdc-card {
      margin-top: 32px;

      .card-title {
        margin: 8px 16px 0 16px;
      }

      .card-content {
        padding: 16px;
      }

      mdc-list-divider {
        margin-left: 22px;
      }
    }

    #connect-submit-button {
      align-self: center;
      margin: 32px 0;
      @include button.filled-accessible($pt-button-green);
    }

    p.helper-select,
    .indented-field-row {
      margin-top: 16px;
    }

    .helper-text {
      color: var(--mdc-theme-text-hint-on-background);
      margin: 0;
      font-size: 14px;
    }

    .select-helper-text,
    mat-error {
      font-size: 14px;
      margin-top: 10px;
    }

    .invalid-feedback {
      color: var(--mdc-theme-error);
      font-size: 12px;
      margin-left: 32px;
    }
  }
}

#based-on-field {
  max-width: calc(100% - 44px);
}

mdc-menu {
  // Make the MDC Menu List extend to the width of the MDC Select that it drops down from, minus some space to still
  // show the drop down arrow.
  width: calc(100% - 40px);
}

mdc-select {
  margin-bottom: 4px;
  ::ng-deep .mdc-select__anchor {
    width: 100%;
  }
}

mdc-list-item {
  height: unset;
  min-height: 48px;
}
