@import 'src/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 32px;
}

.content {
  max-width: 512px;
  width: 100%;

  mat-expansion-panel {
    margin-bottom: 48px;
  }

  span {
    display: table;
    margin: 16px auto;
  }

  .new-project-header {
    margin-top: 48px;
  }

  .paratext-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > button {
      margin-top: 19px;
      background-color: $pt-button-green;
      color: white;
      height: 40px;

      .paratext-logo {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
  }

  .progress-container {
    display: flex;
    flex-direction: column;
    padding: 32px;

    > .progress-label {
      margin-bottom: 19px;
      align-self: center;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    #project-select {
      width: 100%;
    }

    #no-projects-msg {
      align-self: center;
    }

    // mat-icon-stepper selected color change
    ::ng-deep .mat-step-header .mat-step-icon-selected,
    .mat-step-header .mat-step-icon-state-done,
    .mat-step-header .mat-step-icon-state-edit {
      background-color: red !important;
    }

    //input outline color
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: red !important;
      // opacity: 1!important;
    }

    //mat-input focused color
    ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: red !important;
    }

    // mat-input error outline color
    ::ng-deep
      .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
      .mat-form-field-outline-thick {
      color: red !important;
      opacity: 0.8 !important;
    }

    // mat-input carent color
    ::ng-deep .mat-input-element {
      caret-color: red !important;
    }

    // mat-input error carent color
    ::ng-deep .mat-form-field-invalid .mat-input-element,
    .mat-warn .mat-input-element {
      caret-color: red !important;
    }

    // mat-label normal state style
    ::ng-deep .mat-form-field-label {
      color: rgba(0, 0, 0, 0.6) !important;
      // color: $mainColor!important;
    }

    // mat-label focused style
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
      color: red !important;
    }

    // mat-label error style
    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: red !important;
    }

    mat-card {
      display: flex;
      flex-direction: column;

      mat-divider + .card-content {
        padding-top: 16px;
      }

      mat-checkbox {
        padding-bottom: 4px;
      }

      p {
        margin-bottom: 12px;
      }
    }

    #connect-submit-button {
      align-self: center;
      margin: 32px 0;
      &:not(:disabled) {
        background-color: $pt-button-green;
        color: white;
      }
    }

    p.helper-select,
    .indented-field-row {
      margin-top: 16px;
    }

    .helper-text {
      margin: 0;
      font-size: 14px;
    }

    .select-helper-text,
    mat-error {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
::ng-deep .checkbox-placeholder {
  .mat-checkbox-inner-container {
    visibility: hidden;
  }

  .mat-checkbox-label {
    color: initial;
  }
}

p {
  margin: 0px;
}

#based-on-field {
  max-width: calc(100% - 44px);
}

mat-select {
  margin-bottom: 4px;
  ::ng-deep .mat-select__anchor {
    width: 100%;
  }
}

::ng-deep .mat-select-panel {
  // Make the option extend to the width of the box that it drops down from, minus some space to still
  // show the drop down arrow.
  min-width: calc(100% - 20px) !important;
}

mat-list-option {
  background-color: #f8f8f8;
  margin: 8px 0px;
  border-radius: 8px;
}

// mat-option {
//   height: unset;
//   min-height: 48px;
// }

app-project-select {
  margin-top: 16px;
}
