<ng-container *transloco="let t; read: 'connect_project'">
  <div mdcHeadline4 class="title">{{ t("connect_paratext_project") }}</div>
  <span *ngIf="!isAppOnline" class="offline-text"> {{ t("connect_network_to_connect_project") }} </span>
  <div class="content" [ngSwitch]="state">
    <div *ngSwitchCase="'login'" class="paratext-login-container">
      <div mdcBody1>{{ t("you_must_be_logged_in_to_paratext") }}</div>
      <button mdc-button id="paratext-login-button" type="button" (click)="logInWithParatext()">
        <img src="/assets/paratext_logo.png" alt="Paratext Logo" class="paratext-logo" />{{ t("log_in_with_paratext") }}
      </button>
    </div>
    <mdc-card outlined *ngSwitchCase="'connecting'" class="progress-container">
      <div class="progress-label" mdcBody1>{{ t("connecting_to_project", { projectName: connectProjectName }) }}</div>
      <app-sync-progress [projectDoc]="projectDoc" (inProgress)="updateStatus($event)"></app-sync-progress>
    </mdc-card>
    <form *ngSwitchDefault [formGroup]="connectProjectForm" (ngSubmit)="submit()">
      <ng-container *ngIf="projects?.length > 0 || state === 'offline'; else noProjectMsg">
        <p *ngIf="hasNonAdministratorProject && !showSettings && isAppOnline" id="connect-non-admin-msg">
          {{ t("only_paratext_admins_can_start") }}
        </p>
        <mdc-form-field>
          <mdc-select
            #projectSelect
            id="project-select"
            placeholder="{{ t('paratext_project') }}"
            formControlName="paratextId"
            outlined
          >
            <mdc-menu id="projects-menu">
              <mdc-list>
                <mdc-list-item
                  *ngFor="let project of projects"
                  [value]="project.paratextId"
                  [disabled]="!project.isConnectable"
                >
                  {{ project.name }}
                  <ng-container *ngIf="!project.isConnectable && project.isConnected">
                    &nbsp;{{ t("already_connected") }}
                  </ng-container>
                  <ng-container *ngIf="!project.isConnectable && !project.isConnected">&nbsp;**</ng-container>
                </mdc-list-item>
              </mdc-list>
            </mdc-menu>
          </mdc-select>
        </mdc-form-field>
      </ng-container>
      <ng-template #noProjectMsg>
        <p
          *ngIf="state !== 'loading'"
          id="no-projects-msg"
          [innerHtml]="i18n.translateAndInsertTags('connect_project.no_connectable_projects')"
        ></p>
      </ng-template>
      <mdc-card id="settings-card" *ngIf="showSettings" outlined formGroupName="settings">
        <div class="card-title">
          <div mdcHeadline6>{{ t("additional_settings") }}</div>
          <div mdcBody2>{{ t("you_can_change_later") }}</div>
        </div>
        <div class="card-content">
          <div>
            <mdc-form-field>
              <mdc-checkbox
                formControlName="translationSuggestions"
                id="translation-suggestions-checkbox"
              ></mdc-checkbox>
              <label>{{ t("translation_suggestions") }}</label>
            </mdc-form-field>
          </div>
          <div>
            <div fxFlex="44px" class="indent"></div>
            <p
              fxFlex
              class="helper-text"
              [innerHTML]="i18n.translateAndInsertTags('connect_project.translations_will_be_suggested_as_you_edit')"
            ></p>
          </div>
          <div
            *ngIf="translationSuggestionsEnabled"
            fxLayout="row"
            fxLayoutAlign="start center"
            class="indented-field-row"
          >
            <div fxFlex="44px" class="indent"></div>
            <div fxLayout="column" fxFlex="grow">
              <app-project-select
                formControlName="sourceParatextId"
                placeholder="{{ t('based_on') }}"
                [projects]="projects"
                [resources]="resources"
                [hideProjectId]="paratextIdControl.value"
              ></app-project-select>
              <div class="helper-text">{{ t("choose_the_mother_project") }}</div>
            </div>
          </div>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <div class="card-content">
          <div>
            <mdc-form-field>
              <mdc-checkbox formControlName="checking" id="checking-checkbox"></mdc-checkbox>
              <label>{{ t("community_checking") }}</label>
            </mdc-form-field>
          </div>
          <div>
            <div fxFlex="44px" class="indent"></div>
            <p fxFlex class="helper-text">{{ t("engage_the_wider_community_to_check_scripture") }}</p>
          </div>
        </div>
      </mdc-card>
      <button mdc-button unelevated type="submit" id="connect-submit-button" [disabled]="submitDisabled">
        {{ t("connect") }}
      </button>
    </form>
  </div>
</ng-container>
