@import 'src/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 32px;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  color: $pt-button-green;
  font-size: 26px;

  img {
    width: 40px;
    height: 40px;
  }
}

.offline-text {
  padding-bottom: 16px;
}

.content {
  max-width: 512px;
  width: 100%;

  .progress-container {
    padding: 32px;
    mat-card-content {
      display: flex;
      flex-direction: column;
      .progress-label {
        margin-bottom: 19px;
        align-self: center;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    #no-projects-msg {
      align-self: center;
    }

    mat-card {
      margin-top: 32px;

      mat-card-title {
        padding-top: 16px;
      }

      mat-card-title,
      mat-card-subtitle {
        padding-inline: 16px;
      }

      .card-content + mat-divider {
        margin-top: 16px;
      }

      mat-divider + .card-content {
        padding-top: 16px;
      }
    }

    #connect-submit-button {
      align-self: center;
      margin: 32px 0;
    }

    .helper-text {
      margin: 0;
      margin-inline-start: 44px;
      font-size: 14px;
    }
  }
}

app-project-select {
  margin-top: 16px;
}
