.scripture-audio-player {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.audio-action-buttons {
  display: flex;
}

.verse-label {
  padding: 12px;
  font-weight: 500;
  font-size: 0.9em;
}

.close-button {
  position: absolute;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

div[dir='ltr'] .close-button {
  right: 12px;
}

div[dir='rtl'] .close-button {
  left: 12px;
}

.previous-ref-button,
.next-ref-button {
  transform: scale(1.1);
}

.play-pause-button mat-icon {
  transform: scale(1.9);
}

app-audio-player {
  margin: -2px 0;
  width: 100%;
}
