.scripture-audio-player {
  display: flex;
  flex-direction: column;
}

.audio-action-buttons {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  .playback-controls {
    grid-column-start: 2;
  }

  .close-button {
    justify-self: end;
  }
}

.verse-label {
  padding: 8px;
  font-weight: 500;
  font-size: 0.9em;
}

.previous-ref-button,
.next-ref-button {
  mat-icon {
    transform: scale(1.1);
  }
}

.play-pause-button mat-icon {
  transform: scale(1.9);
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
