<div class="scripture-audio-player" [dir]="i18n.direction" *transloco="let t; read: 'checking_audio_player'">
  <div class="audio-action-buttons">
    <div class="playback-controls" dir="ltr">
      <button mat-icon-button class="previous-ref-button" (click)="previousRef()" [disabled]="!isAudioAvailable">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button
        mat-icon-button
        class="play-pause-button"
        (click)="isPlaying ? pause() : play()"
        [disabled]="!isAudioAvailable"
      >
        <mat-icon>{{ isPlaying ? "pause" : "play_arrow" }}</mat-icon>
      </button>
      <button mat-icon-button class="next-ref-button" (click)="nextRef()" [disabled]="!isAudioAvailable">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    @if (canClose) {
      <button mat-icon-button class="close-button" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>
  <app-audio-player #audioPlayer [source]="audioSource"></app-audio-player>
  <div class="footer">
    <span class="verse-label">{{ verseLabel }}</span>
    @if (_showSegment) {
      <span class="verse-label">{{ t("segment") }} {{ currentSegmentDisplay }}/{{ numberOfSegments }}</span>
    }
  </div>
</div>
