.stepper-multi-header {
  h2 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }

  h3 {
    font-size: 0.9em;
    font-weight: inherit;
    font-style: italic;
    margin: 2px 0 0;
    color: #777;
  }
}

app-book-multi-select {
  display: block;
  margin-top: 4px;
}

.button-strip {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
