@use 'src/xforge-common/media-breakpoints/breakpoints' as *;

:host {
  display: block;
  max-width: 80em;
}

.stepper-multi-header {
  h2,
  h3 {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

h1 {
  margin: 12px 0;
}

// Prevent font increase when selecting a step
.mat-stepper-horizontal {
  --mat-stepper-header-selected-state-label-text-size: var(--mat-stepper-header-label-text-size);
}

// Enable hover effects when step is not complete and not selected
:host ::ng-deep .mat-step-header:hover[aria-disabled='true'] {
  cursor: pointer;
  background-color: var(--mat-stepper-header-hover-state-layer-color);
  border-radius: var(--mat-stepper-header-hover-state-layer-shape);
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  @include media-breakpoint('>', sm) {
    margin-inline: 24px;
  }
}

:host ::ng-deep .mat-step-label {
  @include media-breakpoint('<', sm) {
    display: none;
  }
}

:host ::ng-deep .mat-step-icon:not(.mat-step-icon-selected) {
  background-color: var(--mat-stepper-header-edit-state-icon-background-color);
}

.button-strip {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

app-notice {
  margin-top: 20px;
  width: fit-content;

  h4 {
    font-style: italic;
    font-weight: 400;
    margin: 0 0 16px;
  }

  &.warning {
    display: flex;
  }
}

.loading {
  display: flex;
  margin: 1em;
  mat-spinner {
    margin-right: 1em;
  }
}
