h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

h3 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 4px;
  color: #777;
}

button {
  margin-top: 20px;
}

app-book-multi-select {
  display: block;
  margin-top: 4px;
}
