.stepper-multi-header {
  h2,
  h3 {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  h2 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }

  h3 {
    font-size: 0.9em;
    font-weight: inherit;
    font-style: italic;
    margin: 2px 0 0;
    color: #777;
  }
}

app-book-multi-select {
  display: block;
  margin-top: 4px;
}

.button-strip {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

app-notice {
  margin-top: 20px;
  display: inline-block;
}

.unusable-books {
  border: 3px solid #eee;
  background-color: #fbfbfb;
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 8px;
  color: #525252;

  h4 {
    font-style: italic;
    font-weight: 400;
    margin: 0 0 16px;
  }
}
