<ng-container *transloco="let t; read: 'draft_generation_steps'">
  <h2>{{ t("choose_books_for_training") }}</h2>
  <h3>{{ t("choose_books_for_training_subheader") }}</h3>

  <app-book-multi-select
    [availableBooks]="(availableBooks$ | async) ?? []"
    [selectedBooks]="initialSelectedBooks"
    (bookSelect)="onBookSelect($event)"
  ></app-book-multi-select>

  <button mat-flat-button [disabled]="!finalSelectedBooks.length" (click)="onDone()" color="primary">
    {{ t("generate_draft") }}
  </button>
</ng-container>
