@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.segment-text {
  color: $greenDark;
  background: rgba(0, 0, 0, 0.05);
  padding: 6px;
  border-radius: 4px;
  font-size: 0.9em;
}
.notes {
  .note {
    padding: 10px 0;
    &:not(:last-child) {
      border-bottom: 1px solid $greyLight;
    }
    app-owner {
      display: block;
      margin-top: 5px;
    }
  }
}
.rtl {
  .note,
  .segment-text {
    text-align: right;
  }
}
.ltr {
  app-owner {
    text-align: right;
  }
}
