@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

h1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px 0 10px;

  span {
    flex: 1;
    margin: 0 10px;
    white-space: nowrap;
  }
  > button {
    margin-right: -15px;
  }
}
.mat-dialog-content {
  min-height: 300px;
}
.text-row {
  display: flex;
  min-height: 30px;
  .text {
    color: $greenDark;
    background: rgba(0, 0, 0, 0.05);
    padding: 6px;
    border-radius: 4px;
    font-size: 0.9em;
    flex: 1;
    .segment-text {
      padding-top: 6px;
      border-top: 2px solid $greenDark;
      margin-top: 6px;
      white-space: pre-wrap;
    }
  }
}
.notes {
  .note {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    .content {
      color: #000;
      flex: 1 1 100%;
      .row-layout {
        display: flex;
        .note-content {
          flex-grow: 1;
        }
        .edit-actions {
          flex: 0;
        }
      }
    }
    &:first-child {
      padding-top: 10px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $greyLight;
    }
    app-owner {
      display: block;
      margin: 5px;
    }
    .edit-actions {
      display: flex;
      align-items: end;
      justify-content: end;
      flex: 1 1 100%;
    }
    img {
      align-self: center;
      opacity: 0.5;
    }
  }
}
.full-width {
  width: 100%;
  margin-top: 1em;
  .mat-form-field-flex {
    padding: 0 0.75em;
  }
}
.assigned-user {
  opacity: 0.5;
}
.rtl {
  .note,
  .text {
    text-align: right;
  }
  .text {
    direction: rtl;
  }
  .note .content {
    direction: rtl;
  }
}
.ltr {
  .note {
    flex-direction: row-reverse;
  }
}
