<ng-container *transloco="let t; read: 'note_dialog'">
  <h1 mat-dialog-title>
    <img [src]="flagIcon" alt="" /> <span>{{ verseRef }}</span>
    <div *ngIf="noteThreadAssignedUserRef != null" id="assignedUser" class="assigned-user">
      >{{ getAssignedUserString(noteThreadAssignedUserRef) }}
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleSegmentText()">
        <mat-icon>compare</mat-icon>
        <span>{{ showSegmentText ? t("hide_changes") : t("show_changes") }}</span>
      </button>
    </mat-menu>
  </h1>
  <mat-dialog-content class="content-padding" [ngClass]="{ rtl: isRtl, ltr: !isRtl }">
    <div class="text">
      <div class="note-text" [innerHTML]="noteContextText"></div>
      <div *ngIf="showSegmentText" class="segment-text" [innerHTML]="segmentText"></div>
    </div>
    <div class="notes">
      <div *ngFor="let note of notes" class="note">
        <div class="content">
          <div *ngIf="note.assignment != null" class="assigned-user">>{{ getAssignedUserString(note.assignment) }}</div>
          <div *ngIf="note.reattached" class="verse-reattached">{{ reattachedVerse(note) }}</div>
          <div *ngIf="note.reattached" class="text" [innerHTML]="reattachedText(note)"></div>
          <div class="note-conflict-explanation" *ngIf="isConflictNote(note)">{{ t("declare_conflict") }}</div>
          <div class="note-conflict-explanation" *ngIf="isConflictNote(note)">{{ t("acceptance_change_heading") }}</div>
          <div class="note-content" [innerHTML]="parseNote(note.acceptedChangeXml)" *ngIf="isConflictNote(note)"></div>
          <div class="note-conflict-explanation" *ngIf="isConflictNote(note)">{{ t("rejection_change_heading") }}</div>
          <div class="note-content" [innerHTML]="contentForDisplay(note)"></div>
        </div>
        <img [src]="noteIcon(note)" alt="" [title]="noteTitle(note)" />
        <app-owner [ownerRef]="note.ownerRef" [dateTime]="note.dateCreated"></app-owner>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end">
    <button mat-button mat-dialog-close>{{ t("close") }}</button>
  </mat-dialog-actions>
</ng-container>
