@use 'src/variables';
@use 'src/breakpoints';

.dialog-container {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px 0 10px;

  span {
    flex: 1;
    margin: 0 10px;
    white-space: nowrap;
  }
  > button {
    margin-right: -15px;
  }
}
.mat-mdc-dialog-content {
  min-height: 300px;
  @include breakpoints.media-breakpoint-down(sm) {
    min-height: 200px;
  }
}
.text-row {
  display: flex;
  min-height: 30px;
  .text {
    color: variables.$greenDark;
    background: rgba(0, 0, 0, 0.05);
    padding: 6px;
    border-radius: 4px;
    font-size: 0.9em;
    flex: 1;
    .segment-text {
      padding-top: 6px;
      border-top: 2px solid variables.$greenDark;
      margin-top: 6px;
      white-space: pre-wrap;
    }
  }
}
.notes {
  .note {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    .content {
      color: #000;
      flex: 1 1 100%;
    }
    &:first-child {
      padding-top: 10px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid variables.$greyLight;
    }
    app-owner {
      display: block;
      margin: 5px;
    }
    .note-user {
      display: flex;
      line-height: 1.14em;
      margin: 5px;
      .user-name {
        margin-inline-end: 5px;
      }
      .date-created {
        opacity: 0.5;
      }
    }
    img {
      align-self: center;
      opacity: 0.5;
    }
  }
}
.full-width {
  width: 100%;
  margin-top: 1em;
}
.assigned-user {
  opacity: 0.5;
}
.rtl {
  .note,
  .text {
    text-align: right;
  }
  .text {
    direction: rtl;
  }
  .note .content {
    direction: rtl;
  }
}
.ltr {
  .note {
    flex-direction: row-reverse;
  }
}

.note-content-and-actions {
  display: flex;
  @include breakpoints.media-breakpoint-down(xs) {
    flex-direction: column;
  }
  .note-content {
    flex-basis: 100%;
  }
  .edit-actions {
    flex-basis: 0;
    display: flex;
    align-self: flex-end;
  }
}

.save-options {
  background-color: variables.$sf_grey !important;
  color: white !important;
  ::ng-deep .mat-button-toggle-label-content {
    line-height: 36px;
  }
}

.close-button {
  font-size: 16px;
}
