<ng-container *transloco="let t; read: 'note_dialog'">
  <h1 mat-dialog-title>
    <img [src]="flagIcon" class="note-thread-icon" alt="" /> <span class="verse-reference">{{ verseRefDisplay }}</span>
    <div id="assignedUser" class="assigned-user">>{{ getAssignedUserString(noteThreadAssignedUserRef) }}</div>
  </h1>
  <mat-dialog-content class="content-padding" [ngClass]="{ rtl: isRtl, ltr: !isRtl }">
    <div class="text-row">
      <div class="text">
        <div *ngIf="!isNewNote" class="note-text" [innerHTML]="noteContextText"></div>
        <div *ngIf="isNewNote" class="note-text" [innerHTML]="segmentText"></div>
        <div *ngIf="showSegmentText" class="segment-text" [innerHTML]="segmentText"></div>
      </div>
      <button *ngIf="!isNewNote" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="toggleSegmentText()">
          <mat-icon>compare</mat-icon>
          <span>{{ showSegmentText ? t("hide_changes") : t("show_changes") }}</span>
        </button>
      </mat-menu>
    </div>
    <div class="notes">
      <div *ngFor="let note of notesToDisplay" class="note">
        <div class="content">
          <div *ngIf="note.assignment != null" class="assigned-user">>{{ getAssignedUserString(note.assignment) }}</div>
          <div *ngIf="note.reattached" class="verse-reattached">{{ reattachedVerse(note) }}</div>
          <div *ngIf="note.reattached" class="text" [innerHTML]="reattachedText(note)"></div>
          <div class="note-conflict-explanation" *ngIf="isConflictNote(note)">{{ t("declare_conflict") }}</div>
          <div class="note-conflict-explanation" *ngIf="isConflictNote(note)">{{ t("acceptance_change_heading") }}</div>
          <div class="note-content" [innerHTML]="parseNote(note.acceptedChangeXml)" *ngIf="isConflictNote(note)"></div>
          <div class="note-conflict-explanation" *ngIf="isConflictNote(note)">{{ t("rejection_change_heading") }}</div>
          <div class="note-content-and-actions">
            <div class="note-content" [innerHTML]="contentForDisplay(note)" [ngStyle]="{ fontSize }"></div>
            <div *ngIf="isNoteEditable(note)" class="edit-actions">
              <button mat-icon-button class="edit-button" (click)="editNote(note)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button class="delete-button" (click)="deleteNote(note)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <img [src]="noteIcon(note)" alt="" [title]="noteTitle(note)" />
        <app-owner [ownerRef]="note.ownerRef" [dateTime]="note.dateCreated"></app-owner>
      </div>
    </div>
    <mat-form-field *ngIf="canInsertNote" class="full-width" appearance="fill">
      <textarea matInput [(ngModel)]="currentNoteContent"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end">
    <button mat-button class="close-button" [mat-dialog-close]="undefined">{{ t("close") }}</button>
    <button *ngIf="canInsertNote" mat-flat-button class="save-button" color="primary" (click)="submit()">
      {{ t("save") }}
    </button>
  </mat-dialog-actions>
</ng-container>
