@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

h1 {
  display: flex;
  align-items: center;
  margin: -10px 0 10px;

  span {
    flex: 1;
    margin-left: 10px;
  }
  > button {
    margin-right: -15px;
  }
}
.text {
  color: $greenDark;
  background: rgba(0, 0, 0, 0.05);
  padding: 6px;
  border-radius: 4px;
  font-size: 0.9em;
  .segment-text {
    padding-top: 6px;
    border-top: 2px solid $greenDark;
    margin-top: 6px;
    white-space: pre-wrap;
  }
}
.notes {
  .note {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    .content {
      color: #000;
      flex: 1 1 100%;
    }
    &:first-child {
      padding-top: 10px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $greyLight;
    }
    app-owner {
      display: block;
      margin: 5px;
    }
    img {
      align-self: center;
    }
  }
}
.assigned-user {
  opacity: 0.5;
}
.rtl {
  .note,
  .text {
    text-align: right;
  }
  .text {
    direction: rtl;
  }
  .note .content {
    direction: rtl;
  }
}
.ltr {
  .note {
    flex-direction: row-reverse;
  }
}
