<ng-container *transloco="let t; read: 'delete_project_dialog'">
  <div [dir]="i18n.direction">
    <h1 mat-dialog-title id="title" class="dialog-icon-title">
      <mat-icon>warning</mat-icon>
      <span>{{ t("are_you_sure_you_want_to_delete") }}</span>
    </h1>
    <mat-dialog-content>
      <p
        [innerHTML]="
          i18n.translateAndInsertTags('delete_project_dialog.delete_cannot_be_undone', { projectName: data.name })
        "
      ></p>
      <p>{{ t("please_type_project_name") }}</p>
      <mat-form-field id="project-entry" appearance="outline">
        <mat-label>{{ t("project_name") }}</mat-label>
        <input matInput [formControl]="projectNameEntry" autocomplete="off" />
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions [align]="'end'">
      <button mat-button id="cancel-btn" [mat-dialog-close]="'cancel'">{{ t("cancel") }}</button>
      <button
        id="project-delete-btn"
        mat-flat-button
        color="primary"
        [mat-dialog-close]="'accept'"
        [disabled]="deleteDisabled"
      >
        <span class="hide-lt-sm">{{ t("i_understand_the_consequences") }}</span>
        <span class="hide-gt-sm">{{ t("delete_this_project") }}</span>
      </button>
    </mat-dialog-actions>
  </div>
</ng-container>
