<ng-container *transloco="let t; read: 'delete_project_dialog'">
  <mdc-dialog>
    <mdc-dialog-container>
      <mdc-dialog-surface>
        <mdc-dialog-title id="title"
          ><mdc-icon>warning</mdc-icon>&nbsp;{{ t("are_you_sure_you_want_to_delete") }}</mdc-dialog-title
        >
        <mdc-dialog-content>
          <p
            [innerHTML]="
              i18n.translateAndInsertTags('delete_project_dialog.delete_cannot_be_undone', { projectName: data.name })
            "
          ></p>
          <br />
          <p>{{ t("please_type_project_name") }}</p>
          <mdc-form-field>
            <mdc-text-field
              id="project-entry"
              label="{{ t('project_name') }}"
              [formControl]="projectNameEntry"
              autocomplete="off"
            ></mdc-text-field>
          </mdc-form-field>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button mdcDialogButton type="button" id="cancel-btn" mdcDialogAction="cancel">{{ t("cancel") }}</button>
          <button
            mdcDialogButton
            type="button"
            id="project-delete-btn"
            [outlined]="true"
            mdcDialogAction="accept"
            [disabled]="deleteDisabled"
          >
            <span fxHide.lt-sm>{{ t("i_understand_the_consequences") }}</span>
            <span fxHide fxShow.xs>{{ t("delete_this_project") }}</span>
          </button>
        </mdc-dialog-actions>
      </mdc-dialog-surface>
    </mdc-dialog-container>
  </mdc-dialog>
</ng-container>
