@use '../lynx-insights' as insights;

:host {
  position: absolute;
  z-index: 1;
  inset-inline-end: 19px;
  top: 0;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  background-color: var(--lynx-insights-status-indicator-bg-color);
  border-radius: 0 0 0.4em 0.4em;
  box-shadow: 0 0 5px 0 var(--lynx-insights-status-indicator-border-color);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px 0 var(--lynx-insights-status-indicator-border-color-hover);
  }

  &:active {
    box-shadow: 0 0 5px 0 var(--lynx-insights-status-indicator-border-color-active);
  }
}

mat-icon {
  width: 0.9em;
  height: 1em;

  &.update-icon {
    color: var(--mat-sys-primary);
  }

  &.check-icon {
    width: 1.2em;
    height: 1.2em;
  }

  &.hidden-indicator-icon {
    width: auto;
    height: auto;
    font-size: 0.7em;
    position: absolute;
    bottom: 0.3em;
    inset-inline-end: 0.3em;
    color: var(--lynx-insights-hidden-indicator-icon-color);
  }
}

.type-count {
  display: flex;
  align-items: center;
  gap: 0.1em;

  span {
    font-size: 0.75em;
    font-weight: 500;
    border-radius: 1em;
    min-width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    color: var(--lynx-insights-status-indicator-badge-text-color);

    @each $type in insights.$insightTypes {
      &.#{$type} {
        background-color: var(--lynx-insights-#{$type}-background);
      }
    }
  }
}
