<ng-container *transloco="let t; read: 'draft_generation'">
  @if (flat) {
    <button
      mat-flat-button
      (click)="downloadDraft()"
      [disabled]="downloadProgress > 0"
      data-test-id="download-button"
      color="primary"
    >
      @if (downloadProgress === 0) {
        <mat-icon class="material-icons-outlined">cloud_download</mat-icon>
      } @else if (downloadProgress > 0) {
        <mat-icon>
          <mat-spinner
            diameter="18"
            [value]="downloadProgress"
            mode="determinate"
            color="accent"
            data-test-id="download-spinner"
          ></mat-spinner>
        </mat-icon>
      }
      {{ t("download_draft") }}
    </button>
  } @else {
    <button
      mat-button
      (click)="downloadDraft()"
      [disabled]="downloadProgress > 0"
      data-test-id="download-button"
      color="primary"
    >
      @if (downloadProgress === 0) {
        <mat-icon>cloud_download</mat-icon>
      } @else if (downloadProgress > 0) {
        <mat-icon>
          <mat-spinner
            diameter="18"
            [value]="downloadProgress"
            mode="determinate"
            color="accent"
            data-test-id="download-spinner"
          ></mat-spinner>
        </mat-icon>
      }
      {{ t("download_draft") }}
    </button>
  }
</ng-container>
