<ng-container *transloco="let t; read: 'draft_generation'">
  <button
    [matButton]="matButton"
    (click)="downloadDraft()"
    [disabled]="downloadingDraft"
    data-test-id="download-button"
    color="primary"
  >
    @if (!downloadingDraft) {
      <mat-icon [class]="matButton === 'filled' ? 'material-icons-outlined' : 'material-icons'">
        cloud_download
      </mat-icon>
    } @else {
      <mat-icon>
        <mat-spinner diameter="18" mode="indeterminate" color="accent" data-test-id="download-spinner"></mat-spinner>
      </mat-icon>
    }
    {{ t("download_draft") }}
  </button>
</ng-container>
