<ng-template cdkConnectedOverlay [cdkConnectedOverlayOpen]="isOpen">
  <div class="diagnostic-overlay" [class.collapsed]="!isExpanded">
    <button class="toggle-button" [class.collapsed]="!isExpanded" (click)="onToggle()">
      @if (isExpanded) {
        <mat-icon>chevron_right</mat-icon>
      } @else {
        <mat-icon>chevron_left</mat-icon>
      }
    </button>
    <button class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    @if (isExpanded) {
      <h1>Developer Diagnostics</h1>
      <h3>Currently subscribed to {{ totalDocsCount }} documents</h3>
      <table class="diagnostic-overlay-table">
        <thead>
          <tr>
            <th>Collection</th>
            <th>Subscriptions</th>
          </tr>
        </thead>
        <tbody>
          @for (docType of showDocCollections | keyvalue; track docType.key) {
            <tr>
              <td>{{ docType.key }}</td>
              <td>{{ docType.value }}</td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</ng-template>
