$background-color: #282828;
$foreground-color: #ddd;
$table-border-color: #404040;

::ng-deep .diagnostic-overlay-panel {
  height: 100%;
}

:host {
  background-color: $background-color;
  color: $foreground-color;

  font-size: 12px;
  overflow-y: auto;
}

.wrapper:not(.collapsed) {
  width: 25vw;
  min-width: 380px;
}

.wrapper.collapsed {
  width: 44px;
  padding: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 5px;
  }

  th {
    border: 1px solid $table-border-color;
  }

  td {
    border-inline: 1px solid $table-border-color;
  }

  tr:nth-child(even) {
    background-color: #1f1f1f;
  }

  tr:last-child td {
    border-bottom: 1px solid $table-border-color;
  }
}

.bold {
  font-weight: bold;
}

h1,
h2,
h3 {
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;

  h2 {
    margin: 0 0 0 2em;
    flex-grow: 1;
  }
}

.collapsed .header {
  flex-direction: column;
}

.nav-and-content-wrapper {
  display: flex;
  gap: 8px;
}

.nav-wrapper {
  writing-mode: vertical-rl;
  display: flex;

  > * {
    padding: 1em 0.6em;
    cursor: pointer;
    background-color: #3b3b3f;

    &:hover {
      background-color: #4f4f53;
    }
  }

  .active {
    border-block-start: 2px solid $foreground-color;
  }
}

a {
  color: $foreground-color;
}
