<ng-container *transloco="let t; read: 'history_chooser'">
  @if (historyRevisions.length > 0) {
    <div class="toolbar">
      <mat-form-field class="history-select" appearance="outline">
        <mat-select
          [value]="selectedRevision"
          (selectionChange)="onSelectionChanged($event)"
          panelWidth="''"
          panelClass="history-select-panel"
          [disabled]="isSelectDisabled$ | async"
          hideSingleSelectionIndicator
        >
          <mat-select-trigger>
            {{ selectedRevision ?? "" | revisionFormat }}
          </mat-select-trigger>
          @for (r of historyRevisions; track r) {
            <mat-option [value]="r">
              <div class="option-content">
                <span>{{ r | revisionFormat }}</span>
                <mat-icon>{{
                  r.source === "Draft" ? "auto_awesome" : r.source === "History" ? "history" : ""
                }}</mat-icon>
              </div>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button
        class="show-diff"
        mat-button
        appBlurOnClick
        type="button"
        (click)="toggleDiff()"
        [matTooltip]="!showDiff ? t('show_diff') : t('hide_diff')"
      >
        <mat-icon [ngClass]="{ 'material-icons-outlined': !showDiff }">difference</mat-icon>
        {{ showDiff ? t("hide_changes") : t("show_changes") }}
      </button>
      @if (canRestoreSnapshot) {
        <span
          [matTooltip]="t(isSnapshotValid ? 'revert_details' : 'revert_disabled_details')"
          [style.cursor]="!isSnapshotValid ? 'not-allowed' : 'pointer'"
        >
          <button
            class="revert-history"
            mat-button
            type="button"
            (click)="revertToSnapshot()"
            [disabled]="!isSnapshotValid"
          >
            <mat-icon class="material-icons-outlined">undo</mat-icon>
            {{ t(isSnapshotValid ? "revert" : "revert_disabled") }}
          </button>
        </span>
      }
    </div>
  }
</ng-container>
