@use 'src/styles';

::ng-deep .history-select-panel .mdc-list-item__primary-text {
  width: 100%;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) {
  --mat-option-selected-state-layer-color: rgba(0, 0, 0, 0.12);
}

.option-content {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    flex-grow: 1;
  }

  mat-icon {
    margin: 0;
  }
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.history-select {
  @include styles.dense_mat_select();
}
