@section scripts {
    <script type="text/javascript">
        webAuth.checkSession({}, function(err, authResult) {
            if (err) {
                window.location.href = '/default/home';
            } else {
                var options = { state: JSON.stringify({}) };
                webAuth.authorize(options);
            }
        });
    </script>
}
<div style="font-family: sans-serif; line-height: 1.5; font-size: 16px;">Loading...</div>
