<ng-container *transloco="let t; read: 'beta_migration'">
  <mdc-dialog>
    <mdc-dialog-container>
      <mdc-dialog-surface>
        <mdc-dialog-title>{{ t("data_migration") }}</mdc-dialog-title>
        <mdc-dialog-content>
          <p [innerHTML]="t('please_wait')"></p>
          <iframe *ngIf="!hasCompleted" hidden [src]="betaUrl"></iframe>
          <label>{{ t(label, { attempt: attempts }) }}</label>
          <p *ngIf="attempts > 2">
            {{ recourseMessage.before
            }}<a href="https://community.scripture.software.sil.org/c/scripture-forge" target="_blank">{{
              recourseMessage.templateTagText
            }}</a
            >{{ recourseMessage.after }}
          </p>
          <mdc-linear-progress determinate [progress]="progress" [buffer]="1"></mdc-linear-progress>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button *ngIf="progress === 100" mdcDialogButton type="button" mdcDialogAction="close">
            {{ t("close") }}
          </button>
        </mdc-dialog-actions>
      </mdc-dialog-surface>
    </mdc-dialog-container>
  </mdc-dialog>
</ng-container>
