@use 'src/variables';
@use 'bootstrap/scss/mixins/breakpoints';

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
  h2 {
    flex-grow: 1;
  }
}

#add-question-button,
#add-chapter-audio-button {
  @include breakpoints.media-breakpoint-only(xs, variables.$grid-breakpoints) {
    min-width: 48px;
  }
  mat-icon {
    font-size: 24px;
    height: 24px;
  }
}

.mat-expansion-panel-header {
  padding-inline-end: 0;
  &[aria-disabled='true'] {
    color: unset;
  }
  .book-chapter-heading {
    gap: 10px;
    align-items: center;
  }
}

.mat-list-base {
  padding-block-start: 0;
}

app-donut-chart {
  width: 36px;
  height: 36px;
}

.mat-list-item {
  .audio-icon {
    margin-right: 5px;
  }
  mat-icon {
    margin-left: 0;
    margin-right: 0;
  }
}

#reviewer-questions-list {
  .mat-list-item {
    cursor: pointer;
    margin-inline-start: 16px;
  }
}

.no-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-expander ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
  padding-inline-end: 0 !important;
  padding-block-start: 0 !important;
}

#no-questions-label,
#no-archived-questions-label,
#loading-questions-message,
#loading-archived-questions-message {
  text-align: center;
  color: variables.$text-hint-on-background;
}

.reviewer-panels {
  max-width: 800px;
}

.stat-panels {
  margin: 16px 0;
}

.card {
  margin: 8px 0;
  width: 130px;
}

.stat-total {
  font-size: x-large;
}

.stat-label {
  font-size: small;
}

.card-content-question {
  .stat-total,
  mat-icon {
    color: variables.$questions;
  }
}

.card-content-answer {
  .stat-total,
  mat-icon {
    color: variables.$answers;
  }
}

.card-content-comment {
  .stat-total,
  mat-icon {
    color: variables.$comments;
  }
}

.card-content-like {
  .stat-total,
  mat-icon {
    color: variables.$likes;
  }
}

#warning-some-actions-unavailable-offline {
  margin-top: 16px;
}
