@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
  h2 {
    flex-grow: 1;
  }
}

#add-question-button {
  @include media-breakpoint-only(xs) {
    min-width: 48px;
  }
  mat-icon {
    font-size: 24px;
    height: 24px;
  }
}

app-donut-chart {
  width: 36px;
  height: 36px;
}

.mdc-list-item {
  cursor: pointer;
  .audio-icon {
    margin-right: 5px;
  }
  mat-icon {
    margin-left: 0;
    margin-right: 0;
  }
}

.no-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#no-questions-label,
#no-archived-questions-label,
#loading-questions-message,
#loading-archived-questions-message {
  text-align: center;
  color: var(--mdc-theme-text-hint-on-background);
}

.reviewer-panels {
  max-width: 800px;
}

.stat-panels {
  margin: 16px 0;
}

.card {
  margin: 8px 0;
  width: 130px;
}

.stat-total {
  font-size: x-large;
}

.stat-label {
  font-size: small;
}

.card-content-question {
  .stat-total,
  mat-icon {
    color: $questions;
  }
}

.card-content-answer {
  .stat-total,
  mat-icon {
    color: $answers;
  }
}

.card-content-comment {
  .stat-total,
  mat-icon {
    color: $comments;
  }
}

.card-content-like {
  .stat-total,
  mat-icon {
    color: $likes;
  }
}
