@import '~src/variables';
@import '~bootstrap/scss/mixins/breakpoints';

#add-question-button mdc-icon {
  // Bigger icon if shown without label on smaller devices
  @include media-breakpoint-only(xs) {
    font-size: 24px;
    // Vertically align it better with the 'Texts and Questions' icon.
    padding-bottom: 10px;
    box-sizing: initial;
  }
}

.mdc-list-item {
  cursor: pointer;
  .audio-icon {
    margin-right: 5px;
  }
  mdc-icon {
    margin-left: 0;
    margin-right: 0;
  }
}

.no-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#no-questions-label,
#no-archived-questions-label {
  color: var(--mdc-theme-text-hint-on-background);
}

.reviewer-panels {
  max-width: 800px;
}

.stat-panels {
  margin: 16px 0;
}

.card {
  margin: 8px 0;
}

.card-content-question,
.card-content-answer,
.card-content-comment,
.card-content-like {
  padding: 16px;
  width: 130px;
}

.stat-total {
  font-size: x-large;
}

.stat-label {
  font-size: small;
}

.card-content-question {
  .stat-total,
  mdc-icon {
    color: rgb(48, 209, 250);
  }
}

.card-content-answer {
  .stat-total,
  mdc-icon {
    color: var(--mdc-theme-secondary);
  }
}

.card-content-comment {
  .stat-total,
  mdc-icon {
    color: rgb(255, 115, 0);
  }
}

.card-content-like {
  .stat-total,
  mdc-icon {
    color: rgb(255, 208, 0);
  }
}
