@use 'src/variables';

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
  h1,
  h2 {
    flex-grow: 1;
  }
}

.flex {
  display: flex;
  flex: 1;
  flex-flow: wrap;
  align-items: center;
}

.flex-info-end {
  display: flex;
  place-content: center flex-end;
  width: 110px;
}

.flex-icon {
  display: flex;
  place-content: center flex-end;
  width: 64px;
}

.flex-timestamp {
  display: flex;
  place-content: center flex-end;
  width: 260px;
}

.add-question-button.hide-gt-sm {
  padding-inline-start: 1px;
  z-index: 1;
}

.mat-expansion-panel-header {
  padding-inline-end: 0;
  &[aria-disabled='true'] {
    color: unset;
  }
  .book-chapter-heading {
    gap: 10px;
    align-items: center;
  }
}

.mat-mdc-list-base {
  padding-block-start: 0;
}

app-donut-chart {
  width: 36px;
  height: 36px;
}

.mat-mdc-list-item {
  cursor: auto;
  .audio-icon {
    margin-right: 5px;
  }
  mat-icon {
    margin-left: 0;
    margin-right: 0;
  }
}

#text-with-questions-list {
  margin-top: 32px;
}

#reviewer-questions-list {
  flex: 1;

  .mat-mdc-list-item {
    cursor: pointer;
    height: 50px;
    margin-inline-start: 16px;
  }
  .mat-mdc-list-item:hover {
    background: var(--mat-expansion-header-hover-state-layer-color);
    border-radius: 4px;
  }
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 0%;
}

.mat-expansion-panel-header {
  --mat-expansion-header-expanded-state-height: var(--mat-expansion-header-collapsed-state-height);
}

.book-expander ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
  padding-inline-end: 0 !important;
  padding-block: 0 !important;
}

#no-questions-label,
#no-archived-questions-label,
#loading-questions-message,
#loading-archived-questions-message {
  text-align: center;
  justify-content: center;
  color: variables.$text-hint-on-background;
}

.reviewer-panels {
  max-width: 800px;
  flex-flow: wrap;
  display: flex;
  place-content: stretch space-between;
}

#text-with-questions-list,
.stat-panels {
  margin-bottom: 32px;
}

.card {
  margin: 8px 0;
  width: 130px;

  .mat-mdc-card-content {
    display: flex;
    height: 100%;

    .vertical-center {
      display: flex;
      align-items: center;
    }
  }
}

.stat-total {
  font-size: x-large;
  width: 100%;
}

.stat-label {
  font-size: small;
}

.card-content-question {
  .stat-total,
  mat-icon {
    color: variables.$questions;
  }
}

.card-content-answer {
  .stat-total,
  mat-icon {
    color: variables.$answers;
  }
}

.card-content-comment {
  .stat-total,
  mat-icon {
    color: variables.$comments;
  }
}

.card-content-like {
  .stat-total,
  mat-icon {
    color: variables.$likes;
  }
}

#warning-some-actions-unavailable-offline {
  margin-top: 16px;
}

.date-archived {
  white-space: normal;
}

::ng-deep {
  .checking-overview-chapter-menu {
    max-width: none;
  }
}
