<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Question already has an answer</mdc-dialog-title>
      <mdc-dialog-content>Consider creating a new question instead of editing this question.</mdc-dialog-content>
      <mdc-dialog-actions>
        <button mdcDialogButton mdcDialogAction="accept">Edit Anyway</button>
        <button mdcDialogButton mdcDialogAction="close">cancel</button>
      </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
