<h2>Account details</h2>
<div fxLayout="column" fxLayoutAlign="start start">
  <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutAlign="start stretch">
    <div class="account-form">
      <form [formGroup]="formGroup">
        <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="1em">
          <div fxLayout="row" fxLayoutGap="1em">
            <div fxFlex>
              <mdc-form-field>
                <mdc-text-field id="name-field" formControlName="name" label="Name"></mdc-text-field>
              </mdc-form-field>
            </div>
            <div>
              <button
                id="name-update-button"
                [disabled]="
                  controlStates.get('name') !== elementState.Dirty && controlStates.get('name') !== elementState.Error
                "
                mdc-button
                outlined
                (click)="updateClicked('name')"
                class="update-button"
              >
                <mdc-icon
                  id="name-button-icon"
                  *ngIf="
                    controlStates.get('name') === elementState.InSync ||
                    controlStates.get('name') === elementState.Dirty
                  "
                  >send</mdc-icon
                ><app-write-status [formGroup]="formGroup" [state]="controlStates.get('name')"></app-write-status>
                &nbsp;Update
              </button>
            </div>
          </div>

          <div fxLayout="row wrap">
            <div fxFlex class="login-info">
              <span id="last-login" class="nowrap">{{ lastLoginMessage }}</span>
            </div>
            <button id="my-account-change-password-btn" mdc-button outlined [routerLink]="['/change-password']">
              <mdc-icon>edit</mdc-icon>Change password
            </button>
          </div>
          <div fxLayout="row" fxLayoutGap="1em">
            <div fxFlex>
              <mdc-form-field>
                <mdc-text-field id="email-field" formControlName="email" label="Email"></mdc-text-field>
                <mdc-helper-text *ngIf="!formGroup.get('email').errors" persistent>
                  <span>you@example.com</span>
                </mdc-helper-text>
                <mdc-helper-text *ngIf="formGroup.get('email').errors" validation>
                  <span *ngIf="formGroup.get('email').hasError('required')">
                    You must supply a valid email address.
                  </span>
                  <span *ngIf="formGroup.get('email').hasError('email')">
                    Please enter a valid email address. For example, you@example.com.
                  </span>
                </mdc-helper-text>
              </mdc-form-field>
            </div>
            <div>
              <button
                id="email-update-button"
                [disabled]="
                  controlStates.get('email') !== elementState.Dirty && controlStates.get('email') !== elementState.Error
                "
                mdc-button
                outlined
                (click)="updateClicked('email')"
                class="update-button"
              >
                <app-write-status [formGroup]="formGroup" [state]="controlStates.get('email')"></app-write-status>
                <mdc-icon
                  id="email-button-icon"
                  *ngIf="
                    controlStates.get('email') === elementState.InSync ||
                    controlStates.get('email') === elementState.Dirty ||
                    controlStates.get('email') === elementState.Invalid
                  "
                  >send</mdc-icon
                >
                &nbsp;Update
              </button>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="1em">
            <div fxFlex>
              <mdc-form-field>
                <mdc-text-field formControlName="mobilePhone" label="Phone"></mdc-text-field>
                <mdc-helper-text persistent>Include country and area codes.</mdc-helper-text>
              </mdc-form-field>
            </div>
            <div>
              <button
                id="mobilePhone-update-button"
                [disabled]="
                  controlStates.get('mobilePhone') !== elementState.Dirty &&
                  controlStates.get('mobilePhone') !== elementState.Error
                "
                mdc-button
                outlined
                (click)="updateClicked('mobilePhone')"
                class="update-button"
              >
                <app-write-status [formGroup]="formGroup" [state]="controlStates.get('mobilePhone')"></app-write-status>
                <mdc-icon
                  id="mobilePhone-button-icon"
                  *ngIf="
                    controlStates.get('mobilePhone') === elementState.InSync ||
                    controlStates.get('mobilePhone') === elementState.Dirty
                  "
                  >send</mdc-icon
                >
                &nbsp;Update
              </button>
            </div>
          </div>
          <!-- TODO SF-178: This control can be restored (and converted to MDC) when SMS notification is implemented.
        <div fxLayout="column">
          <div>Receive messages via</div>
          <div>
            <mat-button-toggle-group formControlName="contactMethod" (click)="update('contactMethod')">
              <mat-button-toggle value="email" [disabled]="!!contactMethodToggleDisabled.get('email')"
                ><i class="material-icons">email</i> Email</mat-button-toggle
              >
              <mat-button-toggle value="sms" [disabled]="!!contactMethodToggleDisabled.get('sms')"
                ><i class="material-icons">textsms</i> SMS</mat-button-toggle
              >
              <mat-button-toggle value="emailSms" [disabled]="!!contactMethodToggleDisabled.get('emailSms')"
                ><i class="material-icons">email</i><i class="material-icons">textsms</i> Both</mat-button-toggle
              >
            </mat-button-toggle-group>
            <app-write-status [formGroup]="formGroup" [state]="controlStates.get('contactMethod')"></app-write-status>
          </div>
        </div>
-->
          <div fxLayout="row" fxLayoutGap="1em">
            <div fxFlex id="birthday-div">
              <mdc-form-field>
                <mdc-text-field type="date" label="Birthday" formControlName="birthday"> </mdc-text-field>
                <mdc-helper-text *ngIf="formGroup.get('birthday').errors" validation
                  >Please enter a valid birthday.</mdc-helper-text
                >
              </mdc-form-field>
            </div>
            <div>
              <button
                id="birthday-update-button"
                [disabled]="
                  controlStates.get('birthday') !== elementState.Dirty &&
                  controlStates.get('birthday') !== elementState.Error
                "
                mdc-button
                outlined
                (click)="updateClicked('birthday')"
                class="update-button"
              >
                <app-write-status [formGroup]="formGroup" [state]="controlStates.get('birthday')"></app-write-status>
                <mdc-icon
                  id="birthday-button-icon"
                  *ngIf="
                    controlStates.get('birthday') === elementState.InSync ||
                    controlStates.get('birthday') === elementState.Dirty ||
                    controlStates.get('birthday') === elementState.Invalid
                  "
                  >send</mdc-icon
                >
                &nbsp;Update
              </button>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center">
            <mdc-form-field fluid>
              <mdc-select
                id="gender-select"
                formControlName="gender"
                placeholder="Gender"
                (valueChange)="update('gender', $event.value)"
              >
                <mdc-menu>
                  <mdc-list>
                    <mdc-list-item value="unspecified"><i>-- please select one --</i></mdc-list-item>
                    <mdc-list-item value="female">Female</mdc-list-item>
                    <mdc-list-item value="male">Male</mdc-list-item>
                  </mdc-list>
                </mdc-menu>
              </mdc-select>
            </mdc-form-field>
            <app-write-status [formGroup]="formGroup" [state]="controlStates.get('gender')"></app-write-status>
          </div>
          <div class="linked-accounts">
            <div
              *ngIf="isLinkedToParatext"
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxLayoutGap="1em"
              id="paratext-link"
            >
              <div>Linked to Paratext account</div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5em">
                <label id="paratext-link-label">
                  <strong>{{ paratextUsername }}</strong>
                </label>
                <button mdc-button id="unlink-paratext-button" class="unlink-button" (click)="deleteParatextLink()">
                  <mdc-icon>clear</mdc-icon> <span fxHide.lt-md>Remove link</span>
                </button>
              </div>
            </div>
            <div *ngIf="!isLinkedToParatext" id="paratext-link">
              <button mdc-button outlined id="connect-paratext-button" (click)="logInWithParatext()">
                <mdc-icon>link</mdc-icon> Connect to Paratext
              </button>
            </div>
            <!--Add this back in once login with Google (SF-77) is finished
      <div
        *ngIf="isLinkedToGoogle"
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="1em"
        id="google-link"
      >
        <div>Linked to Google account</div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5em">
          <label
            ><strong>{{ googleUsername }}</strong></label
          >
          <button mdc-button outlined id="unlink-google-button class="unlink-button" (click)="deleteGoogleLink()">
            <mdc-icon>clear</mdc-icon> <span fxHide.lt-md>Remove link</span>
          </button>
        </div>
      </div>
      <div *ngIf="!isLinkedToGoogle" id="google-link">
        <button mdc-button outlined><mdc-icon>link</mdc-icon> Connect to Google</button>
      </div>
      -->
          </div>
        </div>
      </form>
    </div>
    <div fxLayout="column">
      <div *ngIf="showAvatar"><app-avatar [user]="userFromDatabase" size="192" [round]="false"></app-avatar></div>
      <button mdc-button ngfSelect [(file)]="pictureFile" (fileChange)="uploadPicture()" accept="image/*">
        Upload picture
      </button>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-between stretch" id="delete-account" class="delete-account">
    <h2>Delete account</h2>
    <mdc-card>
      <h2>Delete my account ({{ userName }})</h2>
      <div>
        <p>Once you delete your account, there is no going back. Please be certain.</p>
        <p><strong>You will lose access to your projects.</strong></p>
      </div>
      <mdc-card-actions fxLayout="row" fxLayoutAlign="end stretch">
        <button mdc-button unelevated (click)="openDeleteAccountDialog()" id="delete-account-button">
          Delete my account
        </button>
      </mdc-card-actions>
    </mdc-card>
  </div>
</div>
