@import '~src/global';

.account-form {
  max-width: 30rem;
  .last-login-element,
  .gender-input {
    margin-bottom: 1rem;
  }
  mdc-text-field {
    width: 100%;
  }
}

.update-button-spinner {
  float: left;
}

.contactMethod-spinner,
.birthday-spinner,
.gender-spinner {
  float: right;
  margin-top: 1.5rem;
  margin-right: 0.5rem;
}

.check-icon {
  color: green;
}

.error-icon {
  color: red;
}

.delete-account mdc-card {
  border: 2px solid red;
  padding: 1rem;
  h2 {
    font-weight: normal;
    margin: 0;
  }

  #delete-account-button {
    @include mdc-button-container-fill-color(red);
  }
}

.login-info {
  margin-right: 1rem;
}

.nowrap {
  white-space: nowrap;
}

.linked-paratext,
.linked-google,
.delete-account {
  margin-bottom: 1rem;
}
