@import '~src/global';

.account-form {
  max-width: 30em;
  mdc-text-field {
    width: 100%;
  }
  .update-button {
    top: 20px;
  }
}

.linked-accounts {
  margin-bottom: 1em;
}

.delete-account mdc-card {
  border: 2px solid red;
  padding: 1em;
  h2 {
    font-weight: normal;
    margin: 0;
  }

  #delete-account-button {
    @include mdc-button-container-fill-color(red);
  }
}

.login-info {
  margin: 0.5em 1em 0.5em 0em;
}

.nowrap {
  white-space: nowrap;
}

.delete-account {
  margin-bottom: 1em;
}
