<app-tab-scroll-button
  side="start"
  [disabled]="isScrollBoundsStart"
  (scrollStart)="startButtonScroll('start')"
  (scrollStop)="stopButtonScroll()"
></app-tab-scroll-button>

<div
  [id]="groupId!"
  class="tabs"
  cdkDropList
  cdkDropListLockAxis="x"
  cdkDropListOrientation="horizontal"
  [cdkDropListDisabled]="!allowDragDrop"
  [cdkDropListConnectedTo]="connectedTo"
  [cdkDropListSortPredicate]="movablePredicate.bind(this)"
  (cdkDropListDropped)="onTabDrop($event)"
>
  <app-tab-header
    *ngFor="let tab of tabs; let i = index"
    [closeable]="tab.closeable"
    [movable]="tab.movable"
    [tooltip]="tab.tooltip"
    [active]="i === selectedIndex"
    (tabPress)="tabPress.next({ index: i, pointerEvent: $event })"
    (tabClick)="tabClick.next({ index: i, pointerEvent: $event })"
    (closeClick)="closeClick.next(i)"
    cdkDrag
    [cdkDragDisabled]="!tab.movable"
    [cdkDragData]="tab"
  >
    <ng-container *ngTemplateOutlet="tab.tabHeaderTemplate"></ng-container>
  </app-tab-header>

  <app-tab-header
    #menuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="newTabMenu"
    [closeable]="false"
    class="add-tab"
    (click)="onAddTabClicked()"
    cdkDrag
    cdkDragDisabled
    [cdkDragData]="{ isAddTab: true }"
  >
    <mat-icon>add</mat-icon>
  </app-tab-header>

  <mat-menu #newTabMenu>
    <!-- Migrating to control flow causes an "Expression changed after check" error when tabs are dragged -->
    <ng-container *ngIf="(menuItems$ | async)?.length; else emptyMenu">
      <button *ngFor="let item of menuItems$ | async" mat-menu-item (click)="tabAddRequest.next(item.type)">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <mat-icon *ngIf="item.svgIcon" [svgIcon]="item.svgIcon"></mat-icon>
        <span>{{ item.text }}</span>
      </button>
    </ng-container>
    <ng-template #emptyMenu>
      <button mat-menu-item disabled>{{ "tab_group_header.no_tabs_available" | transloco }}</button>
    </ng-template>
  </mat-menu>
</div>

<app-tab-scroll-button
  side="end"
  [disabled]="isScrollBoundsEnd"
  (scrollStart)="startButtonScroll('end')"
  (scrollStop)="stopButtonScroll()"
></app-tab-scroll-button>
