<app-tab-scroll-button
  side="start"
  [disabled]="isScrollBoundsStart"
  (scrollStart)="startButtonScroll('start')"
  (scrollStop)="stopButtonScroll()"
></app-tab-scroll-button>

<div
  [id]="groupId!"
  class="tabs"
  cdkDropList
  cdkDropListLockAxis="x"
  cdkDropListOrientation="horizontal"
  [cdkDropListDisabled]="!allowDragDrop"
  [cdkDropListConnectedTo]="connectedTo"
  [cdkDropListSortPredicate]="movablePredicate.bind(this)"
  (cdkDropListDropped)="onTabDrop($event)"
>
  @for (tab of tabs; track tab; let i = $index) {
    <app-tab-header
      [closeable]="tab.closeable"
      [movable]="tab.movable"
      [tooltip]="tab.tooltip"
      [active]="i === selectedIndex"
      (tabPress)="tabPress.next({ index: i, pointerEvent: $event })"
      (tabClick)="tabClick.next({ index: i, pointerEvent: $event })"
      (closeClick)="closeClick.next(i)"
      cdkDrag
      [cdkDragDisabled]="!tab.movable"
      [cdkDragData]="tab"
    >
      <ng-container *ngTemplateOutlet="tab.tabHeaderTemplate"></ng-container>
    </app-tab-header>
  }

  <app-tab-header
    #menuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="newTabMenu"
    [closeable]="false"
    class="add-tab"
    (click)="onAddTabClicked()"
    cdkDrag
    cdkDragDisabled
    [cdkDragData]="{ isAddTab: true }"
  >
    <mat-icon>add</mat-icon>
  </app-tab-header>

  <mat-menu #newTabMenu>
    @if ((menuItems$ | async)?.length) {
      @for (item of menuItems$ | async; track item) {
        <button mat-menu-item [disabled]="item.disabled" (click)="tabAddRequest.next(item.type)">
          @if (item.icon) {
            <mat-icon>{{ item.icon }}</mat-icon>
          }
          <span>{{ item.text }}</span>
        </button>
      }
    } @else {
      <button mat-menu-item disabled>{{ "tab_group_header.no_tabs_available" | transloco }}</button>
    }
  </mat-menu>
</div>

<app-tab-scroll-button
  side="end"
  [disabled]="isScrollBoundsEnd"
  (scrollStart)="startButtonScroll('end')"
  (scrollStop)="stopButtonScroll()"
></app-tab-scroll-button>
