@page
@model Status404Model

@section meta {
<meta http-equiv="refresh" content='10;url=@ViewData["Origin"]' />
}

<section class="inside">
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <h1>@Model.Localizer["PageNotFound"]</h1>
                <p>@Model.Localizer["RedirectingInAFewMoments"]</p>
                <div id="redirect-progress-bar"><span></span></div>
            </div>
        </div>
    </div>
</section>
