<ng-container *transloco="let t; read: 'start'">
  <div class="wrapper">
    <h3 *ngIf="connectedProjects?.length !== 0">Connected projects</h3>
    <mat-card *ngFor="let projectDoc of connectedProjects" [class.active-project]="isLastSelectedProject(projectDoc)">
      <div>
        <span class="project-name">
          <span>{{ projectDoc.data?.shortName }}</span> - <span>{{ projectDoc.data?.name }}</span>
        </span>
        <span class="helper-text">
          {{ projectDoc.data?.checkingConfig?.checkingEnabled ? "Drafting  • Community checking" : "Drafting" }}
        </span>
      </div>
      <a routerLink="/projects/{{ projectDoc.id }}" mat-flat-button color="primary">Open</a>
    </mat-card>

    <h3 *ngIf="connectedResources?.length !== 0">DBL resources</h3>
    <mat-card *ngFor="let projectDoc of connectedResources" [class.active-project]="isLastSelectedProject(projectDoc)">
      <div>
        <span class="project-name">
          <span>{{ projectDoc.data?.shortName }}</span> - <span>{{ projectDoc.data?.name }}</span>
        </span>
        <span class="helper-text">DBL resource</span>
      </div>
      <a routerLink="/projects/{{ projectDoc.id }}" mat-flat-button color="primary">Open</a>
    </mat-card>

    <h3>{{ userProjectCount === 0 ? "Connect a project to get started" : "Not connected" }}</h3>
    <ng-container *ngFor="let project of nonJoinedParatextProjects ?? []">
      <mat-card>
        <div>
          <span class="project-name">
            <span>{{ project.shortName }}</span> - <span>{{ project.name }}</span>
          </span>
          <span *ngIf="!project.isConnectable" class="helper-text">This project cannot be connected</span>
        </div>
        <a *ngIf="project.isConnectable" routerLink="/connect-project" mat-flat-button color="primary">
          {{ project.isConnected ? "Join" : "Connect" }}
        </a>
      </mat-card>
    </ng-container>
  </div>
</ng-container>
