<ng-container *transloco="let t; read: 'collaborators'">
  <div class="invite-user">
    <span *ngIf="!isAppOnline" id="collaborators-offline-message" class="offline-text">{{
      t("connect_network_to_manage_users")
    }}</span>
    <app-notice icon="live_help" [outline]="true">
      <div class="help-message">
        {{ t("uses_roles_to_access_project") }}
        <a mat-flat-button class="learn-more-btn" [href]="urls.rolesHelpPage" target="_blank">{{ t("learn_more") }}</a>
      </div>
    </app-notice>

    <div fxLayout="row" fxLayoutAlign="start center" class="users-controls">
      <!-- The tab group component sets the currentTabIndex which filters the list of users.
      This is a non-standard way to use the component and causes a slight UI glitch where the
      tab text jumps a few pixels when navigating between tabs. -->
      <div class="tab-selector">
        <mat-tab-group (selectedIndexChange)="currentTabIndex = $event">
          <mat-tab label="{{ t('all') }}"></mat-tab>
          <mat-tab label="{{ t('paratext_members') }}"></mat-tab>
          <mat-tab label="{{ t('project_guests') }}"></mat-tab>
        </mat-tab-group>
      </div>
      <mat-form-field [formGroup]="filterForm" appearance="outline" id="project-user-filter">
        <mat-label>{{ t("filter_users") }}</mat-label>
        <input matInput formControlName="filter" (keyup)="updateSearchTerm($event.target)" />
      </mat-form-field>
    </div>
    <div *ngIf="!isLoading">
      <div *ngIf="filteredLength > 0">
        <table mat-table fxFill id="project-users-table" [dataSource]="rowsToDisplay">
          <ng-container matColumnDef="avatar">
            <td mat-cell *matCellDef="let userRow; let i = index">
              <div *ngIf="!userRow.isInvitee">
                <app-avatar [user]="userRow.user" [size]="32" [round]="false"></app-avatar>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let userRow">
              <div *ngIf="!userRow.inviteeStatus" class="display-name-label">
                {{ userRow.user?.displayName }}
                <b *ngIf="isCurrentUser(userRow)" class="current-user-label">&nbsp;{{ t("me") }}</b>
              </div>
              <div
                *ngIf="userRow.inviteeStatus"
                [innerHtml]="
                  userRow.inviteeStatus.expired
                    ? i18n.translateAndInsertTags('collaborators.invitation_expired', { email: userRow.user?.email })
                    : i18n.translateAndInsertTags('collaborators.awaiting_response_from', {
                        email: userRow.user?.email
                      })
                "
              ></div>
              <div fxHide.gt-xs>
                <em>{{ userRow.role ? i18n.localizeRole(userRow.role) : "" }}</em>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="info">
            <td mat-cell *matCellDef="let userRow">
              <div *ngIf="hasParatextRole(userRow)">
                <img src="/assets/images/logo-pt9.png" alt="Paratext Logo" class="paratext-logo" />
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="questions_permission">
            <td mat-cell *matCellDef="let userRow">
              <div [matTooltip]="t('allow_add_edit_questions')" *ngIf="userRow.allowCreatingQuestions">
                <mat-icon>post_add</mat-icon>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="audio_permission">
            <td mat-cell *matCellDef="let userRow">
              <div [matTooltip]="t('allow_manage_audio')" *ngIf="userRow.canManageAudio">
                <mat-icon class="shift-left material-icons-outlined">audio_file</mat-icon>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="role">
            <td fxHide.xs mat-cell *matCellDef="let userRow">
              <em>{{ userRow.role ? i18n.localizeRole(userRow.role) : "" }}</em>
            </td>
          </ng-container>
          <ng-container matColumnDef="more">
            <td mat-cell *matCellDef="let userRow">
              <button mat-icon-button class="user-more-menu" [matMenuTriggerFor]="userOptions">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #userOptions="matMenu" class="user-options">
                <button
                  *ngIf="!userRow.inviteeStatus && !isCurrentUser(userRow)"
                  mat-menu-item
                  class="remove-user"
                  (click)="removeProjectUserClicked(userRow)"
                  [disabled]="!isAppOnline"
                >
                  {{ t("remove_from_project") }}
                </button>
                <button
                  *ngIf="userRow.inviteeStatus"
                  mat-menu-item
                  class="cancel-invite"
                  (click)="uninviteProjectUser(userRow.user.email)"
                  [disabled]="!isAppOnline"
                >
                  {{ t("cancel_invite") }}
                </button>
                <button
                  mat-menu-item
                  (click)="openRolesDialog(userRow)"
                  [disabled]="isAdmin(userRow.role) || userRow.inviteeStatus"
                >
                  {{ t("edit_roles_and_permissions") }}
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-row *matRowDef="let userRow; columns: tableColumns"></tr>
        </table>
      </div>
      <mat-hint *ngIf="filteredLength === 0" class="no-users-label">{{ t("no_users_found") }}</mat-hint>
    </div>
    <app-share-control [projectId]="projectId" (invited)="onInvitationSent()"></app-share-control>
  </div>
</ng-container>
