@use 'src/variables';

h3 {
  font-weight: 500;
}

.learn-more-btn {
  background-color: var(--notice-color);
  color: #fff;
  flex-shrink: 0;
}

.invite-user {
  max-width: 800px;
  padding-block-end: 10px;
}

.invite-user-btn {
  margin: 10px;
  bottom: 10px;
}

.paratext-logo {
  width: 24px;
  height: 24px;
}

.helper-text {
  color: variables.$text-hint-on-background;
  line-height: 1.4em;
  mat-icon {
    font-size: inherit;
    position: relative;
    height: 1em;
    width: unset;
    top: 2px;
  }
}

td.mat-cell:last-of-type {
  padding: 0;
}

.mat-cell.mat-column-role {
  padding: 0 30px;
}

.text-entry {
  margin-bottom: 10px;
}

.users-controls {
  margin-top: 16px;
  flex-wrap: wrap-reverse;
}

.tab-selector {
  flex-grow: 1;
}

.mat-column-avatar {
  width: 65px !important;
}

.mat-column-name,
.mat-column-role {
  word-break: break-word;
}

// Allow the questions permission label to wrap on whitespace to prevent layout issues
.mat-column-questions_permission .mat-checkbox ::ng-deep label {
  white-space: initial;
}

.current-user-label {
  color: variables.$theme-secondary;
}

.no-users-label {
  padding-top: 14px;
}

.remove-cell {
  text-align: right;
}

.help-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// prevent undesirable flicker effect when changing tabs
:host ::ng-deep .mat-tab-body-wrapper {
  display: none;
}
