@import '~src/app/shared/styles';

h3 {
  font-weight: 500;
}

.mdc-list-divider {
  margin-top: 32px;
  margin-bottom: 16px;
}

.invite-user {
  max-width: 800px;
}

mdc-text-field {
  min-width: 272px;
}

.invite-user-btn {
  margin: 10px;
  bottom: 10px;
}

.helper-text {
  color: var(--mdc-theme-text-hint-on-background);
  mdc-icon {
    font-size: inherit;
    position: relative;
    top: 3px;
  }
}

.text-entry {
  margin-bottom: 10px;
}

.users-controls {
  margin-top: 16px;
  margin-bottom: 32px;
}

.mat-column-avatar {
  width: 65px !important;
}

.mat-column-name {
  padding-right: 0.5em;
  word-break: break-word;
}

.mat-column-projects {
  word-break: break-word;
}

.current-user-label {
  color: var(--mdc-theme-secondary);
}

.no-users-label {
  padding-top: 14px;
}

.remove-cell {
  text-align: right;
}
