@use 'src/variables';

h3 {
  font-weight: 500;
}

.invite-user {
  max-width: 800px;
  padding-block-end: 10px;
}

.invite-user-btn {
  margin: 10px;
  bottom: 10px;
}

.paratext-logo {
  width: 24px;
  height: 24px;
}

// Add bottom border to last row that was removed in Material v15+
.mat-mdc-row:last-child .mat-mdc-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

// Padding only for the start of first column and around the 'role' column
.mat-mdc-cell {
  padding-inline-end: 0;

  &:not(:first-of-type) {
    padding-inline-start: 0;
  }

  &.mat-column-role {
    padding: 0 30px;
  }
}

.text-entry {
  margin-bottom: 10px;
}

.users-controls {
  margin-top: 16px;
  flex-wrap: wrap-reverse;
  display: flex;
  align-items: center;
}

.tab-selector {
  flex-grow: 1;
}

.mat-column-avatar {
  width: 65px !important;
}

.mat-column-name,
.mat-column-role {
  word-break: break-word;
}

// Allow the questions permission label to wrap on whitespace to prevent layout issues
.mat-column-questions_permission .mat-column-audio_permission .mat-mdc-checkbox ::ng-deep label {
  white-space: initial;
}

// Necessary for spacing icons with narrow content
.shift-left {
  margin-left: -4px;
}

.current-user-label {
  color: variables.$theme-secondary;
}

.no-users-label {
  padding-top: 14px;
}

.remove-cell {
  text-align: right;
}

.help-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// prevent undesirable flicker effect when changing tabs
:host ::ng-deep .mat-mdc-tab-body-wrapper {
  display: none;
}
