<ng-container *transloco="let t; read: 'collaborators'">
  <div class="invite-user">
    <h3>{{ t("share_with_others") }}</h3>
    <app-share-control
      [projectId]="projectId"
      [isLinkSharingEnabled]="isLinkSharingEnabled"
      (invited)="onInvitationSent()"
    ></app-share-control>

    <mdc-list-divider></mdc-list-divider>

    <div fxLayout="row" fxLayoutAlign="start center">
      <p class="helper-text">
        <span [innerHtml]="rolesText?.before"></span><strong><mdc-icon>menu</mdc-icon></strong
        ><span [innerHtml]="rolesText?.after"></span>
      </p>
    </div>
    <span *ngIf="!isAppOnline" id="collaborators-offline-message" class="offline-text">{{
      t("connect_network_to_manage_users")
    }}</span>

    <div fxLayout="row" fxLayoutAlign="start center" class="users-controls">
      <mdc-form-field [formGroup]="filterForm" fxFlex>
        <mdc-text-field
          label="{{ t('filter_users') }}"
          formControlName="filter"
          (keyup)="updateSearchTerm($event.target.value)"
          id="project-user-filter"
        ></mdc-text-field>
      </mdc-form-field>
    </div>
    <div *ngIf="!isLoading">
      <div *ngIf="totalUsers > 0">
        <table mat-table fxFill id="project-users-table" [dataSource]="userRows">
          <ng-container matColumnDef="avatar">
            <td mat-cell *matCellDef="let userRow; let i = index">
              <div *ngIf="!userRow.isInvitee">
                <app-avatar [user]="userRow.user" size="32" [round]="false"></app-avatar>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let userRow">
              <div *ngIf="!userRow.inviteeStatus" class="display-name-label">
                {{ userRow.user?.displayName }}
                <b *ngIf="isCurrentUser(userRow)" class="current-user-label">&nbsp;{{ t("me") }}</b>
              </div>
              <div
                *ngIf="userRow.inviteeStatus"
                [innerHtml]="
                  userRow.inviteeStatus.expired
                    ? i18n.translateAndInsertTags('collaborators.invitation_expired', { email: userRow.user?.email })
                    : i18n.translateAndInsertTags('collaborators.awaiting_response_from', {
                        email: userRow.user?.email
                      })
                "
              ></div>
            </td>
          </ng-container>
          <ng-container matColumnDef="projects">
            <td fxHide.xs mat-cell *matCellDef="let userRow">
              <em>{{ userRow.role ? i18n.localizeRole(userRow.role) : "" }}</em>
            </td>
          </ng-container>
          <ng-container matColumnDef="remove">
            <td mat-cell *matCellDef="let userRow" class="remove-cell">
              <button
                mdc-icon-button
                icon="clear"
                class="remove-user"
                *ngIf="!userRow.inviteeStatus && !isCurrentUser(userRow)"
                type="button"
                [disabled]="!isAppOnline"
                (click)="removeProjectUser(userRow.id)"
                title="{{ t('remove_from_project') }}"
              ></button>

              <!-- 2 buttons below are 1 button displayed mutually exclusively, different style on breakpoints -->
              <button
                *ngIf="userRow.inviteeStatus"
                fxHide.lt-sm
                fxShow
                mdc-button
                outlined
                color="warn"
                class="cancel-invite"
                type="button"
                [disabled]="!isAppOnline"
                (click)="uninviteProjectUser(userRow.user.email)"
              >
                {{ t("cancel_invite") }}
              </button>
              <button
                mdc-icon-button
                icon="clear"
                color="warn"
                class="cancel-invite"
                *ngIf="userRow.inviteeStatus"
                fxHide
                fxShow.lt-sm
                type="button"
                [disabled]="!isAppOnline"
                (click)="uninviteProjectUser(userRow.user.email)"
                title="{{ t('cancel_invite') }}"
              ></button>
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let userRow; columns: ['avatar', 'name', 'projects', 'remove']"></tr>
        </table>

        <mat-paginator
          [pageIndex]="pageIndex"
          [length]="filteredLength"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 20, 50, 100]"
          (page)="updatePaginatorData($event)"
        >
        </mat-paginator>
      </div>
      <div *ngIf="totalUsers === 0" class="no-users-label">{{ t("no_users_found") }}</div>
    </div>
  </div>
</ng-container>
