h3 {
  font-weight: 500;
}

.learn-more-btn {
  background-color: var(--notice-color);
  color: #fff;
  flex-shrink: 0;
}

.invite-user {
  max-width: 800px;
}

.invite-user-btn {
  margin: 10px;
  bottom: 10px;
}

.paratext-logo {
  width: 24px;
  height: 24px;
}

.helper-text {
  color: var(--mdc-theme-text-hint-on-background);
  mat-icon {
    font-size: inherit;
    position: relative;
    top: 10px;
  }
}

td.mat-cell:last-of-type {
  padding: 0;
}

.mat-cell.mat-column-role {
  padding: 0 30px;
}

.text-entry {
  margin-bottom: 10px;
}

.users-controls {
  margin-top: 16px;
  flex-wrap: wrap-reverse;
}

.tab-selector {
  flex-grow: 1;
}

.mat-column-avatar {
  width: 65px !important;
}

.mat-column-name,
.mat-column-role {
  word-break: break-word;
}

// Allow the questions permission label to wrap on whitespace to prevent layout issues
.mat-column-questions_permission .mat-checkbox ::ng-deep label {
  white-space: initial;
}

.current-user-label {
  color: var(--mdc-theme-secondary);
}

.no-users-label {
  padding-top: 14px;
}

.remove-cell {
  text-align: right;
}
