<div class="invite-user">
  <h3>Share with others</h3>
  <app-share-control [projectId]="projectId" [isLinkSharingEnabled]="isLinkSharingEnabled"></app-share-control>

  <mdc-list-divider></mdc-list-divider>

  <div fxLayout="row" fxLayoutAlign="start center">
    <p class="helper-text">
      User's roles and permissions can <strong>only</strong> be changed in <strong>Paratext</strong>. Open the project
      in <strong>Paratext</strong>, click <strong>Project</strong> then <strong>Users, Roles and Permissions</strong>.
      Their role will come into effect here once that user logs in with their Paratext account.
    </p>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" class="users-controls">
    <mdc-form-field fxFlex>
      <mdc-text-field
        label="Filter users..."
        (keyup)="updateSearchTerm($event.target.value)"
        id="project-user-filter"
      ></mdc-text-field>
    </mdc-form-field>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="totalUsers > 0">
      <table mat-table fxFill id="project-users-table" [dataSource]="userRows">
        <ng-container matColumnDef="avatar">
          <td mat-cell *matCellDef="let userRow; let i = index">
            <div *ngIf="userRow.active"><app-avatar [user]="userRow.user" size="32" [round]="false"></app-avatar></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <td mat-cell *matCellDef="let userRow">
            <div *ngIf="userRow.active" class="display-name-label">
              {{ userRow.user?.displayName }}
              <strong *ngIf="isCurrentUser(userRow)" class="current-user-label">&nbsp;me</strong>
            </div>
            <div *ngIf="!userRow.active">
              Awaiting response from
              <div>{{ userRow.user?.email }}</div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="projects">
          <td fxHide.xs mat-cell *matCellDef="let userRow">
            <em>{{ userRow.roleName }}</em>
          </td>
        </ng-container>
        <ng-container matColumnDef="remove">
          <td mat-cell *matCellDef="let userRow" class="remove-cell">
            <button
              mdc-icon-button
              icon="clear"
              class="remove-user"
              *ngIf="userRow.active && !isCurrentUser(userRow)"
              (click)="removeProjectUser(userRow.id)"
              title="Remove from project"
            ></button>

            <!-- 2 buttons below are 1 button displayed mutually exclusively, different style on breakpoints -->
            <button
              *ngIf="!userRow.active"
              fxHide.lt-sm
              fxShow
              mdc-button
              outlined
              color="warn"
              class="cancel-invite"
              (click)="uninviteProjectUser(userRow.user.email)"
            >
              Cancel invite
            </button>
            <button
              mdc-icon-button
              icon="clear"
              color="warn"
              class="cancel-invite"
              *ngIf="!userRow.active"
              fxHide
              fxShow.lt-sm
              (click)="uninviteProjectUser(userRow.user.email)"
              title="Cancel invite"
            ></button>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let userRow; columns: ['avatar', 'name', 'projects', 'remove']"></tr>
      </table>

      <mat-paginator
        [pageIndex]="pageIndex"
        [length]="totalUsers"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20, 50, 100]"
        (page)="updatePage($event.pageIndex, $event.pageSize)"
      >
      </mat-paginator>
    </div>
    <div *ngIf="totalUsers === 0" class="no-users-label">No users found</div>
  </div>
</div>
