<div class="invite-user">
  <div fxLayout="row" fxLayoutAlign="start center">
    <p class="helper-text">
      User's roles and permissions can <strong>only</strong> be changed in <strong>Paratext</strong>. Open the project
      in <strong>Paratext</strong>, click <strong>Project</strong> then <strong>Users, Roles and Permissions</strong>.
      Their role will come into effect here once that user logs in with their Paratext account.
    </p>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" class="users-controls">
    <mdc-form-field fxFlex>
      <mdc-text-field
        label="Filter users..."
        (keyup)="updateSearchTerm($event.target.value)"
        id="project-user-filter"
      ></mdc-text-field>
    </mdc-form-field>
    <app-share></app-share>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="totalUsers > 0">
      <table mat-table fxFill id="project-users-table" [dataSource]="userRows">
        <ng-container matColumnDef="avatar">
          <td mat-cell *matCellDef="let userRow; let i = index">
            <div *ngIf="userRow.user?.active">
              <app-avatar [user]="userRow.user" size="32" [round]="false"> </app-avatar>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <td mat-cell *matCellDef="let userRow">
            <div *ngIf="userRow.user?.active">
              <strong>{{ userRow.user?.name }}</strong>
            </div>
            <div *ngIf="!userRow.user?.active">Awaiting response from</div>
            {{ userRow.user?.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="projects">
          <td fxHide.xs mat-cell *matCellDef="let userRow">
            <em>{{ userRow.roleName }}</em>
          </td>
        </ng-container>
        <ng-container matColumnDef="remove">
          <td mat-cell *matCellDef="let userRow" class="remove-cell">
            <button
              *ngIf="userRow.user?.active"
              mdc-icon-button
              class="remove-user"
              (click)="removeProjectUser(userRow.user)"
            >
              <mdc-icon>clear</mdc-icon>
            </button>

            <!-- 2 buttons below are 1 button displayed mutually exclusively, different style on breakpoints -->
            <button
              *ngIf="!userRow.user?.active"
              fxHide.lt-sm
              fxShow
              mdc-button
              outlined
              color="warn"
              class="cancel-invite"
              (click)="removeProjectUser(userRow.user)"
            >
              Cancel invite
            </button>
            <button
              *ngIf="!userRow.user?.active"
              fxHide
              fxShow.lt-sm
              mdc-icon-button
              color="warn"
              class="cancel-invite"
              (click)="removeProjectUser(userRow.user)"
            >
              <mdc-icon>clear</mdc-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let userRow; columns: ['avatar', 'name', 'projects', 'remove']"></tr>
      </table>

      <mat-paginator
        [pageIndex]="pageIndex"
        [length]="totalUsers"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20, 50, 100]"
        (page)="updatePage($event.pageIndex, $event.pageSize)"
      >
      </mat-paginator>
    </div>
    <div *ngIf="totalUsers === 0" class="no-users-label">No users found</div>
  </div>
</div>
