<!-- translate="no" is to prevent tools like Google translate from editing the text -->
<quill-editor
  #quillEditor
  translate="no"
  spellcheck="false"
  [placeholder]="placeholder"
  [readOnly]="readOnlyEnabled"
  [strict]="false"
  [formats]="allowedFormats"
  [modules]="modules"
  (onEditorCreated)="onEditorCreated($event)"
  (onContentChanged)="onContentChanged($event.delta, $event.source)"
  (onSelectionChanged)="onSelectionChanged($event.range)"
  [ngClass]="{
    'read-only-editor': readOnlyEnabled,
    'template-editor': !readOnlyEnabled,
    ltr: isLtr,
    rtl: isRtl,
    'mark-invalid': markInvalid,
    'selectable-verses': selectableVerses
  }"
  [dir]="$any(textDirection)"
  [lang]="lang"
  [attr.data-browser-engine]="browserEngine"
  (onBlur)="toggleFocus(false)"
  (onFocus)="toggleFocus(true)"
>
</quill-editor>
