<quill-editor
  #quillEditor
  spellcheck="false"
  [placeholder]="placeholder"
  [readOnly]="readOnlyEnabled"
  [strict]="false"
  [formats]="allowedFormats"
  [modules]="modules"
  (onEditorCreated)="onEditorCreated($event)"
  (onContentChanged)="onContentChanged($event.delta, $event.source)"
  (onSelectionChanged)="onSelectionChanged()"
  [ngClass]="{
    'read-only-editor': readOnlyEnabled,
    'template-editor': !readOnlyEnabled,
    ltr: isLtr,
    rtl: isRtl,
    'mark-invalid': markInvalid
  }"
  [dir]="isRtl ? 'rtl' : 'ltr'"
  [lang]="lang"
  [attr.data-browser-engine]="browserEngine"
>
</quill-editor>
