@import '~quill/dist/quill.snow.css';

quill-editor {
  height: 100%;
  .ql-editor {
    line-height: 1.6;
    width: 100%;
    word-break: break-word;
    padding: 15px 35px;
  }
}

.highlight-segment-source {
  background-color: #ffffce;
  padding: 0.45rem 0;
}

.highlight-segment-target {
  color: black;
  box-shadow: unset;
}

.highlight-para-target > usx-para-contents {
  box-shadow: 2px 4px 4px -4px #bfb092;
}

.template-editor {
  .ql-editor {
    background-color: #f5f3ef;

    *[contenteditable='false'] {
      color: #7c7c7c;
    }

    usx-para,
    p {
      margin-bottom: 1em;

      > usx-para-contents {
        padding: 0.45rem 0.3rem;
        border-radius: 4px;
        display: inline;
        box-sizing: border-box;

        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        color: rgba(0, 0, 0, 0.8);
        background-color: white;

        usx-verse > span > span {
          padding-top: 0.35rem;
          background-color: #f5f3ef;
          border-radius: 8px;
        }
      }
    }
  }
}

.highlight-marker {
  width: 0;
  height: 0;
  border-left: 4px solid #a9ca25;
  position: absolute;
  top: 0px;
  left: 16px;
}
