<ng-container *transloco="let t; read: 'draft_history_list'">
  @if (latestBuild != null) {
    <h2>{{ lastCompletedBuildMessage }}</h2>
    <app-draft-history-entry
      [entry]="latestBuild"
      [isLatestBuild]="true"
      [canDownloadBuild]="latestBuildHasCompleted"
    />
  }

  @if (savedHistoricalBuilds.length > 0) {
    <h2>{{ t("previously_generated_drafts") }}</h2>
    @for (entry of savedHistoricalBuilds; track entry.id) {
      <app-draft-history-entry [entry]="entry" />
    }
  }
  @if (showOlderDraftsNotSupportedWarning && nonActiveBuilds.length > 0) {
    <app-notice [icon]="'summarize'" class="older-drafts">{{
      t("older_drafts_not_available", { date: draftHistoryCutOffDateFormatted })
    }}</app-notice>
  }
</ng-container>
