@use 'sass:color';
@use '@angular/material' as mat;
@use 'src/variables';

@mixin color($theme) {
  $is-dark: mat.get-theme-type($theme) == dark;
  --sf-info-icon-normal: #{color.adjust(variables.$blueMedium, $lightness: if($is-dark, 20%, 0%))};
  --sf-info-icon-error: var(--sf-error-color);
  --sf-info-icon-warning: #{color.adjust(variables.$orange, $lightness: if($is-dark, 20%, 0%))};
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
