:host {
  display: flex;
  align-items: center;

  a {
    cursor: pointer;
    display: flex;

    mat-icon {
      font-size: 18px;
      // Work around weird pixelation that happens when icons are scaled down
      // https://github.com/google/material-design-icons/issues/648
      transform: rotate(0.03deg);
      width: unset;
      height: unset;
      overflow: unset;

      &.normal {
        color: var(--sf-info-icon-normal);
      }
      &.error {
        color: var(--sf-info-icon-error);
      }
      &.warning {
        color: var(--sf-info-icon-warning);
      }
    }
  }
}

::ng-deep body[dir='rtl'] app-info mat-icon.mirror-rtl {
  // There's a global mirror-rtl class, but it is overridden by the transform workaround above, so we need to
  // re-apply the mirroring here.
  transform: scaleX(-1) rotate(0.03deg);
}
