<ng-container *transloco="let t; read: 'settings'">
  <div class="container">
    <div class="mat-headline-4">{{ t("settings") }}</div>
    @if (!isAppOnline) {
      <span class="offline-text"> {{ t("connect_network_to_change_settings") }} </span>
    }
    <div>
      <form [formGroup]="form">
        <mat-card class="card card-outline">
          <mat-card-content>
            <mat-card-title>{{ t("translate") }}</mat-card-title>
            <div class="tool-setting">
              @if (!isLoadingData && !isLoggedInToParatext && isAppOnline) {
                <div class="paratext-login-container">
                  <button
                    class="action-button"
                    mat-flat-button
                    type="button"
                    (click)="logInWithParatext()"
                    id="btn-log-in-settings"
                  >
                    <mat-icon>
                      <img src="/assets/images/logo-pt9.png" alt="Paratext Logo" class="paratext-logo" />
                    </mat-icon>
                    {{ t("log_in_with_paratext") }}
                  </button>
                  <span
                    class="more-options"
                    [innerHTML]="i18n.translateAndInsertTags('settings.enable_translation_suggestions')"
                  ></span>
                </div>
              }
              @if (mainSettingsLoaded) {
                <p class="helper-text">{{ t("select_project_or_resource") }}</p>
                <div class="tool-setting-field">
                  <app-project-select
                    id="sourceParatextId"
                    formControlName="sourceParatextId"
                    [placeholder]="t('source_text_placeholder')"
                    [projects]="projects"
                    [resources]="resources"
                    [nonSelectableProjects]="nonSelectableProjects"
                    [hiddenParatextIds]="projectParatextId ? [projectParatextId] : []"
                    [isDisabled]="!isAppOnline || isLoadingData || (projectLoadingFailed && resourceLoadingFailed)"
                  ></app-project-select>
                  <app-write-status
                    [state]="getControlState('sourceParatextId')"
                    [formGroup]="form"
                    id="based-on-status"
                    style="margin-block-end: 18px"
                  ></app-write-status>
                </div>
                @if (projectLoadingFailed && resourceLoadingFailed) {
                  <mat-error>
                    {{ t("error_fetching_projects_resources") }}
                  </mat-error>
                }
                @if (projectLoadingFailed && !resourceLoadingFailed) {
                  <mat-error>
                    {{ t("error_fetching_projects") }}
                  </mat-error>
                }
                @if (resourceLoadingFailed && !projectLoadingFailed) {
                  <mat-error>
                    {{ t("error_fetching_resources") }}
                  </mat-error>
                }
              }
            </div>
            <div class="tool-setting">
              @if (isBasedOnProjectSet) {
                <div class="tool-setting-field checkbox-field">
                  <mat-checkbox formControlName="translationSuggestionsEnabled" id="checkbox-translation-suggestions">
                    {{ t("translation_suggestions") }}
                  </mat-checkbox>
                  <app-info [text]="t('translations_will_be_suggested')"></app-info>
                  <app-write-status
                    [state]="getControlState('translationSuggestionsEnabled')"
                    [formGroup]="form"
                    id="translation-suggestions-status"
                  ></app-write-status>
                </div>
              } @else {
                <mat-hint>{{ t("translation_suggestions_require_source_text") }}</mat-hint>
              }
            </div>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="biblicalTermsEnabled" id="checkbox-biblical-terms">
                  {{ t("biblical_terms") }}
                </mat-checkbox>
                <app-info [text]="t('biblical_terms_will_be_enabled')"></app-info>
                <app-write-status
                  [state]="getControlState('biblicalTermsEnabled')"
                  [formGroup]="form"
                  id="biblical-terms-status"
                ></app-write-status>
              </div>
              @if (biblicalTermsMessage) {
                <mat-error>
                  @if (biblicalTermsMessage) {
                    <app-info icon="error" type="error" [text]="biblicalTermsMessage"></app-info>
                  }
                  <span>{{ biblicalTermsMessage }}</span>
                </mat-error>
              }
            </div>
          </mat-card-content>
          @if (showPreTranslationSettings) {
            <mat-card-content>
              <mat-card-title>{{ t("pre_translation_drafting") }}</mat-card-title>
              <div>
                @if (mainSettingsLoaded) {
                  <div class="tool-setting">
                    <div class="tool-setting-field checkbox-field">
                      <mat-checkbox formControlName="alternateSourceEnabled" id="checkbox-alternate-source-enabled">{{
                        t("enable_alternate_source")
                      }}</mat-checkbox>
                      <app-info [text]="t('pre_translation_alternate_source_info')"></app-info>
                      <app-write-status
                        [state]="getControlState('alternateSourceEnabled')"
                        [formGroup]="form"
                        id="alternate-source-enabled-status"
                      ></app-write-status>
                    </div>
                  </div>
                  @if (isAlternateSourceEnabled) {
                    <div class="tool-setting-field">
                      <app-project-select
                        id="alternateSourceParatextId"
                        formControlName="alternateSourceParatextId"
                        [placeholder]="t('pre_translation_source_text_placeholder')"
                        [projects]="projects"
                        [resources]="resources"
                        [nonSelectableProjects]="nonSelectableProjects"
                        [hiddenParatextIds]="projectParatextId ? [projectParatextId] : []"
                        [isDisabled]="!isAppOnline || isLoadingData || (projectLoadingFailed && resourceLoadingFailed)"
                      ></app-project-select>
                      <app-write-status
                        [state]="getControlState('alternateSourceParatextId')"
                        [formGroup]="form"
                        id="alternate-source-status"
                      ></app-write-status>
                    </div>
                  }
                  <div class="tool-setting">
                    <div class="tool-setting-field checkbox-field">
                      <mat-checkbox
                        formControlName="alternateTrainingSourceEnabled"
                        id="checkbox-alternate-training-source-enabled"
                        >{{ t("enable_alternate_training_source") }}</mat-checkbox
                      >
                      <app-info [text]="t('pre_translation_alternate_training_source_info')"></app-info>
                      <app-write-status
                        [state]="getControlState('alternateTrainingSourceEnabled')"
                        [formGroup]="form"
                        id="alternate-training-source-enabled-status"
                      ></app-write-status>
                    </div>
                  </div>
                  @if (isAlternateTrainingSourceEnabled) {
                    <div class="tool-setting-field">
                      <app-project-select
                        id="alternateTrainingSourceParatextId"
                        formControlName="alternateTrainingSourceParatextId"
                        [placeholder]="t('pre_translation_alternate_training_source_text_placeholder')"
                        [projects]="projects"
                        [resources]="resources"
                        [nonSelectableProjects]="nonSelectableProjects"
                        [hiddenParatextIds]="projectParatextId ? [projectParatextId] : []"
                        [isDisabled]="!isAppOnline || isLoadingData || (projectLoadingFailed && resourceLoadingFailed)"
                      ></app-project-select>
                      <app-write-status
                        [state]="getControlState('alternateTrainingSourceParatextId')"
                        [formGroup]="form"
                        id="alternate-training-source-status"
                      ></app-write-status>
                    </div>
                  }
                  @if (isAdditionalTrainingSourceEnabled || featureFlags.allowAdditionalTrainingSource.enabled) {
                    <div class="tool-setting">
                      <div class="tool-setting-field checkbox-field">
                        <mat-checkbox
                          formControlName="additionalTrainingSourceEnabled"
                          id="checkbox-additional-training-source-enabled"
                          >{{ t("enable_additional_training_source") }}</mat-checkbox
                        >
                        <app-info [text]="t('pre_translation_additional_training_source_info')"></app-info>
                        <app-write-status
                          [state]="getControlState('additionalTrainingSourceEnabled')"
                          [formGroup]="form"
                          id="additional-training-source-enabled-status"
                        ></app-write-status>
                      </div>
                    </div>
                  }
                  @if (isAdditionalTrainingSourceEnabled) {
                    <div class="tool-setting-field">
                      <app-project-select
                        id="additionalTrainingSourceParatextId"
                        formControlName="additionalTrainingSourceParatextId"
                        [placeholder]="t('pre_translation_additional_training_source_text_placeholder')"
                        [projects]="projects"
                        [resources]="resources"
                        [nonSelectableProjects]="nonSelectableProjects"
                        [hiddenParatextIds]="projectParatextId ? [projectParatextId] : []"
                        [isDisabled]="!isAppOnline || isLoadingData || (projectLoadingFailed && resourceLoadingFailed)"
                      ></app-project-select>
                      <app-write-status
                        [state]="getControlState('additionalTrainingSourceParatextId')"
                        [formGroup]="form"
                        id="additional-training-source-status"
                      ></app-write-status>
                    </div>
                  }
                  <div class="tool-setting">
                    <div class="tool-setting-field checkbox-field">
                      <mat-checkbox
                        formControlName="additionalTrainingData"
                        id="checkbox-pre-translation-additional-training-data"
                        >{{ t("pre_translation_additional_training_data") }}</mat-checkbox
                      >
                      <app-info [text]="t('pre_translation_additional_training_data_info')"></app-info>
                      <app-write-status
                        [state]="getControlState('additionalTrainingData')"
                        [formGroup]="form"
                        id="pre-translation-additional-training-data-status"
                      ></app-write-status>
                    </div>
                  </div>
                }
                @if (canUpdateServalConfig) {
                  <p
                    class="helper-text"
                    [innerHTML]="i18n.translateAndInsertTags('settings.serval_config_description')"
                  ></p>
                  <mat-form-field [formGroup]="form" appearance="outline">
                    <mat-label>{{ t("serval_config") }}</mat-label>
                    <textarea
                      matInput
                      cdkTextareaAutosize
                      id="serval-config"
                      formControlName="servalConfig"
                      (blur)="updateServalConfig()"
                    ></textarea>
                    <app-write-status
                      [state]="getControlState('servalConfig')"
                      [formGroup]="form"
                      id="serval-config-status"
                    ></app-write-status>
                  </mat-form-field>
                }
              </div>
            </mat-card-content>
          }
          <mat-card-content>
            <mat-card-title>{{ t("community_checking_settings") }}</mat-card-title>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="checkingEnabled" id="checkbox-community-checking">
                  {{ t("enable_community_checking") }}
                </mat-checkbox>
                <app-info [text]="t('engage_the_wider_community')"></app-info>
                <app-write-status
                  [state]="getControlState('checkingEnabled')"
                  [formGroup]="form"
                  id="checking-status"
                ></app-write-status>
              </div>
            </div>
            @if (isCheckingEnabled) {
              <div class="tool-setting">
                <div class="tool-setting-field checkbox-field">
                  <mat-checkbox formControlName="usersSeeEachOthersResponses" id="checkbox-see-others-responses">{{
                    t("see_others_answers_and_comments")
                  }}</mat-checkbox>
                  <app-write-status
                    [state]="getControlState('usersSeeEachOthersResponses')"
                    [formGroup]="form"
                    id="see-others-responses-status"
                  ></app-write-status>
                </div>
              </div>
              <div class="tool-setting">
                <div class="tool-setting-field checkbox-field">
                  <mat-checkbox formControlName="hideCommunityCheckingText" id="checkbox-hide-community-checking-text">
                    {{ t("hide_community_checking_text") }}
                  </mat-checkbox>
                  <app-info [text]="t('checkers_listen_to_scripture_audio')"></app-info>
                  <app-write-status
                    [state]="getControlState('hideCommunityCheckingText')"
                    [formGroup]="form"
                    id="hide-community-checking-text-status"
                  ></app-write-status>
                </div>
              </div>
              <div>
                <p class="helper-text">{{ t("export_checking_answers") }}</p>
                <div class="tool-setting">
                  <mat-radio-group
                    id="checking-export-radio-group"
                    formControlName="checkingAnswerExport"
                    class="tool-setting"
                  >
                    <div class="tool-setting-field">
                      <mat-radio-button
                        id="radio-checkingExport-exportable"
                        [value]="CheckingAnswerExport.MarkedForExport"
                        >{{ t("export_marked_for_export") }}</mat-radio-button
                      >
                      <mat-radio-button id="radio-checkingExport-all" [value]="CheckingAnswerExport.All">{{
                        t("export_all")
                      }}</mat-radio-button>
                      <mat-radio-button id="radio-checkingExport-none" [value]="CheckingAnswerExport.None">{{
                        t("export_none")
                      }}</mat-radio-button>
                      <app-write-status
                        [state]="getControlState('checkingAnswerExport')"
                        [formGroup]="form"
                        id="checkingExport-status"
                      ></app-write-status>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            }
          </mat-card-content>
          <mat-card-content>
            <mat-card-title>{{ t("sharing_settings") }}</mat-card-title>
            <p class="helper-text">{{ t("sharing_description") }}</p>
            <h4>{{ t("sharing_paratext_members") }}</h4>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox [checked]="true" [disabled]="true">
                  {{ t("sharing_administrators") }}
                </mat-checkbox>
              </div>
            </div>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="translatorsShareEnabled" id="checkbox-translators-share">
                  {{ t("sharing_translators") }}
                </mat-checkbox>
                <app-write-status
                  [state]="getControlState('translatorsShareEnabled')"
                  [formGroup]="form"
                  id="translators-share-status"
                ></app-write-status>
              </div>
            </div>
            <h4>{{ t("sharing_scripture_forge_guests") }}</h4>
            <p class="helper-text">
              <transloco
                key="settings.sharing_scripture_forge_guests_help"
                [params]="{
                  rolesHelpUrl: 'https://help.scriptureforge.org/community-checking/#5aa7e3d8451f40cfa6b33c5dd39a3c6f'
                }"
              ></transloco>
            </p>
            @if (isCheckingEnabled) {
              <div class="tool-setting">
                <div class="tool-setting-field checkbox-field">
                  <mat-checkbox formControlName="communityCheckersShareEnabled" id="checkbox-community-checkers-share">
                    <span>{{ t("sharing_community_checkers") }}</span>
                    <span class="description">{{ i18n.localizeRoleDescription(SFProjectRole.CommunityChecker) }}</span>
                  </mat-checkbox>
                  <app-write-status
                    [state]="getControlState('communityCheckersShareEnabled')"
                    [formGroup]="form"
                    id="community-checkers-share-status"
                  ></app-write-status>
                </div>
              </div>
            }
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="commentersShareEnabled" id="checkbox-commenters-share">
                  <span>{{ t("sharing_commenters") }}</span>
                  <span class="description">{{ i18n.localizeRoleDescription(SFProjectRole.Commenter) }}</span>
                </mat-checkbox>
                <app-write-status
                  [state]="getControlState('commentersShareEnabled')"
                  [formGroup]="form"
                  id="commenters-share-status"
                ></app-write-status>
              </div>
            </div>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="viewersShareEnabled" id="checkbox-viewers-share">
                  <span>{{ t("sharing_viewers") }}</span>
                  <span class="description">{{ i18n.localizeRoleDescription(SFProjectRole.Viewer) }}</span>
                </mat-checkbox>
                <app-write-status
                  [state]="getControlState('viewersShareEnabled')"
                  [formGroup]="form"
                  id="viewers-share-status"
                ></app-write-status>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>

    <div id="danger-zone">
      <div class="mat-headline-6">{{ t("danger_zone") }}</div>
      <mat-card class="card-content" id="delete-project">
        <h4>{{ t("delete_this_project") }}</h4>
        @if (isActiveSourceProject) {
          <p class="source-project-msg">
            {{ t("source_projects_cannot_be_deleted") }}
          </p>
        } @else if (isProjectSyncing) {
          <p class="project-syncing-msg">
            {{ t("cannot_delete_project_while_syncing") }}
          </p>
        } @else {
          <p>{{ t("delete_project_cannot_be_undone") }}</p>
          <p>
            <span [innerHTML]="synchronizeWarning?.before"></span>
            <a [appRouterLink]="['/projects', projectId, 'sync']">{{ synchronizeWarning?.templateTagText }}</a>
            <span>{{ synchronizeWarning?.after }}</span>
          </p>
        }
        <button
          id="delete-btn"
          mat-flat-button
          type="button"
          color="warn"
          (click)="openDeleteProjectDialog()"
          [class.enabled]="!deleteButtonDisabled"
          [disabled]="deleteButtonDisabled"
        >
          {{ t("delete_this_project") }}
        </button>
      </mat-card>
    </div>
  </div>
</ng-container>
