@use '@material/button/mixins' as button;

@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.container {
  margin: 0;
  padding: 0;
  max-width: 800px;
}

.card-content {
  padding: 16px;
}

.tool-setting {
  display: flex;
  flex-direction: column;
  &.indent {
    margin-top: 16px;
    margin-left: 34px;
  }

  &.select-indent {
    margin-top: 16px;
    margin-left: 44px;
  }

  > .checkbox-field {
    display: flex;
  }

  > .tool-setting-field {
    @include media-breakpoint-up(sm) {
      display: flex;
    }

    > app-write-status {
      @include media-breakpoint-only(xs) {
        margin-left: 10px;
      }
      margin-left: 32px;
    }
  }

  > .helper-text {
    font-size: 14px;
    color: var(--mdc-theme-text-hint-on-background);
    &.checkbox-helper-text {
      margin: 0 0 0 44px;
    }

    &.select-helper-text {
      margin-top: 16px;
    }
  }
}

#share-level-anyone-field {
  margin-right: 20px;
}

#btn-log-in-settings {
  background-color: $pt-button-green;
  color: white;
  height: 40px;
}

.offline-text {
  padding-left: 16px;
}

.paratext-login-container {
  margin-top: 16px;
  margin-left: 44px;

  .paratext-logo {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }

  > .more-options {
    margin-left: 16px;
  }
}

.checkbox-placeholder {
  visibility: hidden;
}

.invalid-feedback {
  color: var(--mdc-theme-error);
}

#delete-project {
  border: 2px solid red;
  .source-project-msg {
    color: var(--mdc-theme-error);
  }
}

// Use enabled class to work around changing styles while loading
#delete-btn.enabled {
  @include button.container-fill-color(red);
}
#delete-btn:not(.enabled) {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.38);
}

#based-on-select {
  width: 100%;
  max-width: 200px;
  ::ng-deep .mdc-select__selected-text {
    min-width: 150px;
  }
}

mdc-list-item {
  height: unset;
  min-height: 48px;
}
