<ng-container *transloco="let t; read: 'settings'">
  <div class="container">
    <h1>{{ t("settings") }}</h1>
    @if (!isAppOnline) {
      <span class="offline-text"> {{ t("connect_network_to_change_settings") }} </span>
    }
    <div>
      <form [formGroup]="form">
        <!-- Translation Settings Card -->
        <mat-card>
          <mat-card-content>
            <mat-card-title>{{ t("translate") }}</mat-card-title>
            <div class="tool-setting">
              @if (!isLoadingData && !isLoggedInToParatext && isAppOnline) {
                <div class="paratext-login-container">
                  <button
                    class="action-button"
                    mat-flat-button
                    type="button"
                    (click)="logInWithParatext()"
                    id="btn-log-in-settings"
                  >
                    <mat-icon>
                      <img src="/assets/images/logo-pt9.png" alt="Paratext Logo" class="paratext-logo" />
                    </mat-icon>
                    {{ t("log_in_with_paratext") }}
                  </button>
                  <span
                    class="more-options"
                    [innerHTML]="i18n.translateAndInsertTags('settings.enable_translation_suggestions')"
                  ></span>
                </div>
              }
              @if (mainSettingsLoaded) {
                <p class="helper-text">{{ t("select_project_or_resource") }}</p>
                <div class="tool-setting-field">
                  <app-project-select
                    id="sourceParatextId"
                    formControlName="sourceParatextId"
                    [placeholder]="t('source_text_placeholder')"
                    [projects]="projects"
                    [resources]="resources"
                    [nonSelectableProjects]="nonSelectableProjects"
                    [hiddenParatextIds]="projectParatextId ? [projectParatextId] : []"
                    [isDisabled]="!isAppOnline || isLoadingData || (projectLoadingFailed && resourceLoadingFailed)"
                  ></app-project-select>
                  <app-write-status
                    [state]="getControlState('sourceParatextId')"
                    [formGroup]="form"
                    id="based-on-status"
                    style="margin-block-end: 18px"
                  ></app-write-status>
                </div>
                @if (projectLoadingFailed && resourceLoadingFailed) {
                  <mat-error>
                    {{ t("error_fetching_projects_resources") }}
                  </mat-error>
                }
                @if (projectLoadingFailed && !resourceLoadingFailed) {
                  <mat-error>
                    {{ t("error_fetching_projects") }}
                  </mat-error>
                }
                @if (resourceLoadingFailed && !projectLoadingFailed) {
                  <mat-error>
                    {{ t("error_fetching_resources") }}
                  </mat-error>
                }
              }
            </div>
            <div class="tool-setting">
              @if (isBasedOnProjectSet) {
                <div class="tool-setting-field checkbox-field">
                  <mat-checkbox formControlName="translationSuggestionsEnabled" id="checkbox-translation-suggestions">
                    {{ t("translation_suggestions") }}
                  </mat-checkbox>
                  <app-info [text]="t('translations_will_be_suggested')"></app-info>
                  <app-write-status
                    [state]="getControlState('translationSuggestionsEnabled')"
                    [formGroup]="form"
                    id="translation-suggestions-status"
                  ></app-write-status>
                </div>
              } @else {
                <mat-hint>{{ t("translation_suggestions_require_source_text") }}</mat-hint>
              }
            </div>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="biblicalTermsEnabled" id="checkbox-biblical-terms">
                  {{ t("biblical_terms") }}
                </mat-checkbox>
                <app-info [text]="t('biblical_terms_will_be_enabled')"></app-info>
                <app-write-status
                  [state]="getControlState('biblicalTermsEnabled')"
                  [formGroup]="form"
                  id="biblical-terms-status"
                ></app-write-status>
              </div>
              @if (biblicalTermsMessage) {
                <mat-error>
                  @if (biblicalTermsMessage) {
                    <app-info icon="error" type="error" [text]="biblicalTermsMessage"></app-info>
                  }
                  <span>{{ biblicalTermsMessage }}</span>
                </mat-error>
              }
            </div>
          </mat-card-content>
        </mat-card>

        <!-- Pre-Translation Settings Card -->
        @if (showPreTranslationSettings) {
          <mat-card>
            <mat-card-content>
              <mat-card-title>{{ t("pre_translation_drafting") }}</mat-card-title>
              <div>
                @if (mainSettingsLoaded) {
                  @if (showDraftGenerationSettingsMovedMessage) {
                    <ng-template #templateDraftSettingsRelocatedMessage>
                      @for (part of draftSettingsRelocatedMessage | async; track part) {
                        <!-- To not have whitespace around the text, -->
                        <!-- prettier-ignore -->
                        @if (part.id == null) {{{ part.text }}}
                        @else if (part.id === 1) {
                          <a [appRouterLink]="['/projects', projectId, 'draft-generation']">{{ part.text }}</a>
                        }
                      }
                    </ng-template>

                    @if (showHighlightedDraftGenerationSettingsMovedMessage) {
                      <app-notice icon="info" mode="fill-dark">
                        <ng-container *ngTemplateOutlet="templateDraftSettingsRelocatedMessage"></ng-container>
                      </app-notice>
                    } @else {
                      <p class="helper-text">
                        <ng-container *ngTemplateOutlet="templateDraftSettingsRelocatedMessage"></ng-container>
                      </p>
                    }
                  }
                }
                @if (canUpdateServalConfig) {
                  <p
                    class="helper-text"
                    [innerHTML]="i18n.translateAndInsertTags('settings.serval_config_description')"
                  ></p>
                  <mat-form-field [formGroup]="form" appearance="outline">
                    <mat-label>{{ t("serval_config") }}</mat-label>
                    <textarea
                      matInput
                      cdkTextareaAutosize
                      id="serval-config"
                      formControlName="servalConfig"
                      (blur)="updateServalConfig()"
                    ></textarea>
                    <app-write-status
                      [state]="getControlState('servalConfig')"
                      [formGroup]="form"
                      id="serval-config-status"
                    ></app-write-status>
                  </mat-form-field>
                }
              </div>
            </mat-card-content>
          </mat-card>
        }

        <!-- Community Checking Settings Card -->
        <mat-card>
          <mat-card-content>
            <mat-card-title>{{ t("community_checking_settings") }}</mat-card-title>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="checkingEnabled" id="checkbox-community-checking">
                  {{ t("enable_community_checking") }}
                </mat-checkbox>
                <app-info [text]="t('engage_the_wider_community')"></app-info>
                <app-write-status
                  [state]="getControlState('checkingEnabled')"
                  [formGroup]="form"
                  id="checking-status"
                ></app-write-status>
              </div>
            </div>
            @if (isCheckingEnabled) {
              <div class="tool-setting">
                <div class="tool-setting-field checkbox-field">
                  <mat-checkbox formControlName="usersSeeEachOthersResponses" id="checkbox-see-others-responses">{{
                    t("see_others_answers_and_comments")
                  }}</mat-checkbox>
                  <app-write-status
                    [state]="getControlState('usersSeeEachOthersResponses')"
                    [formGroup]="form"
                    id="see-others-responses-status"
                  ></app-write-status>
                </div>
              </div>
              <div class="tool-setting">
                <div class="tool-setting-field checkbox-field">
                  <mat-checkbox formControlName="hideCommunityCheckingText" id="checkbox-hide-community-checking-text">
                    {{ t("hide_community_checking_text") }}
                  </mat-checkbox>
                  <app-info [text]="t('checkers_listen_to_scripture_audio')"></app-info>
                  <app-write-status
                    [state]="getControlState('hideCommunityCheckingText')"
                    [formGroup]="form"
                    id="hide-community-checking-text-status"
                  ></app-write-status>
                </div>
              </div>
              <div>
                <p class="helper-text">{{ t("export_checking_answers") }}</p>
                <div class="tool-setting">
                  <mat-radio-group
                    id="checking-export-radio-group"
                    formControlName="checkingAnswerExport"
                    class="tool-setting"
                  >
                    <div class="tool-setting-field">
                      <mat-radio-button
                        id="radio-checkingExport-exportable"
                        [value]="CheckingAnswerExport.MarkedForExport"
                        >{{ t("export_marked_for_export") }}</mat-radio-button
                      >
                      <mat-radio-button id="radio-checkingExport-all" [value]="CheckingAnswerExport.All">{{
                        t("export_all")
                      }}</mat-radio-button>
                      <mat-radio-button id="radio-checkingExport-none" [value]="CheckingAnswerExport.None">{{
                        t("export_none")
                      }}</mat-radio-button>
                      <app-write-status
                        [state]="getControlState('checkingAnswerExport')"
                        [formGroup]="form"
                        id="checkingExport-status"
                      ></app-write-status>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            }
          </mat-card-content>
        </mat-card>

        <!-- Sharing Settings Card -->
        <mat-card>
          <mat-card-content>
            <mat-card-title>{{ t("sharing_settings") }}</mat-card-title>
            <p class="helper-text">{{ t("sharing_description") }}</p>
            <h4>{{ t("sharing_paratext_members") }}</h4>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox [checked]="true" [disabled]="true">
                  {{ t("sharing_administrators") }}
                </mat-checkbox>
              </div>
            </div>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="translatorsShareEnabled" id="checkbox-translators-share">
                  {{ t("sharing_translators") }}
                </mat-checkbox>
                <app-write-status
                  [state]="getControlState('translatorsShareEnabled')"
                  [formGroup]="form"
                  id="translators-share-status"
                ></app-write-status>
              </div>
            </div>
            <h4>{{ t("sharing_scripture_forge_guests") }}</h4>
            <p class="helper-text">
              <transloco
                key="settings.sharing_scripture_forge_guests_help"
                [params]="{ rolesHelpUrl: externalUrls.sharingSettingsHelpPage }"
              ></transloco>
            </p>
            @if (isCheckingEnabled) {
              <div class="tool-setting">
                <div class="tool-setting-field checkbox-field">
                  <mat-checkbox formControlName="communityCheckersShareEnabled" id="checkbox-community-checkers-share">
                    <span>{{ t("sharing_community_checkers") }}</span>
                    <span class="description">{{ i18n.localizeRoleDescription(SFProjectRole.CommunityChecker) }}</span>
                  </mat-checkbox>
                  <app-write-status
                    [state]="getControlState('communityCheckersShareEnabled')"
                    [formGroup]="form"
                    id="community-checkers-share-status"
                  ></app-write-status>
                </div>
              </div>
            }
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="commentersShareEnabled" id="checkbox-commenters-share">
                  <span>{{ t("sharing_commenters") }}</span>
                  <span class="description">{{ i18n.localizeRoleDescription(SFProjectRole.Commenter) }}</span>
                </mat-checkbox>
                <app-write-status
                  [state]="getControlState('commentersShareEnabled')"
                  [formGroup]="form"
                  id="commenters-share-status"
                ></app-write-status>
              </div>
            </div>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="viewersShareEnabled" id="checkbox-viewers-share">
                  <span>{{ t("sharing_viewers") }}</span>
                  <span class="description">{{ i18n.localizeRoleDescription(SFProjectRole.Viewer) }}</span>
                </mat-checkbox>
                <app-write-status
                  [state]="getControlState('viewersShareEnabled')"
                  [formGroup]="form"
                  id="viewers-share-status"
                ></app-write-status>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <!-- Lynx Settings Card -->
        <mat-card>
          <mat-card-content>
            <mat-card-title class="lynx-settings-title"
              >{{ t("lynx_settings_header") }}<span class="beta-tag">{{ t("beta_tag") }}</span></mat-card-title
            >
            <p class="helper-text">{{ t("lynx_settings_description") }}</p>
            <app-notice type="info" icon="info" class="requirements">{{ t("lynx_latin_script_notice") }}</app-notice>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="lynxAutoCorrectionsEnabled" id="checkbox-lynx-auto-corrections">
                  {{ t("lynx_auto_corrections") }}
                </mat-checkbox>
                <app-info [text]="t('lynx_auto_corrections_help')"></app-info>
                <app-write-status
                  [state]="getControlState('lynxAutoCorrectionsEnabled')"
                  [formGroup]="form"
                  id="lynx-auto-corrections-status"
                ></app-write-status>
              </div>
            </div>
            <div class="tool-setting">
              <div class="tool-setting-field checkbox-field">
                <mat-checkbox formControlName="lynxAssessmentsEnabled" id="checkbox-lynx-assessments">
                  {{ t("lynx_assessments") }}
                </mat-checkbox>
                <app-info [text]="t('lynx_assessments_help')"></app-info>
                <app-write-status
                  [state]="getControlState('lynxAssessmentsEnabled')"
                  [formGroup]="form"
                  id="lynx-assessments-status"
                ></app-write-status>
              </div>
            </div>
            @if (isLynxAssessmentsEnabled) {
              <div class="tool-setting">
                <div class="tool-setting-field checkbox-field child-setting">
                  <mat-checkbox formControlName="lynxPunctuationCheckerEnabled" id="checkbox-lynx-punctuation-checker">
                    {{ t("lynx_punctuation_checker") }}
                  </mat-checkbox>
                  <app-info [text]="t('lynx_punctuation_checker_help')"></app-info>
                  <app-write-status
                    [state]="getControlState('lynxPunctuationCheckerEnabled')"
                    [formGroup]="form"
                    id="lynx-punctuation-checker-status"
                  ></app-write-status>
                </div>
              </div>
              <div class="tool-setting">
                <div class="tool-setting-field checkbox-field child-setting">
                  <mat-checkbox
                    formControlName="lynxAllowedCharacterCheckerEnabled"
                    id="checkbox-lynx-allowed-character-checker"
                  >
                    {{ t("lynx_allowed_character_checker") }}
                  </mat-checkbox>
                  <app-info [text]="t('lynx_allowed_character_checker_help')"></app-info>
                  <app-write-status
                    [state]="getControlState('lynxAllowedCharacterCheckerEnabled')"
                    [formGroup]="form"
                    id="lynx-allowed-character-checker-status"
                  ></app-write-status>
                </div>
              </div>
            }
          </mat-card-content>
        </mat-card>
      </form>
    </div>

    <div id="danger-zone">
      <h2>{{ t("danger_zone") }}</h2>
      <mat-card id="delete-project">
        <mat-card-content>
          <mat-card-title>{{ t("delete_this_project") }}</mat-card-title>
          @if (isActiveSourceProject) {
            <p class="source-project-msg">
              {{ t("source_projects_cannot_be_deleted") }}
            </p>
          } @else if (isProjectSyncing) {
            <p class="project-syncing-msg">
              {{ t("cannot_delete_project_while_syncing") }}
            </p>
          } @else {
            <p>{{ t("delete_project_cannot_be_undone") }}</p>
            <p>
              <span [innerHTML]="synchronizeWarning?.before"></span>
              <a [appRouterLink]="['/projects', projectId, 'sync']">{{ synchronizeWarning?.templateTagText }}</a>
              <span>{{ synchronizeWarning?.after }}</span>
            </p>
          }
        </mat-card-content>
        <mat-card-actions align="end">
          <button
            id="delete-btn"
            mat-flat-button
            type="button"
            (click)="openDeleteProjectDialog()"
            [class.enabled]="!deleteButtonDisabled"
            [disabled]="deleteButtonDisabled"
          >
            {{ t("delete_this_project") }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-container>
