@use 'src/variables';
@use 'src/breakpoints';

.container {
  margin: 0;
  padding: 0;
  max-width: 800px;
  padding-block-end: 10px;

  .mat-headline-4 {
    margin-bottom: 32px;
  }
}

.mat-mdc-card {
  padding: 8px 4px;
}

.mat-mdc-card-title {
  margin-block-end: 16px;
}

.tool-setting {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  p {
    margin: 0;
  }

  > .checkbox-field {
    display: flex;

    span {
      display: block;
    }

    .description {
      color: gray;
      font-size: smaller;
    }
  }

  > .tool-setting-field {
    display: flex;
    column-gap: 10px;

    > app-write-status {
      min-width: 24px;
      @include breakpoints.media-breakpoint-up(sm) {
        margin-inline-start: 22px;
      }
    }
  }

  > .helper-text {
    font-size: 14px;
  }
  .mat-mdc-form-field-error {
    margin-top: 10px;
    font-size: 14px;
    display: flex;

    app-info + span {
      margin-left: 6px;
    }
  }
}

mat-hint {
  margin-block-start: 8px;
  margin-block-end: 16px;
}

a {
  color: variables.$blueMedium;
}

mat-icon {
  color: variables.$greyLight;
  overflow: visible;
}

.indent {
  margin-block-start: 16px;
  margin-inline-start: 16px;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

#btn-log-in-settings {
  background-color: variables.$pt-button-green;
  color: white;
  height: 40px;
}

.offline-text {
  padding-left: 16px;
}

.paratext-login-container {
  margin-top: 16px;
  margin-left: 24px;

  .paratext-logo {
    width: 100%;
  }

  > .more-options {
    margin-left: 16px;
  }
}

.mat-mdc-checkbox {
  padding: 3px 0px;
}

:host ::ng-deep .mat-mdc-checkbox .mdc-label {
  line-height: normal !important;
}

#delete-project {
  border: 2px solid red;
  .source-project-msg,
  .project-syncing-msg {
    color: red;
  }
}

// Use enabled class to work around changing styles while loading
#delete-btn:not(.enabled) {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.38);
}
#delete-btn:not(:disabled):hover {
  background-color: red;
}

mat-radio-group.tool-setting {
  mat-radio-button {
    margin-inline-start: 1em;
  }
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;

  .mat-mdc-form-field {
    width: 100%;
  }
}

.mat-mdc-card-content:not(:first-child) {
  padding-top: 32px;
}

.mat-mdc-card-content:not(:last-child) {
  padding-bottom: 32px;
}

.sharing-heading {
  font-weight: 500;
  margin-bottom: 0;
}

.card-content {
  padding: 24px;
  h4,
  p {
    margin-block-start: 0;
  }
}

#danger-zone {
  margin-top: 32px;

  button {
    align-self: end;
  }
}
