@import '~src/global';

.container {
  margin: 0;
  padding: 0;
  max-width: 800px;
}

.card-content {
  padding: 16px;
}

.task-setting {
  display: flex;
  flex-direction: column;
  &.indent {
    margin-top: 16px;
    margin-left: 34px;
  }

  &.select-indent {
    margin-top: 16px;
    margin-left: 44px;
  }

  > .checkbox-field {
    display: flex;
  }

  > .task-setting-field {
    @include media-breakpoint-up(sm) {
      display: flex;
    }

    > app-write-status {
      @include media-breakpoint-only(xs) {
        margin-left: 10px;
      }
      margin-left: 32px;
    }
  }

  > .helper-text {
    color: var(--mdc-theme-text-hint-on-background);
    &.checkbox-helper-text {
      margin: 0 0 0 44px;
    }

    &.select-helper-text {
      margin-top: 16px;
    }
  }
}

#share-level-anyone-field {
  margin-right: 20px;
}

#btn-log-in-settings {
  background-color: $pt-button-green;
  color: white;
  height: 40px;
}

.paratext-login-container {
  margin-top: 16px;
  margin-left: 44px;

  .paratext-logo {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }

  > .more-options {
    margin-left: 16px;
  }
}

.invalid-feedback {
  color: var(--mdc-theme-error);
}

#delete-project {
  border: 2px solid red;
}

#delete-btn {
  @include mdc-button-container-fill-color(red);
}
