@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.container {
  margin: 0;
  padding: 0;
  max-width: 800px;
}

.mat-card {
  box-shadow: unset;
  padding: 24px;
}

.tool-setting {
  display: flex;
  flex-direction: column;
  &.mat-radio-group.indent {
    margin-left: 16px;
  }
  &.indent {
    margin-top: 16px;
    margin-left: 24px;
  }

  &.select-indent {
    margin-top: 16px;
    margin-left: 24px;
    > .tool-setting-field {
      padding-bottom: 0 !important;
    }
  }

  > .checkbox-field {
    display: flex;
  }

  > .tool-setting-field {
    &:not(:last-child) {
      padding-bottom: 16px;
    }
    @include media-breakpoint-up(sm) {
      display: flex;
    }

    > app-write-status {
      @include media-breakpoint-only(xs) {
        margin-left: 10px;
      }
      margin-left: 32px;
    }
  }

  > .helper-text {
    font-size: 14px;
    &.checkbox-helper-text {
      margin: 0 0 0 24px;
    }
  }
  .select-helper-text,
  .mat-error {
    margin-top: 10px;
    font-size: 14px;
  }
}

#btn-log-in-settings {
  background-color: $pt-button-green;
  color: white;
  height: 40px;
}

.offline-text {
  padding-left: 16px;
}

.paratext-login-container {
  margin-top: 16px;
  margin-left: 24px;

  .paratext-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  > .more-options {
    margin-left: 16px;
  }
}

::ng-deep .checkbox-placeholder {
  .mat-checkbox-inner-container {
    visibility: hidden;
  }

  .mat-checkbox-label {
    color: initial;
  }
}

#delete-project {
  border: 2px solid red;
  .source-project-msg {
    color: red;
  }
}

// Use enabled class to work around changing styles while loading
#delete-btn:not(.enabled) {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.38);
}
#delete-btn:not(:disabled):hover {
  background-color: red;
}

mat-radio-group.tool-setting {
  display: initial;
  mat-radio-button {
    margin: 0.5em;
  }
}

app-project-select {
  margin-top: 16px;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 0;
}

.mat-card-title {
  margin: 0;
}

.mat-card-content:not(:first-child) {
  padding-top: 16px;
}

.mat-card-content:not(:last-child) {
  padding-bottom: 16px;
}

.sharing-heading {
  font-weight: 500;
  margin-bottom: 0;
}
