.projects-controls {
  margin: 32px 0;
}

mat-form-field {
  margin-top: 10px;
}

.no-projects-label {
  padding-top: 14px;
}

.fixed-layout-table {
  table-layout: fixed;
}

.connect-cell {
  text-align: right;
}

.task-label {
  font-size: small;
  color: darkgray;
}

.small-form-field {
  width: 130px;
}

td > mat-checkbox {
  margin: 0 1em;
}
