<div class="projects-controls">
  <mat-form-field appearance="fill">
    <mat-label>Filter projects...</mat-label>
    <input matInput (keyup)="updateSearchTerm($event.target)" id="project-filter" />
  </mat-form-field>
</div>
<ng-container *ngIf="!isLoading">
  <ng-container *ngIf="length > 0">
    <table mat-table id="projects-table" ngClass.gt-xs="fixed-layout-table" [dataSource]="rows">
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let row">
          <a *ngIf="row.isMember; else nonmember" [appRouterLink]="['/projects', row.id]">
            {{ row.shortName }} - {{ row.name }}
          </a>
          <ng-template #nonmember>{{ row.shortName }} - {{ row.name }}</ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="tasks">
        <td mat-cell *matCellDef="let row" class="task-label">
          <span>{{ row.tasks }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="role">
        <td mat-cell *matCellDef="let row" class="connect-cell">
          <mat-form-field ngClass.xs="small-form-field">
            <mat-select
              placeholder="Role"
              [value]="row.projectRole"
              [disabled]="row.isUpdatingRole"
              (selectionChange)="updateRole(row, $event.value)"
              [hideSingleSelectionIndicator]="true"
            >
              <mat-option *ngFor="let projectRole of projectRoles" [value]="projectRole">
                {{ i18n.localizeRole(projectRole.role) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="syncDisabled">
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [checked]="row.syncDisabled" (change)="onUpdateSyncDisabled(row, $event.checked)">
            Sync Disabled
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="preTranslate">
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [checked]="row.preTranslate" (change)="onUpdatePreTranslate(row, $event.checked)">
            NMT forward drafting
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: ['name', 'tasks', 'role', 'syncDisabled', 'preTranslate']"></tr>
    </table>

    <mat-paginator
      [pageIndex]="pageIndex"
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      (page)="updatePage($event.pageIndex, $event.pageSize)"
    >
    </mat-paginator>
  </ng-container>
  <div *ngIf="length === 0" class="no-projects-label">No projects found</div>
</ng-container>
