@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.users-controls {
  margin: 32px 0;
}

table {
  width: 100%;
}

.mat-column-avatar {
  width: 65px !important;
}

.mat-column-name {
  padding-right: 0.5em;
}

.mat-column-projects {
  word-break: break-word;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

#no-users-label {
  padding-top: 14px;
}

.remove-cell {
  text-align: right;
}
