<div fxLayout="row" fxLayoutAlign="start center" class="users-controls">
  <mdc-form-field>
    <mdc-text-field
      label="Filter users..."
      (keyup)="updateSearchTerm($event.target.value)"
      id="user-filter"
    ></mdc-text-field>
  </mdc-form-field>
</div>
<div *ngIf="!isLoading">
  <div *ngIf="totalRecordCount > 0">
    <table mat-table fxFill id="users-table" [dataSource]="userRows">
      <ng-container matColumnDef="avatar">
        <td mat-cell *matCellDef="let userRow; let i = index">
          <app-avatar [user]="userRow.user" size="32" [round]="false"> </app-avatar>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let userRow">
          <strong *ngIf="userRow.user.displayName !== userRow.user.email">{{ userRow.user.displayName }}</strong>
          <div
            *ngIf="userRow.user.name !== userRow.user.displayName && userRow.user.name !== userRow.user.email"
            class="name-label"
          >
            {{ userRow.user.name }}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="projects">
        <td fxHide.lt-md mat-cell *matCellDef="let userRow">
          <span *ngIf="userRow.projectDocs?.length > 0">
            {{ userRow.projectDocs?.length }} Projects -
            <span class="projectsNames" *ngFor="let projectDoc of userRow.projectDocs; last as isLast">
              <a [routerLink]="['/projects', projectDoc.id]">{{ projectDoc.data.name }}</a>
              <span *ngIf="!isLast">, </span>
            </span>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="remove">
        <td mat-cell *matCellDef="let userRow" class="remove-cell">
          <button mdc-icon-button class="remove-user" (click)="removeUser(userRow.id, userRow.user)">
            <mdc-icon>clear</mdc-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let userRow; columns: ['avatar', 'name', 'projects', 'remove']"></tr>
    </table>

    <mat-paginator
      [pageIndex]="pageIndex"
      [length]="totalRecordCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      (page)="updatePage($event.pageIndex, $event.pageSize)"
    >
    </mat-paginator>
  </div>
  <div *ngIf="totalRecordCount === 0" id="no-users-label">No users found</div>
</div>
