<div fxLayout="row" fxLayoutAlign="start center" class="users-controls">
  <mdc-form-field>
    <mdc-text-field
      label="Filter users..."
      (keyup)="updateSearchTerm($event.target.value)"
      id="user-filter"
    ></mdc-text-field>
  </mdc-form-field>
</div>
<div *ngIf="!isLoading">
  <div *ngIf="length > 0">
    <table mat-table fxFill id="users-table" [dataSource]="userRows">
      <ng-container matColumnDef="avatar">
        <td mat-cell *matCellDef="let userRow; let i = index">
          <div *ngIf="userRow.active"><app-avatar [user]="userRow.user" size="32" [round]="false"> </app-avatar></div>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let userRow">
          <div *ngIf="userRow.active">
            <strong *ngIf="userRow.user.displayName !== userRow.user.email">{{ userRow.user.displayName }}</strong>
            <div
              *ngIf="userRow.user.name !== userRow.user.displayName && userRow.user.name !== userRow.user.email"
              class="name-label"
            >
              {{ userRow.user.name }}
            </div>
          </div>
          <div *ngIf="!userRow.active">Awaiting response from</div>
          {{ userRow.user.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="projects">
        <td fxHide.lt-md mat-cell *matCellDef="let userRow">
          <span *ngIf="userRow.projectDocs?.length > 0">
            {{ userRow.projectDocs?.length }} Projects -
            <span class="projectsNames" *ngFor="let projectDoc of userRow.projectDocs; last as isLast">
              <a [routerLink]="['/projects', projectDoc.id]">{{ projectDoc.data.projectName }}</a>
              <span *ngIf="!isLast">, </span>
            </span>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="remove">
        <td mat-cell *matCellDef="let userRow" class="remove-cell">
          <button
            *ngIf="userRow.active"
            mdc-icon-button
            class="remove-user"
            (click)="removeUser(userRow.id, userRow.user)"
          >
            <mdc-icon>clear</mdc-icon>
          </button>

          <!-- 2 buttons below are 1 button displayed mutually exclusively, different style on breakpoints -->
          <button
            *ngIf="!userRow.active"
            fxHide.lt-sm
            fxShow
            mdc-button
            outlined
            color="warn"
            class="cancel-invite"
            (click)="removeUser(userRow.id, userRow.user)"
          >
            Cancel invite
          </button>
          <button
            *ngIf="!userRow.active"
            fxHide
            fxShow.lt-sm
            mdc-icon-button
            color="warn"
            class="cancel-invite"
            (click)="removeUser(userRow.id, userRow.user)"
          >
            <mdc-icon>clear</mdc-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let userRow; columns: ['avatar', 'name', 'projects', 'remove']"></tr>
    </table>

    <mat-paginator
      [pageIndex]="pageIndex"
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      (page)="updatePage($event.pageIndex, $event.pageSize)"
    >
    </mat-paginator>
  </div>
  <div *ngIf="length === 0" id="no-users-label">No users found</div>
</div>
