<div class="users-controls">
  <mat-form-field appearance="fill">
    <mat-label>Filter users...</mat-label>
    <input matInput id="user-filter" (input)="updateSearchTerm($event.target)" />
  </mat-form-field>
</div>
@if (!isLoadingData) {
  @if (totalRecordCount > 0) {
    <table mat-table id="users-table" [dataSource]="userRows">
      <ng-container matColumnDef="avatar">
        <td mat-cell *matCellDef="let userRow; let i = index">
          <app-avatar [user]="userRow.user" [size]="32"> </app-avatar>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let userRow">
          @if (userRow.user.displayName !== userRow.user.email) {
            <strong>{{ userRow.user.displayName }}</strong>
          }
          @if (userRow.user.name !== userRow.user.displayName && userRow.user.name !== userRow.user.email) {
            <div class="name-label">
              {{ userRow.user.name }}
            </div>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="projects">
        <td mat-cell *matCellDef="let userRow">
          @if (userRow.projects?.length > 0) {
            <span>
              {{ userRow.projects?.length }} Projects -
              @for (project of userRow.projects; track project; let isLast = $last) {
                <span class="projectsNames">
                  <a [appRouterLink]="['/projects', project.id]">{{ project.name }}</a>
                  @if (!isLast) {
                    <span>, </span>
                  }
                </span>
              }
            </span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="remove">
        <td mat-cell *matCellDef="let userRow" class="remove-cell">
          @if (currentUserId !== userRow.id) {
            <button mat-icon-button class="remove-user" (click)="removeUser(userRow.id, userRow.user)">
              <mat-icon>close</mat-icon>
            </button>
          }
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let userRow; columns: ['avatar', 'name', 'projects', 'remove']"></tr>
    </table>
    <mat-paginator
      [pageIndex]="pageIndex"
      [length]="totalRecordCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      (page)="updatePage($event.pageIndex, $event.pageSize)"
    >
    </mat-paginator>
  }
  @if (totalRecordCount === 0) {
    <div id="no-users-label">No users found</div>
  }
}
