@use '@angular/material' as mat;

@mixin color($theme) {
  $is-dark: mat.get-theme-type($theme) == dark;

  --sf-font-size-menu-open-background: #{if($is-dark, var(--mat-sys-surface-container-highest), #e0e0e0)};
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
