@import '~src/global';

:host {
  display: flex;
  align-items: center;
  span {
    padding: 0 5px;
  }
  .mdc-icon-button {
    @include mdc-icon-button-size(24px, 24px, 8px);
  }
  #font-menu-surface {
    right: unset !important;
    left: -50%;
    overflow: hidden;
    .buttons-group {
      display: flex;
    }
  }
}
