:host {
  > button {
    &.menu-open {
      background: #e0e0e0;
    }
  }
}

::ng-deep {
  .mat-menu-panel.font-size-menu {
    min-height: 0;
    min-width: 0;
    margin-inline-start: -25%; // Centers menu under trigger (works for both ltr and rtl)

    > .mat-menu-content {
      padding: 0;
    }

    .mat-ripple-element {
      background-color: #000;
    }
  }
}

.button-group {
  display: flex;
  padding: 0;
  height: auto;

  &.cdk-program-focused,
  &:hover {
    background: transparent;
  }

  button {
    mat-icon {
      margin: 0;
      color: inherit;
    }
  }
}
