@font-face {
  font-family: 'language_picker';
  src: url('/fonts/language-picker.woff2') format('woff2'), url('/fonts/language-picker.woff') format('woff'),
    url('/fonts/language-picker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
