@font-face {
  font-family: 'language_picker';
  src: url('/assets/fonts/language-picker.woff2') format('woff2'),
    url('/assets/fonts/language-picker.woff') format('woff'),
    url('/assets/fonts/language-picker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'language_picker_fallback';
  src: url('/assets/fonts/language-picker-fallback.woff2') format('woff2'),
    url('/assets/fonts/language-picker-fallback.woff') format('woff'),
    url('/assets/fonts/language-picker-fallback.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
