@use 'src/variables';
@use 'src/breakpoints';
@use '@angular/material' as mat;
@import 'quill/dist/quill.snow.css';
@import 'usx';

@mixin color($theme) {
  $is-dark: mat.get-theme-type($theme) == dark;

  --sf-quill-background: #{if($is-dark, mat.get-theme-color($theme, neutral, 6), #f5f3ef)};
  --sf-quill-highlight-marker-color: #{mat.get-theme-color($theme, tertiary, 80)};
  --sf-quill-highlight-segment-background: #ffeb3b;
  --sf-quill-highlight-segment-color: #{mat.get-theme-color($theme, neutral, 10)};
  --sf-quill-question-count-background: #{mat.get-theme-color($theme, primary, 50)};
  --sf-quill-question-count-color: #{mat.get-theme-color($theme, primary, 98)};
  --sf-quill-insert-segment-background: #cce8cc;
  --sf-quill-insert-segment-color: #{mat.get-theme-color($theme, neutral, 10)};
  --sf-quill-delete-segment-background: #e8cccc;
  --sf-quill-delete-segment-color: #{mat.get-theme-color($theme, neutral, 10)};

  --sf-usx-chapter-color: #{mat.get-theme-color($theme, neutral, if($is-dark, 70, 40))};
  --sf-usx-verse-color: #{mat.get-theme-color($theme, neutral, 10)};
  --sf-usx-verse-background: #{mat.get-theme-color($theme, neutral, 95)};
  --sf-usx-readonly-verse-color: #{mat.get-theme-color($theme, neutral, if($is-dark, 80, 10))};
  --sf-usx-readonly-verse-background: #{mat.get-theme-color($theme, neutral, if($is-dark, 30, 95))};

  --sf-text-color: #{if($is-dark, black, rgba(0, 0, 0, 0.8))};
  --sf-text-background: #{if($is-dark, mat.get-theme-color($theme, neutral-variant, 80), white)};
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}

quill-editor {
  height: 100%;
  > .ql-container {
    > .ql-editor {
      font-family: Roboto, sans-serif;
      line-height: 1.6;
      width: 100%;
      word-break: break-word;
      padding: 2em 15px 15px 15px;
      text-align: start;
    }
  }
}

.ql-container.ql-snow {
  border: 1px solid var(--sf-border-color);
}

.has-draft {
  .ql-container {
    border: 4px dashed variables.$draft-color;
  }
}

.read-only-editor.selectable-verses usx-segment {
  cursor: pointer;
}

.read-only-editor > .ql-container {
  > .ql-editor {
    usx-segment {
      line-height: 1.8;
    }

    .highlight-segment {
      background-color: var(--sf-quill-highlight-segment-background);
      color: var(--sf-quill-highlight-segment-color);
    }

    .insert-segment {
      background-color: var(--sf-quill-insert-segment-background);
      color: var(--sf-quill-insert-segment-color);
      padding: 0;
    }

    .delete-segment {
      background-color: var(--sf-quill-delete-segment-background);
      color: var(--sf-quill-delete-segment-color);
      padding: 0;
      text-decoration: line-through;

      usx-note[data-caller='+']:not([data-style='x']) > span::before {
        counter-increment: none;
      }
    }

    .question-segment,
    usx-segment.commenter-selection {
      background-image: linear-gradient(to right, gray 75%, transparent 75%);
      background-position: bottom 0.2em left;
      background-repeat: repeat-x;
      background-size: 7px 1px;
      position: relative;
      cursor: pointer;
    }

    .question-segment {
      &[data-question-count] {
        &:before {
          content: '?';
          border-radius: 50%;
          width: 1.5em;
          height: 1.5em;
          font-size: 0.8em;
          display: flex;
          align-content: center;
          justify-content: center;
          background: var(--sf-quill-question-count-background);
          color: var(--sf-quill-question-count-color);
          font-weight: bold;
          position: absolute;
          top: 0.2em;
          text-indent: 0;
        }
      }

      &[data-question-count]:not([data-question-count='1']) {
        &:after {
          content: attr(data-question-count);
          border-radius: 50%;
          width: 1.5em;
          height: 1.5em;
          font-size: 0.7em;
          display: flex;
          align-content: center;
          justify-content: center;
          background: variables.$questionAnswerBubbleBackgroundColor;
          color: variables.$questionAnswerBubbleColor;
          font-weight: bold;
          position: absolute;
          top: -0.55em;
          text-indent: 0;
        }
      }
    }
  }

  > .highlight-marker {
    display: none;
  }
}

.read-only-editor[dir='rtl'] > .ql-container > .ql-editor .question-segment[data-question-count]:before {
  transform: scaleX(-1);
}

.comment-enabled-editor {
  quill-editor:not(.read-only-editor) .ql-editor {
    padding-inline-start: 10px;
    padding-inline-end: 40px;
  }

  // only commenter users on devices with screens larger than large need to account for the add comment FAB
  quill-editor.read-only-editor .ql-editor {
    @include breakpoints.media-breakpoint-up(lg) {
      padding-inline-start: 10px;
      padding-inline-end: 40px;
    }
  }
}

quill-editor {
  .question-segment[data-question-count] {
    margin-inline-start: 1.75em;

    &:before {
      inset-inline-start: -2.25em;
    }
    &:after {
      inset-inline-start: -1.5em;
    }
  }
}

.ql-editor .note-thread-segment {
  position: relative;
  & display-note {
    &:before {
      cursor: pointer;
      content: '';
      width: 1.25rem;
      height: 1.25rem;
      display: inline-block;
      background: var(--icon-file) no-repeat;
      margin: 0 0.1em;
      border: solid 1px transparent;
    }
    &.note-thread-highlight {
      &:before {
        border: solid 1px #a9ca25;
      }
    }
  }
  & display-text-anchor {
    background-image: linear-gradient(to right, gray 75%, transparent 75%);
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 7px 1px;
    position: relative;
  }
}

.template-editor > .ql-container {
  > .ql-editor {
    background-color: var(--sf-quill-background);

    usx-book,
    usx-para,
    p {
      margin-bottom: 1em;

      > usx-para-contents {
        padding: 0.45em 0.3em;
        border-radius: 4px;
        display: inline;
        box-sizing: border-box;

        box-decoration-break: clone;

        color: var(--sf-text-color);
        background-color: var(--sf-text-background);
      }
    }

    .highlight-segment {
      color: black;
    }

    .highlight-para > usx-para-contents {
      box-shadow: 2px 4px 4px -4px #bfb092;
    }
  }

  > .highlight-marker {
    width: 0;
    height: 0;
    border-left: 4px solid var(--sf-quill-highlight-marker-color);
    position: absolute;
    top: 0;
    inset-inline-start: 6px;
  }
}

// workaround for Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1569107
// using "box-decoration-break: clone" or blur radius in a "box-shadow" with RTL text can cause weird behavior
.template-editor.rtl[data-browser-engine='gecko'] > .ql-container > .ql-editor {
  usx-book,
  usx-para,
  p {
    > usx-para-contents {
      box-decoration-break: slice;
    }
  }

  .highlight-para > usx-para-contents {
    box-shadow: 1px 1px 0 1px #ede6de;
  }
}

.mark-invalid {
  .invalid-block > usx-para-contents,
  .invalid-block > span,
  .invalid-inline {
    background: url(data:image/gif;base64,R0lGODlhCgAEAMIEAP9BGP6pl//Wy/7//P///////////////yH5BAEKAAQALAAAAAAKAAQAAAMROCOhK0oA0MIUMmTAZhsWBCYAOw==)
      repeat-x scroll 0 100% transparent;
    padding-bottom: 3px;
  }
}

.highlight-para usx-segment[data-style-description]:first-child:before {
  content: attr(data-style-description);
  background-color: variables.$greyDark;
  color: white;
  position: absolute;
  white-space: nowrap;
  border-radius: 4px;
  padding: 1px 5px;
  z-index: 1;
  top: -2em;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: normal;
  text-indent: 0;
}

usx-segment {
  position: relative;
}

quill-editor .highlight-para usx-segment:first-child:before {
  inset-inline-start: -1em;
}

usx-segment.draft {
  color: variables.$draft-color;
  font-style: italic;
}

usx-segment {
  font-family: var(--project-font);
  &::before,
  &::after {
    font-family: Roboto, sans-serif;
  }
}

// Embed blot for unknown attributes
sf-unknown {
  display: inline-block;
  color: #999;
  background: #f0f0f0;
  padding: 0 4px;
  border-radius: 4px;
  font-style: italic;
  user-select: none;
}
