@import '~quill/dist/quill.snow.css';
@import 'usx';

quill-editor {
  height: 100%;
  > .ql-container {
    @include mdc-typography(body1);
    > .ql-editor {
      line-height: 1.6;
      width: 100%;
      word-break: break-word;
      padding: 15px;
      text-align: start;
    }
  }
}

.read-only-editor > .ql-container {
  > .ql-editor {
    usx-segment {
      padding: 0.2em 0;
    }

    .highlight-segment {
      background-color: #ffffce;
    }

    .question-segment {
      background-image: linear-gradient(to right, gray 75%, transparent 75%);
      background-position: bottom 0.2em left;
      background-repeat: repeat-x;
      background-size: 7px 1px;
      position: relative;
      cursor: pointer;

      &[data-question-count] {
        &:before {
          content: '?';
          border-radius: 50%;
          width: 1.5em;
          height: 1.5em;
          font-size: 0.8em;
          display: flex;
          align-content: center;
          justify-content: center;
          background: $questions;
          color: #fff;
          font-weight: bold;
          position: absolute;
          top: 0.2em;
          text-indent: 0;
        }
      }

      &[data-question-count]:not([data-question-count='1']) {
        &:after {
          content: attr(data-question-count);
          border-radius: 50%;
          width: 1.5em;
          height: 1.5em;
          font-size: 0.7em;
          display: flex;
          align-content: center;
          justify-content: center;
          background: $questionAnswerBubbleBackgroundColor;
          color: $questionAnswerBubbleColor;
          font-weight: bold;
          position: absolute;
          top: -0.55em;
          text-indent: 0;
        }
      }
    }
  }

  > .highlight-marker {
    display: none;
  }
}

usx-para,
p {
  &[dir='ltr'],
  &[dir='auto'] {
    .question-segment[data-question-count] {
      margin-left: 1.75em;
      &:before {
        left: -2.25em;
      }
      &:after {
        left: -1.5em;
      }
    }
  }
}
usx-para[dir='rtl'],
p[dir='rtl'] {
  .question-segment[data-question-count] {
    margin-right: 1.75em;
    &:before {
      right: -2.25em;
    }
    &:after {
      right: -1.5em;
    }
  }
}

.template-editor > .ql-container {
  > .ql-editor {
    background-color: #f5f3ef;

    *[contenteditable='false'] {
      color: #7c7c7c;
    }

    usx-para,
    p {
      margin-bottom: 1em;

      > usx-para-contents {
        padding: 0.45em 0.3em;
        border-radius: 4px;
        display: inline;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.8);
        background-color: white;
      }
    }

    .highlight-segment {
      color: black;
    }

    .highlight-para > usx-para-contents {
      box-shadow: 2px 4px 4px -4px #bfb092;
    }
  }

  > .highlight-marker {
    width: 0;
    height: 0;
    border-left: 4px solid #a9ca25;
    position: absolute;
    top: 0px;
    left: 6px;
  }
}

.mark-invalid {
  .invalid-block > usx-para-contents,
  .invalid-block > span,
  .invalid-inline {
    background: url(data:image/gif;base64,R0lGODlhCgAEAMIEAP9BGP6pl//Wy/7//P///////////////yH5BAEKAAQALAAAAAAKAAQAAAMROCOhK0oA0MIUMmTAZhsWBCYAOw==)
      repeat-x scroll 0 100% transparent;
    padding-bottom: 3px;
  }
}
