@import 'src/variables';

.ql-editor {
  counter-reset: note;
}

usx-para {
  display: block;

  &[data-style='p'] {
    text-indent: 2.5%;
  }

  &[data-style='ip'] {
    text-indent: 2.5%;
  }

  &[data-style='toc1'] {
    font-weight: bold;
    font-style: italic;
    color: #004000;
  }

  &[data-style='toc2'] {
    font-style: italic;
    color: #004000;
  }

  &[data-style='toc3'] {
    font-weight: bold;
    font-style: italic;
    color: #800000;
  }

  &[data-style='mt'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.66em;
    margin-top: 8pt;
    margin-bottom: 4pt;
  }

  &[data-style='mt1'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.66em;
    margin-top: 2pt;
    margin-bottom: 4pt;
  }

  &[data-style='mt2'] {
    font-style: italic;
    text-align: center;
    font-size: 1.33em;
    margin-bottom: 2pt;
  }

  &[data-style='mt3'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.33em;
    margin-top: 2pt;
    margin-bottom: 2pt;
  }

  &[data-style='mt4'] {
    text-align: center;
    margin-top: 2pt;
    margin-bottom: 2pt;
  }

  &[data-style='imt'],
  &[data-style='imt1'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.16em;
    margin-top: 8pt;
    margin-bottom: 4pt;
  }

  &[data-style='imt2'] {
    font-style: italic;
    text-align: center;
    font-size: 1.08em;
    margin-top: 6pt;
    margin-bottom: 3pt;
  }

  &[data-style='imt3'] {
    font-weight: bold;
    text-align: center;
    margin-top: 2pt;
    margin-bottom: 2pt;
  }

  &[data-style='imt4'] {
    font-style: italic;
    text-align: center;
    margin-top: 2pt;
    margin-bottom: 2pt;
  }

  &[data-style='iot'] {
    font-weight: bold;
    text-align: center;
  }

  &[data-style='io'],
  &[data-style='io1'] {
    margin-left: 10%;
  }

  &[data-style='io2'] {
    margin-left: 15%;
  }

  &[data-style='io3'] {
    margin-left: 20%;
  }

  &[data-style='io4'] {
    margin-left: 25%;
  }

  &[data-style='is'] {
    font-weight: bold;
    text-align: center;
    font-size: 1.16em;
    margin-top: 2pt;
    margin-bottom: 2pt;
  }

  &[data-style='s'],
  &[data-style='s1'] {
    font-weight: bold;
    text-align: center;
    margin-top: 8pt;
    margin-bottom: 4pt;
  }

  &[data-style='s2'] {
    font-style: italic;
    text-align: center;
    margin-top: 8pt;
    margin-bottom: 4pt;
  }

  &[data-style='s3'],
  &[data-style='s4'] {
    font-style: italic;
    margin-top: 6pt;
    margin-bottom: 3pt;
  }

  &[data-style='qc'] {
    text-align: center;
  }

  &[data-style='qr'] {
    text-align: right;
  }

  &[data-style='qa'] {
    font-style: italic;
  }

  &[data-style='b'] {
    font-size: 0.8em;
    user-select: none;

    > usx-para-contents {
      background-color: unset !important;
    }
  }

  &[data-style='r'] {
    font-style: italic;
    text-align: center;
  }
}
quill-editor.ltr {
  usx-para {
    &[data-style='li'],
    &[data-style='li1'] {
      margin-left: 10%;
      text-indent: -7.5%;
    }

    &[data-style='li2'] {
      margin-left: 15%;
      text-indent: -7.5%;
    }

    &[data-style='li3'] {
      margin-left: 20%;
      text-indent: -7.5%;
    }

    &[data-style='li4'] {
      margin-left: 25%;
      text-indent: -7.5%;
    }

    &[data-style='q'],
    &[data-style='q1'] {
      margin-left: 25%;
      text-indent: -20%;
    }

    &[data-style='q2'] {
      margin-left: 25%;
      text-indent: -15%;
    }

    &[data-style='q3'] {
      margin-left: 25%;
      text-indent: -10%;
    }

    &[data-style='q4'] {
      margin-left: 25%;
      text-indent: -5%;
    }

    &[data-style='qm'],
    &[data-style='qm1'] {
      margin-left: 20%;
      text-indent: -15%;
    }

    &[data-style='qm2'] {
      margin-left: 20%;
      text-indent: -10%;
    }

    &[data-style='qm3'] {
      margin-left: 20%;
      text-indent: -5%;
    }
  }
}
quill-editor.rtl {
  usx-para {
    &[data-style='io'],
    &[data-style='io1'] {
      margin-right: 10%;
    }

    &[data-style='io2'] {
      margin-right-left: 15%;
    }

    &[data-style='io3'] {
      margin-right: 20%;
    }

    &[data-style='io4'] {
      margin-right: 25%;
    }

    &[data-style='li'],
    &[data-style='li1'] {
      margin-right: 10%;
      text-indent: -7.5%;
    }

    &[data-style='li2'] {
      margin-right: 15%;
      text-indent: -7.5%;
    }

    &[data-style='li3'] {
      margin-right: 20%;
      text-indent: -7.5%;
    }

    &[data-style='li4'] {
      margin-right: 25%;
      text-indent: -7.5%;
    }

    &[data-style='q'],
    &[data-style='q1'] {
      margin-right: 25%;
      text-indent: -20%;
    }

    &[data-style='q2'] {
      margin-right: 25%;
      text-indent: -15%;
    }

    &[data-style='q3'] {
      margin-right: 25%;
      text-indent: -10%;
    }

    &[data-style='q4'] {
      margin-right: 25%;
      text-indent: -5%;
    }

    &[data-style='qm'],
    &[data-style='qm1'] {
      margin-right: 20%;
      text-indent: -15%;
    }

    &[data-style='qm2'] {
      margin-right: 20%;
      text-indent: -10%;
    }

    &[data-style='qm3'] {
      margin-right: 20%;
      text-indent: -5%;
    }
  }
}

usx-blank {
  width: 35px;
  display: inline-flex;
  span {
    font-size: 0;
  }
}

usx-segment:first-child usx-blank {
  width: 5px;
}

usx-char {
  // The data-style attribute is a space-delimited list of styles.

  &[data-style~='it'],
  &[data-style~='em'] {
    font-style: italic;
  }

  &[data-style~='va'] {
    font-size: 70%;
    color: #5faa5f;
    top: -0.5em;
    position: relative;
  }
}

usx-chapter {
  user-select: none;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 8pt;
  margin-bottom: 4pt;
  color: #7c7c7c;
}

usx-verse {
  user-select: none;
  unicode-bidi: embed;
  > span > span > span {
    // superscript
    top: -0.5em;
    position: relative;
    font-size: 75%;
    padding: 0.2em 0.4em;
    background-color: #f5f3ef;
    border-radius: 8px;
    white-space: nowrap;
    margin: 0 0.2em 0 0.3em;
    color: #7c7c7c;
    span[data-style='va'] {
      font-size: 65%;
      color: #5faa5f;
      top: -0.5em;
      position: relative;
    }
  }
}

span.reviewer-selection > usx-verse {
  span > span > span {
    color: white;
    background-color: $greyDark;
  }
}

usx-note {
  > span {
    // superscript
    top: -0.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
  }

  > span {
    background: #000;
    color: white;
    border-radius: 1em;
    min-width: 1.25em;
    height: 1.25em;
    display: inline-block;
    line-height: 1.25em;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 3px;
  }
  &[data-caller='-'][data-style] > span {
    background: #cbcbcb;
    &::before {
      content: '*';
    }
  }
  &[data-caller='+']:not([data-style='x']) > span::before {
    counter-increment: note;
    content: counter(note, lower-alpha);
  }
  &[data-style='f'] > span {
    background: $blueMedium;
  }
  &[data-style='fe'] > span {
    background: $purpleLight;
  }
  &[data-style='x'] {
    > span {
      background: $greenLight;
    }
    &[data-caller='+'] > span::before {
      content: '†';
    }
  }
}

usx-ref {
  font-style: italic;
}

usx-unmatched {
  display: none;
}

.notes {
  .content {
    .note-content {
      .conflict-text-older {
        background-color: #ffc0cb;
      }
      .conflict-text-newer {
        background-color: #90ee90;
        font-weight: bold;
      }
    }
    .note-conflict-explanation {
      color: gray;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}
