/* Design colors */
$greyLight: #a3a3a3;
$greyDark: #343a31;
$purpleMedium: #5a465f;
$purpleLight: #a065e3;
$purpleDark: #47314e;
$greenLight: #b8d432;
$greenDark: #5f7333;
$blueMedium: #3b5998;
$orange: #ff7300;

/* App specific */
$sf_grey: $greyDark;
$sf_header: $sf_grey;
$likes: $blueMedium;
$questions: $purpleLight;
$answers: $greenLight;
$comments: $orange;
$languageFonts: language_picker, language_picker_fallback, Arial, Helvetica, sans-serif;
$border-color: rgba(0, 0, 0, 0.12);
/* A text color that is somewhat muted compared to the primary text color. Note that #666666 is used to match
 * how mat-hint looks on a white background.
 */
$lighterTextColor: #666666;

$pt-button-green: $greenDark;

/* Overwrite Material */
$mdc-theme-primary: $sf_grey;
$mdc-theme-secondary: $greenLight;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$questionAnswerBubbleColor: #fff;
$questionAnswerBubbleBackgroundColor: $sf_grey;

$button-spacing: 8px;
