/* Design colors */
$greyLight: #a3a3a3;
$greyDark: #343a31;
$purpleMedium: #5a465f;
$purpleLight: #a065e3;
$purpleDark: #47314e;
$greenLight: #b8d432;
$greenDark: #5f7333;
$blueMedium: #3b5998;
$orange: #ff7300;
$red: #b00020;

/* App specific */
$sf_grey: $greyDark;
$sf_header: $sf_grey;
$errorColor: $red;
$likes: #578cff;
$questions: $purpleLight;
$answers: $greenLight;
$comments: $orange;
$border-color: rgb(227, 227, 227);
$disabled-text-color: $greyLight;
/* A text color that is somewhat muted compared to the primary text color. Note that #666666 is used to match
 * how mat-hint looks on a white background.
 */
$lighterTextColor: #666666;

$pt-button-green: $greenDark;

/* Overwrite Material */
$theme-primary: $sf_grey;
$theme-secondary: $greenLight;

$info-color: #547ec8;
$draft-color: #6495ed;

$questionAnswerBubbleColor: #fff;
$questionAnswerBubbleBackgroundColor: $sf_grey;

$button-spacing: 8px;
