@use '@angular/material' as mat;
@use 'sass:color';
@use 'variables' as *;
@use 'src/app/shared/sf-tab-group/sf-tab-group-theme' as sf-tab-group;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
// Remove all-legacy-component-typographies once all legacy components are migrated
@include mat.all-legacy-component-typographies();
@include mat.all-component-typographies();
// Remove legacy-core once all legacy components are migrated
@include mat.legacy-core();
@include mat.core();

$mat-sf-purple: (
  200: $purpleLight,
  500: $purpleMedium,
  800: $purpleDark,
  contrast: (
    200: rgba(black, 0.87),
    500: white,
    800: white
  )
);

$mat-sf-grey: (
  100: color.scale($greyLight, $lightness: 10%),
  200: $greyLight,
  300: color.scale($greyLight, $lightness: -10%),
  400: color.scale($greyDark, $lightness: 30%),
  500: color.scale($greyDark, $lightness: 20%),
  600: color.scale($greyDark, $lightness: 10%),
  700: color.scale($greyDark, $lightness: 5%),
  800: $greyDark,
  900: color.scale($greyDark, $lightness: -5%),
  contrast: (
    200: rgba(black, 0.87),
    800: white
  )
);

$mat-sf-green: (
  200: #dcedc8,
  300: color.scale($greenLight, $lightness: 30%),
  400: color.scale($greenLight, $lightness: 15%),
  500: $greenLight,
  600: color.scale($greenDark, $lightness: 20%),
  700: color.scale($greenDark, $lightness: 10%),
  800: $greenDark,
  900: color.scale($greenDark, $lightness: -5%),
  contrast: (
    200: rgba(black, 0.87),
    500: rgba(black, 0.87),
    800: white
  )
);

$mat-sf-blue: (
  500: $blueMedium,
  contrast: (
    500: white
  )
);

$mat-sf-orange: (
  500: $orange,
  contrast: (
    500: white
  )
);

$mat-sf-error: (
  100: $errorColor,
  500: $errorColor,
  700: $errorColor,
  contrast: (
    100: white,
    500: white,
    700: white
  )
);

// Styles for angular material components. Refer to https://material.angular.io/guide/theming
$matGreyPalette: mat.define-palette($mat-sf-grey, 800);
$matGreenLightPalette: mat.define-palette($mat-sf-green, 500, 200);
$matErrorPalette: mat.define-palette($mat-sf-error, 500);

$app-typography: mat.define-typography-config(
  $body-1: mat.define-typography-level(16px, 1.2em)
);

$dialog-typography: mat.define-typography-config(
  $body-1: mat.define-typography-level(14px, 1.5em)
);

$material-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $matGreyPalette,
      accent: $matGreenLightPalette,
      warn: $matErrorPalette
    ),
    typography: $app-typography
  )
);

// A Material input uses the accent color for the asterisk, but light green is an odd color to use there.
// This theme uses the error color for accent and can be applied only where needed.
$material-theme-accent-error: mat.define-light-theme(
  (
    color: (
      primary: $matGreyPalette,
      accent: $matErrorPalette,
      warn: $matErrorPalette
    )
  )
);

@include mat.core-theme($material-app-theme);
@include mat.autocomplete-theme($material-app-theme);
@include mat.badge-theme($material-app-theme);
@include mat.bottom-sheet-theme($material-app-theme);
@include mat.button-theme($material-app-theme);
@include mat.legacy-button-theme($material-app-theme);
@include mat.button-toggle-theme($material-app-theme);
@include mat.card-theme($material-app-theme);
@include mat.checkbox-theme($material-app-theme);
@include mat.chips-theme($material-app-theme);
@include mat.dialog-theme($material-app-theme);
@include mat.dialog-typography($dialog-typography);
@include mat.divider-theme($material-app-theme);
@include mat.expansion-theme($material-app-theme);
@include mat.form-field-theme($material-theme-accent-error);
@include mat.icon-theme($material-app-theme);
@include mat.input-theme($material-app-theme);
@include mat.list-theme($material-app-theme);
@include mat.menu-theme($material-app-theme);
@include mat.paginator-theme($material-app-theme);
@include mat.progress-bar-theme($material-app-theme);
@include mat.progress-spinner-theme($material-app-theme);
@include mat.radio-theme($material-app-theme);
@include mat.select-theme($material-app-theme);
@include mat.sidenav-theme($material-app-theme);
@include mat.slide-toggle-theme($material-app-theme);
@include mat.slider-theme($material-app-theme);
@include mat.snack-bar-theme($material-app-theme);
@include mat.stepper-theme($material-app-theme);
@include mat.table-theme($material-app-theme);
@include mat.tabs-theme($material-app-theme);
@include mat.toolbar-theme($material-app-theme);
@include mat.tooltip-theme($material-app-theme);
@include mat.option-theme($material-app-theme);

// Other components that appear to not be used at this time

// @include mat.grid-list-theme($material-app-theme);
// @include mat.slide-toggle-theme($material-app-theme);
// @include mat.sort-theme($material-app-theme);
// @include mat.tree-theme($material-app-theme);

// Use theme with custom components
@include sf-tab-group.theme($material-app-theme);

// Remove letter spacing (added by Material v15+) that may not work with some language scripts (e.g. Arabic).
// TODO: Add to this list as needed as we migrate to Material v15+
html,
.mdc-tab,
.mdc-button,
.mat-mdc-menu-item-text {
  letter-spacing: initial;
  --mat-menu-item-label-text-tracking: initial;
}

mat-list-item {
  --mdc-list-list-item-label-text-tracking: initial;
}

.card-outline {
  @include mat.elevation(0);
  border: 1px solid #e0e0e0;
}

button.mat-icon-button {
  transition: color 0.15s;

  &:not([disabled]):hover {
    color: $greenLight !important;
  }
}

// Restore the tab header underline from Material pre-v15
.mat-mdc-tab-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

mat-card-title {
  --mat-card-title-text-size: 24px;
}

.mat-mdc-dialog-actions {
  padding: 16px 24px !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-supporting-text-color: rgba(0, 0, 0, 0.9);
}

@mixin dense_mat_select() {
  ::ng-deep {
    height: 36px;
    .mat-mdc-form-field-infix {
      min-height: initial;
      padding-top: 7px;
      padding-bottom: 5px;
      width: initial;
      min-width: 25px; // prevent weird transparent gap between content and scrollbar in Chromium
    }
    .mat-mdc-select-arrow-wrapper {
      margin-inline-start: 5px;
    }
  }
}
