@use '@angular/material' as mat;
@use 'variables';

@include mat.core();

$mat-sf-purple: (
  200: $purpleLight,
  500: $purpleMedium,
  800: $purpleDark,
  contrast: (
    200: rgba(black, 0.87),
    500: white,
    800: white
  )
);

$mat-sf-grey: (
  100: $greyLight,
  200: $greyLight,
  700: $greyDark,
  800: $greyDark,
  contrast: (
    200: rgba(black, 0.87),
    800: white
  )
);

$mat-sf-green: (
  200: #dcedc8,
  500: $greenLight,
  700: $greenDark,
  800: $greenDark,
  contrast: (
    200: rgba(black, 0.87),
    500: rgba(black, 0.87),
    800: white
  )
);

$mat-sf-blue: (
  500: $blueMedium,
  contrast: (
    500: white
  )
);

$mat-sf-orange: (
  500: #ff7300,
  contrast: (
    500: white
  )
);

// Styles for angular material components. Refer to https://material.angular.io/guide/theming
$matGrey: mat.define-palette($mat-sf-grey, 800);
$matGreenLight: mat.define-palette($mat-sf-green, 500, 200);

$material-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $matGrey,
      accent: $matGreenLight
    )
  )
);

@include mat.autocomplete-theme($material-app-theme);
@include mat.button-theme($material-app-theme);
@include mat.card-theme($material-app-theme);
@include mat.checkbox-theme($material-app-theme);
@include mat.optgroup-theme($material-app-theme);
@include mat.option-theme($material-app-theme);
@include mat.paginator-theme($material-app-theme);
@include mat.progress-bar-theme($material-app-theme);
@include mat.progress-spinner-theme($material-app-theme);
@include mat.radio-theme($material-app-theme);
@include mat.select-theme($material-app-theme);
@include mat.slider-theme($material-app-theme);
@include mat.table-theme($material-app-theme);

.card-outline {
  @include mat.elevation(0);
  border: 1px solid #e0e0e0;
}

button.mat-icon-button {
  transition: color 0.15s;
  &:hover {
    color: variables.$greenLight !important;
  }
}
