@use '@angular/material' as mat;
@import 'variables';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.all-component-typographies();
@include mat.legacy-core();
@include mat.core();

$mat-sf-purple: (
  200: $purpleLight,
  500: $purpleMedium,
  800: $purpleDark,
  contrast: (
    200: rgba(black, 0.87),
    500: white,
    800: white
  )
);

$mat-sf-grey: (
  100: $greyLight,
  200: $greyLight,
  700: $greyDark,
  800: $greyDark,
  contrast: (
    200: rgba(black, 0.87),
    800: white
  )
);

$mat-sf-green: (
  200: #dcedc8,
  500: $greenLight,
  700: $greenDark,
  800: $greenDark,
  contrast: (
    200: rgba(black, 0.87),
    500: rgba(black, 0.87),
    800: white
  )
);

$mat-sf-blue: (
  500: $blueMedium,
  contrast: (
    500: white
  )
);

$mat-sf-orange: (
  500: $orange,
  contrast: (
    500: white
  )
);

$mat-sf-error: (
  100: $errorColor,
  500: $errorColor,
  700: $errorColor,
  contrast: (
    100: white,
    500: white,
    700: white
  )
);

// Styles for angular material components. Refer to https://material.angular.io/guide/theming
$matGreyPalette: mat.define-palette($mat-sf-grey, 800);
$matGreenLightPalette: mat.define-palette($mat-sf-green, 500, 200);
$matErrorPalette: mat.define-palette($mat-sf-error, 500);

$material-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $matGreyPalette,
      accent: $matGreenLightPalette,
      warn: $matErrorPalette
    )
  )
);

// A Material input uses the accent color for the asterisk, but light green is an odd color to use there.
// This theme uses the error color for accent and can be applied only where needed.
$material-theme-accent-error: mat.define-light-theme(
  (
    color: (
      primary: $matGreyPalette,
      accent: $matErrorPalette,
      warn: $matErrorPalette
    )
  )
);

@include mat.legacy-core-theme($material-app-theme);
@include mat.legacy-autocomplete-theme($material-app-theme);
@include mat.badge-theme($material-app-theme);
@include mat.bottom-sheet-theme($material-app-theme);
@include mat.legacy-button-theme($material-app-theme);
@include mat.legacy-card-theme($material-app-theme);
@include mat.legacy-checkbox-theme($material-app-theme);
@include mat.chips-theme($material-app-theme);
@include mat.legacy-dialog-theme($material-app-theme);
@include mat.divider-theme($material-app-theme);
@include mat.expansion-theme($material-app-theme);
@include mat.legacy-form-field-theme($material-theme-accent-error);
@include mat.icon-theme($material-app-theme);
@include mat.legacy-input-theme($material-app-theme);
@include mat.legacy-list-theme($material-app-theme);
@include mat.legacy-menu-theme($material-app-theme);
@include mat.legacy-paginator-theme($material-app-theme);
@include mat.legacy-progress-bar-theme($material-app-theme);
@include mat.legacy-progress-spinner-theme($material-app-theme);
@include mat.legacy-radio-theme($material-app-theme);
@include mat.legacy-select-theme($material-app-theme);
@include mat.sidenav-theme($material-app-theme);
@include mat.legacy-slide-toggle-theme($material-app-theme);
@include mat.legacy-slider-theme($material-app-theme);
@include mat.legacy-snack-bar-theme($material-app-theme);
@include mat.stepper-theme($material-app-theme);
@include mat.legacy-table-theme($material-app-theme);
@include mat.legacy-tabs-theme($material-app-theme);
@include mat.toolbar-theme($material-app-theme);
@include mat.legacy-tooltip-theme($material-app-theme);

// Other components that appear to not be used at this time

// @include mat.button-toggle-theme($material-app-theme);
// @include mat.grid-list-theme($material-app-theme);
// @include mat.slide-toggle-theme($material-app-theme);
// @include mat.sort-theme($material-app-theme);
// @include mat.tree-theme($material-app-theme);

.card-outline {
  @include mat.elevation(0);
  border: 1px solid #e0e0e0;
}

button.mat-icon-button {
  transition: color 0.15s;

  &:not([disabled]):hover {
    color: $greenLight !important;
  }
}
