@use 'variables';
@use 'src/xforge-common/media-breakpoints/css-vars';

@use '@material/theme' with (
  $primary: variables.$mdc-theme-primary,
  $secondary: variables.$mdc-theme-secondary
);

@use '@material/theme/variables' as theme-variables;

@use '@material/theme/mdc-theme';
@use '@material/dialog/mdc-dialog';
@use '@material/list/mdc-list';
@use '@material/menu/mdc-menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/icon-button/mdc-icon-button';
@use '@material/button/mdc-button';
@use '@material/select/mdc-select';
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/textfield/mdc-text-field';
@use '@material/snackbar/mdc-snackbar';
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-scroller/mdc-tab-scroller';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '@material/tab/mdc-tab';
@use '@material/drawer/mdc-drawer';
@use '@material/form-field/mdc-form-field';
@use '@material/switch/mdc-switch';
@use '@material/data-table/mdc-data-table';
@use '@material/ripple/mdc-ripple';

@use '@angular-mdc/theme/material';

@import 'variables';
@import 'fonts';
/* Only import relevant Bootstrap 4.x styles */
@import 'bootstrap/scss/bootstrap-grid';
@import 'text';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

as-split.is-disabled > .as-split-gutter .as-split-gutter-icon {
  background-image: none !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-max {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cdk-overlay-pane.inviteDialogComponent {
  width: 80%;
  max-width: 400px !important;
}

.cdk-overlay-pane.inviteDialogComponent > .mat-dialog-container {
  padding-top: 5px !important;
}

.snackbar-error {
  background-color: variables.$errorColor !important;
}

.mdc-select__selected-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mdc-icon-button ngx-avatar img {
  height: unset;
  width: unset;
}

.mdc-button {
  text-transform: initial; // no uppercase labels as we move to @angular/material
}

.mdc-button--unelevated,
.mat-flat-button {
  transition:
    background-color 0.15s,
    color 0.15s;
  &:not(:disabled):hover {
    background-color: variables.$greenLight;
    color: variables.$sf_grey;
  }
}
mdc-icon.ngx-mdc-icon--clickable,
button.mdc-icon-button {
  transition: color 0.15s;
  &:hover {
    color: variables.$greenLight !important;
  }
}

.mdc-list-item--disabled {
  opacity: theme-variables.text-emphasis(disabled);
}

.offline-text {
  color: variables.$errorColor;
}

.locale-fonts mat-option {
  font-family: $languageFonts;
}

// Allows checkbox label word-wrap
// https://github.com/angular/components/issues/8416
.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-tooltip {
  font-size: 1em;
}

.mat-progress-bar--closed {
  opacity: 0;
  animation: none;
}

body[dir='rtl'] .mirror-rtl {
  transform: scaleX(-1);
}

app-root {
  &:has(.mdc-drawer--open):has(.cdk-overlay-container) {
    mdc-drawer {
      z-index: 1002;

      + .mdc-drawer-scrim {
        z-index: 1001;
      }
    }
  }
}
