@use 'variables';

@use '@material/theme' with (
  $primary: variables.$mdc-theme-primary,
  $secondary: variables.$mdc-theme-secondary
);

@use "@material/theme/variables" as theme-variables;

@use "@material/theme/mdc-theme";
@use '@material/dialog/mdc-dialog';
@use '@material/list/mdc-list';
@use '@material/menu/mdc-menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/icon-button/mdc-icon-button';
@use '@material/button/mdc-button';
@use '@material/select/mdc-select';
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/textfield/mdc-text-field';
@use '@material/card/mdc-card';
@use '@material/checkbox/mdc-checkbox';
@use '@material/typography/mdc-typography';
@use '@material/slider/mdc-slider';
@use '@material/snackbar/mdc-snackbar';
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-scroller/mdc-tab-scroller';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '@material/tab/mdc-tab';
@use '@material/drawer/mdc-drawer';
@use '@material/form-field/mdc-form-field';
@use '@material/radio/mdc-radio';
@use '@material/switch/mdc-switch';

@use '@angular-mdc/theme/material';

// commented out because it never stops, and it's super annoying while developing
// @use '@material/linear-progress/mdc-linear-progress';

@import 'variables';
@import 'fonts';
/* Only import relevant Bootstrap 4.x styles */
@import 'bootstrap/scss/bootstrap-grid';
@import 'text';

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  .panel-heading {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 56px;
    .material-icons {
      margin-right: 10px;
    }
    h2 {
      margin: 0;
      flex: 1;
    }
    .panel-activity {
      display: flex;
      align-items: center;
      > *:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
  .panel-content {
    display: flex;
    position: relative;
    flex: 1;
  }
}

as-split.is-disabled > .as-split-gutter .as-split-gutter-icon {
  background-image: none !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-max {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cdk-overlay-pane.inviteDialogComponent {
  width: 80%;
  max-width: 400px !important;
}

.cdk-overlay-pane.inviteDialogComponent > .mat-dialog-container {
  padding-top: 5px !important;
}

.snackbar-error .mdc-snackbar__surface {
  background-color: var(--mdc-theme-error);
}

.mdc-select__selected-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mdc-icon-button ngx-avatar img {
  height: unset;
  width: unset;
}

.mdc-button {
  transition: background-color 0.15s, color 0.15s;
  &.mdc-button--unelevated:not(:disabled):hover {
    background-color: variables.$greenLight;
    color: variables.$sf_grey;
  }
}
mdc-icon.ngx-mdc-icon--clickable,
button.mdc-icon-button {
  transition: color 0.15s;
  &:hover {
    color: variables.$greenLight !important;
  }
}

.mat-tooltip {
  font-size: 1em;
}

.mdc-list-item--disabled {
  opacity: theme-variables.text-emphasis(disabled);
}

.offline-text {
  color: var(--mdc-theme-error);
}
