@use '@angular/material' as mat;

@mixin color($theme) {
  $is-dark: mat.get-theme-type($theme) == dark;

  --sf-draft-signup-subtitle-color: #{mat.get-theme-color($theme, neutral-variant, if($is-dark, 80, 20))};
  --sf-draft-signup-label-color: #{mat.get-theme-color($theme, neutral-variant, if($is-dark, 90, 10))};
  --sf-draft-signup-description-color: #{mat.get-theme-color($theme, neutral-variant, if($is-dark, 80, 30))};
  --sf-draft-signup-note-color: #{mat.get-theme-color($theme, neutral-variant, if($is-dark, 80, 20))};
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
