<!-- TODO: i18n -->
<div class="title" [matMenuTriggerFor]="filterMenu">
  Insights
  <mat-icon>visibility</mat-icon>
</div>
<mat-tab-group
  mat-stretch-tabs="false"
  [animationDuration]="100"
  [selectedIndex]="selectedScopeIndex"
  (selectedIndexChange)="setScopeIndex($event)"
>
  @for (scope of scopes; track scope) {
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-header-label">
          {{ scope }}
          <span class="scope-count">{{ scopeCounts?.[scope] }}</span>
        </span>
      </ng-template>
    </mat-tab>
  }
</mat-tab-group>

<!-- TODO: i18n -->
<mat-menu #filterMenu="matMenu" class="lynx-problems-panel-filter-menu">
  <!-- Prevent default menu close on click. Closing on 'Order by' selection is handled manually. -->
  <div (click)="$event.stopPropagation()">
    <h2>Show</h2>
    @for (insightType of insightTypes; track insightType) {
      <button
        mat-menu-item
        [class.selected]="filter?.types | includes: insightType"
        (click)="toggleFilterType(insightType)"
      >
        <mat-icon>check</mat-icon>
        <span>{{ insightType }}</span>
      </button>
    }
    <mat-divider />
    <h2>Order by</h2>
    @for (insightOrder of insightOrders; track insightOrder) {
      <button mat-menu-item [class.selected]="orderBy === insightOrder" (click)="setOrder(insightOrder)">
        <mat-icon>check</mat-icon>
        <span>{{ insightOrder }}</span>
      </button>
    }
  </div>
</mat-menu>
