:host {
  display: flex;
  align-items: center;
  background-color: var(--lynx-insights-header-background);
  color: var(--lynx-insights-header-text-color);
  gap: 2em;
  padding: 0 0.5em;

  &::ng-deep {
    .mdc-tab {
      padding: 0 1em;
      min-width: auto;
    }

    // TODO: make responsive (tabs header is cut off on small screens)
    .mat-mdc-tab-header {
      --mat-tab-container-height: 2.2em;
      --mat-tab-label-text-size: 0.9em;
      --mat-tab-label-text-weight: 400;
      --mat-tab-active-label-text-color: var(--lynx-insights-header-text-color);
      --mat-tab-inactive-label-text-color: var(--lynx-insights-header-secondary-text-color);
      --mat-tab-active-indicator-height: 3px;
      --mat-tab-active-indicator-color: var(--lynx-insights-header-tab-indicator-color);
      text-transform: capitalize;
      border-bottom: 0;
    }

    .mat-mdc-tab-body-wrapper {
      height: 0; // Prevent height glitch while animating tab change
    }
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.9em;
  font-weight: 700;

  button {
    min-width: 0;
    height: auto;
    padding: 0.3em;
  }

  mat-icon {
    width: auto;
    height: auto;
    font-size: 1.2em;
    margin: 0;

    &.menu-arrow {
      position: absolute;
      right: -0.3em;
      bottom: -0.2em;
      transform: rotate(45deg);
    }
  }
}

.tab-header-label {
  display: flex;
  align-items: baseline;
  gap: 0.8em;
}

.scope-count {
  color: var(--lynx-insights-header-secondary-text-color);
  font-size: 0.85em;
}

// Filter menu

h2 {
  color: var(--lynx-insights-header-menu-heading-color);
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0 var(--mat-menu-item-with-icon-leading-spacing) 0.2em;

  &:not(:first-of-type) {
    margin-top: 0.5em;
  }
}

.mat-mdc-menu-item {
  min-height: auto;
  --mat-menu-item-icon-size: auto;
  --mat-menu-item-spacing: 0.5em;
  --mat-menu-item-label-text-size: 0.9em;
  padding-block: 0.1em;

  &:not(.selected) {
    mat-icon {
      visibility: hidden;
    }
  }

  mat-icon {
    font-size: 0.9em;
    font-weight: 700;
  }
}

.mat-divider {
  margin: 0.4em 0;
  --mat-divider-color: var(--lynx-insights-header-divider-color);
}
