<ng-container *transloco="let t; read: 'draft_usfm_format'">
  <h1>{{ t("draft_format_options") }}</h1>
  @if (!isOnline) {
    <p class="offline-text">{{ t("connect_to_the_internet") }}</p>
  }
  <div class="format-container">
    <div class="format-options">
      <form [formGroup]="usfmFormatForm" (change)="reloadText()">
        <p>{{ t("draft_format_description") }}</p>
        <mat-card class="options">
          <mat-card-header
            ><mat-card-title>{{ t("line_breaks_title") }}</mat-card-title></mat-card-header
          >
          <mat-card-content class="format-options">
            <span>{{ t("line_breaks_description") }}</span>
            <mat-radio-group formControlName="paragraphFormat">
              <mat-radio-button [value]="paragraphBreakFormat.BestGuess">
                {{ t("option_best_guess") }}
                <span class="new">{{ t("new") }}</span>
                <span class="description">
                  {{ t("option_best_guess_description") }}
                </span>
              </mat-radio-button>
              <mat-radio-button [value]="paragraphBreakFormat.Remove">
                {{ t("option_remove") }}
                <span class="new">{{ t("new") }}</span>
                <span class="description">
                  {{ t("option_remove_description") }}
                </span>
              </mat-radio-button>
              <mat-radio-button [value]="paragraphBreakFormat.MoveToEnd">
                {{ t("option_end") }}
                <span class="description">{{ t("option_end_description") }} </span>
              </mat-radio-button>
            </mat-radio-group>
          </mat-card-content>
        </mat-card>
        <mat-card class="options">
          <mat-card-header>
            <mat-card-title>Quote style <small>[coming soon]</small></mat-card-title>
          </mat-card-header>
          <mat-card-content class="format-options">
            Choose how quotes should appear in the draft.
            <mat-radio-group formControlName="quoteFormat">
              <mat-radio-button [value]="quoteStyleFormat.Automatic">
                Automatic quote style <span class="new">{{ t("new") }}</span>
                <span class="description">
                  Use the same quote style as the rest of the project, if possible. Recommended for most projects.
                </span>
              </mat-radio-button>
              <mat-radio-button [value]="quoteStyleFormat.Straight">
                Straight quotes
                <span class="description"> Use only straight quotes in the draft.</span>
              </mat-radio-button>
            </mat-radio-group>
          </mat-card-content>
        </mat-card>
      </form>

      <div class="actions">
        <button mat-button class="back" (click)="close()"><mat-icon>close</mat-icon>{{ t("cancel") }}</button>
        <div class="save-container">
          <div class="progress" [class.saving]="saving">
            <mat-spinner diameter="24"></mat-spinner>
          </div>
          <button mat-flat-button class="save" color="primary" (click)="saveChanges()">
            <mat-icon>check</mat-icon>
            {{ t("save_changes") }}
          </button>
        </div>
      </div>
    </div>
    <div class="text-container">
      <app-book-chapter-chooser
        [books]="booksWithDrafts"
        [book]="bookNum"
        (bookChange)="bookChanged($event)"
        [(chapter)]="chapterNum"
        [chapters]="chapters"
        (chapterChange)="chapterChanged($event)"
      ></app-book-chapter-chooser>
      <div class="viewer-container">
        <app-text
          [isReadOnly]="true"
          [subscribeToUpdates]="false"
          [isRightToLeft]="isRightToLeft"
          [class.initializing]="isInitializing"
          [class.loading]="isLoadingData"
          class="viewer"
        ></app-text>
      </div>
    </div>
  </div>
</ng-container>
