<ng-container>
  <h2>Select USFM settings for your draft</h2>
  <div class="format-container">
    <div class="format-options">
      <form [formGroup]="usfmFormatForm" (change)="formatUpdated()">
        <mat-card class="options">
          <mat-checkbox formControlName="preserveParagraphs">Preserve Paragraphs</mat-checkbox>
          <mat-checkbox formControlName="preserveStyles">Preserve Styles</mat-checkbox>
          <mat-checkbox formControlName="preserveEmbeds">Preserve Embeds</mat-checkbox>
        </mat-card>
      </form>
      <div class="actions">
        <button mat-flat-button class="finished" color="primary" (click)="finished()">Finished</button>
      </div>
    </div>
    <div>
      <app-book-chapter-chooser
        [books]="booksWithDrafts"
        [book]="bookNum"
        [(chapter)]="chapterNum"
        [chapters]="chapters"
      ></app-book-chapter-chooser>
      <app-text [isReadOnly]="true" [isRightToLeft]="isRightToLeft"> </app-text>
    </div>
  </div>
</ng-container>
