.format-container {
  display: flex;
  flex-direction: row;
  column-gap: 8px;

  .format-options {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

.options {
  width: 300px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
