@use 'src/breakpoints';
@use 'src/variables';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.format-container {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  height: 100%;
  margin-top: 8px;

  @include breakpoints.media-breakpoint-down(sm) {
    flex-direction: column;
    row-gap: 8px;
  }

  .format-options {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

.options {
  padding: 8px 0;
  row-gap: 8px;

  .description {
    display: block;
  }
}

.initializing {
  display: none;
}

.loading {
  opacity: 0.5;
}

.text-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include breakpoints.media-breakpoint-down(sm) {
    height: 600px;
    overflow: initial;
  }

  .viewer-container {
    overflow-y: auto;
  }
}

mat-card-actions {
  justify-content: space-between;
}

form {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include breakpoints.media-breakpoint-down(sm) {
    width: 100%;
  }

  p {
    margin: 0;
  }
}

.actions {
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: space-between;

  .save-container {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }

  .progress:not(.saving) {
    visibility: hidden;
  }
}

.new {
  background-color: var(--new-indicator-background-color);
  color: white;
  display: inline-block;
  border-radius: 50px;
  padding-inline: 6px;
  margin-inline-start: 1em;
}

.option-title {
  font-weight: 500;
  line-height: 40px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

// Vertically align radio buttons with the title of the label
mat-radio-button ::ng-deep .mdc-form-field.mat-internal-form-field {
  align-items: flex-start;
}
