@use '../checking-global-vars';

:host {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: auto;
}

app-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
