app-checking-text {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

app-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.ltr .highlight-segment-target[data-question='true'] {
  margin-left: 1.5em;
  &:before {
    left: -1.75em;
  }
}
.rtl .highlight-segment-target[data-question='true'] {
  margin-right: 1.5em;
  &:before {
    right: -1.75em;
  }
}
.ql-container {
  .highlight-marker {
    display: none;
  }
  .ql-editor {
    .highlight-para-target {
      > usx-para-contents {
        box-shadow: unset;
      }
    }
    .highlight-segment-target {
      box-shadow: 2px 4px 4px -4px #bfb092;
      position: relative;
      cursor: pointer;

      &[data-question='true'] {
        &:before {
          content: '?';
          border-radius: 50%;
          width: 1.5em;
          height: 1.5em;
          font-size: 0.8em;
          display: flex;
          align-content: center;
          justify-content: center;
          background: var(--mdc-theme-secondary);
          font-weight: bold;
          position: absolute;
          top: 0;
          text-indent: 0;
        }
      }

      &[data-selected='true'] {
        background: yellow;
      }
    }
  }
}
