@import 'src/variables';

.question-wrapper {
  display: flex;
  flex-direction: column;
}

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.scripture-audio,
.question-text {
  font-size: small;
  color: $greyLight;
  p {
    margin: 0px;
    transition: color 0.3s;
  }
}

.scripture-audio > .scripture-audio-label,
.question-text > .question-audio-label {
  font-weight: bold;
  font-size: large;
  color: black;
}

app-single-button-audio-player {
  mat-icon {
    color: $purpleLight;
  }
}

.question-wrapper {
  mat-icon {
    font-size: large;
    vertical-align: bottom;
    height: unset;
    width: unset;
    cursor: pointer;
  }
}
