<ng-container transloco>
  <app-single-button-audio-player
    #scriptureAudio
    *ngIf="focusedText === 'scripture-audio-label'"
    [source]="scriptureAudioUrl"
    [start]="scriptureAudioStart"
    [end]="scriptureAudioEnd"
    (click)="playScripture()"
  >
    <mat-icon>{{ scriptureAudio.playing ? "stop" : "play_arrow" }}</mat-icon>
  </app-single-button-audio-player>
  <app-single-button-audio-player
    #questionAudio
    *ngIf="focusedText === 'question-audio-label' && questionAudioUrl"
    [source]="questionAudioUrl"
    (click)="playQuestion()"
  >
    <mat-icon>{{ questionAudio.playing ? "stop" : "play_arrow" }}</mat-icon>
  </app-single-button-audio-player>
  <div class="question-wrapper">
    <div class="scripture-audio" *ngIf="scriptureAudioUrl">
      <p [class]="focusedText">
        Listen to {{ referenceForDisplay }} to answer the question that follows.
        <mat-icon *ngIf="focusedText === 'question-audio-label'" (click)="selectScripture()">
          play_circle_outline
        </mat-icon>
      </p>
    </div>
    <div class="question-text">
      <p [class]="focusedText">
        {{ questionText }}
        <mat-icon *ngIf="focusedText === 'scripture-audio-label'" (click)="selectQuestion()">
          play_circle_outline
        </mat-icon>
      </p>
    </div>
  </div>
</ng-container>
