@import 'src/variables';

.question-wrapper {
  display: flex;
  flex-direction: column;
}

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.scripture-audio,
.question-text {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: small;
  color: $greyLight;
}

.scripture-audio > .scripture-audio-label,
.question-text > .question-audio-label {
  font-weight: bold;
  font-size: large;
  color: black;
}

mat-icon {
  color: $purpleLight;
}
