<ng-container transloco>
  <div class="question-wrapper">
    <div class="scripture-audio">
      <app-single-button-audio-player
        #scriptureAudio
        [source]="scriptureAudioUrl"
        [start]="scriptureAudioStart"
        [end]="scriptureAudioEnd"
        (click)="playScripture()"
      >
        <mat-icon>{{ scriptureAudio.playing ? "stop" : "play_arrow" }}</mat-icon>
      </app-single-button-audio-player>
      Listen to {{ referenceForDisplay }} to answer the question that follows.
    </div>
    <div class="question-text">
      <app-single-button-audio-player #questionAudio [source]="questionAudioUrl" (click)="playQuestion()">
        <mat-icon>{{ questionAudio.playing ? "stop" : "play_arrow" }}</mat-icon>
      </app-single-button-audio-player>
      {{ questionText }}
    </div>
  </div>
</ng-container>
