@use 'src/variables' as vars;
@use '../lynx-insights' as insights;

$indentPadding: 2.5rem; // Per level indentation
$restoreActionColor: #5485e7;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-tree {
  height: 100%;
  overflow: auto;
}

.mat-tree-node {
  --mat-tree-node-min-height: none;
  flex-direction: column; // 'Show more' button and progress bar below description
  align-items: flex-start;
  gap: 0.1rem;

  &:hover {
    background-color: #eee;
  }

  &:not(.loading) {
    animation: fadeIn 0.3s ease-in-out;
  }
}

.tree-toggle {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

.tree-toggle-icon {
  width: auto;
  height: auto;
  font-size: 1.2rem;
  flex-shrink: 0;
}

// Increase indentation for deeper levels
@for $i from 0 through 1 {
  .level-#{$i} .tree-toggle {
    padding-inline-start: $indentPadding * $i;
  }
}

// Link to insight in editor
.tree-toggle.leaf {
  &:hover {
    color: vars.$blueMedium;
  }

  .restore-icon {
    display: none;
  }

  &.dismissed {
    color: #999;
    font-style: italic;

    .restore-icon {
      display: flex;
    }
  }
}

.level-ref {
  display: flex;
  align-items: center;
  gap: 1rem;

  > div:first-child {
    display: flex;
    align-items: center;

    &::before {
      content: '•';
      margin-right: 0.6em;
      font-size: 1.5em;
    }
  }

  .verse-ref {
    font-weight: 500;
    white-space: nowrap;
  }

  .insight-desc-divider {
    margin: 0 0.5rem;
    color: #999;
    font-weight: 500;
  }

  .sample-text {
    white-space: nowrap;
  }
}

.level-desc {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  padding-inline-end: 0.5rem;

  mat-icon {
    width: 0.9rem;
    flex-shrink: 0;

    @each $type in insights.$insightTypes {
      &.#{$type} {
        color: insights.insight-color($type);
      }
    }

    &.dismissed {
      color: #999;
    }
  }

  .text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .count {
    color: #7a7a7a;
    background-color: #f4f4f4;
    flex-shrink: 0;
    border-radius: 1rem;
    padding: 0.4rem;
    font-size: 0.6rem;
    min-width: 1.3rem;
    height: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.restore-icon {
  color: $restoreActionColor;
  font-size: 1.2rem;
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center;
}

.insight-loading-text {
  color: #777;
  font-style: italic;
}

.insight-loading-spinner {
  margin-left: 8px;
  display: inline-block;
}

.show-more-button {
  margin-inline-start: 3rem;
  margin-bottom: 0.2rem;
  min-width: 7rem;

  &[disabled] {
    background-color: #fff;
    font-style: italic;
  }

  .progress-bar {
    position: absolute;
    bottom: -6px;
    border-radius: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
