<ng-container *transloco="let t; read: 'lynx_insights_panel'">
  <app-lynx-insights-panel-header />

  <mat-tree [dataSource]="treeDataSource" [childrenAccessor]="getChildrenAccessor">
    <!-- Template for leaf nodes (actual insights) -->
    <mat-tree-node
      *matTreeNodeDef="let node; let currentLevel = level"
      class="level-{{ currentLevel }}"
      [isExpandable]="false"
    >
      <button matRipple [class.dismissed]="node.isDismissed" class="tree-toggle leaf" (click)="onLeafNodeClick(node)">
        <div class="level-ref">
          <span>
            {{ node.description }}
          </span>
          <!-- TODO: Removed for MVP -->
          <!-- <mat-icon [matTooltip]="t('restore')" (click)="restoreDismissedInsight(node.insight)" class="restore-icon">
            visibility_on
          </mat-icon> -->
        </div>
      </button>
    </mat-tree-node>

    <!-- Template for expandable group nodes -->
    <mat-tree-node
      #parentNodeRef="matTreeNode"
      *matTreeNodeDef="let node; let currentLevel = level; when: isExpandableNodePredicate"
      (expandedChange)="onNodeExpansionChange(node, $event)"
      class="level-{{ currentLevel }}"
      [isExpandable]="true"
    >
      <button matTreeNodeToggle matRipple class="tree-toggle">
        <mat-icon class="tree-toggle-icon mat-icon-rtl-mirror">
          {{ parentNodeRef.isExpanded ? "expand_more" : "chevron_right" }}
        </mat-icon>

        @switch (currentLevel) {
          @case (0) {
            <div class="level-desc">
              <mat-icon [svgIcon]="'lynx_' + node.type" [class.dismissed]="node.isDismissed" [ngClass]="node.type" />
              <span class="text">{{ node.description }}</span>
              <span class="count">{{ node.count }}</span>
            </div>
          }
        }
      </button>
    </mat-tree-node>
  </mat-tree>
</ng-container>
