<div class="wrapper">
  @if (initData == null) {
    <mat-spinner></mat-spinner>
  } @else {
    @if (page === "preface") {
      <app-confirm-sources></app-confirm-sources>
    } @else if (page === "draft_books") {
      <h1>Select books to draft</h1>
      <h2>
        Which books in <strong>NTV - Nueva Traducción Viviente</strong> do you want to translate from
        <strong>Spanish (spa)</strong> to <strong>English (eng)</strong>?
      </h2>
      <app-book-multi-select
        [availableBooks]="availableDraftingBooks"
        [selectedBooks]="selectedDraftingBooks"
        [basicMode]="true"
        (bookSelect)="onDraftingBookSelect($event)"
      ></app-book-multi-select>
      @if (booksOfferedForPartialDrafting.length > 0) {
        <h3>Which chapters of each book do you want to draft?</h3>
        <p>
          Some of the chapters in the books you selected already have text.
          <!-- FIXME add url DO NOT MERGE -->
          <a href="#">Learn more about drafting part of a book.</a>
        </p>
        <div class="partial-book-drafting-table">
          @for (bookId of booksOfferedForPartialDrafting; track bookId) {
            <span class="book-name">{{ i18n.localizeBook(bookId) }}</span>
            <mat-form-field subscriptSizing="dynamic" class="chapter-input">
              <input [value]="draftingRangeForBook(bookId)" matInput />
            </mat-form-field>
          }
          <span class="example">(e.g. 1-5, 8, 11-13)</span>
        </div>
      }
    } @else if (page === "training_books") {
      <h1>Select books to train on</h1>
      <h2>
        Which books in <strong>Stp22 - SF 2022 test project</strong> are good enough to use to train the model to
        translate from <strong>Spanish (spa)</strong> to <strong>English (eng)</strong>?
      </h2>
      <!-- [projectId]="initData.projectId" -->
      <app-book-multi-select
        [basicMode]="true"
        [availableBooks]="availableTargetTrainingBooks"
        [selectedBooks]="selectedTargetTrainingBooks"
        (bookSelect)="onTargetTrainingBookSelect($event)"
      ></app-book-multi-select>
      @if (booksOfferedForPartialTargetTraining.length > 0) {
        <h3>Which chapters of each book do you want to use to train the model?</h3>
        <p>
          Some of the chapters in the books you selected will be translated and cannot be used as training data.
          <!-- FIXME add url DO NOT MERGE -->
          <a href="#">Learn more about training on part of a book.</a>
        </p>
        <div class="partial-book-drafting-table">
          @for (bookId of booksOfferedForPartialTargetTraining; track bookId) {
            <span class="book-name">{{ i18n.localizeBook(bookId) }}</span>
            <mat-form-field subscriptSizing="dynamic" class="chapter-input">
              <input [value]="targetTrainingRangeForBook(bookId)" matInput />
            </mat-form-field>
            <span class="chapters-to-translate">
              Chapters <span class="chapter-list">{{ draftingRangeForBook(bookId) }}</span> will be translated and
              cannot be used as training data.
            </span>
          }
        </div>
      }
    } @else if (page === "suffix") {
      <p>Suffix page</p>
    }
    <div class="step-buttons">
      <button mat-stroked-button (click)="back()">
        <mat-icon>chevron_{{ i18n.backwardDirectionWord }}</mat-icon> Back
      </button>
      @if (page === "suffix") {
        <button mat-flat-button color="primary" (click)="generateDraftClicked()">
          <mat-icon>auto_awesome</mat-icon> Generate Draft
        </button>
      } @else {
        <button mat-flat-button color="primary" (click)="next()">
          Next <mat-icon iconPositionEnd>chevron_{{ i18n.forwardDirectionWord }}</mat-icon>
        </button>
      }
    </div>
  }
</div>

<app-dev-only> <app-json-viewer [data]="debugData"></app-json-viewer> </app-dev-only>
