@use '@angular/material' as mat;

.wrapper {
  max-width: 120em;
}

mat-spinner {
  margin: 0 auto;
  top: 10em;
}

.partial-book-drafting-table {
  display: inline-grid;
  gap: 16px;
  align-items: baseline;
  .book-name {
    grid-column-start: 1;
    font-weight: 500;
  }
  .chapter-input-wrapper {
    grid-column-start: 2;
  }
}

.step-buttons {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.chapter-input {
  @include mat.form-field-density(-5);
}

.chapter-error {
  font-size: 0.875em;
  color: var(--mat-form-field-error-text-color);
  padding-left: 16px;
}

.step-error {
  color: var(--mat-form-field-error-text-color);
  align-self: center;
}

strong {
  font-weight: 500;
}
