.content {
  display: flex;
  align-items: center;

  .duration,
  .current-time {
    padding: 0 10px;
    font-size: 0.8em;
  }
  .slider {
    flex-grow: 1;
  }
}

.audio-not-available {
  display: flex;
  align-items: center;

  padding: 5px;
  // Same spacing as .content .current-time
  column-gap: 10px;
}
