.content {
  display: flex;
  align-items: center;

  .duration,
  .current-time {
    padding: 0 10px;
    font-size: 0.8em;
  }
  .slider {
    flex: 1;
    width: 100%;
    ::ng-deep .mat-slider-track-background {
      background-color: #e0e0e0;
    }
    ::ng-deep .mat-slider-thumb {
      background-color: #000;
    }
    &[dir='rtl'] {
      transform: rotateY(180deg);
    }
  }
}

.audio-not-available {
  display: flex;
  align-items: center;

  padding: 5px;
  // Same spacing as .content .current-time
  column-gap: 10px;
}
