@use 'src/material-styles';

:host {
  display: flex;
  align-items: center;
}

// Unfortunately there doesn't appear to be a good way to style a mat-select
// These styles were written by inspecting the elements using developer and then adding rules until it looked right
#chapter-select,
#book-select {
  @include material-styles.dense_mat_select();
}

::ng-deep .mat-mdc-select-panel {
  &.book-select-menu,
  &.chapter-select-menu {
    max-height: 70vh;
  }
}

::ng-deep {
  #book-select .mdc-notched-outline__trailing,
  #chapter-select .mdc-notched-outline__leading {
    border-radius: 0;
  }
}
