<ng-container *transloco="let t; read: 'chapter_nav'">
  <mat-form-field appearance="outline" id="book-select">
    <mat-select
      [value]="book"
      (valueChange)="bookChanged($event)"
      [disabled]="!!bookSelectDisabled"
      [hideSingleSelectionIndicator]="true"
      panelWidth="200"
      panelClass="book-select-menu"
    >
      @for (b of books; track b) {
        <mat-option [value]="b">{{ bookName(b) }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" id="chapter-select">
    <mat-select
      [value]="chapter"
      (valueChange)="chapterChanged($event)"
      [disabled]="!!chapterSelectDisabled"
      [hideSingleSelectionIndicator]="true"
      panelClass="chapter-select-menu"
      [panelWidth]="chapters.length < 100 ? 70 : 80"
    >
      @for (c of chapters; track c) {
        <mat-option [value]="c">{{ c }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (!prevNextHidden) {
    <button
      mat-icon-button
      (click)="prevChapter()"
      [disabled]="isPrevChapterDisabled()"
      [title]="t('previous_chapter')"
      class="hide-lt-sm"
    >
      <mat-icon>keyboard_arrow_{{ i18n.backwardDirectionWord }}</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="nextChapter()"
      [disabled]="isNextChapterDisabled()"
      [title]="t('next_chapter')"
      class="hide-lt-sm"
    >
      <mat-icon>keyboard_arrow_{{ i18n.forwardDirectionWord }}</mat-icon>
    </button>
  }
</ng-container>
