:host {
  display: flex;
  align-items: center;
}

// Unfortunately there doesn't appear to be a good way to style a mat-select
// These styles were written by inspecting the elements using developer and then adding rules until it looked right
#chapter-select ::ng-deep,
#book-select ::ng-deep {
  height: 36px;
  .mat-mdc-text-field-wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .mat-mdc-select-arrow-wrapper {
    margin-left: 5px;
  }
  .mat-mdc-form-field-infix {
    min-height: initial;
    padding-top: 7px;
    padding-bottom: 5px;
    width: initial;
  }
}

::ng-deep .mat-mdc-select-panel {
  &.book-select-menu,
  &.chapter-select-menu {
    max-height: 85vh;
  }
}

::ng-deep {
  #book-select .mdc-notched-outline__trailing,
  #chapter-select .mdc-notched-outline__leading {
    border-radius: 0;
  }
}
