@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

:host {
  display: grid;
  align-items: start;
  gap: 2em;
  grid-template-columns: 1fr 1fr;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }
}

.working-animation {
  mat-icon:nth-child(1) {
    animation: counter-spin 2s linear infinite;
  }

  mat-icon:nth-child(2) {
    animation: spin 4s linear infinite;
    height: 48px;
    width: 48px;
    font-size: 48px;
  }

  mat-icon:nth-child(3) {
    animation: counter-spin 2s linear infinite;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

app-text {
  display: block;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    // transform: scale(0.9);
  }
  to {
    opacity: 1;
    // transform: scale(1);
  }
}

.draft-preview {
  animation: cardEntrance 0.5s ease-in;
}
