<mat-card>
  <h1 mat-card-title>Generate back translation drafts</h1>

  <mat-divider inset></mat-divider>

  <section>
    <p>
      Scripture Forge can assist with drafting a back translation, based on your existing back translation progress. For
      example, if your translation team has already drafted one or more books and then back translated one or more of
      them, Scripture Forge can use the books you have already back translated to generate a draft a back translation of
      the next book you are working on.
    </p>
    <p>
      Keep in mind that the back translation draft will contain mistakes, and you will need to edit the draft that is
      generated.
    </p>
    <p>
      The back translation draft will be generated in the background. You can continue to work on other tasks while is
      is being generated. You can also cancel the generation process at any time. The process will typically take at
      least 8 hours under ideal conditions, but may take longer if the server is busy.
    </p>
  </section>

  <mat-divider inset></mat-divider>

  <section *ngIf="isDraftComplete() || !isDraftInProgress()" class="view-or-create-options">
    <ng-container *ngIf="isDraftComplete()">
      <div>
        <h3>Preview draft</h3>
        <p>
          Go to <a routerLink="/projects/{{ activatedProject.projectId }}/draft-preview">draft viewer</a> to preview and
          apply the generated draft to chapters of your choice.
        </p>
        <a mat-flat-button color="primary" routerLink="/projects/{{ activatedProject.projectId }}/draft-preview">
          Preview draft
        </a>
      </div>

      <mat-divider inset vertical></mat-divider>
    </ng-container>

    <div *ngIf="!isDraftInProgress()">
      <h3>Generate new draft</h3>
      <p>
        Click <em>"Generate draft"</em> to start the process of generating a back translation draft. This will take at
        least a few hours.
      </p>

      <button *ngIf="!isDraftInProgress()" mat-flat-button color="primary" (click)="generateDraft()">
        Generate draft
      </button>
    </div>
  </section>

  <section *ngIf="isDraftQueued()">
    <h3>Draft queued</h3>
    <p>The back translation draft has been queued. Please check back later.</p>
    <button *ngIf="canCancel()" mat-flat-button color="primary" (click)="cancel()">Cancel generation</button>
  </section>

  <section *ngIf="isDraftActive()">
    <h3>Draft in progress</h3>
    <p>Generating draft; this can take a few hours.</p>
    <app-working-animated-indicator></app-working-animated-indicator>
    <button *ngIf="canCancel()" mat-flat-button color="primary" (click)="cancel()">Cancel generation</button>
  </section>

  <mat-card-footer>
    <mat-progress-bar
      *ngIf="isDraftInProgress()"
      [mode]="isDraftQueued() ? 'indeterminate' : 'determinate'"
      [value]="draftJob?.percentCompleted ?? 0"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
