app-working-animated-indicator {
  display: block;
  margin: 10px 0;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

em {
  font-weight: 500;
}

.view-or-create-options {
  display: grid;
  grid-template-columns: minmax(0, 500px) 1px minmax(0, 500px);
  gap: 60px;

  mat-divider {
    position: relative;
    margin: 0;

    &::after {
      content: attr(data-text);
      position: absolute;
      top: 30%;
      left: -26px;
      background: #fff;
      padding: 10px;
      font-size: 24px;
      font-weight: 500;
      font-style: italic;
      text-transform: uppercase;
    }
  }
}

a[mat-flat-button],
button {
  margin-top: 8px;
}

section {
  padding: 10px 0;
}

mat-card-footer {
  margin-top: 10px;
}
