@use '@angular/material' as mat;
@use 'src/variables' as *;

@mixin color($theme) {
  $is-dark: mat.get-theme-type($theme) == dark;
  --sf-single-audio-button-background: #{mat.get-theme-color($theme, neutral, if($is-dark, 20, 100))};
  --sf-single-audio-button-progress-track: #{mat.get-theme-color($theme, neutral, if($is-dark, 30, 94))};
  --sf-single-audio-button-icon: #{if($is-dark, mat.get-theme-color($theme, neutral, 70), $greyLight)};
  --sf-single-audio-button-progress-played-primary: #{mat.get-theme-color($theme, primary, if($is-dark, 70, 60))};
  --sf-single-audio-button-progress-played-secondary: #{mat.get-theme-color($theme, neutral, if($is-dark, 70, 0))};
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
