<button
  type="button"
  [style.--audio-progress]="progressInDegrees"
  [ngClass]="{
    primary: theme === 'primary',
    secondary: theme !== 'primary'
  }"
  *transloco="let t; read: 'checking_audio_player'"
>
  @if (isAudioAvailable$ | async) {
    <ng-content></ng-content>
  }
  @if (audioStatus === AudioStatus.Initializing) {
    <mat-spinner diameter="20" color="primary"></mat-spinner>
  }
  @if (!isAudioAvailable$.value && audioStatus !== AudioStatus.Initializing) {
    <mat-icon [matTooltip]="t(audioStatus)"> play_disabled </mat-icon>
  }
</button>
