.primary {
  --theme: var(--sf-single-audio-button-progress-played-primary);
}

.secondary {
  --theme: var(--sf-single-audio-button-progress-played-secondary);
}

:host button {
  padding: 0;
  display: flex;
  align-items: center;
  place-content: center;

  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  // Create a radial gradient and then remove the center of it with a conic gradient to create a circular progress bar
  // The transition between white and transparent happens over several percentage points to avoid aliasing
  background:
    radial-gradient(var(--sf-single-audio-button-background) 57%, transparent 61% 100%),
    conic-gradient(var(--theme) var(--audio-progress), var(--sf-single-audio-button-progress-track) 0);
}
:host button:hover {
  cursor: pointer;
}
:host button:focus-visible {
  outline: none;
}
mat-icon {
  color: var(--sf-single-audio-button-icon);
}
.ng-star-inserted {
  color: var(--theme);
}
