<h1>Configure draft sources</h1>

@if (!loading) {
  <mat-card class="draft-sources-stepper">
    <div class="step" [class.active]="step === 1">
      <div class="step-header" matRipple (click)="step = 1">
        <span class="step-title">Draft source</span>
        <span class="step-subtitle">{{ sourceSubtitle }}</span>
      </div>
      <div class="step-body">
        <p>Select the project you want the draft to be translated from.</p>
        @for (source of draftingSources; track $index) {
          <app-project-select
            [isDisabled]="loading"
            [projects]="projects"
            [resources]="resources"
            [value]="loading ? null : source?.paratextId"
            (valueChange)="sourceSelected(draftingSources, $index, $event)"
            [placeholder]="projectPlaceholder(source)"
          ></app-project-select>
        }
        <ng-container *ngTemplateOutlet="navigationButtons"></ng-container>
      </div>
    </div>

    <div class="step" [class.active]="step === 2">
      <div class="step-header" matRipple (click)="step = 2">
        <span class="step-title">Reference projects</span>
        <span class="step-subtitle">{{ referencesSubtitle }}</span>
      </div>
      <div class="step-body">
        <p>
          Select projects that should be used as the reference when training the language model. All of these projects
          should be in <strong>{{ sourceLanguageDisplayName }}</strong> just like the draft source.
        </p>

        @for (source of trainingSources; track $index) {
          <app-project-select
            [isDisabled]="loading"
            [projects]="projects"
            [resources]="resources"
            [value]="loading ? null : source?.paratextId"
            (valueChange)="sourceSelected(trainingSources, $index, $event)"
            [placeholder]="projectPlaceholder(source)"
          ></app-project-select>
        }

        @if (allowAddingATrainingSource) {
          <a href="#" (click)="trainingSources.push(undefined); $event.preventDefault()">
            + Add another reference project
          </a>
        }

        <ng-container *ngTemplateOutlet="navigationButtons"></ng-container>
      </div>
    </div>

    <div class="step" [class.active]="step === 3">
      <div class="step-header" matRipple (click)="step = 3">
        <span class="step-title">Target language data</span>
        <span class="step-subtitle">{{ targetSubtitle }}</span>
      </div>
      <div class="step-body">
        <p>
          The <strong>{{ currentProjectShortName }}</strong> project will always be used to train the language model.
          Select any additional projects that should be used as the target when training the language model. All of
          these projects should be in the target language (<strong>{{ targetLanguageDisplayName }}</strong
          >).
        </p>
        @for (source of trainingTargets; track $index) {
          <app-project-select
            [isDisabled]="true"
            [projects]="projects"
            [resources]="resources"
            [value]="loading ? null : source.paratextId"
            [placeholder]="projectPlaceholder(source)"
          ></app-project-select>
        }
        <ng-container *ngTemplateOutlet="navigationButtons"></ng-container>
      </div>
    </div>
  </mat-card>
}
<div class="overview">
  <ng-container *transloco="let t; read: 'confirm_draft_sources'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ t("training_language_model") }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="training-data">
        <div class="sources" (click)="step = 2" [class.active]="step === 2" matRipple>
          <h3>Reference</h3>
          @for (project of trainingSources; track $index) {
            @if (project == null) {
              <ng-container *ngTemplateOutlet="blankProject"></ng-container>
            } @else {
              <div class="project">
                <span class="project-name">{{ project.name }}</span>
                <span class="language-code">
                  {{ t("language_code") }} <strong>{{ project.writingSystem?.tag }}</strong>
                </span>
              </div>
            }
          }
        </div>
        <span class="arrow mirror-rtl"><mat-icon>arrow_right_alt</mat-icon></span>
        <div class="targets" (click)="step = 3" [class.active]="step === 3" matRipple>
          <h3>Translated project</h3>
          @for (project of trainingTargets; track $index) {
            <div class="project">
              <span class="project-name">{{ project.name }}</span>
              <span class="language-code">
                {{ t("language_code") }} <strong>{{ project.writingSystem?.tag }}</strong>
              </span>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title> Generate draft from language model </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="translation-data" (click)="step = 1" [class.active]="step === 1" matRipple>
          <h3>Source</h3>
          @for (project of draftingSources; track $index) {
            @if (project == null) {
              <ng-container *ngTemplateOutlet="blankProject"></ng-container>
            } @else {
              <div class="project">
                <span class="project-name">{{ project.name }}</span>
                <span class="language-code">
                  {{ t("language_code") }} <strong>{{ project.writingSystem?.tag }}</strong>
                </span>
              </div>
            }
          }
        </div>
      </mat-card-content>
    </mat-card>

    <app-notice mode="outline">
      <strong>{{ t("incorrect_language_codes_reduce_quality") }}</strong>
      <p>{{ t("how_to_change_language_codes") }}</p>
      <mat-checkbox [checked]="languageCodesConfirmed" (change)="confirmationChanged($event)">{{
        t("confirm_lang_codes_correct")
      }}</mat-checkbox>
    </app-notice>
  </ng-container>

  <div class="page-actions">
    <button mat-button (click)="cancel()"><mat-icon>close</mat-icon> Cancel</button>
    <button mat-flat-button color="primary" (click)="save()"><mat-icon>check</mat-icon> Save & sync</button>
  </div>

  <!-- Temporary save indicator -->
  @if (getControlState("projectSettings") != null) {
    <div style="border: 2px dashed grey; padding: 1em">
      Save state: <code>{{ getControlState("projectSettings") }}</code>
    </div>
  }

  <ng-template #blankProject>
    <div class="project blank-project">
      <span class="project-name"></span>
      <span class="language-code"></span>
    </div>
  </ng-template>

  <ng-template #navigationButtons>
    <div class="step-button-wrapper">
      @if (step !== 1) {
        <button mat-button (click)="step = step - 1"><mat-icon>navigate_before</mat-icon> Back</button>
      }
      <span class="spacer"></span>
      @if (step !== 3) {
        <button mat-flat-button color="primary" (click)="step = step + 1">
          Next <mat-icon iconPositionEnd>navigate_next</mat-icon>
        </button>
      }
    </div>
  </ng-template>
</div>
