<h1>Configure draft sources</h1>

<mat-card class="draft-sources-stepper">
  <!-- This if statement exists because the app-project-select cannot handle having the value set *before* projects
   and resources are loaded. Once that component has that limitation addressed, it can be removed, and the page will be
   closer to being fully loaded before projects and resources have been fully loaded -->
  @if (!loading) {
    <div class="step" [class.active]="step === 1">
      <div class="step-header" matRipple (click)="goToStep(1)">
        <span class="step-title">Draft source</span>
        <span class="step-subtitle">{{ sourceSubtitle }}</span>
      </div>
      <div class="step-body">
        <p>Select the project you want the draft to be translated from.</p>
        @for (source of draftingSources; track $index) {
          <app-project-select
            [isDisabled]="loading"
            [projects]="projects"
            [resources]="resources"
            [value]="loading ? null : source?.paratextId"
            (valueChange)="sourceSelected(draftingSources, $index, $event)"
            [placeholder]="projectPlaceholder(source)"
          ></app-project-select>
        }
        <ng-container *ngTemplateOutlet="navigationButtons"></ng-container>
      </div>
    </div>

    <div class="step" [class.active]="step === 2">
      <div class="step-header" matRipple (click)="goToStep(2)">
        <span class="step-title">Reference projects</span>
        <span class="step-subtitle">{{ referencesSubtitle }}</span>
      </div>
      <div class="step-body">
        <p>
          Select projects that should be used as the reference when training the language model.
          @if (sourceLanguageDisplayName) {
            All of these projects should be in <strong>{{ sourceLanguageDisplayName }}</strong> just like the draft
            source.
          } @else {
            All of these projects should be in same language as the draft source.
          }
        </p>

        @for (source of trainingSources; track $index) {
          <app-project-select
            [isDisabled]="loading"
            [projects]="projects"
            [resources]="resources"
            [value]="loading ? null : source?.paratextId"
            (valueChange)="sourceSelected(trainingSources, $index, $event)"
            [placeholder]="projectPlaceholder(source)"
          ></app-project-select>
        }

        @if (allowAddingATrainingSource) {
          <button
            mat-button
            (click)="trainingSources.push(undefined); $event.preventDefault()"
            class="add-another-project"
          >
            <mat-icon>add</mat-icon> Add another reference project
          </button>
        }

        <ng-container *ngTemplateOutlet="navigationButtons"></ng-container>
      </div>
    </div>

    <div class="step" [class.active]="step === 3">
      <div class="step-header" matRipple (click)="goToStep(3)">
        <span class="step-title">Target language data</span>
        <span class="step-subtitle">{{ targetSubtitle }}</span>
      </div>
      <div class="step-body">
        <p>
          The <strong>{{ currentProjectShortName }}</strong> project will always be used to train the language model.
          Select any additional projects that should be used as the target when training the language model. All of
          these projects should be in the target language (<strong>{{ targetLanguageDisplayName }}</strong
          >).
        </p>
        @for (source of trainingTargets; track $index) {
          <app-project-select
            [isDisabled]="true"
            [projects]="projects"
            [resources]="resources"
            [value]="loading ? null : source.paratextId"
            [placeholder]="projectPlaceholder(source)"
          ></app-project-select>
        }
        <ng-container *ngTemplateOutlet="navigationButtons"></ng-container>
      </div>
    </div>
  }
</mat-card>

<div class="overview">
  <ng-container *transloco="let t; read: 'confirm_draft_sources'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ t("training_language_model") }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="training-data">
        <div class="sources" (click)="goToStep(2)" [class.active]="step === 2" matRipple>
          <h3>Reference {{ parentheses(referenceLanguageDisplayName) }}</h3>
          @for (project of trainingSources; track $index) {
            @if (project == null) {
              <ng-container *ngTemplateOutlet="blankProject"></ng-container>
            } @else {
              <div class="project">
                <span class="project-name">{{ project.name }}</span>
                <span class="language-code">
                  {{ t("language_code") }} <strong>{{ project.languageTag }}</strong>
                </span>
              </div>
            }
          }
        </div>
        <span class="arrow mirror-rtl"><mat-icon>arrow_right_alt</mat-icon></span>
        <div class="targets" (click)="goToStep(3)" [class.active]="step === 3" matRipple>
          <h3>Translated project {{ parentheses(targetLanguageDisplayName) }}</h3>
          @for (project of trainingTargets; track $index) {
            <div class="project">
              <span class="project-name">{{ project.name }}</span>
              <span class="language-code">
                {{ t("language_code") }} <strong>{{ project.writingSystem?.tag }}</strong>
              </span>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title> Generate draft from language model </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="translation-data" (click)="goToStep(1)" [class.active]="step === 1" matRipple>
          <h3>Source {{ parentheses(sourceLanguageDisplayName) }}</h3>
          @for (project of draftingSources; track $index) {
            @if (project == null) {
              <ng-container *ngTemplateOutlet="blankProject"></ng-container>
            } @else {
              <div class="project">
                <span class="project-name">{{ project.name }}</span>
                <span class="language-code">
                  {{ t("language_code") }} <strong>{{ project.languageTag }}</strong>
                </span>
              </div>
            }
          }
        </div>
      </mat-card-content>
    </mat-card>

    @if (sourceSideLanguageCodes.length > 1) {
      <app-notice mode="fill-dark" type="warning">
        <h3>All source and reference projects should be in the same language</h3>
        <p>
          Source and reference projects currently have the following language codes:
          {{ i18n.enumerateList(sourceSideLanguageCodes) }}. Using incorrect language codes, or using source or
          reference projects that are not all in the same language, may significantly reduce the draft quality.
        </p>
        <p>{{ t("how_to_change_language_codes") }}</p>
        <mat-checkbox [checked]="languageCodesConfirmed" (change)="confirmationChanged($event)">
          I understand the problem and want to save these settings anyway
        </mat-checkbox>
      </app-notice>
    }

    @if (showSourceAndTargetLanguagesIdenticalWarning) {
      <app-notice mode="fill-dark" type="warning">
        <h3>
          Source and target languages are both {{ i18n.getLanguageDisplayName(trainingTargets[0].writingSystem.tag) }}
        </h3>
        <p>
          The source and target projects all have the
          <strong>{{ trainingTargets[0].writingSystem.tag }}</strong> language code. If you are translating into a
          dialect or related language that does not have a separate ISO code, these settings may be correct. For all
          other projects, having the source and target projects set to the same language may significantly reduce the
          draft quality.
        </p>
        <p>{{ t("how_to_change_language_codes") }}</p>
        <mat-checkbox [checked]="languageCodesConfirmed" (change)="confirmationChanged($event)">
          I understand the problem and want to save these settings anyway
        </mat-checkbox>
      </app-notice>
    }

    @if (sourceSideLanguageCodes.length === 1 && !showSourceAndTargetLanguagesIdenticalWarning) {
      <app-notice mode="fill-dark">
        <h3>{{ t("incorrect_language_codes_reduce_quality") }}</h3>
        <p>Please make sure all the language codes are correct before saving.</p>
        <p>{{ t("how_to_change_language_codes") }}</p>
        <mat-checkbox [checked]="languageCodesConfirmed" (change)="confirmationChanged($event)">{{
          t("confirm_lang_codes_correct")
        }}</mat-checkbox>
      </app-notice>
    }
  </ng-container>

  <div class="page-actions">
    <button mat-button (click)="cancel()"><mat-icon>close</mat-icon> Cancel</button>
    <button mat-flat-button color="primary" (click)="save()"><mat-icon>check</mat-icon> Save & sync</button>
  </div>

  <!-- Temporary save indicator -->
  @if (getControlState("projectSettings") != null) {
    <div style="border: 2px dashed grey; padding: 1em">
      Save state: <code>{{ getControlState("projectSettings") }}</code>
    </div>
  }

  <ng-template #blankProject>
    <div class="project blank-project">
      <span class="project-name"></span>
      <span class="language-code"></span>
    </div>
  </ng-template>

  <ng-template #navigationButtons>
    <div class="step-button-wrapper">
      @if (step !== 1) {
        <button mat-stroked-button (click)="goToStep(step - 1)">
          <mat-icon>chevron_{{ i18n.backwardDirectionWord }}</mat-icon> Back
        </button>
      }
      <span class="spacer"></span>
      @if (step !== 3) {
        <button mat-flat-button color="primary" (click)="goToStep(step + 1)">
          Next <mat-icon iconPositionEnd>chevron_{{ i18n.forwardDirectionWord }}</mat-icon>
        </button>
      }
    </div>
  </ng-template>
</div>
