:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

mat-progress-bar {
  position: absolute;
  z-index: 2;
}

app-history-chooser {
  padding: 0.5em;
  border-bottom: 1px solid var(--sf-border-color);
  position: sticky;
  top: 0;
  background: var(--sf-tab-toolbar-background-color);
  z-index: 1;
}

app-text {
  overflow-y: auto;
}

app-notice {
  margin: 1em;
}

.empty {
  display: none;
}
