:host {
  display: flex;
  flex-direction: column;
}

mat-progress-bar {
  position: absolute;
}

app-history-chooser {
  padding: 0.5em;
  border-bottom: 1px solid var(--sf-tab-group-border-color);
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}

app-notice {
  margin: 1em;
}
