<h1>Draft preview and apply</h1>
<p>Select <em>"Apply to project"</em> for each chapter that you want to overwrite with the draft text.</p>
<p>Select <em>"Edit"</em> to go to the editor page for this chapter.</p>

<div class="draft-viewer-body">
  <div class="controls">
    <mat-card>
      <app-book-chapter-chooser
        [books]="books"
        [book]="currentBook"
        (bookChange)="navigateBookChapter($event, currentChapter!)"
        [chapters]="chapters"
        [chapter]="currentChapter"
        (chapterChange)="navigateBookChapter(currentBook!, $event)"
      ></app-book-chapter-chooser>

      <div class="draft-buttons">
        <button mat-button (click)="editChapter()">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </div>
    </mat-card>
  </div>

  <ng-container *ngIf="sourceTextDocId && targetTextDocId">
    <div class="source">
      <h2>{{ sourceProject?.shortName }}</h2>
      <app-text
        #sourceText
        [isReadOnly]="true"
        [subscribeToUpdates]="false"
        [placeholder]="'Loading..'"
        [isRightToLeft]="!!sourceProject?.isRightToLeft"
        [id]="sourceTextDocId"
      ></app-text>
    </div>

    <div class="draft">
      <h2>
        {{ targetProject?.shortName }}
        <span *ngIf="hasDraft" class="draft-indicator" [ngClass]="{ applied: isDraftApplied }">
          Draft {{ isDraftApplied ? " applied" : "" }}
          <mat-icon class="check-icon">check</mat-icon>
        </span>
        <div *ngIf="!isDraftApplied && hasDraft" class="apply-draft-button-container">
          <button mat-flat-button color="primary" (click)="applyDraft()">
            <mat-icon>auto_awesome</mat-icon>
            Apply to project
          </button>
        </div>
      </h2>
      <app-text
        [ngClass]="{ applied: isDraftApplied }"
        #targetText
        [isReadOnly]="true"
        [subscribeToUpdates]="false"
        [placeholder]="'Loading..'"
        [isRightToLeft]="!!targetProject?.isRightToLeft"
        [id]="targetTextDocId"
      ></app-text>
    </div>
  </ng-container>
</div>
