<ng-container *transloco="let t; read: 'text_chooser_dialog'">
  <div class="dialog-container">
    <h1 mat-dialog-title>{{ t("select_scripture") }}</h1>
    <mat-dialog-content>
      <div class="select-chapter" (click)="openScriptureChooser()">
        <mat-icon>library_books</mat-icon>
        <h2>{{ bookName }} {{ chapterNum }}</h2>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <app-text
        #scriptureText
        [id]="textDocId"
        [multiSegmentSelection]="true"
        [isRightToLeft]="isTextRightToLeft"
      ></app-text>
      <p class="selection-preview">
        {{ (startClipped ? "…" : "") + (selectedText || "") + (endClipped ? "…" : "") }}
        <span class="selection-reference">{{ referenceForDisplay }}</span>
      </p>
      <span class="error-message" *ngIf="showError">{{ t("select_text_error_message") }}</span>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button type="button" id="cancel-button" [mat-dialog-close]="'close'">{{ t("cancel") }}</button>
      <button mat-flat-button color="primary" type="submit" cdkFocusInitial (click)="submit()">
        {{ t("save") }}
      </button>
    </mat-dialog-actions>
  </div>
</ng-container>
