@use 'src/variables';

.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
}

.dialog-container {
  max-width: 560px;
}

.select-chapter {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 0.5em 0 0.5em 0;
  font-size: 0.9em;

  h2 {
    display: inline;
    margin: 0 0 0 0.3em;
  }
}

app-text {
  display: block;
  overflow-y: scroll;
  max-height: calc(100vh - 25rem);
}

.selection-reference {
  font-style: italic;
}

.selection-preview {
  font-family: var(--project-font);
  height: 16em;
  overflow-y: scroll;
  margin-top: 1em;
  > p {
    margin-bottom: 0;
  }
}

.error-message {
  color: var(--sf-error-color);
  font-size: 0.85em;
}

:host ::ng-deep app-text quill-editor > .ql-container > .ql-editor {
  padding: 0 1em 1em;
  min-height: 300px;
}
