@use 'src/variables';
@use '../checking-global-vars' as checking-vars;
@use 'src/breakpoints';

:host ::ng-deep .mat-mdc-tab {
  padding-inline: 16px;
}

.answers-component {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.answers-component-scrollable-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline: 4px;
}

.answer-question {
  .question-footer {
    margin-inline-start: 30px;
  }
}

#answer-form {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  .attach-icon {
    rotate: 45deg;
  }
  .bottom-row {
    display: flex;
    justify-content: space-between;
  }
  .attachments {
    display: flex;
    flex-direction: row;
    .clear,
    .answer-scripture-clear {
      padding: 6px;
    }
  }
  .large-form-action-buttons {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}

.answers-container {
  .answer {
    display: flex;
    border-top: 1px solid checking-vars.$borderColor;
    padding-top: 10px;
    &:not(:last-child) {
      padding-bottom: 10px;
    }

    &.attention {
      animation-name: attention;
      animation-duration: 10s;
      animation-fill-mode: forwards;

      @keyframes attention {
        from {
          background: checking-vars.$attention;
        }
        to {
          background: #fff;
        }
      }
    }

    .like {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 70px;
      @include breakpoints.media-breakpoint-down(sm) {
        flex: 0 0 35px;
      }
      mat-icon {
        @include breakpoints.media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
    }
    .liked {
      color: checking-vars.$likes;
    }
    .answer-detail {
      flex: 1;
      padding-right: 15px;
      .actions {
        display: flex;
        flex: 1;
        align-items: flex-end;

        button {
          &.answer-status {
            &.status-exportable {
              background: checking-vars.$answerExportable;
              color: #fff;
            }

            &.status-resolved {
              background: checking-vars.$answerResolved;
              color: #fff;
            }
          }
          &.answer-delete {
            color: variables.$errorColor;
          }
        }
        .delete-divider {
          padding: 0 20px;
          display: none;
        }
        button + .delete-divider {
          display: inline;
          @include breakpoints.media-breakpoint-down(sm) {
            transform: rotate(90deg);
          }
        }
      }

      app-checking-audio-player {
        display: block;
        margin-top: 4px;
      }

      .answer-scripture {
        display: block;
        font-size: 0.9em;
        padding: 6px;
        margin-top: 4px;
      }

      .answer-footer {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        border-bottom: 1px solid checking-vars.$borderColor;
        padding: 10px 0;

        .bottom-row {
          display: flex;
          justify-content: space-between;

          button {
            height: 40px;
          }
        }
      }
    }
  }
}

.answer-scripture,
.scripture-text {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  padding-inline-start: 6px;
  border-radius: 4px;
}

.answer-scripture-text {
  padding-block: 6px;
}

.answer-scripture-clear,
.clear {
  width: 36px;
  height: 36px;
  line-height: 24px;
}

.answer-scripture-verse {
  font-size: 0.75em;
  font-style: italic;
  padding-inline: 6px;
}

.answers-component-footer {
  button {
    display: block;
  }
}

.short-button {
  line-height: unset;
  min-height: 20px;
  height: auto;
}
