@import '../checking-global';

.answer-question {
  padding-left: 15px;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background-color: transparent;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
  }
  &.question-unread {
    &:before {
      background-color: $questionUnread;
    }
  }
  &.question-answered {
    &:before {
      background-color: $questionAnswered;
    }
  }
  .question {
    > * {
      margin-bottom: 10px;
    }
    .question-text {
      font-weight: bold;
    }
    .question-footer {
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
      }
      .actions {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: flex-end;
        button {
          height: auto;
        }
      }
    }
  }
}
#answer-form {
  .answer-tab {
    min-height: 100px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    &.answer-record-upload {
      app-checking-audio-combined {
        flex: 1;
      }
    }
    &.answer-select-text {
      align-items: flex-start;
      .scripture-start {
        margin-right: 15px;
      }
      @include media-breakpoint-up(lg) {
        .scripture-start,
        .scripture-end {
          max-width: 175px;
        }
      }
      mdc-text-field {
        mdc-icon {
          background: #fff;
        }
      }
      .scripture-text {
        margin-left: 15px;
      }
    }
  }
  mdc-form-field {
    width: 100%;
    mdc-text-field {
      width: 100%;
    }
  }
  .form-helper-text {
    color: var(--mdc-theme-error);
    font-size: 0.75em;
    padding-left: 15px;
    font-weight: 400;
    letter-spacing: 0.03333333em;
  }
  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
}
.answers-container {
  .answer {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid $borderColor;

    &.answer-unread {
      animation-name: answer-unread;
      animation-duration: 10s;
      animation-fill-mode: forwards;

      @keyframes answer-unread {
        from {
          background: $answerUnread;
        }
        to {
          background: #fff;
        }
      }
    }

    .like {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 70px;
      @include media-breakpoint-down(sm) {
        flex: 0 0 35px;
      }
      mdc-icon {
        cursor: pointer;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
    }
    .liked {
      color: var(--mdc-theme-secondary);
    }
    .answer-detail {
      flex: 1;
      padding-right: 15px;
      .actions {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        button {
          height: auto;
        }
      }

      .answer-text {
        & + .answer-scripture,
        & + app-checking-audio-player {
          margin-top: 10px;
        }
      }
      .answer-scripture {
        color: var(--mdc-theme-secondary);
        & + app-checking-audio-player {
          margin-top: 10px;
        }
        .answer-scripture-verse {
          font-size: 0.8em;
          padding-left: 5px;
          display: inline-block;
          font-style: italic;
        }
      }

      app-checking-audio-player {
        display: block;
      }

      .answer-footer {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $borderColor;
        padding: 10px 0;
        @include media-breakpoint-down(sm) {
          flex-direction: column-reverse;
        }
      }
    }
  }
}
