<ng-container *transloco="let t; read: 'checking_answers'">
  <div class="answers-component">
    <div class="answers-component-scrollable-content">
      <div class="answer-question">
        <app-checking-question [questionDoc]="questionDoc" (audioPlayed)="playAudio()"> </app-checking-question>
        @if (canEditQuestion) {
          <div class="question-footer">
            <div class="actions">
              @if (questionDoc?.data?.audioUrl == null) {
                <button
                  mat-icon-button
                  type="button"
                  (click)="recordDialog()"
                  class="record-question-button"
                  [matTooltip]="t('record_question')"
                >
                  <mat-icon>mic</mat-icon>
                </button>
              }
              <button
                mat-icon-button
                type="button"
                (click)="questionDialog()"
                class="edit-question-button"
                [matTooltip]="t('edit')"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                (click)="archiveQuestion()"
                class="archive-question-button"
                [matTooltip]="t('archive')"
              >
                <mat-icon>archive</mat-icon>
              </button>
            </div>
          </div>
        }
      </div>
      @if (!answerFormVisible) {
        <div class="actions">
          @if (currentUserTotalAnswers === 0 && canAddAnswer) {
            <button mat-flat-button color="tertiary" (click)="showAnswerForm()" id="add-answer">
              {{ t("add_answer") }}
            </button>
          }
        </div>
      } @else {
        <div id="answer-form">
          <app-checking-input-form
            [textSelectionEnabled]="true"
            [checkingInput]="activeAnswer"
            [project]="project"
            [questionDoc]="questionDoc"
            [textsByBookId]="textsByBookId"
            [label]="'answer'"
            (cancel)="hideAnswerForm()"
            (save)="submit($event)"
          ></app-checking-input-form>
        </div>
      }
      @if (shouldShowAnswers) {
        <div class="answers-container">
          <h3 id="totalAnswersMessage">
            @if (shouldSeeAnswersList) {
              <div>
                {{ t("answers", { count: totalAnswers }) }}
              </div>
            } @else {
              <div>{{ t("your_answer") }}</div>
            }
          </h3>
          @for (answer of answers; track answer.dataId) {
            <div class="answer" [ngClass]="{ attention: answersHighlightStatus.get(answer.dataId) }">
              @if (canSeeOtherUserResponses) {
                <div class="like">
                  <button
                    mat-icon-button
                    class="like-answer"
                    (click)="likeAnswer(answer)"
                    [ngClass]="{ liked: hasUserLikedAnswer(answer) }"
                  >
                    <mat-icon>thumb_up</mat-icon>
                  </button>
                  <span class="like-count">{{ answer.likes.length }}</span>
                </div>
              }
              <div class="answer-detail">
                @if (answer.text) {
                  <div class="answer-text">{{ answer.text }}</div>
                }
                @if (answer.scriptureText) {
                  <div class="answer-scripture" dir="auto">
                    <span class="answer-scripture-text">{{
                      (answer.selectionStartClipped ? "…" : "") +
                        (answer.scriptureText || "") +
                        (answer.selectionEndClipped ? "…" : "")
                    }}</span>
                    <span class="answer-scripture-verse">{{ "(" + scriptureTextVerseRef(answer.verseRef) + ")" }}</span>
                  </div>
                }
                @if (answer.audioUrl) {
                  <app-checking-audio-player [source]="getFileSource(answer.audioUrl)"> </app-checking-audio-player>
                }
                <div class="answer-footer">
                  <div class="actions">
                    @if (canChangeAnswerStatus(answer)) {
                      <button
                        mat-button
                        type="button"
                        (click)="markAnswerForExport(answer)"
                        class="answer-status answer-export short-button"
                        [class.status-exportable]="isMarkedForExport(answer)"
                        [matTooltip]="t('tooltip_status_export')"
                        matTooltipPosition="above"
                      >
                        {{ t(isMarkedForExport(answer) ? "marked_for_export" : "mark_for_export") }}
                      </button>
                      <button
                        mat-button
                        type="button"
                        (click)="markAnswerAsResolved(answer)"
                        class="answer-status answer-resolve short-button"
                        [class.status-resolved]="isAnswerResolved(answer)"
                        [matTooltip]="t('tooltip_status_resolve')"
                        matTooltipPosition="above"
                      >
                        {{ t(isAnswerResolved(answer) ? "resolved" : "resolve") }}
                      </button>
                    }
                  </div>
                  <div class="bottom-row">
                    <div>
                      @if (canEditAnswer(answer)) {
                        <button
                          mat-icon-button
                          type="button"
                          (click)="editAnswer(answer)"
                          class="answer-edit"
                          [matTooltip]="t('edit')"
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                      }
                      @if (canDeleteAnswer(answer)) {
                        <button
                          mat-icon-button
                          type="button"
                          (click)="deleteAnswerClicked(answer)"
                          class="answer-delete"
                          [matTooltip]="t('delete')"
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                      }
                    </div>
                    <app-owner
                      [ownerRef]="answer.ownerRef"
                      [includeAvatar]="true"
                      [layoutStacked]="true"
                      [dateTime]="answer.dateCreated"
                    ></app-owner>
                  </div>
                </div>
                <app-checking-comments
                  id="answer-comments"
                  [project]="project"
                  [projectUserConfigDoc]="projectUserConfigDoc"
                  [questionDoc]="questionDoc"
                  (action)="submitCommentAction($event)"
                  [answer]="answer"
                ></app-checking-comments>
              </div>
            </div>
          }
        </div>
      }
    </div>
    @if (remoteAnswersCount > 0 && !answerFormVisible && shouldSeeAnswersList) {
      <div class="answers-component-footer">
        <button mat-button id="show-unread-answers-button" (click)="showRemoteAnswers(true)">
          {{ t("show_more_unread", { count: remoteAnswersCount }) }}
        </button>
      </div>
    }
  </div>
</ng-container>
