@import '../checking-global';

.answer-question {
  padding-left: 15px;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background-color: transparent;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
  }
  &.question-unread {
    &:before {
      background-color: $questionUnread;
    }
  }
  &.question-answered {
    &:before {
      background-color: $questionAnswered;
    }
  }
  .question {
    font-weight: bold;
    margin-bottom: 10px;
  }
}
#answer-form {
  app-checking-audio-recorder {
    margin-bottom: 19px;
  }
  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
}
.answers-container {
  .answer {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid $borderColor;

    &.answer-unread {
      animation-name: answer-unread;
      animation-duration: 10s;
      animation-fill-mode: forwards;

      @keyframes answer-unread {
        from {
          background: $answerUnread;
        }
        to {
          background: #fff;
        }
      }
    }

    .like {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 70px;
      @include media-breakpoint-down(sm) {
        flex: 0 0 35px;
      }
      mdc-icon {
        cursor: pointer;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
    }
    .answer-detail {
      flex: 1;
      padding-right: 15px;
      .actions {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        button {
          height: auto;
        }
      }

      .answer-text {
      }

      .answer-footer {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $borderColor;
        padding-bottom: 10px;
        @include media-breakpoint-down(sm) {
          flex-direction: column-reverse;
        }
      }
    }
  }
}
