@import '../checking-global-vars';
@import 'bootstrap/scss/mixins/breakpoints';

.answers-component {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.answers-component-scrollable-content {
  overflow-y: auto;
  flex-grow: 1;
}

.answer-question {
  padding-inline-start: 15px;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background-color: transparent;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
  }
  &.question-unread {
    &:before {
      background-color: $questionUnread;
    }
  }
  &.question-answered {
    &:before {
      background-color: $questionAnswered;
    }
  }
  .question {
    > * {
      margin-bottom: 10px;
    }
    .question-text {
      font-weight: bold;
    }
    .question-footer {
      .actions {
        display: flex;
        justify-content: flex-end;
        button {
          height: auto;
        }
      }
    }
  }
}
#answer-form {
  .answer-tab {
    padding: 10px 0;
    display: flex;
    align-items: center;
    &.answer-record-upload {
      app-checking-audio-combined {
        flex: 1;
      }
    }
    &.answer-select-text {
      color: var(--mdc-theme-primary);
      align-items: flex-start;
      .buttons-wrapper {
        display: flex;
        align-items: center;
      }
      .scripture-text-blank {
        font-style: italic;
      }
    }
  }
  mdc-form-field {
    width: 100%;
    mdc-text-field {
      width: 100%;
    }
  }
  .form-helper-text {
    color: var(--mdc-theme-error);
    font-size: 0.75em;
    padding-left: 15px;
    margin-bottom: 0.5em;
    font-weight: 400;
    letter-spacing: 0.03333333em;
    &:not(.visible) {
      visibility: hidden;
    }
  }
  .form-actions {
    display: flex;
    justify-content: flex-end;
    .mdc-button:not(:first-child) {
      margin-left: $button-spacing;
    }
  }
  @include media-breakpoint-down(lg) {
    mdc-tab {
      padding: 0 10px;
    }
  }
}

.answer-select-text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  &.text-selected {
    flex-direction: column;
  }
  .buttons-wrapper {
    align-self: flex-end;
    flex-shrink: 0;
  }
  .scripture-text-blank,
  .scripture-text {
    margin: 0;
  }
}

.answers-container {
  .answer {
    display: flex;
    border-top: 1px solid $borderColor;
    padding-top: 10px;
    &:not(:last-child) {
      padding-bottom: 10px;
    }

    &.attention {
      animation-name: attention;
      animation-duration: 10s;
      animation-fill-mode: forwards;

      @keyframes attention {
        from {
          background: $attention;
        }
        to {
          background: #fff;
        }
      }
    }

    .like {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 70px;
      @include media-breakpoint-down(sm) {
        flex: 0 0 35px;
      }
      mdc-icon {
        cursor: pointer;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
    }
    .liked {
      color: $likes;
    }
    .answer-detail {
      flex: 1;
      padding-right: 15px;
      .actions {
        display: flex;
        flex: 1;
        align-items: flex-end;

        button {
          height: auto;
          &.answer-status {
            &.status-exportable {
              background: $answerExportable;
              color: #fff;
            }

            &.status-resolved {
              background: $answerResolved;
              color: #fff;
            }
          }
          &.answer-delete {
            color: var(--mdc-theme-error);
          }
        }
        .delete-divider {
          padding: 0 20px;
          display: none;
        }
        button + .delete-divider {
          display: inline;
        }
      }

      .answer-text {
        & + .answer-scripture,
        & + app-checking-audio-player {
          margin-top: 10px;
        }
      }

      app-checking-audio-player {
        display: block;
      }

      .answer-footer {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $borderColor;
        padding: 10px 0;
        @include media-breakpoint-down(sm) {
          flex-direction: column-reverse;
        }
      }
    }
  }
}

.answer-scripture,
.scripture-text {
  color: $greenDark;
  background: rgba(0, 0, 0, 0.05);
  padding: 6px;
  border-radius: 4px;
  font-size: 0.9em;

  & + app-checking-audio-player {
    margin-top: 10px;
  }
}

.answer-scripture-verse {
  font-size: 0.8em;
  padding-inline-start: 5px;
  display: inline-block;
  font-style: italic;
}

.answers-component-footer {
  button {
    display: block;
  }
}
