<div
  class="answer-question"
  [ngClass]="{
    'question-read': hasUserRead,
    'question-unread': !hasUserRead,
    'question-answered': currentUserTotalAnswers
  }"
>
  <div class="question">{{ question.text }}</div>
  <div *ngIf="!answerFormVisible" class="actions">
    <button
      *ngIf="!currentUserTotalAnswers && !isAdministrator"
      mdc-button
      primary
      (click)="showAnswerForm()"
      id="add-answer"
    >
      Add Answer
    </button>
  </div>
</div>
<div *ngIf="answerFormVisible">
  <form [formGroup]="answerForm" (ngSubmit)="submit()" autocomplete="off" id="answer-form">
    <mdc-form-field fluid>
      <mdc-text-field
        label="Your Answer"
        type="text"
        formControlName="answerText"
        outlined
        [value]="activeAnswer?.text"
      ></mdc-text-field>
      <mdc-helper-text validation>You need to enter your answer before saving</mdc-helper-text>
    </mdc-form-field>
    <div class="form-actions">
      <button mdc-button (click)="hideAnswerForm()" id="cancel-answer">Cancel</button>
      <button mdc-button primary form="answer-form" id="save-answer">Save Answer</button>
    </div>
  </form>
</div>
<div class="answers-container">
  <ng-container *ngIf="!answerFormVisible && answers.length && (currentUserTotalAnswers || isAdministrator)">
    <h3>{{ totalAnswersHeading }}</h3>
    <div class="answer" *ngFor="let answer of answers" [ngClass]="{ 'answer-unread': !hasUserReadAnswer(answer) }">
      <div class="like">
        <mdc-icon id="like-answer" (click)="likeAnswer(answer)">thumb_up</mdc-icon
        ><span class="like-count">{{ answer.likes.length }}</span>
      </div>
      <div class="answer-detail">
        <div class="scripture-reference"></div>
        <div class="answer-text">{{ answer.text }}</div>
        <div class="audio-control"></div>
        <div class="answer-footer">
          <div class="actions">
            <button *ngIf="hasPermission(answer, 'edit')" mdc-button (click)="editAnswer(answer)" class="answer-edit">
              Edit
            </button>
            <button
              *ngIf="hasPermission(answer, 'delete')"
              mdc-button
              (click)="deleteAnswer(answer)"
              class="answer-delete"
            >
              Delete
            </button>
          </div>
          <app-checking-owner
            [ownerRef]="answer.ownerRef"
            [includeAvatar]="true"
            [layoutStacked]="true"
            [dateTime]="answer.dateCreated"
          ></app-checking-owner>
        </div>
        <app-checking-comments
          [projectCurrentUser]="projectCurrentUser"
          (action)="submitCommentAction($event)"
          [comments]="getComments(answer)"
          [answer]="answer"
        ></app-checking-comments>
      </div>
    </div>
  </ng-container>
</div>
