@use 'src/variables' as var;

.mat-mdc-dialog-actions {
  justify-content: flex-end;
}

.cannot-edit-message {
  color: var.$errorColor;
}

.target-project-content {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px 0;
}

.overwrite-content {
  inset-inline-start: -8px;
}
