@use 'src/variables';

.mat-mdc-dialog-actions {
  justify-content: flex-end;
}

.target-project-content {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 8px 0;
}

.unlisted-project-message {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: initial;
  cursor: initial;

  ::ng-deep u {
    cursor: pointer;
    &:hover {
      color: variables.$theme-secondary;
    }
  }
}

.overwrite-content,
.create-chapters {
  inset-inline-start: -8px;
}
