.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.mat-dialog-content {
  display: grid;
  width: 70vw;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 1em;

  > * {
    display: flex;
    column-gap: 0.5em;
  }
}

.code {
  font-family: monospace;
  color: #777;
}
