<mdc-list>
  <mdc-list-item
    (click)="activateQuestion(question)"
    *ngFor="let question of questions"
    [ngClass]="{
      'question-read': hasUserReadQuestion(question),
      'question-unread': !hasUserReadQuestion(question),
      'question-answered': hasUserAnswered(question),
      'question-has-answers': getUnreadAnswers(question)
    }"
    [activated]="activeQuestion && activeQuestion.id === question.id"
  >
    <div class="question-title">
      <mdc-icon *ngIf="question?.audioUrl">hearing</mdc-icon>
      <span class="question-text" *ngIf="question?.text">{{ question.text }}</span>
    </div>
    <a class="view-answers" mdcListItemMeta title="View Answers">
      <i mdcIcon>forum</i> <span>{{ getUnreadAnswers(question) }}</span>
    </a>
  </mdc-list-item>
</mdc-list>
