@use '../checking-global-vars' as vars;

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
}

mat-icon {
  flex-shrink: 0; // Text should shrink, not icons
}

.mat-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  .mat-list-item {
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    overflow: hidden;

    // Separator between questions.
    // Use inset box-shadow instead of border to avoid border showing under the 'answered question' marker.
    // This color flattened would be #eceff1, but using alpha channel allows the background color to show through,
    // which improves the separator look for 'selected' and 'read' backgrounds.
    box-shadow: inset 0 -1px 0 0 #64798f1f;

    ::ng-deep {
      .mat-list-item-content {
        justify-content: space-between; // Between question text and 'has answers' icon
        gap: 5px;
      }
    }

    .question-title {
      display: flex;
      align-items: center;
      overflow: hidden;
      gap: 5px;

      &:before {
        position: absolute;
        content: '';
        background-color: transparent;
        inset-inline-start: 0;
        top: 0;
        height: 100%;
        width: 5px;
      }
    }

    .question-text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.question-read {
      background-color: vars.$questionReadBGColor;
      color: vars.$questionReadTextColor;

      .question-text {
        font-weight: normal;
      }
    }

    &.question-unread {
      .question-text {
        font-weight: bold;
      }
    }

    &.question-answered {
      .question-title {
        &:before {
          background-color: vars.$questionAnswered;
        }
      }
    }

    &.selected {
      background-color: vars.$questionSelectedColor;
      color: #fff;

      .view-answers {
        mat-icon {
          color: #fff;
        }
      }
    }

    .view-answers {
      display: flex;
      align-items: center;
      transform: scale(0);
      transition: 0.25s;
      position: relative;
      top: 4px; // Give some space for answer count badge
      color: vars.$text-hint-on-background;
    }

    &.question-has-answers {
      .view-answers {
        transform: scale(1);
      }
    }

    &:hover {
      background-color: #f5f5f5;

      &.selected {
        background-color: lighten(vars.$questionSelectedColor, 10%);
      }
    }
  }
}

.no-questions-found {
  font-size: 14px;
  padding: 0 16px;
}

.loading-text {
  font-style: italic;
  color: vars.$questionsLoadingTextColor;
}
