<mdc-list>
  <mdc-list-item
    *ngFor="let questionDoc of questionDocs"
    (click)="activateQuestion(questionDoc)"
    [ngClass]="{
      'question-read': hasUserReadQuestion(questionDoc),
      'question-unread': !hasUserReadQuestion(questionDoc),
      'question-answered': hasUserAnswered(questionDoc),
      'question-has-answers': getUnreadAnswers(questionDoc)
    }"
    [activated]="activeQuestionDoc?.id === questionDoc.id"
  >
    <div class="question-title">
      <mdc-icon *ngIf="questionDoc.data?.audioUrl">headset</mdc-icon>
      <span class="question-text" *ngIf="questionDoc.data?.text">{{ questionDoc.data?.text }}</span>
    </div>
    <a class="view-answers" mdcListItemMeta title="{{ 'checking.view_questions' | transloco }}">
      <i mdcIcon>forum</i> <span>{{ getUnreadAnswers(questionDoc) }}</span>
    </a>
  </mdc-list-item>
</mdc-list>
