@use '../checking-global-vars' as vars;

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
}

mat-icon {
  flex-shrink: 0; // Text should shrink, not icons
}

.question-item {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 0.6em 0 0.3em;
  font-size: 15px;
  width: 100%;

  &:before {
    position: absolute;
    content: '';
    background-color: transparent;
    inset-inline-start: 0;
    top: 0;
    height: 100%;
    width: 5px;
  }
}

.question-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.question-meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
  height: 24px;
}

.question-verse {
  font-style: italic;
}

.mat-mdc-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  .mat-mdc-list-item {
    cursor: pointer;
    height: auto;

    // Separator between questions.
    // Use inset box-shadow instead of border to avoid border showing under the 'answered question' marker.
    // This color flattened would be #eceff1, but using alpha channel allows the background color to show through,
    // which improves the separator look for 'selected' and 'read' backgrounds.
    box-shadow: inset 0 -1px 0 0 #64798f1f;

    &.question-read {
      background-color: vars.$questionReadBGColor;
      color: vars.$questionReadTextColor;

      .question-text {
        font-weight: normal;
      }
    }

    &.question-unread {
      .question-item {
        font-weight: bold;
      }

      // Don't bold the selected verse, as the inverted colors with the small font makes it hard to see
      &.selected {
        .question-verse {
          font-weight: 400;
        }
      }
    }

    &.question-answered {
      .question-item {
        &:before {
          background-color: vars.$questionAnswered;
        }
      }
    }

    &.selected {
      background-color: var(--sf-list-selected-background-color);
      color: #fff;

      ::ng-deep .mdc-list-item__primary-text {
        color: unset;
      }

      .view-answers {
        mat-icon {
          color: #fff;
        }
      }
    }

    .view-answers {
      display: flex;
      align-items: center;
      transform: scale(0);
      transition: 0.25s;
      position: relative;
      top: 4px; // Give some space for answer count badge
    }

    &.question-has-answers {
      .view-answers {
        transform: scale(1);
      }
    }

    &:hover {
      background-color: var(--sf-list-hover-background-color);

      &.selected {
        background-color: var(--sf-list-selected-background-color);
        opacity: 0.9;
      }
    }
  }
}

.no-questions-found {
  font-size: 14px;
  padding: 0 16px;
}

.loading-text {
  font-style: italic;
  color: vars.$questionsLoadingTextColor;
}
