<ng-container *transloco="let t; read: 'project_select'">
  <mat-form-field>
    <input
      type="text"
      matInput
      [placeholder]="placeholder"
      [formControl]="paratextIdControl"
      [matAutocomplete]="auto"
      (click)="inputClicked()"
      [errorStateMatcher]="matcher"
    />
    <mat-error id="invalidSelection">{{ invalidMessage }}</mat-error>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="projectLabel"
      (opened)="autocompleteOpened()"
      class="project-select"
    >
      @if (nullableLength(projects$ | async) > 0) {
        <mat-optgroup [label]="t('projects')">
          @for (project of projects$ | async; track project) {
            <mat-option [value]="project">{{ projectLabel(project) }}</mat-option>
          }
        </mat-optgroup>
      }
      @if (nullableLength(resources$ | async) > 0) {
        <mat-optgroup [label]="t('resources')">
          @for (resource of resources$ | async; track resource) {
            <mat-option [value]="resource">{{ projectLabel(resource) }}</mat-option>
          }
        </mat-optgroup>
      }
    </mat-autocomplete>
  </mat-form-field>
</ng-container>
