<ng-container *transloco="let t; read: 'project_select'">
  <mat-form-field>
    <input
      type="text"
      matInput
      [placeholder]="placeholder"
      [formControl]="paratextIdControl"
      [matAutocomplete]="auto"
      (click)="inputClicked()"
      [errorStateMatcher]="matcher"
    />
    <mat-error id="invalidSelection">{{ t("please_select_valid_project_or_resource") }}</mat-error>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="projectLabel"
      (opened)="autocompleteOpened()"
      class="project-select"
    >
      <mat-optgroup label="{{ t('projects') }}" *ngIf="nullableLength(projects$ | async) > 0">
        <mat-option
          *ngFor="let project of projects$ | async"
          [value]="project"
          [disabled]="project.canSynchronize === false"
        >
          {{ projectLabel(project) }}
          <ng-container *ngIf="project.canSynchronize === false">&nbsp;***</ng-container>
        </mat-option>
      </mat-optgroup>
      <mat-optgroup label="{{ t('resources') }}" *ngIf="nullableLength(resources$ | async) > 0">
        <mat-option *ngFor="let resource of resources$ | async" [value]="resource">{{
          projectLabel(resource)
        }}</mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</ng-container>
