@use '../lynx-insights' as insights;

// These are approximations
$scrollButtonHeight: 16px;
$trackWidth: 18px; // Width of the scrollbar track

:host {
  position: absolute;
  z-index: 1;
  top: $scrollButtonHeight;
  bottom: $scrollButtonHeight;
  inset-inline-end: 0;
  width: $trackWidth;
  box-sizing: border-box;
  pointer-events: none; // Let clicks through to scrollbar
}

.indicator {
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: blue;
  top: var(--scroll-position-percent);
  border-radius: 4px;
}

.info {
  background-color: insights.insight-color('info');
  z-index: 1;
}

.warning {
  background-color: insights.insight-color('warning');
  z-index: 2;
}

.error {
  background-color: insights.insight-color('error');
  z-index: 3;
}
