<ng-container *transloco="let t; read: 'draft_apply_progress'">
  <mat-card class="progress-card">
    <mat-card-content class="progress-card-content">
      @if (draftApplyProgress?.completed === false) {
        <div class="progress-container">
          <mat-progress-bar mode="determinate" color="accent" [value]="progress"></mat-progress-bar>
          <p>{{ t("add_draft_to_book", { bookName }) }}</p>
        </div>
      } @else {
        <div class="result-container">
          @if (failedToApplyChapters != null && failedToApplyChapters.length > 0) {
            <div class="error-result">
              <mat-icon>warning</mat-icon>
              <div class="failed-message">
                <span>{{ t("some_chapters_not_applied", { bookName }) }}</span>
                <span>{{ t("failed_to_apply_chapters") }}</span>
                <span class="failed-chapters">{{ failedToApplyChapters }}</span>
              </div>
            </div>
          } @else {
            <div class="success-result">
              <mat-icon>check</mat-icon>
              <span>{{ t("successfully_applied_all_chapters", { bookName }) }}</span>
            </div>
          }
        </div>
      }
    </mat-card-content>
  </mat-card>
</ng-container>
