.progress-card {
  height: 150px;
  justify-content: center;

  .progress-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .progress-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .success-result,
    .error-result {
      display: flex;
      align-items: center;
      column-gap: 8px;

      .mat-icon {
        flex-shrink: 0;
      }

      .failed-chapters {
        text-indent: 1em;
      }
    }

    .failed-message {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
  }
}
