@switch (usabilityLabel) {
  @case (UsabilityLabel.Green) {
    <div class="confidence green">
      <mat-icon [matTooltip]="usabilityTooltip">check_circle</mat-icon>{{ usabilityText }}
    </div>
  }
  @case (UsabilityLabel.Yellow) {
    <div class="confidence yellow"><mat-icon [matTooltip]="usabilityTooltip">circle</mat-icon>{{ usabilityText }}</div>
  }
  @case (UsabilityLabel.Red) {
    <div class="confidence red"><mat-icon [matTooltip]="usabilityTooltip">error</mat-icon>{{ usabilityText }}</div>
  }
  @case (undefined) {
    <div class="confidence grey">
      <mat-icon class="material-icons-outlined" [matTooltip]="usabilityTooltip">circle</mat-icon>{{ usabilityText }}
    </div>
  }
}
