<ng-container *transloco="let t; read: 'draft_viewer'">
  <h1>{{ t("draft_preview_and_apply") }}</h1>

  <section *ngIf="!isOnline">
    <p class="offline-text">{{ t("offline_message") }}</p>
  </section>

  <div [class.offline]="!isOnline">
    <p><transloco key="draft_viewer.select_apply_to_project"></transloco></p>
    <p><transloco key="draft_viewer.select_edit"></transloco></p>

    <div class="draft-viewer-body" [ngClass]="{ 'no-source': !bookHasSource }">
      <div class="controls">
        <mat-card>
          <app-book-chapter-chooser
            [books]="books"
            [book]="currentBook"
            (bookChange)="onBookChange($event)"
            [chapters]="chapters"
            [chapter]="currentChapter"
            (chapterChange)="onChapterChange($event)"
          ></app-book-chapter-chooser>

          <div class="draft-buttons">
            <button mat-button (click)="editChapter()">
              <mat-icon>edit</mat-icon>
              {{ t("edit") }}
            </button>
          </div>
        </mat-card>
      </div>

      <div class="source">
        <h2>{{ sourceProject?.shortName }}</h2>
        <app-text
          #sourceText
          [isReadOnly]="true"
          [subscribeToUpdates]="false"
          [placeholder]="t('loading')"
          [isRightToLeft]="!!sourceProject?.isRightToLeft"
          [id]="sourceTextDocId"
        ></app-text>
      </div>

      <div *ngIf="!sourceProjectId" class="source missing">
        <h2>{{ t("source_not_set") }}</h2>
        <div>
          <mat-icon>info</mat-icon>
          <p><transloco key="draft_viewer.select_source_text" [params]="{ projectSettingsUrl }"></transloco></p>
        </div>
      </div>
      <div class="draft">
        <h2>
          {{ targetProject?.shortName }}
          <span *ngIf="hasDraft" class="draft-indicator" [ngClass]="{ applied: isDraftApplied }">
            {{ isDraftApplied ? t("draft_indicator_applied") : t("draft_indicator_not_applied") }}
            <mat-icon *ngIf="isDraftApplied" class="check-icon">check</mat-icon>
          </span>
          <div *ngIf="!isDraftApplied && hasDraft" class="apply-draft-button-container">
            <button mat-flat-button color="primary" (click)="applyDraft()">
              <mat-icon>auto_awesome</mat-icon>
              {{ t("apply_to_project") }}
            </button>
          </div>
        </h2>
        <app-text
          [ngClass]="{ applied: isDraftApplied }"
          #targetText
          [isReadOnly]="true"
          [subscribeToUpdates]="false"
          [placeholder]="'Loading..'"
          [isRightToLeft]="!!targetProject?.isRightToLeft"
          [id]="targetTextDocId"
        ></app-text>
      </div>
    </div>
  </div>
</ng-container>
