@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 8px;
}

h2 {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  min-height: 36px;
  font-weight: 500;
  margin: 0 0 2px;
}

em {
  font-weight: 500;
}

[mat-button],
[mat-flat-button] {
  mat-icon {
    // Smaller icons on button when accompanied by text
    font-size: 22px;
    margin-inline-end: 4px;
  }
}

.draft-buttons {
  display: flex;
  margin-inline-start: 8px;
  border-inline-start: 1px solid $border-color;
}

.draft-viewer-body {
  display: grid;
  align-items: start;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'controls controls'
    'source draft';

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'controls'
      'draft';
  }
}

.controls {
  grid-area: controls;

  mat-card {
    display: inline-flex;
    padding: 5px 10px;
  }
}

.source {
  grid-area: source;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.draft {
  grid-area: draft;
}

.draft-indicator {
  color: #bbb;
  font-style: italic;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  display: inline-flex;
  align-items: flex-end;

  &.applied {
    color: green;
  }

  &:not(.applied) {
    .check-icon {
      display: none;
    }
  }
}

.check-icon {
  animation: fade-in 1s;
  width: auto;
  height: auto;
  font-weight: 700;
  margin-inline-start: 16px;
}

.apply-draft-button-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

app-text {
  display: block;
  position: relative;

  &.applied {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #deeaff;
      opacity: 0;
      animation: fade-out 1.5s ease-out;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
