@import 'src/variables';
@import 'bootstrap/scss/mixins/breakpoints';

:host {
  // Needed to style inside <transloco> element
  ::ng-deep {
    em {
      font-weight: 500;
    }
  }
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 8px;
}

h2 {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  min-height: 36px;
  font-weight: 500;
  margin: 0 0 2px;
}

.mat-button,
.mat-flat-button {
  mat-icon {
    // Space icon when accompanied by text
    margin-inline-end: 4px;
  }
}

.offline {
  display: none;
}

.draft-buttons {
  display: flex;
  margin-inline-start: 8px;
  padding-inline-start: 8px;
  border-inline-start: 1px solid $border-color;
}

.draft-viewer-body {
  display: grid;
  align-items: start;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'controls controls'
    'source draft';

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'controls'
      'draft';
  }

  // Hide the source if no source is present
  &.no-source {
    grid-template-columns: 1fr;
    grid-template-areas:
      'controls'
      'draft';

    > .source {
      display: none;
    }
  }

  // Show a small amount of padding below the notice
  app-notice {
    margin-bottom: 4px;
  }
}

.controls {
  grid-area: controls;

  mat-card {
    display: inline-flex;
    padding: 5px 10px;
  }
}

.source {
  grid-area: source;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &.missing {
    h2 {
      color: #bbb;
      font-style: italic;
      font-weight: 400;
    }

    div {
      border: 1px solid $border-color;
      padding: 2em 15px;
      display: flex;
      gap: 10px;
    }

    p {
      margin: 3px 0 0;
    }

    mat-icon {
      color: $info-color;
      flex-shrink: 0;
    }
  }
}

.draft {
  grid-area: draft;
}

.draft-indicator {
  color: #bbb;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: inline-flex;
  align-items: flex-end;

  &.applied {
    color: green;
  }
}

.check-icon {
  animation: fade-in 1s;
  width: auto;
  height: auto;
  font-weight: 700;
  margin-inline-start: 16px;
}

.apply-draft-button-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

app-text {
  display: block;
  position: relative;

  &.applied {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #deeaff;
      opacity: 0;
      animation: fade-out 1.5s ease-out;
    }
  }
}

// Keep the options on the screen
::ng-deep .mat-mdc-select-panel {
  &.book-select-menu,
  &.chapter-select-menu {
    max-height: 65vh !important;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
