@import 'src/variables';

.mat-dialog-title {
  margin-bottom: 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.configurations {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 16px 0;
  .configuration-option {
    display: flex;
    column-gap: 10px;
    &.configuration-link-type,
    &.configuration-invitation-role {
      b {
        text-transform: lowercase;
      }
    }

    mat-icon {
      color: $purpleLight;
      flex-shrink: 0;
    }
    div {
      padding-top: 3px;
      font-size: 0.9em;
      a {
        color: $purpleLight;
        cursor: pointer;
        display: inline-block;
        padding-inline-start: 10px;
      }
    }
  }
}
div[mat-dialog-actions] {
  display: flex;
  flex-direction: row-reverse; /* This was done so the share button would receive the focus */
  justify-items: flex-end;
  column-gap: 10px;

  button {
    mat-icon {
      margin-inline-end: 10px;
      direction: inherit;
    }
  }
}

::ng-deep .mat-mdc-list-base {
  padding-block: 0;
  mat-list-option {
    --mdc-list-list-item-selected-container-color: rgba(0, 0, 0, 0.12);
  }
}

::ng-deep .share-selection-role.mat-mdc-list-base {
  mat-list-option {
    height: auto;
  }
}

.role-name {
  margin-top: 8px !important;
}

.role-description {
  color: gray;
  font-size: 0.9em !important;
  margin-bottom: 8px !important;
  white-space: normal;
}
