@use 'src/variables' as *;

.mat-mdc-dialog-title {
  margin-bottom: 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.configurations {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-block-end: 4px;
  .configuration-option {
    display: flex;
    column-gap: 10px;
    &.configuration-link-type,
    &.configuration-invitation-role {
      b {
        text-transform: lowercase;
      }
    }

    mat-icon {
      color: $purpleLight;
      flex-shrink: 0;
    }
    div {
      padding-top: 3px;
      a {
        color: $purpleLight;
        cursor: pointer;
        display: inline-block;
        padding-inline-start: 10px;
      }
    }
  }
}
div[mat-dialog-actions] {
  display: flex;
  place-content: flex-end;
  gap: 8px;

  button {
    mat-icon {
      margin-inline-end: 10px;
      direction: inherit;
    }
  }
}

.mat-mdc-list-base {
  padding-block: 0;
  mat-list-option {
    --mdc-list-list-item-selected-container-color: rgba(0, 0, 0, 0.12);
  }
}

.share-selection-role.mat-mdc-list-base {
  mat-list-option {
    height: auto;
  }
}

.role-name {
  margin-top: 8px !important;
}

.role-description {
  color: gray;
  font-size: 0.9em !important;
  margin-bottom: 8px !important;
  white-space: normal;
}

.empty-field {
  user-select: none;
}

.error {
  color: $red;
}

.help-text {
  font-size: 0.8em;
  min-height: 0.8em;
  line-height: normal;
}

.hidden {
  visibility: hidden;
}
