<ng-container *transloco="let t; read: 'share_control'">
  <div fxLayout="column" fxLayoutGap="20px">
    <div *ngIf="isLinkSharingEnabled" class="invite-by-link">
      <div mdcSubtitle1>{{ t("link_sharing") }}</div>
      <mdc-text-field
        id="share-link"
        #shareLinkField
        [outlined]="true"
        [value]="shareLink"
        [disabled]="!shareLink"
        [readonly]="true"
      >
        <mdc-icon
          id="share-link-copy-icon"
          mdcTextFieldIcon
          [trailing]="true"
          [clickable]="true"
          (click)="copyShareLink()"
          title="{{ t('copy_link') }}"
          >file_copy
        </mdc-icon>
      </mdc-text-field>
      <div *ngIf="showLinkSharingUnavailable" class="offline-text">{{ t("link_sharing_not_available_offline") }}</div>
    </div>
    <div class="invite-by-email">
      <div mdcSubtitle1>{{ t("invite_people") }}</div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <form id="email-form" [formGroup]="sendInviteForm">
          <mat-form-field id="email">
            <mat-label>{{ t("email") }}</mat-label>
            <input matInput type="email" formControlName="email" (input)="onEmailInput()" />
            <mat-error *ngIf="email.hasError('pattern') || email.hasError('email')">
              {{ t("email_invalid") }}
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="canSelectRole" id="invitation-role">
            <mat-label>{{ t("invitation_role") }}</mat-label>
            <mat-select formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role.role">
                {{ role.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="roleControl.hasError('required')">{{ t("select_invitation_role") }}</mat-error>
          </mat-form-field>
          <mat-form-field id="invitation-language">
            <mat-label>{{ t("invitation_language") }}</mat-label>
            <mat-select formControlName="locale">
              <mat-option *ngFor="let locale of i18n.locales" [value]="locale.canonicalTag">
                {{ locale.localName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="localeControl.hasError('required')">{{ t("select_invitation_language") }}</mat-error>
          </mat-form-field>
          <button
            id="send-btn"
            mat-flat-button
            color="primary"
            form="email-form"
            type="submit"
            (click)="sendEmail()"
            [disabled]="isSubmitted"
          >
            {{ isAlreadyInvited ? t("resend") : t("send") }}
          </button>
        </form>
      </div>
      <div *ngIf="!isAppOnline" class="offline-text">{{ t("share_by_email_not_available_offline") }}</div>
    </div>
  </div>
</ng-container>
