@import 'bootstrap/scss/mixins/breakpoints';

@import 'src/variables';

form {
  display: flex;
  width: 100%;
  column-gap: 20px;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

#email {
  flex-grow: 1;
}

:host.share-dialog form {
  flex-direction: column;
}

.share-link-field {
  width: 100%;
}

#send-btn {
  // add margin that is same height as the text field helper text, so the button is centered properly
  margin-bottom: 19px;
}

.invite-by-link .offline-text {
  margin-top: 20px;
}

::ng-deep .invitation-role-panel .mat-option {
  height: 4em !important;

  .role-name,
  .role-description {
    line-height: initial;
  }
  .role-description {
    color: gray;
    font-size: 0.9em;
    margin-top: 0.25em;
  }
}
