<ng-container *transloco="let t; read: 'share_dialog'">
  <h1 mat-dialog-title class="dialog-icon-title">
    <span>{{ t("share_project", { project: projectName }) }}</span>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </h1>
  <div mat-dialog-content class="configurations">
    <div class="configuration-option configuration-invitation-role">
      <mat-icon>public</mat-icon>
      <div>
        {{ t(shareLinkType + "_can") }} <b>{{ i18n.localizeRoleDescription(shareRole) }}</b>
        @if (canUserChangeRole) {
          <a [matMenuTriggerFor]="roleMenu" [title]="t('invitation_role')">({{ t("change") }})</a>
        }
      </div>
      <mat-menu #roleMenu>
        <mat-selection-list [multiple]="false" class="share-selection-role" hideSingleSelectionIndicator>
          @for (role of availableRoles; track role) {
            <mat-list-option [selected]="role === shareRole" (click)="setRole(role)">
              <div class="role-name">{{ i18n.localizeRole(role) }}</div>
              <div class="role-description">{{ i18n.localizeRoleDescription(role) }}</div>
            </mat-list-option>
          }
        </mat-selection-list>
      </mat-menu>
    </div>
    @if (canUserChangeLinkUsage) {
      <div class="configuration-option configuration-link-type">
        <mat-icon>{{ shareLinkType === "anyone" ? "groups" : "person" }}</mat-icon>
        <div>
          {{ t("link_can_be_used_by") }} <b>{{ t(shareLinkType) }}</b>
          @if (shareLinkUsageOptions.length > 1) {
            <a [matMenuTriggerFor]="linkUsageMenu" [title]="t('invitation_link_type')">({{ t("change") }})</a>
          }
        </div>
        <mat-menu #linkUsageMenu>
          @if (shareLinkUsageOptions.length > 1) {
            <mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
              @for (option of shareLinkUsageOptions; track option) {
                <mat-list-option [selected]="option === shareLinkType" (click)="setLinkType(option)">
                  {{ t(option) }}
                </mat-list-option>
              }
            </mat-selection-list>
          }
        </mat-menu>
      </div>
      <div class="configuration-option">
        <mat-icon>schedule</mat-icon>
        <div>
          <transloco key="share_dialog.will_expire_in" [params]="{ count: shareExpiration }"></transloco>
          @if (linkExpirationOptions.length > 1) {
            <a [matMenuTriggerFor]="expireMenu" [title]="t('expiration_description')"> ({{ t("change") }}) </a>
          }
        </div>
        <mat-menu #expireMenu>
          @if (linkExpirationOptions.length > 1) {
            <mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
              @for (key of linkExpirationOptions; track key) {
                <mat-list-option [selected]="ShareExpiration[key] === shareExpiration" (click)="setLinkExpiration(key)">
                  {{ t(key) }}
                </mat-list-option>
              }
            </mat-selection-list>
          }
        </mat-menu>
      </div>
    }
    <div class="configuration-option">
      <mat-icon>translate</mat-icon>
      <div>
        <div>
          {{ t("invitation_shared_in_language") }}
          @if (shareLocaleCode?.localName) {
            <b>{{ shareLocaleCode?.localName }}</b>
          } @else {
            <b class="empty-field" [ngClass]="{ error: error }"> ________________ </b>
          }
          <a [matMenuTriggerFor]="langMenu" [title]="t('invitation_language')"> ({{ t("change") }}) </a>
        </div>
        <span class="error help-text" [ngClass]="{ hidden: !error }">{{ t("error_language") }}</span>
      </div>
      <mat-menu #langMenu>
        <mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
          @for (locale of i18n.locales; track locale) {
            <mat-list-option [selected]="locale === shareLocaleCode" (click)="setLocale(locale)">
              {{ locale.localName }}
            </mat-list-option>
          }
        </mat-selection-list>
      </mat-menu>
    </div>
    @if (isRecipientOnlyLink) {
      <app-notice icon="info">
        {{ t("recipient_only_notice", { shareExpiration: shareExpiration }) }}
      </app-notice>
    }
    @if (showLinkSharingUnavailable) {
      <app-notice type="error" icon="cloud_off">
        {{ t("link_sharing_not_available_offline") }}
      </app-notice>
    }
  </div>
  <div mat-dialog-actions>
    <button
      id="copy-btn"
      mat-flat-button
      (click)="copyLink()"
      [disabled]="!isLinkReady"
      [color]="!supportsShareAPI ? 'primary' : ''"
    >
      <mat-icon>content_copy</mat-icon>{{ t("copy_link") }}
    </button>
    @if (supportsShareAPI) {
      <button id="share-btn" mat-flat-button color="primary" (click)="shareLink()" [disabled]="!isLinkReady">
        <mat-icon>share</mat-icon>{{ t("share") }}
      </button>
    }
  </div>
</ng-container>
