@use 'src/breakpoints';

.invite-forms {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

form {
  display: flex;
  width: 100%;
  column-gap: 20px;
  @include breakpoints.media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

#email {
  flex-grow: 1;
}

:host.share-dialog form {
  flex-direction: column;
}

.share-link-field {
  width: 100%;
}

#send-btn {
  align-self: center;
  @include breakpoints.media-breakpoint-down(sm) {
    align-self: flex-end;
  }
}

.invite-by-link .offline-text {
  margin-top: 20px;
}

.invite-by-link {
  display: flex;
  flex-direction: column;
  app-share-button {
    align-self: flex-end;
  }
}

::ng-deep .invitation-role-panel .mat-mdc-option {
  height: 4em !important;

  .role-name,
  .role-description {
    line-height: initial;
  }
  .role-description {
    color: gray;
    font-size: 0.9em;
    margin-top: 0.25em;
  }
}
