:host {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  .draft-book-option {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px 0 4px 8px;

    .book-more {
      width: 24px;
      height: 24px;
      padding: 0;
    }
  }
}
