<ng-container *transloco="let t; read: 'draft_preview_books'">
  @for (book of booksWithDrafts$ | async; track book.bookNumber) {
    <mat-button-toggle-group class="draft-book-option" (change)="$event.source.checked = false">
      <mat-button-toggle class="book-name" (click)="navigate(book)">
        {{ bookNumberToName(book.bookNumber) }}
      </mat-button-toggle>
      <mat-button-toggle class="book-more" [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="chooseProjectToAddDraft(book, projectParatextId)">
        <mat-icon>input</mat-icon>{{ book.draftApplied ? t("readd_to_project") : t("add_to_project") }}
      </button>
      <button mat-menu-item (click)="chooseProjectToAddDraft(book)">
        <mat-icon>output</mat-icon>{{ t("add_to_different_project") }}
      </button>
    </mat-menu>
  } @empty {
    <strong>{{ t("no_books_have_drafts") }}</strong>
  }
</ng-container>
