<ng-container *transloco="let t; read: 'draft_preview_books'">
  @for (book of booksWithDrafts$ | async; track book.bookNumber) {
  <div class="draft-book-option">
    <a [routerLink]="linkForBookAndChapter(book.bookNumber, book.chaptersWithDrafts[0])">
      {{ bookNumberToName(book.bookNumber) }}
    </a>
    <button mat-icon-button class="book-more" [matMenuTriggerFor]="menu">
      <mat-icon iconPositionEnd>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="applyBookDraft(book)">{{ t("add_to_project") }}</button>
  </mat-menu>
  } @empty { <strong>{{ t("no_books_have_drafts") }}</strong> }
</ng-container>
