@use '@angular/material' as mat;

:host {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  @include mat.button-toggle-density(-3);
}

mat-button-toggle {
  --mat-standard-button-toggle-divider-color: transparent;
}

.book-more ::ng-deep .mat-button-toggle-label-content {
  padding: 0;
}
