<ng-container *transloco="let t; read: 'import_questions_confirmation_dialog'">
  <mat-dialog [dir]="i18n.direction">
    <h2 mat-dialog-title>{{ t("some_questions_edited") }}</h2>
    <mat-dialog-content>
      {{ t("edited_questions_explanation") }}
      <div class="table-container">
        <table mat-table [dataSource]="questions">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? selectAll($event.checked) : null"
                [checked]="allSelected()"
                [indeterminate]="someSelected()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (change)="row.checked = !row.checked" [checked]="row.checked"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="before">
            <th mat-header-cell *matHeaderCellDef>{{ t("scripture_forge") }}</th>
            <td mat-cell *matCellDef="let element">{{ element.before }}</td>
          </ng-container>

          <ng-container matColumnDef="after">
            <th mat-header-cell *matHeaderCellDef>{{ t("transcelerator") }}</th>
            <td mat-cell *matCellDef="let element">{{ element.after }}</td>
          </ng-container>

          <ng-container matColumnDef="answerCount">
            <th mat-header-cell *matHeaderCellDef>{{ t("number_answers") }}</th>
            <td mat-cell *matCellDef="let element">{{ element.answerCount }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['select', 'before', 'after', 'answerCount']; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: ['select', 'before', 'after', 'answerCount']"></tr>
        </table>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button color="primary" type="submit" (click)="submit()">
        {{ t("done") }}
      </button>
    </mat-dialog-actions>
  </mat-dialog>
</ng-container>
