.mat-mdc-dialog-title {
  &:before {
    display: none;
  }
  padding-top: 20px;
}

.mat-mdc-dialog-content {
  max-width: 560px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.table-container {
  max-height: 150px;
}

.mat-mdc-header-cell {
  background-color: darken(#fff, 10%);
}

.mat-mdc-dialog-actions {
  justify-content: end;
}
