.mat-dialog-content {
  max-width: 560px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.table-container {
  max-height: 150px;
}

tr td:not(:last-child) {
  padding-inline-end: 1em;
}

.mat-header-cell {
  color: black;
  background-color: darken(#ffffff, 10%);
}

.mat-dialog-actions {
  justify-content: end;
}
