**/.angular
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.nx
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/coverage
**/dist
**/docker-compose*
**/Dockerfile*
**/lib
**/node_modules
**/npm-debug.log
**/obj
**/RealtimeServer/lib/
**/secrets.dev.yaml
**/tmp
**/values.dev.yaml
ClientApp
LICENSE
README.md
