@if (insight != null) {
  <div class="main-section">
    <h1>
      <span class="description">{{ description }}</span>
      <span class="code">({{ insight.code }})</span>

      @if (moreInfo != null) {
        <mat-icon class="more-info-icon" (click)="toggleMoreInfo()">help_outline</mat-icon>
      }
    </h1>
    <div class="primary-action">
      <a>{{ primaryAction?.label }}</a>
      <span class="shortcut">Alt + Shift + Enter</span>
    </div>
    <div class="secondary-actions">
      <mat-icon class="apply-icon">content_paste_go</mat-icon>
      <mat-icon [matMenuTriggerFor]="actionMenu" class="action-menu-trigger">more_horiz</mat-icon>
    </div>
  </div>

  @if (moreInfo != null && showMoreInfo) {
    <div class="more-info-section">
      {{ moreInfo }}
    </div>
  }

  <mat-menu #actionMenu="matMenu" class="lynx-insight-action-menu">
    @for (action of menuActions; track action) {
      <div mat-menu-item>
        <div class="menu-item-wrapper">
          <h2>{{ action.label }}</h2>
          <span>{{ action.description }}</span>
        </div>
      </div>
    }
  </mat-menu>
}
