@use 'src/styles';

:host {
  display: flex;
  flex-direction: column;
}

.draft-empty,
.draft-unknown {
  display: none;
}

app-notice {
  margin: 1em;
}

.toolbar {
  position: sticky;
  top: 0;
  background: var(--sf-tab-toolbar-background-color);
  z-index: 1;
  display: flex; //fill vertical space
  padding: 0.5em;
  gap: 4px;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid var(--sf-tab-group-border-color);
}

.apply-draft-button-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.draft-indicator {
  color: var(--sf-draft-applied-color);
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.draft-select {
  @include styles.dense_mat_select();
}

app-notice {
  margin: 0;
  width: 100%;
}
