<ng-container *transloco="let t; read: 'training_progress'">
  @if (showTrainingProgress) {
    <div class="training-progress mat-card">
      <div class="training-title">
        <div>{{ t("training") }}</div>
        <button id="training-close-button" mat-icon-button type="button" (click)="closeTrainingProgress()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="training-content">
        <div class="text-ellipsis">{{ trainingMessage }}</div>
        <div>
          @if (trainingPercentage < 100) {
            <app-donut-chart
              id="training-progress-spinner"
              [colors]="['#b8d332', 'transparent']"
              [data]="[trainingPercentage, 100 - trainingPercentage]"
              backgroundColor="#ececec"
              [animationDuration]="0"
              [innerThicknessDelta]="0"
              [thickness]="22"
            ></app-donut-chart>
          } @else if (trainingPercentage === 100) {
            <mat-icon id="training-complete-icon">check_circle_outline</mat-icon>
          }
        </div>
      </div>
    </div>
  }
</ng-container>
