.training-progress {
  position: fixed;
  display: flex;
  flex-direction: column;
  inset-inline-end: 15px;
  bottom: 10px;
  border-radius: 4px;
  width: 300px;
  padding: 0;
  background-color: var(--sf-training-progress-background);
  overflow: hidden;
  z-index: 3;
  color: var(--sf-training-progress-text);

  > .training-title {
    padding: 2px;
    padding-inline-start: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      color: var(--sf-training-progress-header-text);
    }
    background-color: var(--sf-training-progress-header-background);
  }

  > .training-content {
    padding: 10px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
  }
}

#training-progress-spinner {
  width: 24px;
  height: 24px;
}

#training-close-button mat-icon {
  color: var(--sf-training-progress-header-text);
}
