.online-status {
  position: absolute;
  bottom: 6px;
  right: 8px;
  mdc-icon {
    font-size: 12px;
    text-shadow: 0 0 2px #000;
  }
}

::ng-deep .avatar-content {
  border-width: 2px !important;
}
