.wrapper {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border: 0.05em solid var(--avatar-border-color);
  box-sizing: content-box;
  font-size: var(--avatar-size);
}

.initials {
  background-color: var(--avatar-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 0.5em;
}

.user-icon {
  width: 100%;
  height: 100%;
  color: var(--avatar-color);
  scale: 1.25;
  line-height: 1em;
  font-size: 1em;
}
