.no-attachment {
  height: 100%;
  button {
    height: 100%;
  }
}

.stop {
  mat-icon {
    color: #b00020;
  }
  span {
    font-style: italic;
  }
}

button {
  span {
    margin-inline-start: 4px;
  }
}

.remove-audio-file {
  height: 36px;
  width: 36px;
  line-height: 36px;
}

.has-attachment {
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding-inline-start: 4px;

  app-checking-audio-player {
    flex: 1;
  }
}

.has-attachment-compact {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2px;

  app-single-button-audio-player {
    max-height: 30px;
  }

  button {
    max-height: 30px;
    max-width: 30px;
    line-height: 30px;
  }
}
