<ng-container *ngIf="!hasAudioAttachment">
  <button
    *ngIf="!isRecording"
    mdc-button
    primary
    type="button"
    (click)="startRecording()"
    class="record"
    [disabled]="!microphonePermission"
  >
    <mdc-icon>mic</mdc-icon>
    Record
  </button>
  <button *ngIf="isRecording" mdc-button type="button" (click)="stopRecording()" class="stop-recording">
    <mdc-icon>stop</mdc-icon>
    Stop Recording
  </button>
</ng-container>
<div *ngIf="hasAudioAttachment" class="has-attachment">
  <button mdc-button fxHide.xs type="button" (click)="resetRecording()" class="try-again">
    <mdc-icon>refresh</mdc-icon>
    Try Again
  </button>
  <button
    mdc-icon-button
    fxHide.gt-xs
    type="button"
    (click)="resetRecording()"
    icon="refresh"
    class="try-again"
  ></button>
  <app-checking-audio-player [source]="audioUrl"></app-checking-audio-player>
</div>
