.no-attachment {
  height: 100%;
  button {
    height: 100%;
  }
}

.stop {
  mat-icon {
    color: #b00020;
  }
  span {
    font-style: italic;
  }
}

button {
  span {
    margin-inline-start: 4px;
  }
}

.remove-audio-file {
  position: absolute;
  top: -21px;
  right: -21px;

  min-width: unset;
  line-height: 21px;
  font-size: 0px;
  padding: 0;

  mat-icon {
    height: 21px;
    width: 21px;
    font-size: 21px;
  }
}

.has-attachment {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2px;
  position: relative;

  app-single-button-audio-player {
    max-height: 30px;
  }
}
