@use 'src/variables' as variables;

.audio-added {
  display: flex;
  align-items: center;
  background-color: var(--sf-attach-audio-added-background);
  padding-inline-start: 6px;
  border-radius: 4px;
  margin-inline-end: 2px;
}

.stop-recording {
  color: variables.$red;
}

.clear {
  color: var(--sf-attach-audio-clear-icon);
}

.add-audio {
  background-color: var(--sf-attach-audio-adder-background);
  padding-inline: 4px;
  margin-block-start: 2px;
}
