<ng-container *transloco="let t; read: 'attach_audio'">
  <div class="add-audio">
    @if (audioUrl == null && textAndAudio?.audioAttachment?.status !== "recording") {
      <button mat-icon-button (click)="startRecording()" [matTooltip]="t('tooltip_record')">
        <mat-icon>mic</mat-icon>
      </button>
    }
  </div>
  @if (audioUrl != null) {
    <div class="audio-added">
      <app-single-button-audio-player #audio [source]="audioUrl" (click)="toggleAudio()" theme="secondary">
        <mat-icon>{{ audio.playing ? "stop" : "play_arrow" }}</mat-icon>
      </app-single-button-audio-player>
      <button mat-icon-button (click)="deleteAudio()" class="clear">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  }
</ng-container>
