@use '../checking-global-vars' as *;

.audio-area {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid $borderColor;

  .player {
    display: flex;
    align-items: center;
  }
  app-audio-player {
    flex: 1;
  }
}
