<ng-container *transloco="let t; read: 'checking_audio_player'">
  <div class="audio-area">
    <div *ngIf="hasSource && isAudioAvailable" class="player">
      <button *ngIf="!isPlaying" mat-icon-button type="button" (click)="play()" class="play">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button *ngIf="isPlaying" mat-icon-button type="button" (click)="pause()" class="pause">
        <mat-icon>pause</mat-icon>
      </button>
      <div class="current-time">{{ currentTime | audioTime }}</div>
      <mat-slider class="slider" [min]="0" [max]="100" [step]="1" [value]="seek" (input)="seeking($event)"></mat-slider>

      <div class="duration">{{ duration | audioTime }}</div>
    </div>
    <div *ngIf="!isAudioAvailable" class="audio-not-available">
      <mat-icon>volume_off</mat-icon>
      <span class="audio-unavailable-message">{{ t("audio_unavailable") }}</span>
      <div *ngIf="hasErrorState">
        <a
          id="error-load"
          #audioUnavailableTooltip="matTooltip"
          (click)="audioUnavailableTooltip.show()"
          matTooltip="{{ t(audioStatus) }}"
        >
          <mat-icon>help</mat-icon>
        </a>
      </div>
    </div>
  </div>
</ng-container>
