# This workflow will do a clean install of node dependencies, and then check lint and prettier formatting.
# See: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Lint and Prettier

on:
  push:
    branches: [master, develop, sf-qa, sf-live]
  pull_request:
    branches: [master, develop]

jobs:
  test:
    name: check on Ubuntu Node.js
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node_version: ["18.20.2"]
        npm_version: ["10.9.0"]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
      - name: Upgrade npm
        run: npm install -g npm@${{matrix.npm_version}}
      - name: Realtime Server Lint check
        run: cd src/RealtimeServer && (npm ci || (sleep 3m && npm ci)) && npm run lint
      - name: Realtime Server Prettier format check
        run: cd src/RealtimeServer && npm run prettier:ci
      - name: Angular Frontend Lint check
        run: cd src/SIL.XForge.Scripture/ClientApp && (npm ci || (sleep 3m && npm ci)) && npm run lint
      - name: Angular Frontend Prettier format check
        run: cd src/SIL.XForge.Scripture/ClientApp && npm run prettier:ci
