# This workflow will do a clean install of node dependencies, and then check lint and prettier formatting.
# See: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Lint and Prettier

on:
  push:
    branches: [master, develop, sf-qa, sf-live]
  pull_request:
    branches: [master, develop]

jobs:
  test:
    name: Lint and Prettier
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node_version: ["22.13.0"]
        npm_version: ["10.9.2"]

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: "npm"
          cache-dependency-path: |
            src/SIL.XForge.Scripture/ClientApp/package-lock.json
            src/RealtimeServer/package-lock.json
      - name: Upgrade npm
        run: npm install -g npm@${{matrix.npm_version}}
      - name: Realtime Server Lint check
        run: cd src/RealtimeServer && (npm ci || (sleep 3m && npm ci)) && npm run lint
      - name: Realtime Server Prettier format check
        run: cd src/RealtimeServer && npm run prettier:ci
      - name: Angular Frontend Lint check
        run: cd src/SIL.XForge.Scripture/ClientApp && (npm ci || (sleep 3m && npm ci)) && npm run lint
      - name: Angular Frontend Prettier format check
        run: cd src/SIL.XForge.Scripture/ClientApp && npm run prettier:ci
