name: Build Docker development images

# Allow the images to be built manually until we have CI set up
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm/v8
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Build and tag Docker images
        env:
          REPOSITORY: ${{ github.repository }}
        run: |
          docker build --tag ghcr.io/${REPOSITORY}/realtimeserver:latest \
          --build-arg MIGRATOR_ENVIRONMENT=Development \
          -f src/RealtimeServer/Dockerfile .
          docker build --tag ghcr.io/${REPOSITORY}:latest \
          --build-arg AngularConfig=development \
          --build-arg configuration=Debug \
          --build-arg version=9.9.9 \
          -f src/SIL.XForge.Scripture/Dockerfile .
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Push Docker images
        env:
          REPOSITORY: ${{ github.repository }}
        run: |
          set -xueo pipefail
          docker push ghcr.io/${REPOSITORY}/realtimeserver:latest
          docker push ghcr.io/${REPOSITORY}:latest
