name: "Push files to Crowdin"
permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json"
      - "src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json"
      - "src/SIL.XForge.Scripture/Resources/SharedResource.resx"
      - "src/SIL.XForge.Scripture/Resources/Pages.Index.resx"
      - "src/SIL.XForge.Scripture/Resources/Pages.NotFound.resx"

jobs:
  push_files_to_crowdin:
    name: "Push files to Crowdin"
    runs-on: ubuntu-24.04
    steps:
      - name: "Fail if not on master"
        if: github.ref != 'refs/heads/master'
        shell: bash
        run: |
          echo "GITHUB_REF=$GITHUB_REF"
          echo "GITHUB_REF_NAME=$GITHUB_REF_NAME"
          echo "This workflow must be run on the master branch (got '${GITHUB_REF}')."
          exit 1

      - name: "Checkout"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: "Set up Deno"
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: v2.x

      - name: "Push files to Crowdin"
        run: scripts/push_changes_to_crowdin.mts
        env:
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_API_KEY: ${{ secrets.CROWDIN_API_KEY }}
