name: Update Font List
permissions:
  contents: write
  pull-requests: write

on:
  schedule:
    - cron: "0 21 * * 5" # Run every Friday
  workflow_dispatch:

jobs:
  update-font-list:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true

      - name: Set up Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: v2.x

      - name: Run update_font_list.mts
        run: scripts/update_font_list.mts

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: Update list of supported fonts
          title: Update list of supported fonts
          body: Automated update of file by GitHub action
          branch: fonts/update
          base: master
